.cj-add-skill-btn-new {
  display: flex;
  height: 40px;
  padding: 10px 16px 10px 10px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;

  transition: all 250ms ease;

  text-decoration: none;

  cursor: pointer;
}

.cj-add-skill-btn-new:hover {
  opacity: 0.7;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-13 {
  color: rgba(31, 115, 183, 1);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.15399999916553497px;
}