.assisstant-chat {
  display: flex;
  width: 100%;
  margin-top: 18px;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.assissatant-logo-wrap {
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  object-fit: contain;
}

.div-block-591 {
  max-width: 296px;
  padding: 16px 18px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.text-block-27 {
  white-space: pre-wrap;
}

.div-block-594 {
  max-height: 46px;
  max-width: 50px;
}