.aui-navigation {
  padding: 20px 40px;
  background-color: white;
}

.navogation-container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.embed-flex {
  display: flex;
}

.embed-flex.ontop {
  position: relative;
  z-index: 2;
  margin-top: 2px;
}

.embed-flex.ontop.disabledo {
  opacity: 0.76;
}

.embed-flex.align-top {
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .embed-flex.is-mobile {
    width: 24px;
    height: 24px;
    align-items: center;
  }
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-xl.fw-semibold.text-grey-800.top-margin--8 {
  margin-top: -8px;
}

.text-xl.fw-semibold.profile-titler {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

.text-xl.fw-semibold.margin-bottom-16 {
  margin-bottom: 6px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-white {
  color: white;
}

.text-xl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.fw-semibold.inline-end {
  display: inline;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-xl.fw-semibold.text-grey-600.inline-start {
  display: inline;
  margin-left: 5px;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-xl.color-orange {
  color: var(--yellow500-c095f0f1);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-bold {
  font-weight: 700;
}

.text-grey-200 {
  color: var(--grey200-9ba653f1);
}

@media screen and (max-width: 479px) {
  .text-xl.text-grey-200.mobile-regular {
    font-size: 14px;
  }
}

.aui-links {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.aui-link {
  border-bottom: 1.5px solid transparent;
  transition: all 300ms ease;
  color: var(--grey800-e42b2e06);
  font-weight: 500;
  text-decoration: none;
}

.aui-link:hover {
  border-bottom: 1.5px solid var(--grey700-7fbe857b);
}

.aui-link:global(.w--current) {
  border-bottom-color: var(--blue600-aad8d97e);
  color: var(--blue600-aad8d97e);
}