.beta-wrap {
  position: relative;
  z-index: 5;

  display: flex;
  width: 44px;
  padding: 2px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #228f67;

  color: white;
}

.beta-wrap.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.fw-semibold {
  font-weight: 600;
}

.color-grey-600 {
  color: #68737d;
}

.text-xsm.color-grey-600.inline-text {
  display: inline-block;
}

.inline-text {
  display: inline;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}