.embed_flex {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.embed_flex.rotate {
  transform: rotate(180deg);
}