.generate-btn-cd {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;

  border: 1px solid #daeded;
  border-radius: 4px;

  background-color: #f5fcfc;

  color: #012b30;

  cursor: pointer;
}

.generate-btn-cd.kale-200 {
  border-color: #bdd9d7;
  background-color: #daeded;
}

.kale-200 {
  background-color: var(--kale200-273a01c6);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.cursor-pointer.p-4 {
  padding: 4px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.relative {
  position: relative;
}