.search-wrap-candidate {
  height: 100vh;
}

.job-header-empty {
  position: sticky;
  top: 0px;
  z-index: 2;

  padding: 19px 20px;

  border-bottom: 1px solid #e9ebed;

  background-color: white;
}

.job-header-empty.no-sticky {
  position: static;
}

.job-header-empty.beta-flex {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.fw-semibold {
  font-weight: 600;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.mb-15 {
  margin-bottom: 15px;
}

.fw-semibold.text-kale-700 {
  color: #03363d;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.text-blue-600.no-underline {
  text-decoration: none;
}

.text-no-wrap {
  white-space: nowrap;
  overflow-wrap: anywhere;
}

.candidate-empty-landing-wrappers {
  position: relative;

  display: flex;
  width: 100%;
  margin-bottom: 32px;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .candidate-empty-landing-wrappers {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.candidate-empty-landing-wrappers.step-1 {
  display: none;
}

.step-1 {
  position: relative;
  z-index: 1;
}

.candidate-empty-landing-wrappers.cj-step-2 {
  display: block;
}

@media screen and (min-width: 1440px) {
  .candidate-empty-landing-wrappers.cj-step-2 {
    display: flex;
  }
}

.candidate-empty-landing-wrappers.cj-step-1 {
  display: flex;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .candidate-empty-landing-wrappers.cj-step-1 {
    display: flex;
  }
}

.cj-step-1 {
  z-index: 1;
}

.candidate-empty-landing-wrappers.cj-step-3 {
  display: block;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .candidate-empty-landing-wrappers.cj-step-3 {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .candidate-empty-landing-wrappers.cj-step-4 {
    display: flex;
  }
}

.candidate-empty-landing-wrappers.cj-step-5 {
  display: flex;
}

.candidate-empty-landing-wrappers.success {
  display: flex;
}

.candidate-empty-landing-wrappers.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.candidate-empty-landing-wrappers.cj-step-0 {
  display: none;
}

.candidate-empty-landing-wrappers.cj-step-green-1 {
  display: none;
}

.new-layout-sublink {
  display: flex;
  width: 216px;
  padding: 20px 10px;
  flex-direction: column;
  flex: 0 0 auto;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-right: 1px solid #e9ebed;
}

.div-block-824 {
  width: 100%;
  height: 100%;
}