.candidate-database-wrapper-2 {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.cdb-top-bar {
  display: flex;
  margin-bottom: auto;
  padding: 22px 20px 20px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.text-lg.fw-semibold.inline-block.ml-4 {
  margin-left: 6px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.cdb-coming-soon-label {
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;

  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(0, 0.00%, 0.00%, 0.06);
  border-radius: 100px;

  background-color: hsla(0, 0.00%, 0.00%, 0.04);

  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
}

.text-xsm-3 {
  font-size: 10px;
}

.candidate-database-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .candidate-database-block {
    margin-top: 16px;
  }
}

.cdb-image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cdb-bottom-block {
  display: flex;
  max-width: 604px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  text-align: center;
}

.cdb-bottom-badge {
  display: flex;
  padding: 3px 16px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(31.363636363636374, 78.57%, 89.02%, 1.00);
  border-radius: 100px;

  background-color: hsla(31.666666666666682, 100.00%, 92.94%, 1.00);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.text-yellow-800-4 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600-3 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-grey-600-3.mt-13 {
  margin-top: 13px;
}

.mt-13 {
  margin-top: 13px;
}

.text-grey-600-3.personalized {
  padding-left: 20px;
}

.text-grey-600-3.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600-3.inline-block {
  display: inline;
}

@media screen and (max-width: 767px) {
  .text-grey-600-3.mobile-12 {
    font-size: 12px;
  }
}

.text-grey-600-3.regular {
  font-weight: 400;
}

.text-grey-600-3.width-400 {
  max-width: 380px;
}