.cvs-experiences-block {
  position: relative;

  display: flex;
  padding: 10px;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: 4px;
}

.div-block-791 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

.cvs-company-logo {
  display: flex;
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-radius: 15px;
}

.div-block-790 {
  position: relative;
  z-index: 1;

  width: 64px;
  margin-top: -18px;
  padding: 4px 14px;

  border: 1px solid #cee2f2;
  border-radius: 100px;

  background-color: #edf7ff;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.fw-semibold {
  font-weight: 600;
}

.color-grey-600 {
  color: #68737d;
}

.text-xsm.color-grey-600.inline-text {
  display: inline-block;
}

.inline-text {
  display: inline;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

.cvs-company-info-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.color-white {
  color: var(--white-80449ce7);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-sm.text-first-capital {
  text-transform: capitalize;
}

.text-color-white {
  color: white;
}

.book-badge {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;

  display: flex;
  width: 22px;
  height: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 100px;

  background-color: white;
}