.cv-sidebar-info-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

.cvs-info-navbar {
  position: sticky;
  top: 0px;
  z-index: 3;
  display: flex;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cvs-info-navbar.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.cvs-info-nav-menu {
  display: flex;
  width: 100%;
  align-items: center;
}

.cvs-nav-link {
  display: flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  flex: 1;

  border-bottom: 2px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);

  cursor: pointer;
}

.cvs-info-content-main {
  display: flex;
  overflow: auto;
  padding-bottom: 40px;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.div-block-517 {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}