.candidate-chat-wrappers {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--gray100-3a86b552);
}

.candidate-chat {
  overflow: hidden;
  width: 620px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 10px;

  background-color: var(--white-80449ce7);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.candidate-chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--grey800-e42b2e06);
}

.candidate-chat-left-header {
  display: flex;
  max-width: 323.140625px;
  padding: 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 8px;

  background-color: var(--grey700-7fbe857b);
}

.slot-company-logo-chat {
  width: 40px;
  height: 40px;
}

.div-block-447 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.fw-semibold {
  font-weight: 600;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 662px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.mb-15 {
  margin-bottom: 15px;
}

.fw-semibold.text-kale-700 {
  color: #03363d;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.text-sm.text-first-capital {
  text-transform: capitalize;
}

.div-block-448 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.inde-info-block {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.inde-status-block {
  padding: 4px 20px;

  border-radius: 100px;

  background-color: hsla(204.07185628742513, 69.87%, 53.14%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  text-align: center;
}

.chat-inbox-bubble {
  padding: 12px 14px;
}

.chat-inbox-wrappers {
  overflow: scroll;
  height: 65vh;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}