.candiate-side-drawer-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.candiate-side-drawer-wrapper.justify-start {
  justify-content: flex-start;
}

.candiate-side-drawer-wrapper.justify-start.dialog {
  width: 424px;
  padding-bottom: 30px;
}

.cv-sidebar-header-wrap {
  position: sticky;
  top: 0px;
  z-index: 6;

  display: flex;
  height: 60px;
  padding: 12px 12px 12px 16px;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border-style: none none solid;
  border-width: 1px;
  border-color: black black #e9ebed;

  background-color: #f8f9f9;
}

.cv-sidebar-header-wrap.dial {
  justify-content: space-between;
}

.div-block-819 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cvs-intro-profile-image {
  overflow: hidden;
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;

  border-radius: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.mb-15 {
  margin-bottom: 15px;
}

.fw-semibold.text-kale-700 {
  color: #03363d;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.text-blue-600.no-underline {
  text-decoration: none;
}

.text-no-wrap {
  white-space: nowrap;
  overflow-wrap: anywhere;
}

.mt-20 {
  margin-top: 20px;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.div-block-577 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cvs-header-nav-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cvs-header-nav-icon {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 4px;
}

.cvs-header-nav-icon.clickable:hover {
  opacity: 0.6;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.cvs-header-nav-icon.clickable.hide {
  display: none;
}

.cvs-header-nav-icon.clickable.bg-white {
  position: relative;
  background-color: white;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.arrow-tooltips-drawer {
  position: absolute;
  left: -70%;
  top: auto;
  right: 0%;
  bottom: -105%;

  display: none;
  min-width: 60px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex: 1;

  border-radius: 4px;

  background-color: #2f3941;

  opacity: 1;

  color: white;
  font-size: 10px;
}

.cvs-header-close-button {
  display: flex;
  margin-left: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 5px;

  background-color: #e9ebed;
}

.cvs-header-close-button.clickable:hover {
  opacity: 0.6;
}

.cv-sidebar-intro-wrapper-candi {
  display: flex;
  padding: 10px 16px 10px 20px;
  flex-direction: column;
  align-items: flex-start;
}

.div-block-599 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.loc-wrap-detail {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--grey-600);
}

.mt-18 {
  margin-top: 18px;
}

.mt-10 {
  margin-top: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.cursor-pointer.p-4 {
  padding: 4px;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.icons.mb-63 {
  margin-bottom: 63px;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mr--10 {
  margin-right: -8px;
}

.cvs-intro-profile-candi {
  position: relative;

  display: flex;
  align-items: flex-start;
  align-self: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cvs-intro-profile-candi.mt-10.center {
  align-items: center;
}

.cvs-intro-profile-info {
  display: flex;
  flex-direction: column;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.div-block-629 {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.phone-icon-wraps {
  position: relative;

  display: flex;
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: #e9ebed;
}

.devlink-copy-text {
  position: absolute;
  left: -18px;
  top: auto;
  right: 0%;
  bottom: -23px;
  z-index: 3;

  display: none;
  width: 72px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #49545c;

  color: white;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.text-xsm.color-grey-600.inline-text {
  display: inline-block;
}

.inline-text {
  display: inline;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

.relative.upload-video-wrap {
  overflow: hidden;
  border-radius: 10px;
}

.relative.zindex-3 {
  z-index: 3;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.relative.mt-12 {
  margin-top: 12px;
}

.relative.mt-12.flex {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.relative.width-inc {
  width: 162.1171875px;
}

.relative.padding-20-10 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.email-outreach-button {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(184, 0, 156, 0.2);
  border-radius: 4px;

  background-color: rgba(184, 0, 156, 0.05);

  transition: all 250ms ease;

  cursor: pointer;
}

.email-outreach-button:hover {
  opacity: 0.6;
}

.text-email-out {
  color: #b8009c;
  font-size: 12px;
}

.text-email-out.fetching {
  color: rgba(168, 24, 151, 0.4);
}

.email-outreach-fetching {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(168, 24, 151, 0.2);
  border-radius: 4px;

  background-color: rgba(168, 24, 151, 0.05);
}

.div-block-731 {
  width: 12px;
  height: 12px;
}

.cdb-card-header-right-candi {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0%;
  bottom: auto;
}

.cdb-star-block {
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.cvs-header-copy-add-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cvs-header-copy-add-wrap.clickable {
  position: relative;
}

.cvs-header-copy-add-wrap.clickable:hover {
  opacity: 0.6;
}

.cvs-header-copy-add-wrap.clickable.padding-medium {
  padding: 10px 16px;
}

.cvs-header-copy-candi {
  position: relative;

  width: 30px;
  height: 30px;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: white;

  transition: all 250ms ease;

  cursor: pointer;
}

.cvs-header-copy-candi:hover {
  opacity: 0.6;
}

.link-copy-tooltip {
  position: absolute;
  left: -10px;
  top: auto;
  right: 0%;
  bottom: -22px;

  display: none;
  width: 60px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: var(--grey-700);

  color: var(--white);
}

.toss-copied {
  position: absolute;
  left: auto;
  top: auto;
  right: -63%;
  bottom: 0%;

  padding: 4px 10px;

  border-radius: 100px;

  background-color: #49545c;

  color: white;
}

.toss-copied.hide {
  display: none;
}

.cdb-select-dropdown {
  position: relative;
}

.cvs-intro-overview-candi {
  display: flex;
  margin-top: 18px;
  padding: 14px 36px 17px 15px;
  flex-direction: column;
  grid-column-gap: 14px;
  grid-row-gap: 14px;

  border-radius: 10px;

  background-color: hsla(180, 53.85%, 97.45%, 1.00);
}

.cvs-intro-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.icon-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-kale-800-2 {
  color: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
}

.text-kale-600-2 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.div-block-642 {
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cd-view-resume {
  display: flex;
  margin-top: 18px;
  padding: 0px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cd-view-resume.clickable:hover {
  background-color: #f8f9f9;
}

.cd-view-resume.cursor-pointer.mt-0 {
  margin-top: 0px;
}

.cd-view-resume.cursor-pointer.mt-0.p-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.text-blue-600-2 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.cd-download-resume {
  display: flex;
  margin-top: 8px;
  padding: 2px 12px 2px 0px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;
}

.cd-download-resume.clickable:hover {
  background-color: #f8f9f9;
}

.cd-download-resume.cursor-pointer.mt-0 {
  margin-top: 0px;
}

.slot-candidate-details {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.slot-candidate-details.cd-details {
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cd-added-job-list {
  margin-top: 0px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 14px 14px 18px 18px;

  border: 1px solid var(--grey-200);
  border-radius: 10px;
}

.div-block-605 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd-job-count-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.color-grey-600.max-width-350 {
  max-width: 350px;
}

.color-grey-600.growth-stretch {
  flex: 0 0 auto;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.color-grey-600.cursor-pointer.delete-button-screeing:hover {
  opacity: 1;
  color: #d93f4c;
}

.color-grey-600.ml-20 {
  margin-left: 20px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.width-588 {
  max-width: 588px;
}

.mt-5 {
  margin-top: 5px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.job-icon-count-wrap {
  display: flex;
  padding: 2px 7px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: white;
}

.job-icon-count-wrap.bg-grey-100 {
  background-color: #f8f9f9;
}

.div-block-606 {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}