.cd-table {
  display: flex;
  width: 100%;
  padding: 0px;
  flex-direction: column;
}

.div-block-680 {
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebed;
}

.div-block-679 {
  display: flex;
  height: 60px;
  padding: 20px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.cursor-pointer.p-4 {
  padding: 4px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.relative {
  position: relative;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.edit-query-btn {
  margin-left: 10px;
  color: var(--blue-500);
  text-decoration: underline;
  cursor: pointer;
}

.div-block-681 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cd-table-wrap-aglint {
  position: relative;
  display: flex;
  width: 100%;
}

.div-block-707 {
  display: flex;
  overflow: auto;
  width: 100%;
}

.div-block-705 {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 0 0 auto;
}

.cd-table-aglint-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.div-block-682 {
  display: flex;
  width: 100%;
  height: 53px;
  padding: 16px 20px;
  align-items: center;

  border-bottom: 1px solid var(--grey-200);

  background-color: #f8f9f9;
}

.cand-head-wrap {
  display: flex;
  width: 516px;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.experince-head-wrap {
  width: 100%;
}

.div-block-692 {
  display: flex;
  width: 100%;
  height: 53px;
  padding: 16px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: #edf7ff;
}

.div-block-693 {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: white;

  cursor: pointer;
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.div-block-694 {
  display: flex;
  margin-left: 10px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  cursor: pointer;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.div-block-691 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.side-slot-emial {
  padding-right: 0px;
  flex: 0 0 auto;
}