.chatbody-main-wrap {
  padding-top: 100px;
}

.text-xxxl {
  font-size: 36px;
  line-height: 1.22;
}

@media screen and (max-width: 991px) {
  .text-xxxl {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .text-xxxl {
    font-size: 26px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-color-white {
  color: white;
}

@media screen and (max-width: 479px) {
  .text-xxxl.fw-semibold.text-color-white.mobile-lg {
    font-size: 18px;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-bold {
  font-weight: 700;
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.text-xxxl.text-red-800.margin-bottom-10 {
  margin-bottom: 10px;
}

.chat-main-button-wrap {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
}

.chat-main-button {
  display: flex;
  padding: 12px 20px;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border-radius: 10px;

  background-color: #17494d;

  transition: all 250ms ease;

  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.chat-main-button:hover {
  background-color: #012b30;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}