.cj-add-skill-btn {
  display: flex;
  height: 40px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;

  text-decoration: none;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.add-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-icon.pointer {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.label-6 {
  color: rgba(31, 115, 183, 1);
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.15399999916553497px;
}