.ratings-details-tag-block {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 4px;
}

.text-block-21 {
  position: relative;
  z-index: 5;
}

.entries-blue-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  background-color: var(--blue100-d2a1a159);
}

.entries-green-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--green100-8db28f70);
}

.entries-red-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  display: block;

  background-color: var(--red100-c55ef5ca);
}