.company-email-edit {
  width: 500px;
  min-height: 100vh;
  padding: 25px;
}

.company-email-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cem-header-content {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-regular {
  font-size: 16px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.header-right-button--company {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.slot-company-email-form {
  margin-top: 25px;
}

.div-block-457 {
  display: flex;
  margin-top: 24px;
  justify-content: flex-end;
}

.div-block-470 {
  margin-top: 24px;
}