.generate-question-2 {
  display: flex;
  width: 100%;
  padding: 9px 15px;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;

  background-color: hsla(180, 53.85%, 97.45%, 1.00);
}

.div-questio-2 {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
  border-radius: 4px;

  color: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
}