.ic-import-loader-wrapper {
  display: flex;
  width: 100%;
  padding-top: 104px;
  padding-bottom: 160px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.ic-loader-lottie-block {
  width: 150px;
  height: 112px;
}

.text-grey-600-3 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-grey-600-3.mt-13 {
  margin-top: 13px;
}

.text-grey-600-3.personalized {
  padding-left: 20px;
}

.text-grey-600-3.mt-5 {
  margin-top: 5px;
}

.text-grey-600-3.inline-block {
  display: inline;
}

@media screen and (max-width: 767px) {
  .text-grey-600-3.mobile-12 {
    font-size: 12px;
  }
}

.text-grey-600-3.regular {
  font-weight: 400;
}

.text-grey-600-3.width-400 {
  max-width: 380px;
}