.ic-import-preview-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.text-grey-600-3 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-grey-600-3.mt-13 {
  margin-top: 13px;
}

.mt-13 {
  margin-top: 13px;
}

.text-grey-600-3.personalized {
  padding-left: 20px;
}

.text-grey-600-3.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600-3.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-grey-600-3.mobile-12 {
    font-size: 12px;
  }
}

.text-grey-600-3.regular {
  font-weight: 400;
}

.text-grey-600-3.width-400 {
  max-width: 380px;
}

.ic-import-preview-main {
  margin-top: 12px;
  margin-bottom: 18px;
}

.ic-import-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-outline-blue-600 {
  border: 1px solid var(--blue600-aad8d97e);
  border-radius: 4px;

  color: var(--blue600-aad8d97e);
  font-size: 12px;
  line-height: 16px;

  cursor: pointer;
}

.button-outline-blue-600:hover {
  opacity: 0.7;
}

.button-outline-blue-600.button-sm {
  padding: 8px 12px;
}

.button-outline-blue-600.button-sm.with-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  text-decoration: none;
}

.button-outline-blue-600.regular {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
}

.button-outline-blue-600.regular.with-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.div-block-506 {
  flex-direction: column;
}

.aui-button-wrap {
  position: relative;
  display: inline-block;
  align-items: center;
}

.aui-button-wrap:focus-visible {
  outline-color: #2f3941;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.aui-button-wrap.danger.jed {
  overflow: hidden;
  border-radius: 4px;
  color: var(--red-500);
}

.aui-button-wrap.danger.jed:hover {
  background-color: hsla(0, 100.00%, 95.78%, 1.00);
  color: var(--red-700);
}

.aui-button-wrap.mt-16 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.aui-button-wrap.full {
  align-items: stretch;
}

.aui-button {
  position: relative;

  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  line-height: 1.4;
  letter-spacing: -0.15px;

  cursor: pointer;
}

.is-button-bg-blue {
  background-color: var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-blue:hover {
  background-color: var(--blue700-c1b26211);
}

.is-button-bg-blue:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small {
  padding: 8px 12px;
  letter-spacing: 0px;
}

.is-button-bg-kale-300 {
  background-color: var(--kale300-8828b122);
  transition: all 300ms ease;
  color: var(--kale800-682c1482);
}

.is-button-bg-kale-300:hover {
  background-color: var(--kale400-aeb7229d);
}

.is-button-bg-kale-300:focus-visible {
  outline-color: rgba(189, 217, 215, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-grey-700 {
  background-color: var(--grey700-7fbe857b);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-grey-700:hover {
  background-color: var(--grey600-d5bebe21);
}

.is-button-bg-grey-700:focus-visible {
  outline-color: rgba(73, 84, 92, 0.2);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-red-600 {
  background-color: var(--red600-953350ec);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-red-600:hover {
  background-color: var(--red700-d3747f47);
}

.is-button-bg-red-600:focus-visible {
  outline-color: rgba(204, 51, 64, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-outlined {
  border: 1px solid var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-outlined:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-outlined:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small.is-button-outlined.xsmall {
  padding: 4px 10px;
}

.aui-button.is-small.is-button-outlined.dark {
  border-color: var(--grey600-d5bebe21);
  color: var(--grey600-d5bebe21);
}

.aui-button.is-small.is-button-outlined.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: var(--red600-953350ec);
  color: var(--red600-953350ec);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: var(--red100-c55ef5ca);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.is-button-text {
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-text:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-text:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-green-600 {
  background-color: var(--green600-40a2ee5f);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-green-600:hover {
  background-color: var(--green700-a1b0a24f);
}

.is-button-bg-green-600:focus-visible {
  outline-color: rgba(3, 129, 83, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-big {
  padding: 14px 20px;
}

.aui-button.is-button-outlined.small {
  padding: 8px 12px;
}

.aui-button.is-button-bg-green-600.link {
  text-decoration: none;
}

.button-icon {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.text-md {
  font-size: 14px;
  line-height: 20px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.text-md.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-600 {
  color: #68737d;
}

.fw-normal {
  font-weight: 400;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-md.whitespace-prewrap {
  white-space: pre-wrap;
}

.text-md.apply-jobs {
  display: inline;
}

.text-md.apply-jobs.left-margin-4 {
  margin-left: 4px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.is-button-disabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  background-color: var(--grey200-9ba653f1);

  color: var(--grey400-863ed4b5);

  cursor: default;
}

.is-button-disabled.is-outlined {
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
}