.ic-import-preview-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.text-grey-600-3 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-grey-600-3.mt-13 {
  margin-top: 13px;
}

.text-grey-600-3.personalized {
  padding-left: 20px;
}

.text-grey-600-3.mt-5 {
  margin-top: 5px;
}

.text-grey-600-3.inline-block {
  display: inline;
}

.ic-import-preview-main {
  margin-top: 12px;
  margin-bottom: 18px;
}

.ic-import-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-outline-blue-600 {
  border: 1px solid var(--blue600-aad8d97e);
  border-radius: 4px;

  color: var(--blue600-aad8d97e);
  font-size: 12px;
  line-height: 16px;

  cursor: pointer;
}

.button-outline-blue-600:hover {
  opacity: 0.7;
}

.button-outline-blue-600.button-sm {
  padding: 8px 12px;
}

.button-outline-blue-600.regular {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
}

.button-outline-blue-600.regular.with-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}