.div-block-474 {
  display: inline-block;
}

@media screen and (min-width: 1920px) {
  .div-block-474 {
    width: 100%;
  }
}

.div-block-474:hover {
  background-color: var(--gray-100);
}

.inbox-list-sl-block {
  z-index: 2;

  display: flex;
  padding: 10px 64px 10px 22px;
  align-items: center;
  grid-column-gap: 48px;
  grid-row-gap: 48px;

  transition: all 250ms ease;

  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .inbox-list-sl-block {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }
}

.inbox-list-sl-block.top-bar {
  width: auto;
  background-color: var(--gray-100);
}

.tli-column {
  display: flex;
  align-items: center;
}

.tli-column.id {
  width: 120px;
  min-width: 120px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tli-column.issue {
  width: 280px;
  min-width: 280px;
}

.tli-column.issue.vertical {
  flex-direction: column;
  align-items: stretch;
}

.tli-column.priority {
  width: 90px;
  min-width: 90px;
}

.tli-column.assignee {
  width: 180px;
  min-width: 180px;
  flex-wrap: wrap;
}

.tli-column.name {
  width: 250px;
  min-width: 250px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.tli-column.job-info {
  width: 240px;
  min-width: 240px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.tli-column.status {
  width: 136px;
  min-width: 136px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.tli-column.date {
  width: 140px;
  min-width: 140px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.checkbox-block {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 14px;
  height: 14px;
  min-height: 14px;
  min-width: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.add-icon {
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-icon.pointer {
  cursor: pointer;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.il-candidate-name {
  display: flex;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;

  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-size: 14px;
  line-height: 1.4;
}

.il-candidate-image {
  width: 25px;
  height: 25px;
  min-height: 25px;
  min-width: 25px;

  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(180, 7.69%, 97.45%, 1.00);
  border-radius: 3px;
}

.il-job-info {
  display: flex;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.il-job-info.top {
  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-size: 14px;
  line-height: 1.4;
}

.il-job-info.content {
  display: flex;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}