.interview-screen-feedback-wrappers {
  display: flex;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.div-block-469 {
  display: flex;
  flex-direction: column;
}

.div-block-377 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;

  border-bottom: 1px none var(--grey200-9ba653f1);

  background-color: var(--white-80449ce7);
}

.nav-new-header {
  display: flex;
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px none var(--grey200-9ba653f1);
}

@media screen and (max-width: 991px) {
  .nav-new-header {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.slot-company-interview-logo {
  width: 200px;
  height: 24px;
}

.div-block-298 {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.aui-button-wrap {
  position: relative;
  display: inline-block;
  align-items: center;
}

.aui-button-wrap:focus-visible {
  outline-color: #2f3941;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.aui-button-wrap.danger.jed {
  overflow: hidden;
  border-radius: 4px;
  color: var(--red-500);
}

.aui-button-wrap.danger.jed:hover {
  background-color: hsla(0, 100.00%, 95.78%, 1.00);
  color: var(--red-700);
}

.aui-button-wrap.mt-16 {
  margin-top: 16px;
}

.aui-button-wrap.full {
  align-items: stretch;
}

.aui-button {
  position: relative;

  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  line-height: 1.4;
  letter-spacing: -0.15px;

  cursor: pointer;
}

.is-button-bg-blue {
  background-color: var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-blue:hover {
  background-color: var(--blue700-c1b26211);
}

.is-button-bg-blue:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small {
  padding: 8px 12px;
  letter-spacing: 0px;
}

.is-button-bg-kale-300 {
  background-color: var(--kale300-8828b122);
  transition: all 300ms ease;
  color: var(--kale800-682c1482);
}

.is-button-bg-kale-300:hover {
  background-color: var(--kale400-aeb7229d);
}

.is-button-bg-kale-300:focus-visible {
  outline-color: rgba(189, 217, 215, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-grey-700 {
  background-color: var(--grey700-7fbe857b);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-grey-700:hover {
  background-color: var(--grey600-d5bebe21);
}

.is-button-bg-grey-700:focus-visible {
  outline-color: rgba(73, 84, 92, 0.2);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-red-600 {
  background-color: var(--red600-953350ec);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-red-600:hover {
  background-color: var(--red700-d3747f47);
}

.is-button-bg-red-600:focus-visible {
  outline-color: rgba(204, 51, 64, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-outlined {
  border: 1px solid var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-outlined:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-outlined:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small.is-button-outlined.xsmall {
  padding: 4px 10px;
}

.aui-button.is-small.is-button-outlined.dark {
  border-color: var(--grey600-d5bebe21);
  color: var(--grey600-d5bebe21);
}

.aui-button.is-small.is-button-outlined.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: var(--red600-953350ec);
  color: var(--red600-953350ec);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: var(--red100-c55ef5ca);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.is-button-text {
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-text:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-text:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-green-600 {
  background-color: var(--green600-40a2ee5f);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-green-600:hover {
  background-color: var(--green700-a1b0a24f);
}

.is-button-bg-green-600:focus-visible {
  outline-color: rgba(3, 129, 83, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-big {
  padding: 14px 20px;
}

.aui-button.is-button-outlined.small {
  padding: 8px 12px;
}

.aui-button.is-button-bg-green-600.link {
  text-decoration: none;
}

.button-icon {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.is-button-disabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  background-color: var(--grey200-9ba653f1);

  color: var(--grey400-863ed4b5);

  cursor: default;
}

.is-button-disabled.is-outlined {
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
}

.container-878 {
  width: 100%;
  max-width: 878px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .container-878 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.div-block-381 {
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.if-wrapper {
  display: flex;
  width: 570px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.if-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.text-lg.fw-semibold.inline-block.ml-4 {
  margin-left: 6px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.profile-card-wrappers-left {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.slot-image-profile {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.profile-mail-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.interview-screen-date-wrappers {
  display: grid;
  margin-top: 17px;
  padding: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  border-radius: 10px;

  background-color: rgba(237, 247, 255, 0.5);
}

.interview-date-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.date-all-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.date-wrappers-feed {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.slot-detailed-feedback {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.slot_resume-result {
  flex-direction: column;
}

.activity-card-wrappers {
  display: none;
  width: 275px;
  height: 284px;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 10px;
}

.bottom-sticky-footer {
  margin-top: auto;
  padding-top: 120px;
}

.all-powered-wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.powered-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.text-powered {
  color: var(--grey400-863ed4b5);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.352px;
}