.lever-step-1-wrappers {
  width: 706px;
  height: 710px;
  max-width: 706px;
  padding: 30px 20px;
  border-radius: 10px;
}

.lever-1-header-wraps {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.lever-close-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0px;
  bottom: auto;

  padding: 4px;

  border-radius: 100px;

  transition: all 250ms ease;

  cursor: pointer;
}

.lever-close-button:hover {
  background-color: #f8f9f9;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.cursor-pointer.p-4 {
  padding: 4px;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.relative {
  position: relative;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-63 {
  margin-bottom: 63px;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.div-block-536 {
  height: 590px;
}