.cdd-tab-content-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cdd-tab-content-top {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.div-block-285 {
  display: flex;
  min-height: 62px;
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;

  background-color: var(--gray100-3a86b552);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.text-lg.fw-semibold.inline-block.ml-4 {
  margin-left: 6px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.div-block-287 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-286 {
  display: flex;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  padding: 2px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  background-color: var(--green500-287ff474);

  color: var(--white-80449ce7);
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.color-white {
  color: var(--white-80449ce7);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cdd-content-main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#w-node-e7cca4a0-1b1d-4648-e312-a527b4fb6bdd-b4fb6bd2 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}