.upper-job-listing {
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
}

.job-listing-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.job-listing-wrappers {
  display: flex;
  padding-top: 90px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
}

.div-block-456 {
  max-width: 65%;
  flex: 1;
}

.div-block-433 {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.div-block-435 {
  display: flex;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.job-listing-image--slot {
  width: 80px;
  height: 80px;
  border: 1px solid var(--grey300-03a46dba);
  border-radius: 4px;
}

.lefet-name--job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.text-lg.fw-semibold.inline-block.ml-4 {
  margin-left: 6px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.div-block-434 {
  padding: 8px 16px;

  border: 1px solid var(--grey300-03a46dba);
  border-radius: 100px;

  transition: all 250ms ease;

  font-weight: 600;

  cursor: pointer;
}

.div-block-434:hover {
  opacity: 0.7;
}

.slot-appl-job-form {
  margin-top: 30px;
}

.about-company-wrapper-job {
  position: relative;

  display: flex;
  margin-top: 40px;
  padding: 30px;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 14px;
  grid-row-gap: 14px;

  border-radius: 20px;

  background-color: #f8f9f9;
}

.div-block-440 {
  display: flex;
  align-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.job-listing-company-slots {
  overflow: hidden;
  width: 80px;
  height: 80px;
  flex: 0 0 auto;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 10px;
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.fw-medium {
  font-weight: 500;
}

.text-xl.fw-semibold.text-grey-800.top-margin--8 {
  margin-top: -8px;
}

.text-xl.fw-semibold.profile-titler {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

.text-xl.fw-semibold.margin-bottom-16 {
  margin-bottom: 6px;
}

.text-white {
  color: white;
}

.text-xl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.fw-semibold.inline-end {
  display: inline;
}

.text-xl.fw-semibold.text-grey-600.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.color-orange {
  color: var(--yellow500-c095f0f1);
}

.fw-bold {
  font-weight: 700;
}

.job-company-info-wrappers {
  display: flex;
  width: 600px;
  margin-top: 14px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.div-block-425 {
  display: flex;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.company-list-link-wrappers {
  display: flex;
  margin-top: 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-444 {
  display: flex;
  justify-content: flex-start;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.div-block-467 {
  position: relative;

  display: flex;
  margin-top: 40px;
  padding: 30px;
  flex-direction: column;
  grid-column-gap: 18px;
  grid-row-gap: 18px;

  border-radius: 20px;

  background-color: #f8f9f9;
}

.div-block-445 {
  display: flex;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.slot-job-listing-open-card {
  margin-top: 20px;
}

.div-block-438 {
  flex-direction: column;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-442 {
  position: sticky;
  top: 90px;

  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.share-job-wrappers {
  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;

  background-color: var(--gray100-3a86b552);
}

.div-block-436 {
  margin-top: 18px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.ask-about-job-wrappers {
  display: none;
  padding: 20px;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
  background-color: var(--gray100-3a86b552);
}

.div-block-437 {
  display: flex;
  margin-top: 16px;
  margin-bottom: 18px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.slot-image-about {
  width: 58px;
  height: 58px;
  flex: 0 0 auto;
  border-radius: 4px;
}

.color-grey-600.max-width-350 {
  max-width: 350px;
}

.color-grey-600.growth-stretch {
  flex: 0 0 auto;
}

.div-block-443 {
  display: flex;
  justify-content: flex-start;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.slot-input-fomr {
  margin-top: 8px;
}

.div-block-439 {
  display: flex;
  justify-content: flex-start;
}

.aglint-powered-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.div-block-432 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}