.rd-main-wrapper {
  display: flex;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.rd-main-wrapper.cdd-database {
  width: 100vw;
  flex: 0 auto;
}

.profile {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 1);
}

.rd-main-wrapper.profile-wrappers {
  height: 100vh;
}

.div-block-271 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.rd-jobs-header-wrapper {
  display: flex;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.rd-job-create-btn {
  display: flex;
  width: 135px;
  height: 32px;
  padding: 8px 12px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(47, 57, 65, 1);
  border-radius: 4px;

  background-color: var(--white-80449ce7);

  transition: all 300ms ease;

  white-space: nowrap;

  cursor: pointer;
}

.rd-job-create-btn:hover {
  border-color: var(--blue500-72579298);
  background-color: var(--blue200-07311850);
}

.vectors-wrapper-23 {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.rd-jobs-wrapper {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1920px) {
  .rd-jobs-wrapper {
    width: 100%;
  }
}

.rd-jobs-wrapper.cdd-database {
  width: auto;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
}

.rd-job-stats-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.rd-jobs-stat-block {
  display: flex;
  width: 194.5px;
  height: 130px;
  padding: 25px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;
}

.yellow-100 {
  background-color: var(--yellow100-51d667b3);
}

.blue {
  background-color: var(--blue500-72579298);
}

.blue-100 {
  background-color: var(--blue100-d2a1a159);
}

.kale-100 {
  background-color: var(--kale100-7fa98464);
}

.red-100 {
  background-color: var(--red100-c55ef5ca);
}

.job-count-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rd-stat-number {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.0006058461731299758px;
}

.rd-stat-number.real-number {
  display: none;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.rd-job-list-wrapper {
  position: relative;
}

.rd-search-filter {
  position: absolute;
  left: auto;
  top: 24px;
  right: 24px;
  bottom: auto;
  z-index: 2;

  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.rd-job-list-tab {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.rd-job-list-tab-menu {
  display: flex;
  align-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.rd-job-list-tab-link {
  padding: 8px 24px;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 10px;
  background-color: var(--white-80449ce7);
  box-shadow: 0 1px 2px 0 hsla(60, 12.50%, 93.73%, 1.00);
}

.rd-job-list-tab-link:global(.w--current) {
  background-color: var(--grey200-9ba653f1);
}

.rd-job-list-tab-content.mt-60 {
  margin-top: 40px;
}

.all-job-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .all-job-list {
    display: flex;
    flex-direction: column;
  }
}