.div-block-862 {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.div-block-863 {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.text-grey-600.mt-4 {
  margin-top: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.text-grey-600.mt-8 {
  margin-top: 8px;
}

.div-block-864 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px dashed #68737d;
  border-radius: 10px;
}

.div-block-865 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid #337fbd;
  border-radius: 10px;

  background-color: #edf7ff;
}