.rd-menu-items-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.nav_sublink {
  position: relative;

  display: flex;
  padding: 6px 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  transition: all 300ms ease;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
  text-decoration: none;
  white-space: nowrap;
  word-break: normal;

  cursor: pointer;
}

.nav_sublink:hover {
  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
}

.nav_sublink.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.embed_flex {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.embed_flex.rotate {
  transform: rotate(180deg);
}

.aui_nav_sublink_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: 6px 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 6px;

  background-color: rgba(233, 235, 237, 0.5);

  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
  text-decoration: none;
}

.aui_nav_sublink_active:hover {
  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
}

.subnav-link {
  display: flex;
  width: 100%;
  padding: 6px 10px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 6px;

  transition: all 300ms ease;

  color: var(--grey600-d5bebe21);
  text-decoration: none;

  cursor: pointer;
}

.subnav-link:hover {
  background-color: #f8f9f9;
  color: var(--grey800-e42b2e06);
}

.subnav-link:global(.w--current) {
  background-color: var(--grey200-9ba653f1);
}

.subnav-link.text-red-600 {
  color: var(--red600-953350ec);
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.subnav-link.current {
  background-color: var(--grey200-9ba653f1);
}

.subnav-link.hide {
  display: none;
}

.menu-item-icon-block {
  display: flex;
  padding: 1px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.rd-menu-profile-block {
  display: flex;
  padding: 5px 8px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 11px;
  grid-row-gap: 11px;

  border-radius: 6px;

  background-color: rgba(255, 255, 255, 1);

  color: var(--grey800-e42b2e06);
  text-decoration: none;

  cursor: pointer;
}

.rd-menu-profile-image {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 4.44444465637207px;
  object-fit: cover;
}

.rd-menu-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}