.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.step-1 {
  display: none;
}

.step-1 {
  position: relative;
  z-index: 1;
}

.job-sidebar-main-block.cj-step-2 {
  display: block;
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-2 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-1 {
  display: flex;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-1 {
    display: flex;
  }
}

.cj-step-1 {
  z-index: 1;
}

.job-sidebar-main-block.cj-step-3 {
  display: block;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-3 {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-4 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.job-sidebar-main-block.cj-step-0 {
  display: none;
}

.job-sidebar-main-block.cj-step-green-1 {
  display: none;
}

.div-block-274 {
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.cj-option-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.fw-semibold {
  font-weight: 600;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cj-option-block {
  position: relative;

  display: flex;
  width: 100%;
  padding: 12px 11px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 13px;
  grid-row-gap: 13px;

  border: 1px none transparent;
  border-radius: 10px;

  transition: all 250ms ease;

  cursor: pointer;
}

.cj-option-block:hover {
  border-style: none;
  border-color: var(--grey300-03a46dba);
  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

@media screen and (max-width: 479px) {
  .cj-option-block {
    max-width: none;
  }
}

.cj-option-block.grey {
  background-color: hsla(173.68421052631572, 76.00%, 95.10%, 1.00);
}

.blue-100 {
  background-color: var(--blue100-d2a1a159);
}

.kale-100 {
  background-color: var(--kale100-7fa98464);
}

.grey-100 {
  background-color: var(--gray100-3a86b552);
}

.yellow-100 {
  background-color: var(--yellow100-51d667b3);
}

.cj-option-block.yellow-100.small-card-add-job {
  width: 240px;
  max-width: 240px;
}

.cj-option-block.work {
  background-color: #ecf3fa;
}

.frame-1036 {
  position: absolute;
  left: auto;
  top: 6px;
  right: 12px;
  bottom: auto;

  display: flex;
  padding: 1px 8px 2px;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 8.938334465026855px;
  grid-row-gap: 8.938334465026855px;

  border-radius: 4.469167232513428px;

  background-color: rgba(254, 214, 168, 1);
}

.text-6 {
  color: rgba(173, 89, 24, 1);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.00038225340540520847px;
}

.cj-option-icon-block {
  display: flex;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: rgba(255, 255, 255, 1);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.vectors-wrapper-29 {
  display: flex;
  width: 23.75px;
  height: 23.75px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.cj-option-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.medium-bold-5 {
  color: rgba(112, 56, 21, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15399999916553497px;
}

.cj-imports-wrapper {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.cj-imports-options-drawer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}