.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.step-1 {
  display: none;
}

.step-1 {
  position: relative;
  z-index: 1;
}

.job-sidebar-main-block.cj-step-2 {
  display: block;
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-2 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-1 {
  display: flex;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-1 {
    display: flex;
  }
}

.cj-step-1 {
  z-index: 1;
}

.job-sidebar-main-block.cj-step-3 {
  display: block;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-3 {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-4 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.job-sidebar-main-block.cj-step-0 {
  display: none;
}

.job-sidebar-main-block.cj-step-green-1 {
  display: none;
}

.cj-main-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cj-main-wrapper.pb-200 {
  padding-bottom: 200px;
}

._wf-screening-block {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  flex-direction: column;
  align-items: stretch;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
}

._wf-screening-block.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

._wf-top-wrapper {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

._wf-top-wrapper.screening {
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

._wf-top-wrapper.company {
  align-items: flex-start;
}

._wf-header-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.fw-semibold {
  font-weight: 600;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.toggle-btn-block {
  align-items: center;
}

.workflow-description-list {
  padding-left: 20px;
}

._wf-radio-form-wrapper {
  display: flex;
  padding: 5px 16px 12px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

._wf-radio-form-block {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-278 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

.div-block-278.hide {
  display: none;
}

.toggle-dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
}

.toggle-dropdown.hide {
  display: none;
}

.toggle-dropdown-toggle {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  transition: all 300ms ease;

  cursor: pointer;
}

.toggle-dropdown-toggle:hover {
  background-color: var(--gray100-3a86b552);
}

.toggle-dropdown-toggle.screening {
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.toggle-dropdown-toggle.company {
  align-items: flex-start;
}

.div-block-277 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.div-block-280 {
  display: flex;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.toggle-dropdown-description {
  max-width: 380px;
  color: var(--grey600-d5bebe21);
}

.toggle-dropdown-content-wrapper {
  overflow: hidden;
}

.pd-200 {
  padding-bottom: 200px;
}