.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.step-1 {
  display: none;
}

.step-1 {
  position: relative;
  z-index: 1;
}

.job-sidebar-main-block.cj-step-2 {
  display: block;
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-2 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-2.height-auto {
  height: auto;
}

.job-sidebar-main-block.cj-step-1 {
  display: flex;
  max-width: 780px;
  margin-bottom: 0px;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-1 {
    display: flex;
  }
}

.cj-step-1 {
  z-index: 1;
}

.job-sidebar-main-block.cj-step-1.height-auto {
  height: auto;
  padding-top: 20px;
}

.job-sidebar-main-block.cj-step-3 {
  display: block;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-3 {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-4 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
  padding-top: 20px;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.job-sidebar-main-block.cj-step-0 {
  display: none;
}

.job-sidebar-main-block.cj-step-green-1 {
  display: none;
}

.div-block-507 {
  display: flex;
  margin-bottom: 26px;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-507.remove-bottom {
  margin-bottom: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.mb-15 {
  margin-bottom: 15px;
}

.fw-semibold.text-kale-700 {
  color: #03363d;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-no-wrap {
  white-space: nowrap;
  overflow-wrap: anywhere;
}

.color-grey-600.max-width-350 {
  max-width: 350px;
}

.color-grey-600.growth-stretch {
  flex: 0 0 auto;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.color-grey-600.cursor-pointer.delete-button-screeing:hover {
  opacity: 1;
  color: #d93f4c;
}

.color-grey-600.ml-20 {
  margin-left: 20px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.width-588 {
  max-width: 588px;
}

.mt-5 {
  margin-top: 5px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.div-block-816 {
  padding-bottom: 20px;
}

.cj-main-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 843px;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cj-main-wrapper.pb-200 {
  padding-bottom: 200px;
}

.slot-job-form-step-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}