.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.step-1 {
  display: none;
}

.step-1 {
  position: relative;
  z-index: 1;
}

.job-sidebar-main-block.cj-step-2 {
  display: block;
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-2 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-1 {
  display: flex;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-1 {
    display: flex;
  }
}

.cj-step-1 {
  z-index: 1;
}

.job-sidebar-main-block.cj-step-3 {
  display: block;
  background-color: var(--white-80449ce7);
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-3 {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .job-sidebar-main-block.cj-step-4 {
    display: flex;
  }
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.job-sidebar-main-block.cj-step-0 {
  display: none;
}

.job-sidebar-main-block.cj-step-green-1 {
  display: none;
}

.cj-main-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cj-main-wrapper.pb-200 {
  padding-bottom: 200px;
}

.slot-job-form-step-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}