.open-jobs-list-card {
  position: relative;
  padding: 16px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.text-regular {
  font-size: 16px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.open-job-info-list {
  display: flex;
  margin-top: 12px;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.div-block-428 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.apply-button-icon {
  position: absolute;
  left: auto;
  top: auto;
  right: 27px;
  bottom: 34px;

  display: none;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  cursor: pointer;
}

.apply-button-icon:hover {
  opacity: 0.9;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}