.open-jobs-list-card {
  position: relative;
  padding: 16px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.text-regular {
  font-size: 16px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.open-job-info-list {
  display: flex;
  margin-top: 12px;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media screen and (max-width: 767px) {
  .open-job-info-list {
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.div-block-428 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.relative {
  position: relative;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.apply-button-icon {
  position: absolute;
  left: auto;
  top: auto;
  right: 27px;
  bottom: 34px;

  display: none;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  cursor: pointer;
}

.apply-button-icon:hover {
  opacity: 0.9;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}