.page-nothing {
  padding-right: 40px;
  padding-left: 40px;
}

.page-nothing-wrapper {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 263px;
}

.page-nothing-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.page-nothing-title-wrapper {
  margin-bottom: 24px;
}

.text-xxxl {
  font-size: 36px;
  line-height: 1.22;
}

@media screen and (max-width: 991px) {
  .text-xxxl {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .text-xxxl {
    font-size: 26px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.fw-bold {
  font-weight: 700;
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.text-xxxl.text-red-800.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.text-lg.fw-semibold.inline-block.ml-4 {
  margin-left: 6px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.page-nothing-description {
  margin-bottom: 42px;
}

.text-grey-600-3 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-grey-600-3.mt-13 {
  margin-top: 13px;
}

.text-grey-600-3.personalized {
  padding-left: 20px;
}

.text-grey-600-3.mt-5 {
  margin-top: 5px;
}

.text-grey-600-3.inline-block {
  display: inline;
}

.support-wrapper {
  display: flex;
  grid-column-gap: 4px;
}

.tools-link {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

#w-node-f3b4fe7a-f1fa-138f-8e86-c43f479df2e1-479df2de {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f3b4fe7a-f1fa-138f-8e86-c43f479df2e3-479df2de {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}