.forgot-password-page {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 115px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
}

@media screen and (max-width: 767px) {
  .forgot-password-page {
    align-items: stretch;
  }
}

.forgot-password-wrapper {
  display: flex;
  max-width: 480px;
  padding: 30px 20px;
  flex-direction: column;
  align-items: center;

  background-color: white;
}

.forgot-password-wrapper.is-mobile {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .forgot-password-wrapper.is-mobile {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-items: stretch;
  }
}

@media screen and (max-width: 479px) {
  .forgot-password-wrapper.is-mobile {
    padding: 20px 16px;
  }
}

.forgot-password-header-wrapper {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 25px;

  text-align: center;
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-xl.fw-semibold.text-grey-800.top-margin--8 {
  margin-top: -8px;
}

.text-xl.fw-semibold.profile-titler {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

.text-xl.fw-semibold.margin-bottom-16 {
  margin-bottom: 6px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-white {
  color: white;
}

.text-xl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.fw-semibold.inline-end {
  display: inline;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-xl.fw-semibold.text-grey-600.inline-start {
  display: inline;
  margin-left: 5px;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-xl.color-orange {
  color: var(--yellow500-c095f0f1);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-bold {
  font-weight: 700;
}

.text-grey-200 {
  color: var(--grey200-9ba653f1);
}

@media screen and (max-width: 479px) {
  .text-xl.text-grey-200.mobile-regular {
    font-size: 14px;
  }
}

.text-md {
  font-size: 14px;
  line-height: 20px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.text-md.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-normal {
  font-weight: 400;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-md.whitespace-prewrap {
  white-space: pre-wrap;
}

.text-md.apply-jobs {
  display: inline;
}

.text-md.apply-jobs.left-margin-4 {
  margin-left: 4px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.forgot-password-slot {
  width: 100%;
  padding-top: 48px;
}

.back-link {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;

  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
  text-decoration: none;
}

.back-link:hover {
  opacity: 0.7;
  color: var(--grey800-e42b2e06);
}

.back-link.margin-top-0 {
  margin-top: 0px;
  cursor: pointer;
}

.back-link.margin-top-0:hover {
  opacity: 0.8;
  color: var(--grey800-e42b2e06);
}

.back-arrow-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}