.div-block-842 {
  display: flex;
  margin-top: 20px;
  padding: 16px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.text-block-33 {
  color: #68737d;
}

.div-block-844 {
  display: flex;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div-block-843 {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.scheduling-form-wrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.div-block-845 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-845.gap-10 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-847 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-850 {
  position: relative;
}

.div-block-846 {
  display: flex;
  overflow: hidden;
  padding: 10px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border: 1px solid #d8dcde;
  border-radius: 4px;

  cursor: pointer;
}

.div-block-849 {
  position: relative;
  z-index: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.cursor-pointer.p-4 {
  padding: 4px;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.relative {
  position: relative;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-63 {
  margin-bottom: 63px;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mr--10 {
  margin-right: -8px;
}

.relative-1.pt-2 {
  padding-top: 2px;
}

.relative-1.text-color-grey-600 {
  color: #68737d;
}

.div-block-848 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid #adcce4;
  border-radius: 4px;

  background-color: #edf7ff;
}

.div-block-857 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.text-grey-600.mt-4 {
  margin-top: 4px;
}

.text-grey-600.mt-8 {
  margin-top: 8px;
}

.div-block-853 {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-858 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}