.new-screening-video-wrap {
  position: relative;

  display: flex;
  margin-top: 0px;
  padding: 10px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.new-screening-video-wrap.grey-100 {
  background-color: #f8f9f9;
}

.grey-100 {
  background-color: var(--gray100-3a86b552);
}

.new-screen-intro-wrap {
  position: relative;
  z-index: 1;

  overflow: hidden;
  width: 251px;
  height: 146px;
  flex: 0 0 auto;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.slot-video-welcome {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.generate-overaly {
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.generate-overaly.overlay-abs {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
}

.div-block-541 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.color-white {
  color: var(--white-80449ce7);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-sm.text-first-capital {
  text-transform: capitalize;
}

.slot-empty-video-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  width: 100%;
  height: 100%;
}

.button-white-ai {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 100px;

  background-color: var(--white-80449ce7);

  color: var(--grey800-e42b2e06);

  cursor: pointer;
}

.button-white-ai:hover {
  opacity: 0.8;
}

.button-white-ai.large {
  padding: 10px 16px;
  transition: all 250ms ease;
}

.button-white-ai.large:hover {
  opacity: 0.7;
}

.button-white-ai.large.apply {
  display: none;
  flex: 0 0 auto;
  border: 1px solid var(--grey300-03a46dba);
}

@media screen and (max-width: 991px) {
  .button-white-ai.large.apply.is-tablet {
    display: flex;
  }
}

.button-white-ai.large.apply-btn {
  display: none;
  flex: 0 0 auto;
  border: 1px solid var(--grey300-03a46dba);
}

@media screen and (max-width: 991px) {
  .button-white-ai.large.apply-btn.is-tablet {
    display: flex;
  }
}

.button-white-ai.sm {
  padding: 8px 12px;
  transition: all 250ms ease;
}

.button-white-ai.sm:hover {
  opacity: 0.7;
}

.button-white-ai.rounded {
  border-radius: 100px;
}

.generate-overlay {
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.div-block-554 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div-block-548 {
  position: relative;
  z-index: 1;
  width: 100%;
}

.slot-input-new-screen {
  margin-bottom: 13px;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.edit-delete-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.color-grey-600.max-width-350 {
  max-width: 350px;
}

.color-grey-600.growth-stretch {
  flex: 0 0 auto;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.color-grey-600.ml-20 {
  margin-left: 20px;
}

.active-screening-card {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #f8f9f9;
}