.div-block-258 {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  grid-column-gap: 96px;
  grid-row-gap: 96px;
}

.auth-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.join-us-wrapper {
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .join-us-wrapper {
    grid-template-columns: 1fr;
  }
}

.auth-left-wrapper {
  position: relative;

  display: flex;
  height: 100vh;
  flex-direction: column;
  flex: 1;

  background-color: var(--black-0fdbd865);
}

.auth-icon-block {
  position: absolute;
  z-index: 5;
  margin-top: 32px;
  margin-left: 60px;
}

.auth-slider {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.auth-left-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.join-us {
  flex-direction: column;
}

.auth-left-block.sign-up {
  display: none;
}

.sign-up {
  flex-direction: column;
}

.auth-left-block.step-one {
  display: none;
}

.auth-left-block.step-two {
  display: none;
}

.auth-left-block.login {
  display: none;
}

.auth-left-block.placeholder {
  position: static;
  display: none;
  opacity: 0;
}

.auth-left-block.success {
  display: none;
}

.auth-quote-block {
  position: relative;
  z-index: 2;

  display: flex;
  margin: auto 110px auto 82px;
  flex-direction: column;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.flex-vertical-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-vertical-left.left-align {
  align-items: flex-start;
}

.flex-vertical-left.gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.flex-vertical-left.gap-48 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.embed-icon.size-full {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .embed-icon.size-full {
    margin-top: 8px;
  }
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-xl.fw-semibold.text-grey-800.top-margin--8 {
  margin-top: -8px;
}

.text-xl.fw-semibold.profile-titler {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

.text-xl.fw-semibold.margin-bottom-16 {
  margin-bottom: 6px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-white {
  color: white;
}

.text-xl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.fw-semibold.inline-end {
  display: inline;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-xl.fw-semibold.text-grey-600.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.color-orange {
  color: var(--yellow500-c095f0f1);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-bold {
  font-weight: 700;
}

.ju-profile-block {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.join-us-profile-image {
  width: 38px;
  height: 38px;
  border-radius: 8px;
}

.div-block-255 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 0.5625em;
  grid-row-gap: 0.5625em;
  color: var(--white-80449ce7);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.color-white {
  color: var(--white-80449ce7);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  height: 100%;

  object-fit: cover;
  object-position: 50% 50%;
}

.bg-image-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.70), hsla(0, 0.00%, 0.00%, 0.30));
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.auth-right-wrapper {
  display: flex;
  height: 100vh;
  padding-top: 55px;
  padding-right: 75px;
  padding-bottom: 28px;
  flex-direction: column;
}

.auth-right-bottom {
  padding-left: 90px;
}

.ju-redirect-text {
  align-self: flex-end;
  color: var(--grey600-d5bebe21);
  font-size: 14px;
  line-height: 20px;
}

.ju-redirect-text.left-align {
  align-self: flex-start;
}

.ju-redirect-link {
  color: var(--blue500-72579298);
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  #w-node-af2c0f8a-d69c-130e-d1d1-a38a2d802199-2d802196 {
    order: 9999;
  }
}