.signin-wrapper {
  position: relative;

  display: flex;
  min-height: 100vh;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(circle farthest-corner at 50% 50%, hsla(16.986301369863014, 100.00%, 57.06%, 0.50), white 50%);
}

@media screen and (max-width: 991px) {
  .signin-wrapper {
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .signin-wrapper {
    background-image: none;
  }
}

.signin-bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .signin-bg-image {
    display: none;
  }
}

.signin-block {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 1030px;

  border-radius: 20px;

  background-color: hsla(180, 7.69%, 97.45%, 0.60);

  box-shadow: 0 0 28px 7px hsla(0, 0.00%, 0.00%, 0.10);
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 991px) {
  .signin-block {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .signin-block {
    flex-direction: column-reverse;
    background-color: hsla(180, 7.69%, 97.45%, 0.00);
    box-shadow: none;
    backdrop-filter: none;
  }
}

.signin-form-wrapper {
  display: flex;
  max-width: 50%;
  padding: 30px 64px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media screen and (min-width: 1440px) {
  .signin-form-wrapper {
    padding-left: 104px;
  }
}

@media screen and (max-width: 991px) {
  .signin-form-wrapper {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .signin-form-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .signin-form-wrapper {
    padding: 16px;
  }
}

.signin-main-block {
  display: flex;
  width: 100%;
  max-width: 344px;
  padding: 36px 28px 40px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
}

@media screen and (max-width: 991px) {
  .signin-main-block {
    padding: 16px 0px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.signin-top-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.signin-welcome-block {
  display: flex;
  align-items: center;
}

.signin-welcome-text {
  display: inline;

  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.35px;
}

.crossed-finger-emoji-icon {
  display: inline;
  width: 28px;
  object-fit: contain;
}

.third-party-signins {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.color-white {
  color: var(--white-80449ce7);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.signin-icons-wrapper {
  display: flex;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.signin-icon-block {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  box-shadow: 0 4px 8px 0 hsla(187.3972602739726, 90.12%, 15.88%, 0.15);

  cursor: pointer;
}

.signin-divider-block {
  display: flex;
  width: 100%;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.signin-hr {
  height: 1px;
  flex: 1;
  background-color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.slot-form-sign-in {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.sign-up-now-wrappers {
  display: flex;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.sign-up-now-link {
  color: var(--yellow800-b1e3bc9b);
  text-decoration: underline;
}

.signin-image-block {
  display: flex;
  max-width: 50%;
  padding-right: 50px;
  padding-bottom: 90px;
  padding-left: 72px;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;

  background-image: url("https://uploads-ssl.webflow.com/650c129b14ba3ec43088ffdd/650c129b14ba3ec4308901d0_64dca59bbd89c3a87af10500_46758d0a007f12b32e8ac131c34c6ae8%20(1).jpeg");
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .signin-image-block {
    display: none;
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 479px) {
  .signin-image-block {
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }
}

.signin-cover-text {
  padding: 26px 30px 21px 29px;

  border-radius: 8px;

  background-color: hsla(0, 100.00%, 96.27%, 0.20);

  backdrop-filter: blur(3.9px);

  color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);
  font-size: 28px;
  line-height: 1.4;
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .signin-cover-text {
    padding: 16px;
    font-size: 24px;
  }
}