.nav_sublinks {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  width: 100%;
  padding-left: 0px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  text-decoration: none;
}

.nav_sublink {
  position: relative;

  display: flex;
  padding: 6px 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  transition: all 300ms ease;

  color: var(--white-80449ce7);
  text-decoration: none;
  white-space: nowrap;
  word-break: normal;

  cursor: pointer;
}

.nav_sublink:hover {
  opacity: 0.8;
  color: var(--white-80449ce7);
}

.nav_sublink.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.nav_sublink.drop {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  grid-row-gap: 0px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.embed_flex.rotate {
  transform: rotate(180deg);
}

.aui_nav_sublink_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: 6px 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 6px;

  background-color: rgba(255, 255, 255, 0.06);

  color: var(--white-80449ce7);
  text-decoration: none;
}

.aui_nav_sublink_active:hover {
  opacity: 0.8;
  color: var(--white-80449ce7);
}

.aui_nav_sublink_active.drop {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  flex-direction: column;
  align-items: stretch;
  grid-row-gap: 0px;
}