.relative {
  position: relative;
}

.relative.upload-video-wrap {
  overflow: hidden;
  border-radius: 10px;
}

.relative.zindex-3 {
  z-index: 3;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.relative.mt-12 {
  margin-top: 12px;
}

.relative.width-inc {
  width: 162.1171875px;
}

.mt-10 {
  margin-top: 10px;
}

.text-block-31 {
  white-space: nowrap;
}

.active-text-sub {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  color: #337fbd;
  white-space: nowrap;
}