.aur-option-block {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
}

.aur-option-info-block {
  display: flex;
  max-width: 80%;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.aur-option-indicator-wrapper {
  overflow: hidden;
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;

  border-radius: 100%;

  background-color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.aur-option-indicator {
  width: 100%;
  height: 100%;
  background-color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}