.template-button-list {
  display: flex;
  max-width: 150px;
  min-width: 111px;
  padding: 14px 15px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  box-shadow: 0 4px 8px 0 rgba(0, 69, 78, 0.15);
}