.rd-main-wrapper {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

@media screen and (max-width: 991px) {
  .rd-main-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.rd-main-wrapper.cdd-database {
  width: 100vw;
  flex: 0 auto;
}

.profile {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 1);
}

.rd-main-wrapper.profile-wrappers {
  min-height: 100vh;
}

.rd-main-wrapper.height-scroll {
  overflow: auto;
  height: 100vh;
}

.rd-main-wrapper.grey-100 {
  background-color: #f8f9f9;
}

.grey-100 {
  background-color: var(--gray100-3a86b552);
}

.div-block-271 {
  position: sticky;
  top: 0px;
  z-index: 99;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e9ebed;

  background-color: hsla(180, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .div-block-271 {
    z-index: 6;
    background-color: var(--white-80449ce7);
  }
}

@media screen and (max-width: 479px) {
  .div-block-271 {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

.rd-jobs-header-wrapper {
  display: flex;
  min-height: 66px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .rd-jobs-header-wrapper {
    width: 100%;
    flex: 0 auto;
  }
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-lg.fw-semibold.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.text-lg.fw-semibold.is-profile {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 479px) {
  .text-lg.fw-semibold.is-profile {
    align-self: flex-end;
  }
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.text-lg.fw-semibold.inline-block.ml-4 {
  margin-left: 6px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-lg.text-align-center.no-wrap-company {
  flex: 0 0 auto;
}

@media screen and (max-width: 479px) {
  .text-lg.text-align-center.no-wrap-company {
    flex: 0 auto;
  }
}

.text-lg.no-wrap-company {
  flex: 0 0 auto;
}

.text-lg.color-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.color-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.text-lg.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-kale-700 {
  color: var(--kale700-f5e4c087);
}

.profile-inner-wrapper {
  display: grid;
  max-width: 490px;
  padding: 24px;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.profile-image-block {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.profile-image-block.top-align {
  align-items: flex-start;
}

.div-block-460 {
  display: flex;
  width: 80px;
  height: 80px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-style: solid;
  border-width: 0.7px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 8px;
}

.div-block-458 {
  display: flex;
  max-width: 380px;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.margin-top-4 {
  margin-top: 4px;
}

@media screen and (max-width: 991px) {
  .text-sm.fw-semibold.text-white.margin-top-4 {
    margin-top: 0px;
  }
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-sm.fw-semibold.margin-top-2 {
  margin-top: 2px;
}

.text-grey-300 {
  color: var(--grey300-03a46dba);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.fw-semibold.text-kale-800.text-first-capital {
  text-transform: capitalize;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.color-white {
  color: var(--white-80449ce7);
}

.text-sm.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.color-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.color-grey-500.flex-grow-dashboard {
  align-self: flex-end;
}

.text-sm.color-grey-600.max-width-250 {
  width: 250px;
}

.color-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-sm.color-emial {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 0.36);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-sm.text-first-capital {
  text-transform: capitalize;
}

.profile-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.profile-block.hide {
  display: none;
}

.profile-block.mt-40 {
  margin-top: 40px;
}

.profile-header-wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fw-semibold.cursor-pointer.capitialize {
  text-transform: capitalize;
}

.fw-semibold.color-grey-600.margin-top-10 {
  margin-top: 10px;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.margin-right-5 {
  margin-right: 5px;
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-grey-100 {
  color: var(--gray100-3a86b552);
}

.text-red-800 {
  color: var(--red800-2e6a9098);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.fw-semibold.indeed {
  display: none;
}

.fw-semibold.lever {
  display: none;
}

.fw-semibold.workday {
  display: none;
}

.fw-semibold.indeed-text {
  display: none;
}

.fw-semibold.lever-text {
  display: none;
}

.fw-semibold.workday-text {
  display: none;
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.grow-line {
  flex: 0 0 auto;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.mb-14 {
  margin-bottom: 14px;
}

.fw-semibold.mb-15 {
  margin-bottom: 15px;
}

.fw-semibold.text-kale-700 {
  color: #03363d;
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.profile-inputs-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.profile-inputs-wrapper.pl-20 {
  padding-bottom: 0px;
  padding-left: 20px;
}

.flex-hor-left {
  display: flex;
  justify-content: flex-start;
}

.flex-hor-left.center-align {
  align-items: center;
}

.flex-hor-left.center-align.gap-6 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-387 {
  position: relative;
}

.preference-wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-hor-right {
  display: flex;
  justify-content: flex-end;
}

.flex-hor-right.gap-6 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.flex-hor-right.center-align {
  align-items: center;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.div-block-516 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}