.auth-right-block {
  display: flex;
  overflow: auto;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 90px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  opacity: 0;
}

.auth-right-block.sign-up {
  display: flex;
  opacity: 1;
}

.sign-up {
  flex-direction: column;
}

.auth-right-block.join-us {
  overflow: visible;
  height: auto;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;

  background-color: white;

  opacity: 1;
}

@media screen and (max-width: 991px) {
  .auth-right-block.join-us {
    overflow: scroll;
    height: 100dvh;
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .auth-right-block.join-us {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.join-us {
  flex-direction: column;
}

.auth-right-block.su-step-one {
  display: flex;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .auth-right-block.su-step-one {
    min-height: 100vh;
    padding-top: 60px;
    padding-left: 0px;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 479px) {
  .auth-right-block.su-step-one {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-step-one {
  flex-direction: column;
}

.auth-right-block.su-step-two {
  display: flex;
  padding-left: 60px;
  opacity: 1;
}

.auth-right-block.su-success {
  display: flex;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .auth-right-block.su-success {
    overflow: visible;
    height: 100vh;
    padding-bottom: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
}

.auth-right-block.login {
  display: flex;
  opacity: 1;
}

.auth-right-block.login-sign {
  display: flex;
  padding-top: 80px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .auth-right-block.login-sign {
    overflow: scroll;
    height: 100dvh;
    padding-left: 0px;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .auth-right-block.login-sign {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.auth-right-block.sign-up-sign {
  position: relative;

  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  background-color: white;

  opacity: 1;
}

@media screen and (max-width: 991px) {
  .auth-right-block.sign-up-sign {
    overflow: scroll;
    height: 100dvh;
    padding-top: 60px;
    padding-left: 0px;
    align-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .auth-right-block.sign-up-sign {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.auth-right-block.su-step-two-profile {
  display: flex;
  padding-left: 60px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .auth-right-block.su-step-two-profile {
    overflow: scroll;
    height: 100dvh;
    padding-top: 60px;
    padding-left: 0px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .auth-right-block.su-step-two-profile {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .auth-right-block.su-step-two-profile {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.ju-right-top {
  display: flex;
  width: 100%;
  padding-left: 40px;
  flex-direction: row;
  justify-content: space-between;
}

.ju-right-top.right-align {
  justify-content: flex-end;
}

.ju-right-top.align-left {
  justify-content: center;
}

.ju-right-top.fixed-signup-back {
  position: fixed;
  left: 30px;
  top: 30px;
  right: auto;
  bottom: auto;
}

.back-btn-wrapper {
  display: flex;
  margin-left: -42px;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;

  transition: all 300ms ease;

  color: hsla(217.50000000000003, 15.24%, 58.82%, 1.00);

  cursor: pointer;
}

.back-btn-wrapper:hover {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 991px) {
  .back-btn-wrapper {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .back-btn-wrapper {
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .back-btn-wrapper {
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .back-btn-wrapper.mr-0 {
    margin-left: 0px;
  }
}

.back-btn-wrapper.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.back-icon {
  width: 14px;
  height: 14px;
}

.embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.embed-icon.size-full {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .embed-icon.size-full {
    margin-top: 8px;
  }
}

.auth-cta-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-cta-block.sign-up {
  padding: 40px 32px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border-radius: 20px;
  background-color: rgba(248, 249, 249, 0.5);
}

@media screen and (max-width: 991px) {
  .auth-cta-block.sign-up {
    text-align: center;
  }
}

.auth-cta-block.sign-up.tab-edit {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .auth-cta-block.sign-up.tab-edit {
    align-items: stretch;
  }
}

.auth-cta-block.join-us {
  display: none;
}

@media screen and (max-width: 991px) {
  .auth-cta-block.su-step-one {
    margin-top: 60px;
    flex: 0 auto;
    grid-column-gap: 20px;
  }
}

.auth-cta-block.su-step-two {
  margin-top: 50px;
  justify-content: flex-start;
  flex: 1;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

@media screen and (max-width: 991px) {
  .auth-cta-block.su-step-two {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .auth-cta-block.su-step-two {
    padding-right: 20px;
    padding-left: 20px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 479px) {
  .auth-cta-block.su-step-two {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.auth-cta-block.su-success {
  margin-top: 90px;
  justify-content: flex-start;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

@media screen and (max-width: 991px) {
  .auth-cta-block.su-success {
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    flex: 0 auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .auth-cta-block.tab-edit {
    align-items: center;
  }
}

.auth-header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 991px) {
  .auth-header-block {
    max-width: 500px;
    align-items: center;
    text-align: center;
  }
}

.auth-header-block.join-us {
  display: flex;
}

.auth-header-block.sign-up {
  display: none;
}

.auth-header-block.su-step-one {
  display: none;
}

.auth-header-block.su-step-two {
  display: flex;
}

.auth-header-block.su-finish {
  display: none;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-header-block.gap-0 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.auth-header-block.create-job {
  align-items: center;
  text-align: center;
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-grey-800 {
  color: var(--grey800-e42b2e06);
}

.text-xl.fw-semibold.text-grey-800.top-margin--8 {
  margin-top: -8px;
}

.text-xl.fw-semibold.profile-titler {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .text-xl.fw-semibold.profile-titler {
    margin-bottom: 20px;
  }
}

.text-xl.fw-semibold.margin-bottom-16 {
  margin-bottom: 6px;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-white {
  color: white;
}

.text-xl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xl.fw-semibold.inline-end {
  display: inline;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.text-xl.fw-semibold.text-grey-600.inline-start {
  display: inline;
  margin-left: 5px;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-xl.color-orange {
  color: var(--yellow500-c095f0f1);
}

.color-grey-600 {
  color: #68737d;
}

.fw-bold {
  font-weight: 700;
}

.text-grey-200 {
  color: var(--grey200-9ba653f1);
}

@media screen and (max-width: 479px) {
  .text-xl.text-grey-200.mobile-regular {
    font-size: 14px;
  }
}

.auth-cta-form-block {
  display: flex;
  width: 420px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 991px) {
  .auth-cta-form-block {
    max-width: 100%;
    flex: 0 auto;
  }
}

.auth-cta-form-block.sign-up {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.auth-cta-form-block.join-us {
  display: none;
}

.auth-cta-form-block.su-step-two {
  margin-top: 50px;
  justify-content: flex-start;
  flex: 1;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.auth-cta-form-block.su-success {
  margin-top: 90px;
  justify-content: flex-start;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

@media screen and (max-width: 991px) {
  .auth-cta-form-block.tab-edit {
    max-width: 100%;
  }
}

.auth-form-block {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.auth-form-block.join-us {
  display: none;
}

.auth-form-block.sign-up {
  display: none;
  align-items: center;
}

.auth-form-block.su-step-one {
  display: none;
}

.auth-form-block.su-step-one-copy {
  display: none;
}

.auth-form-block.su-step-two {
  display: none;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-form-block.su-finish {
  display: flex;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-form-block.login {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.max-width-600 {
  max-width: 600px;
}

.auth-form-block-connect {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.auth-form-block-connect.join-us {
  display: none;
}

.auth-form-block-connect.sign-up {
  display: none;
  align-items: center;
}

.auth-form-block-connect.su-step-one {
  display: none;
}

.auth-form-block-connect.su-step-one-copy {
  display: none;
}

.auth-form-block-connect.su-step-two {
  display: none;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-form-block-connect.su-finish {
  display: flex;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-form-block-connect.login {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.su-cta-btn {
  display: flex;
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid transparent;
  border-radius: 6px;

  box-shadow: 0 2px 14px 1px hsla(0, 0.00%, 0.00%, 0.06);

  transition: all 300ms ease;

  cursor: pointer;
}

.su-cta-btn:hover {
  border-color: var(--blue500-72579298);
  background-color: var(--blue100-d2a1a159);
}

.su-cta-btn.hide {
  display: none;
}

.su-cta-btn.single {
  width: auto;
  height: auto;
  padding: 10px 14px;
}

.su-cta-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.su-cta-btn-block.single {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-659 {
  display: flex;
  margin-top: 36px;
  margin-bottom: 18px;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0.00%, 96.08%, 1.00);
}

.su-or {
  color: hsla(0, 0.00%, 72.94%, 1.00);
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

.div-block-260 {
  width: 100%;
  margin-bottom: 23px;
}

.terms-sign-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .terms-sign-wrapper {
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

@media screen and (max-width: 479px) {
  .terms-sign-wrapper.login-terms {
    flex-direction: row;
    align-items: stretch;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.login-form-btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .login-form-btn-wrapper {
    flex-direction: column;
    align-items: stretch;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.relative {
  position: relative;
}

.su-btn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  flex: 1;

  border-radius: 4px;

  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);

  transition: all 300ms ease;

  color: var(--white-80449ce7);

  cursor: pointer;
}

.su-btn:hover {
  background-color: var(--blue700-c1b26211);
}

.su-btn.large {
  padding: 14px 20px;
  color: var(--white-80449ce7);
}

.su-btn.large.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--grey300-03a46dba);

  color: var(--grey500-0d508ad8);
}

.su-btn.large.btn-loading {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
}

.su-btn.large.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.su-btn.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--grey400-863ed4b5);

  color: var(--grey500-0d508ad8);
}

.div-block-660 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.basic-link-style {
  color: var(--grey-600);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.text-underline.ml-5 {
  margin-left: 5px;
}

.ju-redirect-text {
  color: var(--grey600-d5bebe21);
}

.ju-redirect-text.left-align {
  align-self: flex-start;
}

.sign-in-text {
  transition: all 250ms ease;
  color: var(--blue500-72579298);
  cursor: pointer;
}

.sign-in-text:hover {
  color: var(--blue400-49d60774);
}