.bottom-drawer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--sky-3);
  border-top: 1px solid var(--sky-6);
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  .bottom-drawer-content {
    padding: 10px;
    font-size: 14px;
  }

  .drawer-handle {
    display: block;
    position: absolute;
    top: -30px;
    left: 1%;
    transform: translateX(-1%);
    padding: 5px 10px;
    background-color: var(--sky-3);
    color: var(--sky-11);
    border-radius: 5px 5px 0 0;
    font-size: 12px;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid var(--sky-6);
    border-bottom: 0;
  }
  &.open {
    transform: translateY(0%);
  }

  button {
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    text-decoration: none;
    border: 0;
    padding: 3px 12px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #17759c;
  }

  button:hover {
    background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
  }

  @import "tabs/demo";
  @import "tabs/header";
  @import "tabs/reset";
  @import "tabs/seed";
}
