#aglilntai-test-suite-app {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--sky-3);
    border-top: 1px solid var(--sky-6);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}