/* FullCalendar Theming */
:root {
  --fc-small-font-size: 12px;
  --fc-page-bg-color: var(--neutral-2);
  --fc-neutral-bg-color: var(--neutral-2);
  --fc-neutral-text-color: var(--neutral-11);
  --fc-border-color: var(--neutral-6);
  --fc-button-text-color: var(--neutral-12);
  --fc-button-bg-color: var(--accent-9);
  --fc-button-border-color: var(--accent-9);
  --fc-button-hover-bg-color: var(--accent-1);
  --fc-button-hover-border-color: var(--accent-1);
  --fc-button-active-bg-color: var(--accent-1);
  --fc-button-active-border-color: var(--accent-1);
  --fc-event-bg-color: transparent;
  --fc-event-border-color: none;
  --fc-event-text-color: var(--neutral-12);
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-more-link-bg-color: var(--neutral-6);
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: var(--neutral-9);
  --fc-bg-event-color: var(--neutral-8);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: var(--accent-9);
  --fc-now-indicator-color: var(--error-9);
}

/* hidden a license */
.fc-license-message,
.fc-header-toolbar {
  display: none !important;
}

/* Additional Styling for Better Integration */
.fc-toolbar {
  background-color: var(--neutral-2);
  border-bottom: 1px solid var(--neutral-6);
}

.fc-button {
  background-color: var(--accent-9);
  color: var(--neutral-12);
  border: 1px solid var(--neutral-6);
}

.fc-button:hover {
  background-color: var(--accent-1);
}

.fc-button-primary {
  background-color: var(--accent-9);
  color: var(--neutral-12);
}

.fc-button-primary:hover {
  background-color: var(--accent-1);
}

.fc-daygrid-day {
  background-color: var(--neutral-2);
  border: 1px solid var(--neutral-6);
  color: var(--neutral-12);
}

.fc-daygrid-day.fc-day-today {
  background-color: var(--accent-9);
}

.fc-daygrid-day.fc-day-past {
  background-color: var(--neutral-1);
  border-color: var(--neutral-6);
}

.fc-daygrid-day.fc-day-future {
  background-color: var(--neutral-2);
}

/* ----------------------------------------------- */

.fc-scroller {
  overflow: hidden !important; /* Disable scrolling */
}

/* Optionally, hide the vertical and horizontal scrollbars */
.fc .fc-scroller {
  scrollbar-width: none; /* For Firefox */
}
.fc .fc-scroller::-webkit-scrollbar {
  display: none; /* For WebKit browsers like Chrome, Safari, etc. */
}

.fc-theme-standard .fc-list-day-cushion {
  /* background-color: red; */
  padding: 20px;
}

.fc th {
  background: var(--neutral-1) !important;
}

.fc .fc-daygrid-day-frame,
.fc .fc-timegrid-slot {
  aspect-ratio: 1/1;
}

.fc .fc-day-today .fc-daygrid-day-top a {
  background-color: var(--accent-9);
  border-radius: 100%;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-day-sat .fc-daygrid-day-frame,
.fc-day-sun .fc-daygrid-day-frame {
  background-color: var(--neutral-2);
}

.fc-daygrid-day {
  background: var(--neutral-1) !important;
}

/* ------------------------- */
.fc .fc-timegrid-slot {
  height: 30px;
}

.fc-list-item {
  height: 100px;
  overflow: hidden;
}

.fc-list-item .fc-list-item-title {
  padding: 10px;
}

.fc-list-item .fc-list-item-time {
  padding: 5px;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  box-shadow: none;
}

.fc-timegrid-event .fc-event-main {
  padding: 0;
}

/* ----------------------------------- */

.fc-timegrid-event {
  overflow: hidden;
}

.fc tr:hover {
  background-color: var(--neutral-2);
}

.fc-daygrid-day-bottom {
  display: flex;
}

.fc-daygrid-day-bottom .fc-daygrid-more-link {
  background: var(--neutral-3);
  padding: 3px 5px;
  margin-left: auto;
}

.fc-daygrid-dot-event:hover {
  background-color: none;
}

/* ----------------------------------------------------------------------------------- */
.fc .fc-event {
  height: 30px;
  overflow: hidden;
}
.fc-toolbar.fc-header-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.fc-theme-standard td,
.fc-theme-standard th {
  /* border: 1px solid black; */
}
