.text-with-icons {
  position: relative;

  display: flex;
  padding: 6px 10px;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 6px;

  transition: all 250ms ease;

  color: #2f3941;
  text-decoration: none;

  cursor: pointer;
}

.text-with-icons:hover {
  background-color: #f8f9f9;
}

.slot-text-icons {
  position: relative;
  z-index: 1;
  margin-top: 2px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.active-text-icons {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #f8f9f9;
}