.aglint_chatbot_wrap {
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 388px auto;
  grid-template-rows: auto;
}

.task_list {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: auto;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-right: 1px solid #e9ebed;
}

.slot_task_list {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.task_detail_panel {
  display: flex;
}

.task_details_wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}

.task_details {
  position: relative;
  z-index: 1;
  width: 100%;
}

.task_top_bar {
  position: relative;
  z-index: 4;

  display: flex;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e9ebed;

  background-color: #f7f9fb;
}

.task_name {
  position: relative;
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.inputfield_absolute {
  position: absolute;
  top: -8px;
  width: 500px;
  height: 40px;
  background-color: #f7f9fb;
}

.agent_top_right {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.task_list_switch {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  transition: all 300ms ease;

  color: #337fbd;

  cursor: pointer;
}

.task_list_switch:hover {
  border-radius: 6px;
  background-color: #edf7ff;
  color: #0f3554;
}

@media screen and (min-width: 1920px) {
  .task_list_switch.hide {
    display: none;
  }
}

.task_list_switch.no_hover {
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #87929d;
  cursor: auto;
}

.task_list_switch.no_hover:hover {
  background-color: transparent;
  color: #87929d;
}

.task_list_switch.no_hover.no-border {
  padding-right: 0px;
  padding-left: 0px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.embed_flex.fixedd {
  width: 23px;
}

.task_chat_body {
  position: relative;
  z-index: 3;

  display: flex;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: column;
  justify-content: flex-start;

  background-color: white;
}

.embed_css_block {
  position: fixed;
  z-index: -99;
  pointer-events: none;
}

.task_search_box {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  display: flex;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot_suggetion_pills {
  position: relative;

  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 768px;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.slot_suggetion_pills.hide {
  display: none;
}

.task_search_box-copy {
  z-index: 5;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.chat_search {
  display: flex;
  width: 100%;
  height: 58px;
  max-width: 710px;
  align-items: center;

  background-color: white;

  font-size: 18px;
  line-height: 24px;
}

.chat_send_button {
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  transition: all 300ms ease;

  cursor: pointer;
}

.chat_send_button:hover {
  background-color: #ff6224;
}

.task_overlay_block {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 4;

  width: 94%;
  height: 140px;

  background-image: linear-gradient(180deg, hsla(0, 0.00%, 0.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.80) 11%, white 30%);

  pointer-events: none;
}

.loader_wrap-copy {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  background-color: white;
}

.chatloader {
  width: 300px;
}

.task_activity {
  display: none;
  width: 360px;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-left: 1px solid #e9ebed;

  background-color: white;
}

@media screen and (min-width: 1920px) {
  .task_activity {
    display: flex;
  }
}