.agent-pill-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ap-icon-wrap {
  display: flex;
  width: var(--space-5);
  height: var(--space-5);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  background-color: var(--accent-2);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.ap-text-wrap {
  color: var(--neutral-11);
}