.task_card {
  position: relative;

  display: grid;
  overflow: hidden;
  height: 76px;
  padding: 16px;
  flex-direction: row;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  cursor: pointer;
}

.task_card.is_new_with_dropdown {
  z-index: 2;

  overflow: visible;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  flex-direction: row;
  align-items: center;

  transition: all 200ms ease;
}

.task_card.is_new_with_dropdown:hover {
  background-color: #f8f9f9;
}

.task_type_icon {
  position: relative;
  z-index: 2;

  display: flex;
  overflow: hidden;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;

  background-color: white;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.active_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  background-color: #f7f9fb;
}