.div-block-1538 {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.div-block-1537 {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.accent-text {
  color: var(--accent-9);
}

.accent-text.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.accent-text.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.accent-text.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.cursor-pointer:hover {
  opacity: 0.8;
}

.accent-text.text-capital {
  text-transform: uppercase;
}

.fw-semibold {
  font-weight: 600;
}