.body-withsidepanel {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto;

  background-color: white;
}

.content_block {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 60px);
}

.content_block.right {
  border-left: 1px solid var(--neutral-6);
}

#w-node-eee9392c-208c-1edd-e093-14ad72e2dfc3-72e2dfc1 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-eee9392c-208c-1edd-e093-14ad72e2dfc2-72e2dfc1 {
}