.div-block-1768 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.text-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-grey-600.text-underline.cursor-pointer {
  transition: opacity 250ms ease;
  cursor: pointer;
}

.text-grey-600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.div-block-1771 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1770 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1769 {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #337fbd;
  color: white;
}

.div-block-1769.grey {
  background-color: #e9ebed;
  color: #2f3941;
}