.new-candidate-schedule-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-template-columns: 100% 454px;
  grid-template-rows: auto;
}

.candidate-schedule-left-wrap {
  position: relative;
  width: 100%;
}

.cd-schedule-header {
  display: flex;
  padding: 10px 20px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: 1px solid #e9ebed;
}

.cd-schedule-header.new-header {
  padding: 0px var(--space-2);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cs-slot-wrap {
  overflow: auto;
  padding-bottom: var(--space-9);
  background-color: var(--white);
  height: calc(100vh - 85px);
}

.new-schedule-cd-card-wrap {
  position: relative;
  max-width: 900px;
}

.dummydiv {
  width: 100%;
  height: 100%;
  background-color: var(--neutral-2);
}

.schedule_now_bar {
  position: absolute;
  left: auto;
  top: auto;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.schedule_now_bar.schedule_nbow {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 6;

  display: flex;
  height: 38px;
  padding: var(--space-2) var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-top: 0px solid var(--neutral-6);
  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--white);
}

.schedule_button_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.candidate-schedule-right-wrap {
  display: flex;
  overflow: auto;
  width: 400px;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--neutral-6);

  height: calc(100vh - 48px);
}

#w-node-b4f8c833-3062-0810-c58b-254fa7da7af2-a7da7af1 {
}