.cardwithnumber {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.text-yellow-700 {
  color: #ad5918;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-500 {
  color: #87929d;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: var(--sand-11);
}

.fw-semibold.name-text {
  color: #467b7c;
}

.hide {
  display: none;
}

.year_flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

.text-sm-copy {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.text-sm-copy.color-grey-600 {
  color: #68737d;
}

.color-grey-600 {
  color: #68737d;
}

.text-sm-copy.text-capitalize {
  text-transform: uppercase;
}

.text-gray-600 {
  color: var(--sand-11);
}

.text-gray-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-gray-600.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.text-gray-600.is_link {
  color: #337fbd;
  text-decoration: underline;
  cursor: pointer;
}

.text-gray-600.underline {
  text-decoration: underline;
  cursor: pointer;
}

.cardwithnumber-copy {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
  height: 100%;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;

  background-color: #f7f9fb;
}