.card-with-number-wrapper {
  position: relative;
  z-index: 1;
}

.cardwithnumber {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.year_flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

.text-sm-copy {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.cardwithnumber-empty-slot {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  height: 100%;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: var(--radius-4);

  background-color: var(--neutral-2);
}