.assessment_duplicate_popup {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  width: 425px;
  padding: 16px;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: 10px;

  background-color: white;
}

@media screen and (max-width: 479px) {
  .assessment_duplicate_popup {
    width: auto;
  }
}

.assessment_duplicate_popup.width-463 {
  width: 463px;
}

.assessment_duplicate_popup.width-550 {
  width: 550px;
  padding: 20px;
}

.assessment_duplicate_popup.width-100 {
  width: 100%;
}

.popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup_title {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.popup_close {
  cursor: pointer;
}

.popup_close.cursor-pointer {
  transition: all 250ms ease;
}

.popup_close.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex-2 {
  display: flex;
}

.embed_flex-2.cursor {
  cursor: pointer;
}

.popup_body {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot_widget {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1685 {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.div-block-1686 {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  border-radius: 100px;
}

.div-block-1687 {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-blue-500 {
  color: #337fbd;
}

.text-underline {
  text-decoration: underline;
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm.text-underline.text-blue-500.view-req {
  position: absolute;
  left: auto;
  top: 10px;
  right: 16px;
  bottom: auto;

  cursor: pointer;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.div-block-1688 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1689 {
  overflow: auto;
  max-height: 280px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.button-pop-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.button-pop-wrap.stretch-vertical {
  display: grid;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.button-pop-wrap.streachfull {
  display: flex;
  width: 100%;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.wide_button {
  position: relative;
  z-index: 1;
}

.wide_button.width-100 {
  width: 100%;
}