.chat_block {
  display: grid;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.chat_avatar {
  display: flex;
  overflow: hidden;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
}

.chat_avatar.is_aglint {
  background-color: #fff7ed;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.chat_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.chat_text {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.chat_name_and_time {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_400 {
  color: #c2c8cc;
}