.notification_block {
  display: flex;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.notification_task_blokx {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.iconblock {
  width: 12px;
  height: 12px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}