.check-box-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.check-box-wrappers.multi-line {
  align-items: flex-start;
}

.relative {
  position: relative;
}

.relative.mt-2 {
  margin-top: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.relative.cursor-pointer {
  cursor: pointer;
}

.check-click-wrap {
  width: 16px;
  height: 16px;
  border: 1px solid #d8dcde;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-iconss {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.div-block-3 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey-600 {
  color: #68737d;
}