.completed-interview-wrap {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border: 1px solid var(--neutral-6);
  border-radius: 10px;

  background-color: var(--white);
}

.div-block-1784 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ci_option_switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.normal_menulink {
  position: relative;
  color: var(--neutral-9);
  cursor: pointer;
}

.text-hover-link {
  transition: all 200ms ease;
  cursor: pointer;
}

.text-hover-link:hover {
  color: #87929d;
}

.active-menulink {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  color: var(--neutral-12);
}

.text-active-link {
  color: #87929d;
}

#w-node-_34ab1cb7-7f26-aa79-3f1b-e5788ae166be-8ae166be {
}