.assessment_duplicate_popup {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  width: 425px;
  padding: 16px;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: var(--radius-4);

  background-color: var(--white);
}

@media screen and (max-width: 479px) {
  .assessment_duplicate_popup {
    width: auto;
  }
}

.assessment_duplicate_popup.width-463 {
  width: 463px;
}

.assessment_duplicate_popup.width-550 {
  width: 650px;
  padding: var(--space-4);
}

.assessment_duplicate_popup.width-100 {
  width: 100%;
}

.cp-title-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.popup_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup_title {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.embed_flex-2 {
  display: flex;
}

.embed_flex-2.cursor {
  cursor: pointer;
}

.cp-close {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  transition: all 200ms ease;

  cursor: pointer;
}

.cp-close:hover {
  background-color: var(--neutral-3);
}

.popup_body {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.slot_widget {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.button-pop-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.button-pop-wrap.stretch-vertical {
  display: grid;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.button-pop-wrap.streachfull {
  display: flex;
  width: 100%;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.wide_button {
  position: relative;
  z-index: 1;
  width: 100%;
}

.wide_button.width-100 {
  width: 100%;
}

#w-node-b6b410b8-e77b-d481-432a-efbe4e0bdc2d-4e0bdc1d {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_61ca3642-8dc1-1d99-3306-3085ae35401f-4e0bdc1d {
}