.conflict_reason {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.center.gap-4 {
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.flex-horizontal.gap-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.align-center {
  justify-content: flex-start;
  align-items: center;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}