.div-block-1760 {
  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.div-block-1761 {
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f7f9fb;
}

.div-block-1762 {
  padding-right: 20px;
  padding-left: 20px;
}

.div-block-1763 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  background-color: #e9ebed;
}