.csl-wrap {
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.csl-top-wrap {
  padding: var(--space-2) var(--space-4);
  border-top-left-radius: var(--radius-4);
  border-top-right-radius: var(--radius-4);
  background-color: var(--neutral-3);
}

.csl-body-wrap {
  padding-right: var(--space-4);
  padding-left: var(--space-4);
}

.csl-slot-confirm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  background-color: var(--neutral-6);
}