.create-task {
  position: relative;

  display: flex;
  width: 600px;
  height: 100vh;
  padding: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;

  background-color: var(--white);
}

.task_drawer_title {
  display: flex;
  height: 41px;
  padding: var(--space-2) var(--space-3);
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.title_wrapper {
  padding: var(--space-4);
}

.task_detail {
  display: flex;
  padding: var(--space-1);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1511 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: grid;
  padding: 10px 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  background-color: white;
}