.discard-btn-score {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  padding: var(--space-3);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: var(--radius-4);

  background-color: #fff7ed;
}

.discard-btn-score.red {
  background-color: #fff0f1;
}

.discard-btn-score.grey-copy {
  height: 54px;
  border-color: #f7f9fb;
  background-color: var(--neutral-3);
}

.discard-btn-score.red-copy-copy {
  padding: 0px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: #fff0f1;
}

.bannner_wrap {
  display: grid;
  padding: var(--space-3);
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;

  border-radius: var(--radius-4);

  background-color: white;
}

.bannner_wrap.is_danger {
  grid-template-columns: max-content 1fr max-content;
  background-color: var(--error-3);
  cursor: pointer;
}

.bannner_wrap.is_warning {
  background-color: #fff7ed;
  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.banner_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.right_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

#w-node-_97b38481-eb88-5f12-fe3f-d625ff1a3637-59dfb041 {
}
#w-node-_97b38481-eb88-5f12-fe3f-d625ff1a3638-59dfb041 {
}