.bannner_wrap {
  display: grid;
  padding: var(--space-3);
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;

  border-radius: var(--radius-4);

  background-color: white;
}

.bannner_wrap.is_danger {
  grid-template-columns: max-content 1fr max-content;
  background-color: var(--error-3);
  cursor: pointer;
}

.bannner_wrap.is_warning {
  background-color: #fff7ed;
  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.banner_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.right_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

#w-node-_9630f0f3-55f4-5da5-e3be-381f1b4f8c86-1b4f8c85 {
}
#w-node-_9630f0f3-55f4-5da5-e3be-381f1b4f8c87-1b4f8c85 {
}