.debrief_company_settings {
  display: flex;
  width: 600px;
  margin: var(--space-4);
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: white;
}

.debrief_title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}