.debrief_company_settings {
  display: flex;
  width: 700px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: var(--radius-4);

  background-color: white;
}

.debrief_title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}