.debrief_company_settings {
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  background-color: white;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-gray-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-gray-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-gray-600.is_link {
  color: #337fbd;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.fw-semibold {
  font-weight: 600;
}