.div-block-1504 {
  position: relative;
  cursor: pointer;
}

.div-block-1474 {
  display: flex;
  padding: 4px 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 6px;

  background-color: white;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}