.chat_contents {
  display: flex;
  width: 100%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 200px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  background-color: white;
}

.chat_block {
  display: grid;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.chat_avatar {
  display: flex;
  overflow: hidden;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
}

.chat_avatar.is_aglint {
  background-color: #fff7ed;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.chat_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.chat_text {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.chat_name_and_time {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_400 {
  color: #c2c8cc;
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_cover.rounded {
  border-radius: 100px;
}

.link {
  color: var(--accent-11);
  cursor: pointer;
}

.widget_flex {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.iv_panel_card {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 10px 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}

.iv_panel_card:hover {
  background-color: #f8f9f9;
}

.panel_card_text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey-600 {
  color: #68737d;
}

.slotavatar_group {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.avatar_group_30 {
  height: 30px;
}

.notification_block {
  display: flex;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.notification_task_blokx {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.iconblock {
  width: 12px;
  height: 12px;
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.noti_avatar {
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.interview_confirmation_widget {
  display: flex;
  max-width: 400px;
  padding: 16px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.hr-flex-6 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}