.div-block-756 {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.wide_button {
  position: relative;
  z-index: 1;
}

.wide_button.width-100 {
  width: 100%;
}

.button_primary {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #1f73b7;

  transition: all 200ms ease-in-out;

  color: white;

  cursor: pointer;
}

.button_primary:hover {
  background-color: #144a75;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.is_outline {
  border: 1px solid #1f73b7;
  background-color: white;
  color: #1f73b7;
}

.button_primary.greay_btn-copy {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn-copy:hover {
  background-color: #d8dcde;
}