.create-job-header-left {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  grid-column-gap: 17px;
  grid-row-gap: 17px;

  background-color: white;
}

.div-block-481 {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.text-yellow-700 {
  color: #ad5918;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-500 {
  color: #87929d;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: var(--sand-11);
}

.fw-semibold.name-text {
  color: #467b7c;
}

.hide {
  display: none;
}

.div-block-716 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-blue-500 {
  color: #337fbd;
}

.text-blue-500.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-blue-500.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-blue-500.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500.text-capital {
  text-transform: uppercase;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}