.emailpreview_schedule {
  display: flex;
  overflow: auto;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
  height: calc(100vh - 96px);
}

.selected_schedules {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.selcted_schedule_comps {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.email_preview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.slot_email_preview {
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--neutral-2);
}

.dummy_template {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sidedrawer_bottom_bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: grid;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  border-top: 1px solid var(--neutral-6);

  background-color: var(--white);
}