.enable_block {
  position: relative;
  z-index: 1;

  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  color: #c2c8cc;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.disable_block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  background-color: white;

  color: #228f67;
}