.feedbackrow {
  position: relative;

  display: grid;
  width: 100%;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-template-columns: 25% max-content max-content auto;
  grid-template-rows: auto;

  background-color: white;

  transition: all 200ms ease-in-out;

  cursor: pointer;
}

.interviewer_details {
  position: relative;
  z-index: 6;

  display: flex;
  padding: var(--space-2) var(--space-4);
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.inteerviewr_avatar {
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  border-radius: var(--radius-3);
}

.session_colum_fixed_width {
  width: 300px;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.recommendation_info {
  position: relative;
  z-index: 2;

  display: flex;
  width: 320px;
  padding: var(--space-2) var(--space-4);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.feedbackemptyadmin {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 7;

  display: flex;
  padding: var(--space-4);
  justify-content: flex-start;
  align-items: center;

  background-color: var(--white);
}

.feedbackemptyadmin.column-req {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.feedback-link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--accent-11);

  cursor: pointer;
}

.feedback-link-wrap.no-color {
  color: transparent;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.feedbacknotsubmitted {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  display: flex;
  padding: var(--space-4);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  background-color: var(--white);
}

.abosulte_block_white {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;

  background-color: white;
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.center.gap-4 {
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.flex-horizontal.gap-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.align-center {
  justify-content: flex-start;
  align-items: center;
}

.link-wrap {
  transition: all 200ms ease;
  color: var(--sky-a11);
  text-decoration: underline;
}

.link-wrap:hover {
  color: var(--sky-12);
}

.candidate_cell {
  position: relative;
  z-index: 2;

  display: flex;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}