.feedbackrow {
  position: relative;

  display: grid;
  width: 100%;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-template-columns: 25% max-content max-content auto;
  grid-template-rows: auto;

  border-bottom: 1px solid var(--neutral-6);

  transition: all 200ms ease-in-out;

  cursor: pointer;
}

.interviewer_details {
  position: relative;
  z-index: 6;

  display: flex;
  padding: var(--space-4);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.interviewer_details.hide {
  display: none;
}

.hide {
  display: none;
}

.interviewer_details.width-324 {
  width: 100%;
  height: auto;
}

.interviewer_details.width-300px {
  width: 25%;
}

.interviewer_details.min-324px {
  width: auto;
  min-width: 324px;
}

.inteerviewr_avatar {
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  border-radius: 100px;
}

.session_colum_fixed_width {
  width: 300px;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.recommendation_info {
  position: relative;
  z-index: 2;

  display: flex;
  width: 250px;
  padding: var(--space-4);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.recommendation_info.hide {
  display: none;
}

.recommendation_info.width-324 {
  width: 100%;
  height: auto;
}

.recommendation_info.width-300px {
  width: 25%;
}

.recommendation_info.min-324px {
  width: auto;
  min-width: 324px;
}

.feedbackemptyadmin {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 7;

  display: flex;
  padding: var(--space-4);
  justify-content: flex-start;
  align-items: center;

  background-color: var(--white);
}

.feedbackemptyadmin.column-req {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.feedback-link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--accent-11);

  cursor: pointer;
}

.feedback-link-wrap.red {
  color: #d93f4c;
}

.feedback-link-wrap.no-color {
  color: transparent;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.feedbacknotsubmitted {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  background-color: var(--white);
}

.feedbacknotsubmitted.coulumn-req {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.link-wrap {
  transition: all 200ms ease;
  color: var(--sky-a11);
  text-decoration: underline;
}

.link-wrap:hover {
  color: var(--sky-12);
}

.abosulte_block_white {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;

  background-color: white;
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.candidate_cell {
  position: relative;
  z-index: 2;

  display: flex;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.candidate_cell.hide {
  display: none;
}

.candidate_cell.width-324 {
  width: 100%;
  height: auto;
}

.candidate_cell.width-300px {
  width: 25%;
}

.candidate_cell.min-324px {
  width: auto;
  min-width: 324px;
}