.mfl-items-wrap {
  width: 200px;
  border-right: 1px solid var(--neutral-6);
}

.mfl-item-top {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-6);
}

.mfl-item-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.mfl-filter-count-wrap {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-full);

  background-color: var(--sky-3);
}

.mfl-item-top-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.refresh-item-wrap {
  transition: all 200ms ease;
  cursor: pointer;
}

.refresh-item-wrap:hover {
  color: var(--accent-11);
}

.mfl-item-body {
  overflow: auto;
  max-height: 314px;
}