.div-block-1323 {
  position: relative;
}

.div-block-1297 {
  position: relative;

  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.div-block-1309 {
  height: 46px;
}

.div-block-1308 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  height: 56px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #f8f9f9;
}

.div-block-1298 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.div-block-1310 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1299 {
  display: flex;
  justify-content: space-between;
}

.three-dot-wrap {
  position: relative;
  z-index: 2;
}

.sloteditoptions {
  display: none;
}

.div-block-1302 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1300 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1301 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1306 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-block-1307 {
  display: flex;
  padding: 6px 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.div-block-1307.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.div-block-1307.cursor-pointer:hover {
  opacity: 0.8;
}

.div-block-1303 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1305 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-grey-600.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-grey-600.text-underline.cursor-pointer {
  transition: opacity 250ms ease;
  cursor: pointer;
}

.text-grey-600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.div-block-1304 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1328 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-blue-500 {
  color: #337fbd;
}

.text-blue-500.text-underline {
  text-decoration: underline;
}

.text-blue-500.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500.text-capital {
  text-transform: uppercase;
}

.div-block-1322 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid #337fbd;
  border-radius: 10px;
}

.div-block-1352 {
  padding-top: 10px;
}