.graph_wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: 10px;

  background-color: var(--neutral-2);
}

@media screen and (min-width: 1440px) {
  .graph_wrapper {
    width: 100%;
  }
}

.graph_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.graph_filter {
  display: flex;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.slot_grpah {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.dummy_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#w-node-de84a0a2-d089-4ca0-a547-fb54c99e46b0-c99e46b0 {
}