.graph_wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

@media screen and (min-width: 1440px) {
  .graph_wrapper {
    width: 100%;
  }
}

.graph_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.text-yellow-700 {
  color: #ad5918;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-500 {
  color: #87929d;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: var(--sand-11);
}

.fw-semibold.name-text {
  color: #467b7c;
}

.hide {
  display: none;
}

.graph_filter {
  display: flex;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.slot_grpah {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.dummy_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#w-node-de84a0a2-d089-4ca0-a547-fb54c99e46b0-c99e46b0 {
}