.div-block-1572 {
  display: flex;
  width: 100%;
  height: 36px;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-top: 0px none #f8f9f9;
  border-bottom: 1px solid var(--neutral-4);

  background-color: var(--neutral-1);
}

.div-block-1573 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1574 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1574.hide {
  display: none;
}

.hide {
  display: none;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}