.sto-column-left-subwrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.div-block-1426 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}