.div-block-1550 {
  position: absolute;
  left: -30px;
  top: 35px;
  right: auto;
  bottom: auto;
  z-index: 4;

  display: flex;
  width: 420px;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.div-block-1551 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.text-block-30 {
  color: #467b7c;
}

.div-block-1563 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1555 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1554 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.text-yellow-700 {
  color: #ad5918;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-500 {
  color: #87929d;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: var(--sand-11);
}

.fw-semibold.name-text {
  color: #467b7c;
}

.hide {
  display: none;
}

.div-block-1557 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.div-block-1561 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1560 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1562 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1565 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.div-block-1564 {
  display: flex;
  padding: 4px 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 100px;

  background-color: #f8f9f9;
}