.div-block-1524 {
  position: relative;
  cursor: pointer;
}

.div-block-1523 {
  position: relative;
  z-index: 1;

  display: flex;
  width: 60px;
  height: 28px;
  justify-content: center;
  align-items: center;
}

.div-block-1523.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1552 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--success-9);
}

.div-block-1552.start-active {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.div-block-1552.end-active {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.div-block-1553 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--neutral-3);
}

.div-block-1553.start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.div-block-1553.end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}