.history-pill-wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.history-pills-sub-wrap {
  position: relative;
}

.history-pills {
  display: flex;
  width: 60px;
  height: 26px;
  justify-content: center;
  align-items: center;

  background-color: var(--neutral-3);

  color: var(--neutral-9);
}

.history-pills.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--success-4);

  color: var(--success-11);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}