.inputwith_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.flex_hr_10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex_hr_10.relative_2 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.flex_hr_10.disabled_text {
  color: var(--neutral-9);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.dummy_input {
  display: flex;
  height: 40px;
  padding: 10px;
  justify-content: space-between;

  border: 1px solid #d8dcde;
  border-radius: 8px;

  background-color: white;

  color: #c2c8cc;
}