.instruction_block {
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.button_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.embed_flex {
  display: flex;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.link {
  color: #337fbd;
  cursor: pointer;
}

.link.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}