.interviewer-page {
  height: 100%;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.div-block-1430 {
  width: 844px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.div-block-1431 {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-top: 1px solid #e9ebed;
  border-bottom: 1px solid #e9ebed;
}

.div-block-1432 {
  height: 100%;
}