.interviewplan {
  display: flex;
  overflow: auto;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  background-color: var(--neutral-2);

  height: calc(100vh - 48px);
}

.slot-interview-coordinator {
  width: 700px;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.ip-empty-wrap {
  display: flex;
  width: 700px;
  min-height: 240px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}

.ip-center-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.slotinterviewplancard {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin-bottom: 100px;
  flex-direction: column;
}