.ims-wrappers {
  overflow: hidden;
  height: 296px;
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.dashboard-widget-header {
  display: flex;
  height: 40px;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: var(--neutral-2);
}

.text-link-accent {
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-link-accent:hover {
  opacity: 0.88;
}

.sd_table {
  position: relative;
}

.sd_table_header {
  position: sticky;
  top: 0px;
  z-index: 2;

  display: grid;
  height: 33px;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: auto;

  border-bottom: 1px solid #eaf1f3;

  background-color: white;
}

.sd_table_header_cell {
  padding: var(--space-2) var(--space-4);
}

.sd_table_header_cell.progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.sd_table_body {
  overflow: auto;
  height: 347px;
}

#w-node-d0086500-dc7e-dd71-8fe3-288597e9f589-97e9f57e {
}
#w-node-d0086500-dc7e-dd71-8fe3-288597e9f58c-97e9f57e {
}
@media screen and (min-width: 1440px) {
  #w-node-d0086500-dc7e-dd71-8fe3-288597e9f586-97e9f57e {
  }
  #w-node-d0086500-dc7e-dd71-8fe3-288597e9f589-97e9f57e {
  }
  #w-node-d0086500-dc7e-dd71-8fe3-288597e9f58c-97e9f57e {
  }
}