.interviewer-avail-wrap {
  overflow: auto;
  height: calc(100vh - 48px);
}

.slot-filter-interviewer-avail {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-6);
}

.ia-slot-filter-right-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.interviewer-date-wrap-filter {
  padding: 2px var(--space-2);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);
  background-color: var(--neutral-3);
}

.ia-arrow-wrapper {
  display: flex;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.interviewer-training-header {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 300px 257px 1fr;
  grid-template-rows: auto;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--neutral-2);
}

.interviewer-avail-head-item {
  padding: var(--space-1) var(--space-3);
}

.interviewer-avail-body-wrap {
  overflow: auto;
  height: calc(100vh - 117px);
}

.bg-interviewer-avail-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  background-color: var(--neutral-6);
}

#w-node-ab21052d-bd1d-c4b0-a028-2ae2f1c8b092-f1c8b080 {
}
#w-node-ab21052d-bd1d-c4b0-a028-2ae2f1c8b095-f1c8b080 {
}