.div-block-1690 {
  position: relative;

  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  transition: background-color 200ms ease;

  cursor: pointer;
}

.div-block-1690:hover {
  background-color: #f7f9fb;
}

.div-block-1691 {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.ci-details {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey-600 {
  color: #68737d;
}

.div-block-1692 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #f7f9fb;
}