.interview_module {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.interview_module_topbar {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-6);
  background-color: var(--white);
}

.im_action {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.imc-icon-wrap {
  padding: var(--space-1);
  border-radius: var(--radius-2);
}

.imc-icon-wrap:hover {
  background-color: var(--neutral-3);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.interview_module_body {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.interview-module-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.interview_module_duration {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.imc-meet-wrappers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.imc-module-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imc-module-item {
  padding: var(--radius-4) var(--space-4);
  border-radius: var(--radius-4);
  background-color: var(--neutral-3);
}

.imc-member-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.imc-member-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.im_member-blcok {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.intrerview_module_members {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.text-gray-600 {
  color: var(--sand-11);
}

.text-gray-600.is_link {
  color: #337fbd;
  text-decoration: underline;
  cursor: pointer;
}