.div-block-1500 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.div-block-1502 {
  width: 100%;
}

.div-block-1501 {
  height: 10px;
  border-radius: 8px;
  background-color: #5eae91;
}

.div-block-1503 {
  height: 10px;
  border-radius: 8px;
  background-color: #d8dcde;
}