.module_row {
  z-index: 2;

  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: auto;

  border-bottom: 1px solid #eaf1f3;

  background-color: white;
}

.module_row.progress {
  position: sticky;
  top: 0px;
  z-index: 2;
  grid-template-columns: 25% 25% 50%;
  background-color: var(--white);
}

.module_row.height-56 {
  height: 56px;
}

.module_row.height-56.interviewers {
  grid-template-columns: 40% 20% 20% 20%;
}

.module_row.height-56.interviewers.height-auto {
  height: auto;
}

.module_row.interviewers {
  grid-template-columns: 40% 20% 20% 20%;
}

.sd_table_header_cell {
  padding: var(--space-2) var(--space-4);
}

.sd_table_header_cell.progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

#w-node-d9f49c54-5ee8-46e0-b97b-44884a74100b-4a741007 {
}
#w-node-d9f49c54-5ee8-46e0-b97b-44884a74100e-4a741007 {
}
@media screen and (min-width: 1440px) {
  #w-node-d9f49c54-5ee8-46e0-b97b-44884a741008-4a741007 {
  }
  #w-node-d9f49c54-5ee8-46e0-b97b-44884a74100b-4a741007 {
  }
  #w-node-d9f49c54-5ee8-46e0-b97b-44884a74100e-4a741007 {
  }
}