.tab-section {
  display: grid;
  padding: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: auto;
}

.new-pipelines {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.prev-accordion {
  min-height: 500px;
  padding: 0px;
  border-radius: var(--space-2);
  background-color: var(--neutral-2);
}

#w-node-f1488a90-6321-6b7f-1608-1737d62c9a4a-d62c9a44 {
}