.job-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.job-card {
  display: flex;
  padding: var(--space-3) var(--space-4);
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 6px;

  background-color: var(--neutral-2);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}