.div-block-1093 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1095 {
  display: flex;
  padding: 13px 16px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.text-sm-4 {
  font-size: 12px;
  line-height: 16px;
}

.text-blue-500 {
  color: #337fbd;
}

.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-gray-600 {
  color: var(--sand-11);
}