.job-sidebar-main-block {
  position: relative;

  display: flex;
  width: 100%;
  padding-top: var(--space-5);
  padding-right: var(--space-5);
  padding-bottom: var(--space-5);
  padding-left: var(--space-5);
  flex-direction: column;

  background-color: var(--neutral-2);

  min-height: calc(100vh - 48px);
}

.div-block-759 {
  max-width: 600px;
  margin-bottom: 60px;
}

.job_detail_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-block-507 {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.cj-main-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot-job-form-step-2 {
  display: grid;
  flex-direction: column;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.aeravgaergf {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.aeravgaergf.mb-20 {
  margin-bottom: 20px;
}

.cj-richtext-editor-wrapper {
  overflow: hidden;
  width: 100%;
  border: 1px solid #d8dcde;
  border-radius: 4px;
}

.slot_richtext_warining {
  display: flex;
  margin-top: 4px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}