.jobdashboardtop_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  background-color: white;
}

.div-block-1717 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.slot_status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.button_primary {
  display: flex;
  padding: 8px var(--space-4);
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-3);

  background-color: #1f73b7;

  transition: all 200ms ease;

  color: white;

  cursor: pointer;
}

.button_primary:hover {
  background-color: #144a75;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--neutral-3);
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: var(--neutral-4);
}

.button_primary.greay_btn.width-auto-copy {
  width: auto;
  background-color: var(--accent-3);
  color: var(--accent-11);
}

.button_primary.greay_btn.width-auto-copy:hover {
  background-color: var(--accent-4);
}

.button_primary.greay_btn-copy-copy {
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn-copy-copy:hover {
  background-color: #d8dcde;
}

.hide {
  display: none;
}

.button_primary.green-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--accent-9);
}

.button_primary.large_btn-copy {
  position: relative;
  overflow: hidden;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}