.job-sidebar-main-block {
  position: relative;

  display: flex;
  overflow: auto;
  width: 100%;
  margin-bottom: 32px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: column;

  background-color: white;

  height: calc(100vh - 60px);
}

.div-block-759 {
  max-width: 600px;
  margin-bottom: 60px;
}

.job_detail_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.div-block-507 {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.fw-semibold.name-text {
  color: #467b7c;
}

.hide {
  display: none;
}

.color-grey-600 {
  color: #68737d;
}

.button_primary {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #1f73b7;

  transition: all 200ms ease;

  color: white;

  cursor: pointer;
}

.button_primary:hover {
  background-color: #144a75;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.greay_btn.width-auto-copy {
  width: auto;
  background-color: var(--accent-3);
  color: var(--accent-11);
}

.button_primary.greay_btn.width-auto-copy:hover {
  background-color: var(--accent-4);
}

.button_primary.is_outline {
  border: 1px solid #1f73b7;
  background-color: white;
  color: #1f73b7;
}

.button_primary.is_outline.width-100 {
  width: 100%;
}

.button_primary.greay_btn-copy-copy {
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn-copy-copy:hover {
  background-color: #d8dcde;
}

.button_primary.green-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--accent-9);
}

.button_primary.large_btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button_primary.large_btn-copy {
  position: relative;
  overflow: hidden;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cj-main-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot-job-form-step-2 {
  display: grid;
  flex-direction: column;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.aeravgaergf {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.aeravgaergf.mb-20 {
  margin-bottom: 20px;
}

.cj-richtext-editor-wrapper {
  overflow: hidden;
  width: 100%;
  border: 1px solid #d8dcde;
  border-radius: 4px;
}

.slot_richtext_warining {
  display: flex;
  margin-top: 4px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}