.div-block-1710 {
  border-radius: 10px;
  background-color: var(--neutral-2);
}

.div-block-1711 {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.div-block-1712 {
  display: flex;
  padding: 0px 16px 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}