.jobs_workflow_warper {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.jw-btn-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slotworkflowcard {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}