.jobs_workflow_warper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1754 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div-block-1755 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.accent-text {
  color: var(--accent-9);
}

.accent-text.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.accent-text.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.accent-text.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.cursor-pointer:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.slotworkflowcard {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}