.div-block-1476 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-block-1480 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1477 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1478 {
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.div-block-1478.loder {
  position: relative;
}

.div-block-1479 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-grey_600.text-underline-copy {
  text-decoration: underline;
  cursor: pointer;
}

.div-block-1482 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.div-block-1482.loader {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.div-block-1481 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1481.loader {
  position: relative;
  width: 80px;
  height: 24px;
}

.div-block-1481.loder {
  position: relative;
  width: 60px;
  height: 20px;
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-blue-500 {
  color: #337fbd;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm.text-underline.text-blue-500.view-req {
  position: absolute;
  left: auto;
  top: 10px;
  right: 16px;
  bottom: auto;

  cursor: pointer;
}

.relative-1 {
  position: relative;
  z-index: 1;
}