.leaderboard_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard_row_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.interviewer_info_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.avatar_40 {
  overflow: hidden;
  width: var(--space-7);
  height: var(--space-7);
  flex: 0 0 auto;
  border-radius: var(--radius-2);
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_cover.rounded {
  border-radius: 100px;
}

.flex_v4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.leaderboard_row_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.leaderboard_row_right.loader {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.hours {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.hours.loader {
  position: relative;
  width: 80px;
  height: 24px;
}

.hours.loder {
  position: relative;
  width: 60px;
  height: 20px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey-600 {
  color: #68737d;
}