.leaderboard_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard_row_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1600 {
  width: 12px;
  height: 20px;
}

.div-block-1600.loder {
  position: relative;
}

.interviewer_info_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.div-block-1478 {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-3);
}

.div-block-1478.loder {
  position: relative;
}

.flex_v4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.div-block-1599 {
  width: 130px;
  height: 20px;
  border-radius: 4px;
}

.div-block-1599.desc {
  width: 100px;
}

.div-block-1599.loder {
  position: relative;
}

.leaderboard_row_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.leaderboard_row_right.loader {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.hours {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.hours.loader {
  position: relative;
  width: 80px;
  height: 24px;
}

.hours.loder {
  position: relative;
  width: 60px;
  height: 20px;
}