.helper_popup {
  display: flex;
  overflow: hidden;
  max-width: 500px;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: white;
}

.popup_title_block {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.popup_close {
  padding: var(--space-1);
  border-radius: var(--radius-2);
  transition: all 200ms ease;
  cursor: pointer;
}

.popup_close:hover {
  background-color: var(--neutral-3);
}

.popup_close.cursor-pointer {
  transition: all 250ms ease;
}

.popup_close.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.embed_flex.fixedd {
  width: 23px;
}

.helper_richtext li {
  margin-left: -26px;
}

.helper_richtext figure {
  width: 100%;
  max-width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  list-style-type: decimal;
}

.list.mt-20 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.list.mt-20.mb-20 {
  margin-bottom: 20px;
}

.popup_link_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}