.helper_popup {
  display: flex;
  overflow: hidden;
  max-width: 500px;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: white;
}

.popup_title_block {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.helper_richtext li {
  margin-left: -26px;
}

.helper_richtext figure {
  width: 100%;
  max-width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  list-style-type: decimal;
}

.list.mt-20 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.list.mt-20.mb-20 {
  margin-bottom: 20px;
}

.popup_link_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hide {
  display: none;
}