.member_row {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.member_info {
  display: flex;
  width: 260px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.interviewer_image {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 100px;
}

.intervoiewer_imgg {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-2);
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_cover.rounded {
  border-radius: var(--radius-2);
}

.isshadow {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.slot_conflicts_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}