.member_row {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: white;
}

.member_info {
  display: flex;
  width: 260px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.interviewer_image {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.intervoiewer_imgg {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_cover.rounded {
  border-radius: 100px;
}

.isshadow {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey-600 {
  color: #68737d;
}

.timezone_block {
  width: 180px;
}

.text-grey_600.hide {
  display: none;
}

.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.slot_conflicts_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}