.div-block-1709 {
  display: flex;
  width: 360px;
  padding: var(--space-3);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-1729 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.member-list-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.ml-profile-wrap {
  position: relative;
}

.avatar_40 {
  overflow: hidden;
  width: var(--space-7);
  height: var(--space-7);
  flex: 0 0 auto;
  border-radius: var(--radius-2);
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_cover.rounded {
  border-radius: var(--radius-2);
}

.ml-badge-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: -3px;
  bottom: -2px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.name_designation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.ml-name-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.div-block-1665 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.memberdetail_list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1662 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.interview_count {
  display: flex;
  width: 50%;
  padding: 6px 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border-radius: 6px;

  background-color: var(--neutral-3);
}