.div-block-1709 {
  display: flex;
  width: 360px;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-1729 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.member-list-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.ml-profile-wrap {
  position: relative;
}

.avatar_40 {
  overflow: hidden;
  width: var(--space-7);
  height: var(--space-7);
  flex: 0 0 auto;
  border-radius: var(--radius-2);
}

.ml-badge-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: -3px;
  bottom: -2px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.name_designation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.ml-name-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.width-200 {
  width: 200px;
}

.div-block-1665 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.accent-text {
  color: var(--accent-9);
}

.accent-text.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.accent-text.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.accent-text.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.cursor-pointer:hover {
  opacity: 0.8;
}

.accent-text.text-capital {
  text-transform: uppercase;
}

.fw-semibold {
  font-weight: 600;
}

.div-block-1660 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1661 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1662 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1663 {
  display: flex;
  width: 50%;
  padding: 6px 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.div-block-1664 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}