.module_card {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--space-3);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border: 1px none #e9ebed;

  transition: all 300ms ease;

  cursor: pointer;
}

.module_card:hover {
  background-color: var(--neutral-2);
}

.module_name {
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.icon {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.slot_enable_disable {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}

.module_params {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.errorr_warning-copy {
  padding: 0px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.errorr_warning {
  padding: 0px;
}

#w-node-_53814ccb-8d37-a9f3-f6e2-d636ceebd158-c0766ccb {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-ccf07a20-7102-e196-63d2-1a42a3a4a063-c0766ccb {
}