.more_settings {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.embed_flex-2 {
  display: flex;
}

.embed_flex-2.cursor {
  cursor: pointer;
}

.more-menu-copy {
  position: absolute;
  left: auto;
  top: 80%;
  right: 0%;
  bottom: auto;

  padding-top: 20px;
  padding-right: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-decoration: none;
}