.more-menu {
  display: flex;
  overflow: hidden;
  width: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(233, 235, 237, 1);
  border-radius: 10px;

  background-color: rgba(233, 235, 237, 1);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);

  text-decoration: none;
}

.menu_drop {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;

  background-color: rgba(255, 255, 255, 1);

  transition: all 300ms ease;

  text-decoration: none;
}

.menu_drop:hover {
  background-color: #f8f9f9;
}

.menu_drop.hide {
  display: none;
}

.hide {
  display: none;
}

.v6-icon-2 {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.embed_flex-2 {
  display: flex;
}

.embed_flex-2.cursor {
  cursor: pointer;
}

.text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: rgba(47, 57, 65, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
  text-decoration: none;
}

.text-2 {
  margin-top: 0px;
  margin-bottom: 0px;

  color: rgba(217, 63, 76, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
  text-decoration: none;
}