.mssc-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.mssc-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--space-4);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.mssc-top-wrap {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mssc-top-left-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
}

.mssc-left-item {
  display: flex;
  min-width: 148px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mssc-left-item-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mssc-left-item-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.card_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.card_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.card_flex.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mssc-job-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.mssc-drop-wraper {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  transition: all 200ms ease;

  cursor: pointer;
}

.mssc-drop-wraper:hover {
  background-color: var(--neutral-a3);
}

.mssc-slot-three-dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mssc-member-list {
  display: flex;
  margin-top: var(--space-2);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mssc-acitve-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid var(--accent-11);
  border-radius: var(--radius-4);
}