.newinterviewplancard {
  position: relative;
}

.newinterviewplancard.my-schedule {
  max-width: 1000px;
}

.npc-wrap {
  display: flex;
  padding: var(--space-4);
  justify-content: space-between;
  align-items: flex-start;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.npc-left-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-8);
  grid-row-gap: var(--space-8);
}

.npc-slot-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.npc-interview-detail-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.card_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.card_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.card_flex.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.timer-icon-wrap {
  width: 24px;
}

.npc-right-wrap {
  position: relative;
  z-index: 1;
}

.npc-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.three-dot-wrap {
  position: relative;
  z-index: 2;
}

.sloteditoptions {
  display: none;
}

.npc-acitve-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid var(--accent-11);
  border-radius: var(--radius-4);
}