.newinterviewplancard {
  position: relative;
}

.newinterviewplancard.my-schedule {
  max-width: 1000px;
}

.nmsc-wrapper {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.nmsc-wrapper.gap-20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.nmsc-wrapper.gap-20.all-schedule {
  position: relative;
  justify-content: flex-start;
  align-items: stretch;
}

.nmsc-date-wrap {
  position: sticky;
  top: 0px;
}

.nmsc-date-sub-wrap {
  position: relative;
  height: 100%;
}

.hide {
  display: none;
}

.nmsc-date {
  display: flex;
  width: 120px;
  height: 100%;
  padding: var(--space-3) var(--space-5);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-4);

  background-color: var(--neutral-a3);
}

.nmsc-date.empty-schedule-date {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.nmsc-date.radius-10 {
  border-radius: 10px;
}

.nmsc-date.radius-10.height-100 {
  width: 120px;
  height: 100%;
  padding-top: 20px;
  justify-content: center;
  align-items: flex-start;

  background-color: #f7f9fb;
}

.nmsc-date.not-schedule {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  background-color: var(--neutral-5);
}

.nmsc-date-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.nmsc-slot-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.nmsc-slot-card.no-border {
  border-style: none;
}