.div-block-1490 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1491 {
  display: flex;
  width: 94px;
  height: 94px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.div-block-1492 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-underline {
  text-decoration: underline;
}

.text-sm.text-grey_600.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-grey_600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.text-blue-500 {
  color: #337fbd;
}

.text-sm.badge {
  color: #228f67;
}

.text-sm.done {
  color: #228f67;
}

.text-sm.in-progress {
  color: #337fbd;
}

.text-sm.progress {
  color: #68737d;
}

.text-sm.justnow-text {
  color: rgba(28, 28, 28, 0.4);
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm.text-underline.text-blue-500.view-req {
  position: absolute;
  left: auto;
  top: 10px;
  right: 16px;
  bottom: auto;

  cursor: pointer;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-20 {
  font-size: 20px;
  line-height: 28px;
}

.text-20.fw-semibold {
  width: 84px;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.div-block-1495 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1494 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1493 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1497 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1496 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1498 {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}