.div-block-1450 {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 3% 15% 82%;
  grid-template-rows: auto;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.task_row_cell {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: flex-start;
  align-items: center;
}

.task_row_cell.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.task_row_cell.overview-wrap {
  justify-content: space-between;
}

.task_row_cell.hide {
  display: none;
}

.hide {
  display: none;
}

.task_row_cell.space-between {
  justify-content: space-between;
}

.div-block-1449 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

#w-node-_3f7256b9-b895-e8d9-d637-f04a2f0b39b0-2f0b39ac {
}