.default-button-wrappers {
  position: relative;
  padding: 3px;
}

.default-button-sub-wrappers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blue-outlined {
  z-index: 5;

  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid #1f73b7;
  border-radius: 4px;

  background-color: white;

  transition: all 300ms ease;

  color: #1f73b7;
  font-size: 14px;

  cursor: pointer;
}

.blue-outlined:hover {
  border-color: #144a75;
  background-color: rgba(31, 115, 183, 0.08);
  color: #144a75;
}

.blue-outlined.large {
  padding: 10px 16px;
}

.blue-outlined.primary {
  color: var(--blue600-cb1b4518);
}

.blue-outlined.primary:hover {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-4fdeafcf);
}

.blue-outlined.primary.outlined {
  border-color: var(--blue600-cb1b4518);
}

.blue-outlined.primary.outlined:hover {
  border-color: var(--blue700-4fdeafcf);
}

.blue-outlined.primary.default {
  background-color: var(--blue600-cb1b4518);
  color: var(--white-9747b35e);
}

.blue-outlined.primary.default:hover {
  background-color: var(--blue700-4fdeafcf);
}

.blue-outlined.disabled {
  position: static;
  margin: 3px;
  background-color: var(--grey200-750b0c46);
  color: var(--grey400-5470456b);
  cursor: default;
}

.blue-outlined.danger {
  color: var(--red600-937b9595);
}

.blue-outlined.danger:hover {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 0.08);
  color: var(--red700-eef2bc62);
}

.blue-outlined.danger.outlined {
  border-color: var(--red600-937b9595);
}

.blue-outlined.danger.outlined:hover {
  border-color: var(--red700-eef2bc62);
}

.blue-outlined.danger.default {
  background-color: var(--red600-937b9595);
  color: var(--white-9747b35e);
}

.blue-outlined.danger.default:hover {
  background-color: var(--red700-eef2bc62);
}

.blue-outlined.ai {
  color: var(--kale600-0961d49d);
}

.blue-outlined.ai:hover {
  background-color: hsla(184.44444444444443, 54.00%, 19.61%, 0.08);
  color: var(--kale700-f9fc674d);
}

.blue-outlined.ai.outlined {
  border-color: var(--kale600-0961d49d);
}

.blue-outlined.ai.outlined:hover {
  border-color: var(--kale700-f9fc674d);
}

.blue-outlined.ai.default {
  background-color: var(--kale300-6bb63e75);
}

.blue-outlined.ai.default:hover {
  background-color: var(--kale400-d4602035);
}

.blue-outlined.dark {
  color: var(--grey800-e8c7a768);
}

.blue-outlined.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.blue-outlined.dark.outlined {
  border-color: var(--grey800-e8c7a768);
}

.blue-outlined.dark.default {
  background-color: var(--grey700-5753ca4f);
  color: var(--white-9747b35e);
}

.blue-outlined.dark.default:hover {
  background-color: var(--grey600-440e5aa6);
}

.red-outlined {
  z-index: 5;

  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid #cc3340;
  border-radius: 4px;

  background-color: white;

  transition: all 300ms ease;

  color: #cc3340;
  font-size: 14px;

  cursor: pointer;
}

.red-outlined:hover {
  border-color: #8c232c;
  background-color: rgba(204, 51, 64, 0.08);
  color: #8c232c;
}

.red-outlined.large {
  padding: 10px 16px;
}

.red-outlined.primary {
  color: var(--blue600-cb1b4518);
}

.red-outlined.primary:hover {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-4fdeafcf);
}

.red-outlined.primary.outlined {
  border-color: var(--blue600-cb1b4518);
}

.red-outlined.primary.outlined:hover {
  border-color: var(--blue700-4fdeafcf);
}

.red-outlined.primary.default {
  background-color: var(--blue600-cb1b4518);
  color: var(--white-9747b35e);
}

.red-outlined.primary.default:hover {
  background-color: var(--blue700-4fdeafcf);
}

.red-outlined.disabled {
  position: static;
  margin: 3px;
  background-color: var(--grey200-750b0c46);
  color: var(--grey400-5470456b);
  cursor: default;
}

.red-outlined.danger {
  color: var(--red600-937b9595);
}

.red-outlined.danger:hover {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 0.08);
  color: var(--red700-eef2bc62);
}

.red-outlined.danger.outlined {
  border-color: var(--red600-937b9595);
}

.red-outlined.danger.outlined:hover {
  border-color: var(--red700-eef2bc62);
}

.red-outlined.danger.default {
  background-color: var(--red600-937b9595);
  color: var(--white-9747b35e);
}

.red-outlined.danger.default:hover {
  background-color: var(--red700-eef2bc62);
}

.red-outlined.ai {
  color: var(--kale600-0961d49d);
}

.red-outlined.ai:hover {
  background-color: hsla(184.44444444444443, 54.00%, 19.61%, 0.08);
  color: var(--kale700-f9fc674d);
}

.red-outlined.ai.outlined {
  border-color: var(--kale600-0961d49d);
}

.red-outlined.ai.outlined:hover {
  border-color: var(--kale700-f9fc674d);
}

.red-outlined.ai.default {
  background-color: var(--kale300-6bb63e75);
}

.red-outlined.ai.default:hover {
  background-color: var(--kale400-d4602035);
}

.red-outlined.dark {
  color: var(--grey800-e8c7a768);
}

.red-outlined.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.red-outlined.dark.outlined {
  border-color: var(--grey800-e8c7a768);
}

.red-outlined.dark.default {
  background-color: var(--grey700-5753ca4f);
  color: var(--white-9747b35e);
}

.red-outlined.dark.default:hover {
  background-color: var(--grey600-440e5aa6);
}

.dark-outlined {
  z-index: 5;

  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid #2f3941;
  border-radius: 4px;

  background-color: white;

  transition: all 300ms ease;

  font-size: 14px;

  cursor: pointer;
}

.dark-outlined:hover {
  background-color: rgba(47, 57, 65, 0.08);
}

.dark-outlined.large {
  padding: 10px 16px;
}

.dark-outlined.primary {
  color: var(--blue600-cb1b4518);
}

.dark-outlined.primary:hover {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-4fdeafcf);
}

.dark-outlined.primary.outlined {
  border-color: var(--blue600-cb1b4518);
}

.dark-outlined.primary.outlined:hover {
  border-color: var(--blue700-4fdeafcf);
}

.dark-outlined.primary.default {
  background-color: var(--blue600-cb1b4518);
  color: var(--white-9747b35e);
}

.dark-outlined.primary.default:hover {
  background-color: var(--blue700-4fdeafcf);
}

.dark-outlined.disabled {
  position: static;
  margin: 3px;
  background-color: var(--grey200-750b0c46);
  color: var(--grey400-5470456b);
  cursor: default;
}

.dark-outlined.danger {
  color: var(--red600-937b9595);
}

.dark-outlined.danger:hover {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 0.08);
  color: var(--red700-eef2bc62);
}

.dark-outlined.danger.outlined {
  border-color: var(--red600-937b9595);
}

.dark-outlined.danger.outlined:hover {
  border-color: var(--red700-eef2bc62);
}

.dark-outlined.danger.default {
  background-color: var(--red600-937b9595);
  color: var(--white-9747b35e);
}

.dark-outlined.danger.default:hover {
  background-color: var(--red700-eef2bc62);
}

.dark-outlined.ai {
  color: var(--kale600-0961d49d);
}

.dark-outlined.ai:hover {
  background-color: hsla(184.44444444444443, 54.00%, 19.61%, 0.08);
  color: var(--kale700-f9fc674d);
}

.dark-outlined.ai.outlined {
  border-color: var(--kale600-0961d49d);
}

.dark-outlined.ai.outlined:hover {
  border-color: var(--kale700-f9fc674d);
}

.dark-outlined.ai.default {
  background-color: var(--kale300-6bb63e75);
}

.dark-outlined.ai.default:hover {
  background-color: var(--kale400-d4602035);
}

.dark-outlined.dark {
  color: var(--grey800-e8c7a768);
}

.dark-outlined.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.dark-outlined.dark.outlined {
  border-color: var(--grey800-e8c7a768);
}

.dark-outlined.dark.default {
  background-color: var(--grey700-5753ca4f);
  color: var(--white-9747b35e);
}

.dark-outlined.dark.default:hover {
  background-color: var(--grey600-440e5aa6);
}

.ai-outlined {
  z-index: 5;

  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid #17494d;
  border-radius: 4px;

  background-color: white;

  transition: all 300ms ease;

  color: #17494d;
  font-size: 14px;

  cursor: pointer;
}

.ai-outlined:hover {
  background-color: rgba(189, 217, 215, 0.08);
}

.ai-outlined.large {
  padding: 10px 16px;
}

.ai-outlined.primary {
  color: var(--blue600-cb1b4518);
}

.ai-outlined.primary:hover {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-4fdeafcf);
}

.ai-outlined.primary.outlined {
  border-color: var(--blue600-cb1b4518);
}

.ai-outlined.primary.outlined:hover {
  border-color: var(--blue700-4fdeafcf);
}

.ai-outlined.primary.default {
  background-color: var(--blue600-cb1b4518);
  color: var(--white-9747b35e);
}

.ai-outlined.primary.default:hover {
  background-color: var(--blue700-4fdeafcf);
}

.ai-outlined.disabled {
  position: static;
  margin: 3px;
  background-color: var(--grey200-750b0c46);
  color: var(--grey400-5470456b);
  cursor: default;
}

.ai-outlined.danger {
  color: var(--red600-937b9595);
}

.ai-outlined.danger:hover {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 0.08);
  color: var(--red700-eef2bc62);
}

.ai-outlined.danger.outlined {
  border-color: var(--red600-937b9595);
}

.ai-outlined.danger.outlined:hover {
  border-color: var(--red700-eef2bc62);
}

.ai-outlined.danger.default {
  background-color: var(--red600-937b9595);
  color: var(--white-9747b35e);
}

.ai-outlined.danger.default:hover {
  background-color: var(--red700-eef2bc62);
}

.ai-outlined.ai {
  color: var(--kale600-0961d49d);
}

.ai-outlined.ai:hover {
  background-color: hsla(184.44444444444443, 54.00%, 19.61%, 0.08);
  color: var(--kale700-f9fc674d);
}

.ai-outlined.ai.outlined {
  border-color: var(--kale600-0961d49d);
}

.ai-outlined.ai.outlined:hover {
  border-color: var(--kale700-f9fc674d);
}

.ai-outlined.ai.default {
  background-color: var(--kale300-6bb63e75);
}

.ai-outlined.ai.default:hover {
  background-color: var(--kale400-d4602035);
}

.ai-outlined.dark {
  color: var(--grey800-e8c7a768);
}

.ai-outlined.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.ai-outlined.dark.outlined {
  border-color: var(--grey800-e8c7a768);
}

.ai-outlined.dark.default {
  background-color: var(--grey700-5753ca4f);
  color: var(--white-9747b35e);
}

.ai-outlined.dark.default:hover {
  background-color: var(--grey600-440e5aa6);
}

.disabeld-button {
  position: static;
  z-index: 5;

  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid transparent;
  border-radius: 4px;

  background-color: #e9ebed;

  transition: all 300ms ease;

  color: #c2c8cc;
  font-size: 14px;

  cursor: pointer;
}

.disabeld-button.large {
  padding: 10px 16px;
}

.disabeld-button.primary {
  color: var(--blue600-cb1b4518);
}

.disabeld-button.primary:hover {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-4fdeafcf);
}

.disabeld-button.primary.outlined {
  border-color: var(--blue600-cb1b4518);
}

.disabeld-button.primary.outlined:hover {
  border-color: var(--blue700-4fdeafcf);
}

.disabeld-button.primary.default {
  background-color: var(--blue600-cb1b4518);
  color: var(--white-9747b35e);
}

.disabeld-button.primary.default:hover {
  background-color: var(--blue700-4fdeafcf);
}

.disabeld-button.disabled {
  position: static;
  margin: 3px;
  background-color: var(--grey200-750b0c46);
  color: var(--grey400-5470456b);
  cursor: default;
}

.disabeld-button.danger {
  color: var(--red600-937b9595);
}

.disabeld-button.danger:hover {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 0.08);
  color: var(--red700-eef2bc62);
}

.disabeld-button.danger.outlined {
  border-color: var(--red600-937b9595);
}

.disabeld-button.danger.outlined:hover {
  border-color: var(--red700-eef2bc62);
}

.disabeld-button.danger.default {
  background-color: var(--red600-937b9595);
  color: var(--white-9747b35e);
}

.disabeld-button.danger.default:hover {
  background-color: var(--red700-eef2bc62);
}

.disabeld-button.ai {
  color: var(--kale600-0961d49d);
}

.disabeld-button.ai:hover {
  background-color: hsla(184.44444444444443, 54.00%, 19.61%, 0.08);
  color: var(--kale700-f9fc674d);
}

.disabeld-button.ai.outlined {
  border-color: var(--kale600-0961d49d);
}

.disabeld-button.ai.outlined:hover {
  border-color: var(--kale700-f9fc674d);
}

.disabeld-button.ai.default {
  background-color: var(--kale300-6bb63e75);
}

.disabeld-button.ai.default:hover {
  background-color: var(--kale400-d4602035);
}

.disabeld-button.dark {
  color: var(--grey800-e8c7a768);
}

.disabeld-button.dark:hover {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.08);
}

.disabeld-button.dark.outlined {
  border-color: var(--grey800-e8c7a768);
}

.disabeld-button.dark.default {
  background-color: var(--grey700-5753ca4f);
  color: var(--white-9747b35e);
}

.disabeld-button.dark.default:hover {
  background-color: var(--grey600-440e5aa6);
}

.button-focused {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 4px;
}

.button-focused.primary {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.35);
}

.button-focused.danger {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 0.35);
}

.button-focused.ai {
  background-color: hsla(184.44444444444443, 54.00%, 19.61%, 0.35);
}

.button-focused.dark {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 0.35);
}