.agent_followup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.selection_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.flex_center {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.radio_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.fixed_height {
  display: flex;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.selected_immediately {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;

  background-color: #f7f9fb;

  color: #68737d;
}