.div-block-1541 {
  width: 280px;
}

.div-block-1542 {
  position: relative;

  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-bottom: 1px solid #e9ebed;

  transition: all 250ms ease;

  cursor: pointer;
}

.div-block-1542:hover {
  background-color: whitesmoke;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-grey_600.text-underline-copy {
  text-decoration: underline;
  cursor: pointer;
}

.div-block-1543 {
  position: absolute;
  background-color: whitesmoke;
}