.scoreskele-topm {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.score-card-detail-wrap-copyloader {
  display: flex;
  width: 100%;
  padding: var(--space-4);
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.pss-header-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.pss-indicator {
  width: 10px;
  height: 10px;
  border-radius: var(--radius-full);
  background-color: #30aabc;
}

.skills-wrap-details {
  display: flex;
  width: 100%;
  margin-top: var(--space-4);
  flex-wrap: wrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.skills-wrapps-copy {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 28px;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 4px;

  background-color: #f7f9fb;

  cursor: pointer;
}

.skills-wrapps-copy._20 {
  width: 20%;
}

.skills-wrapps-copy._30 {
  width: 30%;
}

.skills-wrapps-copy._40 {
  width: 40%;
}

.skills-wrapps-copy._60 {
  width: 60%;
}

.skills-wrapps-copy._80 {
  width: 80%;
}

.skills-wrapps-copy._90 {
  width: 90%;
}

.pss-btn-skeleton {
  margin-top: var(--space-4);
}

.add-button-wrap-copy {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 134.125px;
  height: 20px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  cursor: pointer;
}

.div-block-801-copy-copy {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #5d7df5;
}

.div-block-801-copy {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #886bd8;
}