.flex_center {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  cursor: pointer;
}

.radio_wrap {
  position: relative;
  width: 16px;
  height: 16px;
}

.radio_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}

.radio_inactive {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}