.flex_center {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  cursor: pointer;
}

.radio_wra {
  position: relative;
  width: 16px;
  height: 16px;
}

.radio_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}

.radio_active.hide {
  display: none;
}

.hide {
  display: none;
}

.radio_active.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.radio_active.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.radio_active.cursor-pointer:hover {
  opacity: 0.8;
}

.radio_active.fixedd {
  width: 23px;
}

.radio_inactive {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}

.radio_inactive.hide {
  display: none;
}

.radio_inactive.custom_top {
  margin-top: 2px;
}

.radio_inactive.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.radio_inactive.cursor-pointer:hover {
  opacity: 0.8;
}

.radio_inactive.fixedd {
  width: 23px;
}