.schedule_reason {
  display: flex;
  padding: var(--space-2) var(--space-3);
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--neutral-a6);
  border-radius: var(--radius-2);

  transition: box-shadow 250ms ease;

  cursor: pointer;
}

.schedule_reason:hover {
  background-color: var(--neutral-2);
}

.rl-edit-wrap {
  height: 27px;
}

.edit_delete_button {
  display: none;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1674 {
  display: flex;
  width: 27px;
  height: 27px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.div-block-1674.red {
  background-color: #fff0f1;
}

.div-block-1674.cursor-pointer {
  transition: opacity 200ms ease;
}

.div-block-1674.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}