.recent-decline {
  display: flex;
  padding: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid #e9ebed;
  border-radius: 16px;
}

@media screen and (min-width: 1440px) {
  .recent-decline {
    background-color: #f7f9fb;
  }
}

.reschedule-req-header {
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}

.div-block-1782 {
  height: 430px;
  padding-bottom: 10px;
}

#w-node-e807e2a0-b827-0170-96a2-8f8d0a3764a4-0a3764a4 {
}