.div-block-1639 {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border: 1px solid var(--warning-6);
  border-radius: var(--radius-4);

  background-color: var(--warning-3);
}

.div-block-1641 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1640 {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.div-block-1684 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.div-block-1642 {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1643 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}