.div-block-1639 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 10px;

  background-color: #fff7ed;
}

.div-block-1641 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1640 {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.div-block-1684 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.text-yellow-700 {
  color: #ad5918;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-500 {
  color: #87929d;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: #68737d;
}

.fw-semibold.name-text {
  color: #467b7c;
}

.hide {
  display: none;
}

.div-block-1642 {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1643 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-blue-500 {
  color: #337fbd;
}

.text-blue-500.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-blue-500.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-blue-500.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500.text-capital {
  text-transform: uppercase;
}

.text-grey-600 {
  color: #68737d;
}

.text-grey-600.text-underline {
  text-decoration: underline;
}

.text-grey-600.text-underline.cursor-pointer {
  transition: opacity 250ms ease;
  cursor: pointer;
}

.text-grey-600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}