.requested_reschedule {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.reschedule_request_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.avatar-24 {
  display: flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);
}

.rc-title-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.request-reason {
  display: flex;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.action_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}