.div-block-1731 {
  overflow: hidden;
  border-radius: 10px;
}

.div-block-1730 {
  display: flex;
  padding: 16px 14px;
  justify-content: space-between;
  align-items: center;
  background-color: #333639;
}

.div-block-1732 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  color: white;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.div-block-1733 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1734 {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: rgba(160, 165, 170, 0.07);

  transition: opacity 200ms ease;

  cursor: pointer;
}

.div-block-1734:hover {
  opacity: 0.8;
}