.scheduling-dashboard {
  display: flex;
  overflow: auto;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  background-color: var(--neutral-2);
}

.scheduling_quicklinks {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.schedule_dashboard_link {
  display: flex;
  padding: var(--space-4);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-a6);
  border-radius: 10px;

  background-color: var(--white);

  transition: all 200ms ease;

  cursor: pointer;
}

.schedule_dashboard_link:hover {
  background-color: var(--neutral-3);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.sd_row_1 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 278px;
  grid-template-rows: auto;
}

.sd_row_4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.sd_card_with_number {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.sd_row_3 {
  display: grid;
  height: 420px;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: auto;
}

.sd_row_5 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b22-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b26-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b2a-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b2e-aa8c5b1c {
}
#w-node-_9a38964b-1caa-4833-f8b2-1e68d00de106-aa8c5b1c {
}