.scheduling-dashboard {
  display: flex;
  overflow: auto;
  height: 100vh;
  padding: var(--space-5);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  background-color: var(--neutral-2);
}

.div-block-1460 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.schedule_dashboard_link {
  display: flex;
  padding: var(--space-2);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid var(--neutral-a6);
  border-radius: 10px;

  background-color: var(--neutral-3);

  cursor: pointer;
}

.schedule_dashboard_link:hover {
  background-color: var(--neutral-5);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.div-block-1772 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 278px;
  grid-template-rows: auto;
}

.div-block-1775 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-1462 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.div-block-1467 {
  display: grid;
  align-items: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.div-block-1486 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1774 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1776 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-1468 {
  display: grid;
  height: 420px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: auto;
}

#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b22-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b26-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b2a-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b2e-aa8c5b1c {
}
#w-node-c30bcde5-63b2-80de-996c-79d1aa8c5b43-aa8c5b1c {
}
#w-node-_9a38964b-1caa-4833-f8b2-1e68d00de106-aa8c5b1c {
}