.sr-wrapper {
  overflow: hidden;
  margin: var(--space-4);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.tab_wrapper {
  display: flex;
  padding-left: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--neutral-a6);
}

.schedule_reasons {
  display: flex;
  overflow: auto;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
  height: calc(100vh - 75px);
}

.scheduling_reason_header {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.rr-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);
}