.schedule-count-wrap-menu {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.scheduling-menu {
  display: flex;
  width: 20%;
  padding: var(--space-4) var(--space-2);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: var(--radius-3);

  background-color: white;
}

.scheduling-menu.success {
  background-color: var(--success-2);
}

.scheduling-menu.not-scheduled {
  background-color: var(--neutral-2);
}

.scheduling-menu.waiting {
  background-color: var(--warning-2);
}

.scheduling-menu.confirmed {
  background-color: var(--info-2);
}

.scheduling-menu.cancelled {
  background-color: var(--error-2);
}

.count_info {
  display: flex;
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.menu-scheduling-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event_available {
  color: var(--success-9);
}

.schedule-count-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.hourglass_empty {
  color: var(--neutral-9);
}

.calendar_clock {
  color: var(--warning-11);
}

.event_upcoming {
  color: var(--blue-9);
}

.event_busy {
  color: var(--tomato-9);
}