.schedule_option_wrap {
  position: relative;

  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  background-color: white;

  cursor: pointer;
}

.selection_wrap {
  padding-top: 6px;
}

.radio_wrap {
  position: relative;
  width: 16px;
  height: 16px;
}

.radio_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}

.radio_inactive {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}

.detail_schedules {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.slotsingleday_schedule {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  border-radius: 10px;

  background-color: #e9ebed;
}

.selected_absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;

  border: 1px solid var(--accent-9);
  border-radius: 10px;

  pointer-events: none;
}

.normal_border {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 10px;

  box-shadow: inset 0 0 0 1px #e9ebed;
  pointer-events: none;
}