.schedule_preferences {
  display: flex;
  overflow: auto;
  width: 100%;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);

  background-color: white;

  height: calc(100vh - 130px);
}

.slottimeblock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.timeblock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.timeblock.is_link {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  cursor: pointer;
}

.conflict_block_wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.sub_session_with_heading {
  display: flex;
  width: 600px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.header_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.checkbox_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.checkbox_text {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}