.scheduleoptions {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
}

.schedule_option_hint {
  padding: 20px 20px 0px;
}

.schedule_options {
  z-index: 1;

  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  background-color: var(--white);
}