.scheduletabcandidateinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.candidate_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.candidate-name {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.candidateavatar {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold {
  font-weight: 600;
}

.cvs-intro-profile-block-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-789 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-788 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.contact-details {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.email-phone-linkedin {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.resume-candidate-details {
  display: flex;
  padding: 4px 7px 4px 9px;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  border: 0.5px solid #cee2f2;
  border-radius: 4px;

  background-color: #cee2f2;

  cursor: pointer;
}

.text-sm-3 {
  font-size: 12px;
  line-height: 1.4;
}

.overview_block {
  display: flex;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: #f5fcfc;
}

.title_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.analysisc_block {
  display: flex;
  padding: 0px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 0px none #e9ebed;
  border-radius: 10px;

  background-color: white;
}

.div-block-774 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-block-781 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-773 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.match-jd-wrap {
  padding: 4px 16px;
  border: 1px solid #d1e8df;
  border-radius: 100px;
  background-color: rgba(209, 232, 223, 0.5);
}

.div-block-779 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-778 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-777 {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.screening_block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: white;
}

.screening_header_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-807 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-806 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.schedule-tab-wrap-ana {
  display: flex;
  padding: 0px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: white;
}

.div-block-1272 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-block-1269 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1270 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cvs-score-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cvs-score-details-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 10px;
}

.cvs-score-detail-btn {
  display: flex;
  padding: 8px 12px 8px 0px;
  align-items: center;
  align-self: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;
}

.text-blue-600-2 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}