.sr-wrapper {
  overflow: hidden;
  background-color: var(--white);
}

.tab_wrapper {
  position: sticky;
  top: 0px;
  z-index: 3;

  display: flex;
  padding-left: var(--space-4);
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid var(--neutral-a6);

  background-color: var(--white);
}

.schedule_reasons {
  display: flex;
  overflow: auto;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
  height: calc(100vh - 85px);
}

.schedule_reasons_subwrap {
  max-width: 600px;
}

.scheduling_reason_header {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.rr-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);
}