.tab-overview-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.sto-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-2.hide {
  display: none;
}

.hide {
  display: none;
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.center.gap-4 {
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.flex-horizontal.gap-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.align-center {
  justify-content: flex-start;
  align-items: center;
}

.sto-link-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  transition: all 200ms ease;

  color: var(--neutral-10);

  cursor: pointer;
}

.sto-link-wrap:hover {
  color: var(--neutral-12);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.tab_overview {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.sto-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.sto-detail-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.meeting_type_logo {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.sto-copy-link-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  transition: all 250ms ease;

  cursor: pointer;
}

.sto-copy-link-wrap:hover {
  opacity: 0.8;
}

.sto-slot-join-btn {
  width: 100%;
}

.sto-detail-right-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.tab_row {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.tab_row.hide {
  display: none;
}

.div-block-1419 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-gray-600 {
  color: var(--sand-11);
}

.text-gray-600.is_link {
  color: #337fbd;
  text-decoration: underline;
  cursor: pointer;
}

.text-gray-600.underline {
  text-decoration: underline;
  cursor: pointer;
}

.share_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.feedback-link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--accent-11);

  cursor: pointer;
}

.feedback-link-wrap.no-color {
  color: transparent;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.embed_flex.fixedd {
  width: 23px;
}

.text-red-500 {
  color: var(--error-11);
}

.sto-column-wrap {
  display: flex;
  justify-content: space-between;
  grid-column-gap: var(--space-6);
  grid-row-gap: var(--space-6);
}

.sto-column-left-wrap {
  width: 450px;
}

.sto-column-left-subwrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.sto-slot-member-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.sto-column-right-wrap {
  display: flex;
  width: 250px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.sto-interview-module-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.sto-company-intro {
  display: flex;
  padding: 6px 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.sto-company-intro.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.sto-company-intro.cursor-pointer:hover {
  opacity: 0.8;
}