.schedule_card_wrap {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.schedule-card-line {
  width: 10px;
  background-color: var(--sky-a11);
}

.schedule_details {
  display: flex;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-2.hide {
  display: none;
}

.hide {
  display: none;
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.center.gap-4 {
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.flex-horizontal.gap-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.align-center {
  justify-content: flex-start;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.meeting_type_logo {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}