.dashbaord-wrap-scheduling {
  display: flex;
}

.scheduling-dashboard {
  display: flex;
  overflow: auto;
  width: 100%;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  background-color: var(--white);
}

.sd_row_5 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.sd_row_4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.sd_card_with_number {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.sd_row_9 {
  display: grid;
  height: 296px;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 0.7fr 1.3fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#w-node-_86c7a60b-b65d-b86a-08cc-187f561d6b8c-aa8c5b1c {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 4;
  grid-column-end: span 4;
}
#w-node-_339a57db-5c0d-724d-c085-cf060b322c4d-aa8c5b1c {
}
#w-node-_39a54981-40f7-c272-1ba4-739d34937bae-aa8c5b1c {
}