.sd-quicklink-wrap {
  display: flex;
  padding: var(--space-2);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-3);
}

.sd-quicklink-list {
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.sd-quicklink-list:hover {
  background-color: var(--neutral-2);
}