.div-block-1746 {
  position: relative;
}

.div-block-1743 {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: var(--radius-4);

  background-color: var(--neutral-a4);
}

.div-block-1744 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.div-block-1745 {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;

  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 100px;

  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}