.session_block {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  padding: var(--space-3) var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  border-radius: var(--radius-2);

  background-color: var(--neutral-2);
}

.session_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex_hr_10-copy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.embed_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.embed_flex.is_on_left {
  margin-left: -25px;
}

.timeblock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.timeblock.is_link {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  cursor: pointer;
}

.slot_member_row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}