.large_sidedrawer {
  overflow: hidden;
  width: 800px;
  height: 100vh;
  background-color: white;
}

.sidedrawer_top_bar {
  display: flex;
  height: 41px;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  border-bottom: 1px solid #e9ebed;
}

.flex_hr_10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.flex_hr_10.disabled_text {
  color: var(--neutral-9);
}

.embed_flex {
  display: flex;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.sidedrawer_body {
  overflow: hidden;
  height: calc(100vh - 121px);
}

.sidedrawer_bottom_bar {
  display: flex;
  height: 65px;
  padding: 16px;
  justify-content: space-between;

  border-top: 1px solid #e9ebed;
  border-bottom: 0px none #e9ebed;
}

.button-pop-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.button-pop-wrap.stretch-vertical {
  display: grid;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.button-pop-wrap.streachfull {
  display: flex;
  width: 100%;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.wide_button {
  position: relative;
  z-index: 1;
}

.wide_button.width-100 {
  width: 100%;
}

#w-node-_97c88937-31b4-9fc3-c74d-05cc519b9feb-519b9fdf {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}