.schedule_option {
  overflow: hidden;
  width: 100%;
  background-color: white;
  z-index: unset;
}

.schedule_option_main {
  z-index: 10;
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
}

.main_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.timeblock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.timeblock.is_link {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.sds-right-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot_conflicts {
  display: flex;
  height: 28px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.schedule_option_expandeed {
  z-index: 1;
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  flex-wrap: nowrap;
}