.ac-wrapper-2 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.activity_card_image_divider {
  display: flex;
  padding-top: 2px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.user_image-2 {
  position: relative;

  overflow: hidden;
  width: 24px;
  height: 24px;
  flex: 0 0 auto;

  border-radius: 3px;

  background-color: #f8f9f9;
}

.dummy_skeleton {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #e9e8e6;
}

.card_connector {
  width: 1px;
  height: 100%;
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
  background-color: rgba(28, 28, 28, 0.1);
}

.activity_card_contents {
  display: flex;
  width: 100%;
  padding-bottom: var(--space-4);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ske_text_regular {
  position: relative;

  display: flex;
  overflow: hidden;
  height: 20px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;
}

.ske_text_regular.width_200 {
  width: 200px;
}

.ske_text_regular.width_120 {
  width: 120px;
}

.ske_text_regular.width_140 {
  width: 140px;
}

.ske_text_regular.width_280 {
  width: 280px;
}

.ske_text_regular.width_380 {
  width: 380px;
}

.ske_text_small {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 16px;
  border-radius: 3px;
}

.ske_text_small.width_50 {
  width: 50px;
}

.ske_text_small.width_240 {
  width: 240px;
}

.ske_text_small.width_60 {
  width: 60px;
}

.ske_text_small.width_480px {
  width: 480px;
}

.activity_card_widget {
  width: 100%;
}

.activity_card_footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}