.div-block-1627 {
  overflow: hidden;
  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.div-block-1628 {
  padding: 16px 12px;
  background-color: var(--neutral-2);
}

.div-block-1629 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.div-block-1630 {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.div-block-1630:hover {
  opacity: 0.8;
}

.accent-text {
  color: var(--accent-9);
}

.accent-text.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.accent-text.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.accent-text.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.cursor-pointer:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.div-block-1708 {
  padding-top: 20px;
}