.sound-track-wrap {
  overflow: hidden;
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.st-header-wrap {
  padding: var(--space-4) var(--space-3);
  background-color: var(--neutral-2);
}

.st-body-wrap {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.st-sub-body-wrap {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.st-sub-body-wrap:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.st-transcript-wrap {
  padding-top: var(--space-4);
}