.task_table {
  width: 100%;
}

.task_table_filters {
  position: relative;

  display: flex;
  height: 48px;
  padding: var(--space-2) 16px;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #e9ebed;
}

.task_table_wrapper {
  position: relative;
  height: 100%;
}

.task_row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 20px auto 17% 10% 15% 15%;
  grid-template-rows: auto;
  border-bottom: 1px solid #e9ebed;
}

.task_row.title-row {
  position: sticky;
  top: 0px;
  z-index: 3;

  height: var(--space-7);
  padding-left: 10px;
  align-content: center;

  background-color: var(--neutral-2);
}

.task_row.title-row.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 160px 110px 160px 160px 130px;
}

.task_row.height-53 {
  position: relative;
  height: var(--space-8);
  align-content: center;
}

.task_row.height-53.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 160px 110px 160px 160px 130px;
  cursor: pointer;
}

.task_row.height-53.pointer {
  padding-left: 10px;
  cursor: pointer;
}

.task_selection_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.task_row_cell {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: flex-start;
  align-items: center;
}

.task_row_cell.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.task_row_cell.overview-wrap {
  justify-content: space-between;
}

.task_row_cell.hide {
  display: none;
}

.task_row_cell.space-between {
  justify-content: space-between;
}

.task_row_cell.is_status {
  padding-left: 4px;
}

.text-grey-500 {
  color: #87929d;
}

.new_task {
  display: flex;
  width: 100%;
  height: var(--space-7);
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #eaf1f3;
}

.new_task.job-cand {
  justify-content: space-between;
  align-items: center;
}

.new_task.job-cand.heigth-60 {
  height: 60px;
}

.tjc-space-div {
  width: 3%;
  height: 100%;
}

.tjc-space-div.header {
  width: 20px;
}

.tjc-space-div.group-header {
  width: 1%;
}

.link-flex-accent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  transition: opacity 200ms ease;

  color: var(--accent-11);
  text-decoration: none;

  cursor: pointer;
}

.link-flex-accent:hover {
  opacity: 0.88;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1453 {
  position: relative;
  z-index: 2;
}

.slot_tasktablecard {
  overflow: auto;
  height: calc(100vh - 176px);
}

#w-node-e2a009d4-d014-04d6-b837-039f401c4ec7-401c4ec4 {
}
#w-node-a912ad28-61de-e2be-3b5b-b1a487db6b63-401c4ec4 {
}
#w-node-e2a009d4-d014-04d6-b837-039f401c4ecb-401c4ec4 {
}
#w-node-e2a009d4-d014-04d6-b837-039f401c4ec8-401c4ec4 {
}
#w-node-_98446a6e-7f10-ed73-7fea-bb5776f6dc5c-401c4ec4 {
}
#w-node-e2a009d4-d014-04d6-b837-039f401c4ece-401c4ec4 {
}
#w-node-e2a009d4-d014-04d6-b837-039f401c4ed1-401c4ec4 {
}
#w-node-e2a009d4-d014-04d6-b837-039f401c4ed4-401c4ec4 {
}