.new_task {
  display: flex;
  width: 100%;
  height: var(--space-7);
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #eaf1f3;
}

.new_task.job-cand {
  justify-content: space-between;
  align-items: center;
}

.new_task.job-cand.heigth-60 {
  height: 60px;
}

.tjc-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.tjc-space-div {
  width: 3%;
  height: 100%;
}

.tjc-space-div.header {
  width: 20px;
}

.tjc-space-div.group-header {
  width: 1%;
}

.tjc-slot-drop-icon {
  display: flex;
  margin-right: var(--space-3);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.tjc-slot-avatar {
  display: flex;
  margin-right: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}