.tub-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  padding: var(--space-2) var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);

  background-color: var(--white);
}

.tub-left-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.tub-close-wrap {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: var(--neutral-3);

  cursor: pointer;
}

.tub-close-wrap.cursor-pointer {
  transition: all 200ms ease;
}

.tub-close-wrap.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.tub-btn-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}