.date-range-widget {
  display: flex;
  width: 360px;
  padding: var(--space-3);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  background-color: var(--white);
}

.date-range-switcher {
  display: flex;
  border: 1px solid #e9ebed;
  border-radius: 10px;
  cursor: pointer;
}

.date-range-switcher-tab {
  position: relative;

  display: flex;
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.task-date-active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-top-left-radius: var(--radius-4);
  border-bottom-left-radius: var(--radius-4);

  background-color: var(--sand-3);
}

.task-date-active.right {
  border-radius: 0px var(--radius-4) var(--radius-4) 0px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}