.task-not-respond-wrap {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--neutral-2);
}

.div-block-1759 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}