.task-not-respond-wrap {
  display: flex;
  padding: var(--space-2) var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: var(--radius-4);

  background-color: var(--warning-a3);
}

.text-yellow-800 {
  color: var(--warning-11);
}

.div-block-1759 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}