.div-block-1607 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  padding: 10px 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  background-color: #edf7ff;
}

.div-block-1608 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1611 {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: white;

  cursor: pointer;
}

.div-block-1611.cursor-pointer {
  transition: all 200ms ease;
}

.div-block-1611.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1609 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1610 {
  padding: 10px 16px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  color: #d93f4c;

  cursor: pointer;
}

.div-block-1610.no-red {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  color: #0f3554;
}