.task_row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 20px auto 15% 10% 15% 15%;
  grid-template-rows: auto;
  border-bottom: 1px solid #e9ebed;
}

.task_row.title-row {
  position: sticky;
  top: 0px;
  z-index: 3;

  height: var(--space-7);
  padding-left: 10px;
  align-content: center;

  background-color: var(--neutral-2);
}

.task_row.title-row.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 150px 110px 160px 160px 130px;
}

.task_row.height-53 {
  position: relative;
  height: var(--space-8);
  align-content: center;
}

.task_row.height-53.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 150px 110px 160px 160px 130px;
  cursor: pointer;
}

.task_row.height-53.pointer {
  padding-left: 10px;
  cursor: pointer;
}

.task_selection_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.task_row_cell {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: flex-start;
  align-items: center;
}

.task_row_cell.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.task_row_cell.overview-wrap {
  justify-content: space-between;
}

.task_row_cell.hide {
  display: none;
}

.hide {
  display: none;
}

.task_row_cell.space-between {
  justify-content: space-between;
}

.tjsc-overdue-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--accent-9);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1449 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

#w-node-_64cd7013-b477-21b7-5d99-36b360482539-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf0e-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf10-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf0f-f9aebf0d {
}
#w-node-_11278828-2b21-6637-8526-f1ac7659ccbf-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf13-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf1d-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf20-f9aebf0d {
}
#w-node-_5835e3c5-e90c-dac6-4a0a-13a054034032-f9aebf0d {
}