.task-empty-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--space-4);
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.task-empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}