.div-block-1346 {
  display: flex;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.div-block-1346.mt-10 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: var(--space-2);
}

.div-block-1349 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.user-wrapper {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.progres-line {
  width: 1px;
  height: 100%;
  background-color: #d8dcde;
}

.progress-details {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.transcript-card-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}