.task_row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 20px auto 15% 10% 15% 15%;
  grid-template-rows: auto;
  border-bottom: 1px solid #e9ebed;
}

.task_row.title-row {
  position: sticky;
  top: 0px;
  z-index: 3;

  height: var(--space-7);
  padding-left: 10px;
  align-content: center;

  background-color: var(--neutral-2);
}

.task_row.title-row.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 150px 110px 160px 160px 130px;
}

.task_row.height-53 {
  position: relative;
  height: var(--space-8);
  align-content: center;
}

.task_row.height-53.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 150px 110px 160px 160px 130px;
  cursor: pointer;
}

.task_row.height-53.pointer {
  padding-left: 10px;
  cursor: pointer;
}

.tjsc-checkbox-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.task_row_cell {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: flex-start;
  align-items: center;
}

.task_row_cell.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.task_row_cell.overview-wrap {
  justify-content: space-between;
}

.task_row_cell.hide {
  display: none;
}

.hide {
  display: none;
}

.task_row_cell.space-between {
  justify-content: space-between;
}

.tjsc-overdue-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--accent-9);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1449 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

#w-node-_0e231740-1f41-abbd-f750-e11545d38298-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d6f-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d71-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d70-1d499d6e {
}
#w-node-_9125883b-4bc5-805a-822c-4bac0484cce7-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d74-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d7e-1d499d6e {
}
#w-node-_5f0d21cb-c241-e5a7-54af-22d4e63b1af0-1d499d6e {
}
#w-node-_20bac36b-272e-4219-72cc-f14b1b9a7193-1d499d6e {
}