.task_table {
  width: 100%;
}

.task_table_filters {
  position: relative;

  display: flex;
  height: 48px;
  padding: var(--space-2) 16px;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #e9ebed;
}

.task_table_wrapper {
  position: relative;
  height: 100%;
}

.task_row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 20px auto 15% 10% 15% 15%;
  grid-template-rows: auto;
  border-bottom: 1px solid #e9ebed;
}

.task_row.title-row {
  position: sticky;
  top: 0px;
  z-index: 3;

  height: var(--space-7);
  padding-left: 10px;
  align-content: center;

  background-color: var(--neutral-2);
}

.task_row.title-row.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 150px 110px 160px 160px 130px;
}

.task_row.height-53 {
  position: relative;
  height: var(--space-8);
  align-content: center;
}

.task_row.height-53.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 150px 110px 160px 160px 130px;
  cursor: pointer;
}

.task_row.height-53.pointer {
  padding-left: 10px;
  cursor: pointer;
}

.div-block-1537 {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  color: var(--accent-10);

  cursor: pointer;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.task_row_cell {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: flex-start;
  align-items: center;
}

.task_row_cell.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.task_row_cell.overview-wrap {
  justify-content: space-between;
}

.task_row_cell.hide {
  display: none;
}

.hide {
  display: none;
}

.task_row_cell.space-between {
  justify-content: space-between;
}

.div-block-1452 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#w-node-_4236db5e-3938-26b8-a04e-ed6679bd2c95-79bd2c91 {
}
#w-node-_7aa6a833-923f-9190-7ab6-0d3438ac9b89-79bd2c91 {
}
#w-node-_4236db5e-3938-26b8-a04e-ed6679bd2c99-79bd2c91 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_4236db5e-3938-26b8-a04e-ed6679bd2c96-79bd2c91 {
}
#w-node-_4236db5e-3938-26b8-a04e-ed6679bd2c9c-79bd2c91 {
}
#w-node-_430a6ab2-8864-faea-9e6c-d2de1e9414d2-79bd2c91 {
}
#w-node-_7183a5b7-2ac4-fc35-bd91-61b79d6499d3-79bd2c91 {
}