.task_status_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;

  border-radius: 3px;

  background-color: #d1e8df;

  cursor: pointer;
}

.task_status {
  display: flex;
  padding: 2px var(--space-2);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  font-size: var(--font-size-1);
}