.new_task {
  display: flex;
  width: 100%;
  height: var(--space-8);
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #eaf1f3;
}

.new_task.job-cand {
  justify-content: space-between;
  align-items: center;
}

.new_task.job-cand.height-40 {
  height: 40px;
}

.div-block-1568 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.div-block-1441 {
  width: 3%;
  height: 100%;
}

.div-block-1441.header {
  width: 20px;
}

.div-block-1727 {
  display: flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.div-block-1451 {
  display: flex;
  margin-right: 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1451.hide {
  display: none;
}

.hide {
  display: none;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-grey-600.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-grey-600.text-underline.cursor-pointer {
  transition: opacity 250ms ease;
  cursor: pointer;
}

.text-grey-600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.div-block-1442 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1442.cursor-pointer {
  cursor: pointer;
}

.div-block-1442.cursor-pointer:hover {
  opacity: 0.8;
}

.accent-text {
  color: var(--accent-9);
}

.accent-text.text-underline {
  text-decoration: underline;
}

.accent-text.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.accent-text.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.accent-text.cursor-pointer:hover {
  opacity: 0.8;
}

.accent-text.text-capital {
  text-transform: uppercase;
}

.fw-semibold {
  font-weight: 600;
}