.text_with_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.slot_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}