.activity_block {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100vh;
  max-width: 400px;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  background-color: white;
}

.task_list_switch {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  transition: all 300ms ease;

  color: #337fbd;

  cursor: pointer;
}

.task_list_switch:hover {
  border-radius: 6px;
  background-color: #edf7ff;
  color: #0f3554;
}

@media screen and (min-width: 1920px) {
  .task_list_switch.hide {
    display: none;
  }
}

.hide {
  display: none;
}

.task_list_switch.no_hover {
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #87929d;
  cursor: auto;
}

.task_list_switch.no_hover:hover {
  background-color: transparent;
  color: #87929d;
}

.task_list_switch.no_hover.no-border {
  padding-right: 0px;
  padding-left: 0px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.timeline_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.timeline {
  display: grid;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.timeline_left {
  display: grid;
  height: 100%;
  flex-direction: column;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
}

.timeline_avatar_block {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 100px;
}

.connector {
  width: 1px;
  height: 100%;
  background-color: #d8dcde;
}

.connector.hide {
  display: none;
}

.timeline_right {
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.link {
  color: var(--accent-11);
  cursor: pointer;
}

.timeindicator {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.status_block {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

#w-node-_11f738e8-e45b-8da2-938c-73c4a3a6313b-a3a63131 {
  justify-self: center;
}
#w-node-_4e78f10d-548d-b0d7-1ab5-9847a477f5e4-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a63158-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a6314a-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a63165-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a63173-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a63181-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a6318e-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a631a1-a3a63131 {
  justify-self: center;
}
#w-node-_67c46da1-d23d-f094-bf9b-7462659779b0-a3a63131 {
  justify-self: center;
}
#w-node-_11f738e8-e45b-8da2-938c-73c4a3a631af-a3a63131 {
  justify-self: center;
}
#w-node-_9b8dada3-afd0-ca27-967f-496e7c5f4b47-a3a63131 {
  justify-self: center;
}