.timerangeselector {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.slot_selected_time {
  margin-bottom: 4px;
}

.slot_input_wrap {
  display: flex;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.slot_inputs {
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.outline_button {
  display: flex;
  padding: var(--space-2) var(--space-3) var(--radius-4);
  justify-content: center;
  align-items: center;

  border: 1px solid var(--accent-10);
  border-radius: var(--radius-2);

  color: var(--accent-11);

  cursor: pointer;
}

.outline_button:hover {
  background-color: var(--accent-2);
}

.checkbox_text {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}