.timeline {
  display: grid;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.timeline_left {
  display: grid;
  height: 100%;
  flex-direction: column;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;
}

.timeline_avatar_block {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 100px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.connector {
  width: 1px;
  height: 100%;
  background-color: #d8dcde;
}

.connector.hide {
  display: none;
}

.timeline_right {
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.timeindicator {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.status_block {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

#w-node-af0aa43e-107b-f62a-66e4-f60c19efc276-19efc272 {
  justify-self: center;
}