.timeblock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.timeblock.is_link {
  cursor: pointer;
}

.embed_flex-3 {
  display: flex;
  align-items: center;
}