.activity_block {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100vh;
  max-width: 400px;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  background-color: white;
}

.task_list_switch {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  transition: all 300ms ease;

  color: #337fbd;

  cursor: pointer;
}

.task_list_switch:hover {
  border-radius: 6px;
  background-color: #edf7ff;
  color: #0f3554;
}

@media screen and (min-width: 1920px) {
  .task_list_switch.hide {
    display: none;
  }
}

.hide {
  display: none;
}

.task_list_switch.no_hover {
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #87929d;
  cursor: auto;
}

.task_list_switch.no_hover:hover {
  background-color: transparent;
  color: #87929d;
}

.task_list_switch.no_hover.no-border {
  padding-right: 0px;
  padding-left: 0px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.timeline_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
}