.module_row {
  z-index: 2;

  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: auto;

  border-bottom: 1px solid #eaf1f3;

  background-color: white;
}

.module_row.progress {
  position: sticky;
  top: 0px;
  z-index: 2;
  grid-template-columns: 25% 25% 50%;
  background-color: var(--white);
}

.module_row.height-56 {
  height: 56px;
}

.module_row.height-56.interviewers {
  grid-template-columns: 40% 20% 20% 20%;
}

.module_row.height-56.interviewers.height-auto {
  height: auto;
}

.module_row.interviewers {
  grid-template-columns: 40% 20% 20% 20%;
}

.sd_table_header_cell {
  padding: var(--space-2) var(--space-4);
}

.sd_table_header_cell.progress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.tpl-profile-wrap {
  width: 52px;
  height: 52px;
  flex: 0 0 auto;
  border-radius: 100px;
}

.tpl-profile-wrap.loder {
  position: relative;
}

.tpl-name-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.div-block-1602 {
  position: relative;
  width: 100px;
  height: 20px;
}

.div-block-1602.big {
  width: 140px;
}

.div-block-1602.bigger {
  width: 250px;
  height: 28px;
}

.tpl-history-pill-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border-radius: 10px;
}

#w-node-_1afaeed1-885e-000a-4785-54489de70497-9de7048f {
}
#w-node-_1afaeed1-885e-000a-4785-54489de7049a-9de7048f {
}
@media screen and (min-width: 1440px) {
  #w-node-_1afaeed1-885e-000a-4785-54489de70490-9de7048f {
  }
  #w-node-_1afaeed1-885e-000a-4785-54489de70497-9de7048f {
  }
  #w-node-_1afaeed1-885e-000a-4785-54489de7049a-9de7048f {
  }
}