.div-block-1340 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;
}

.div-block-1455 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1454 {
  display: flex;
  width: 170px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.hide {
  display: none;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-grey_600.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-grey_600.text-underline-copy {
  text-decoration: underline;
  cursor: pointer;
}

.div-block-1456 {
  display: flex;
  width: 100%;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;

  transition: all 250ms ease;

  cursor: pointer;
}

.div-block-1456:hover {
  background-color: #f7f9fb;
}

.div-block-1456.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1456.gap-8.interview {
  height: auto;
  min-height: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.div-block-1458 {
  width: 15px;
}