.task_informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: 10px;
}

.task_detail_row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.task_detail_type {
  display: flex;
  width: 170px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.icons.pointer {
  cursor: pointer;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.task_detail_current {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 2px 10px;
  justify-content: flex-start;
  align-items: center;

  border-radius: var(--radius-3);

  transition: all 250ms ease;

  cursor: pointer;
}

.task_detail_current:hover {
  background-color: var(--neutral-2);
}

.task_detail_current.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.task_detail_current.gap-8.interview {
  height: auto;
  min-height: 36px;
  flex-direction: row;
  flex-wrap: wrap;
}

.div-block-1458 {
  width: 15px;
}

.slot_for_icon {
  width: auto;
  height: auto;
}