.create-task {
  position: relative;

  display: flex;
  width: 600px;
  height: 100vh;
  padding: var(--space-4);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.dtawer-tittle {
  display: flex;
  height: 62px;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
}

.dtawer-tittle.plr-16 {
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-grey-600.text-underline {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-grey-600.text-underline.cursor-pointer {
  transition: opacity 250ms ease;
  cursor: pointer;
}

.text-grey-600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.div-block-1570 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1571 {
  position: relative;
}

.div-block-1569 {
  position: relative;

  display: flex;
  width: 30px;
  height: 30px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 8px;

  background-color: #f8f9f9;

  transition: all 250ms ease;

  cursor: pointer;
}

.div-block-1569.width-30 {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #e9ebed;
}

.div-block-1569.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  cursor: auto;
}

.div-block-1569.disable:hover {
  opacity: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.arrow-tooltips-drawer {
  position: absolute;
  left: -70%;
  top: auto;
  right: 0%;
  bottom: -105%;

  display: flex;
  min-width: 60px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex: 1;

  border-radius: 4px;

  background-color: #2f3941;

  opacity: 1;

  color: white;
  font-size: 10px;
}

.arrow-tooltips-drawer.grey-600 {
  background-color: var(--grey-600\<deleted\|variable-440e5aa6\>);
}

.arrow-tooltips-drawer.grey-600.task {
  left: -64%;
  bottom: -97%;
  z-index: 4;
  display: none;
}

.arrow-tooltips-drawer.grey-600.task-next {
  left: -23%;
  bottom: -97%;
  z-index: 4;
  display: none;
}

.div-block-1588 {
  display: flex;
  overflow: auto;
  height: 100%;
  padding-top: 8px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold {
  font-weight: 600;
}

.div-block-1344 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1345 {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-grey_600.text-underline {
  text-decoration: underline;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-grey_600.text-underline-copy {
  text-decoration: underline;
  cursor: pointer;
}

.div-block-1545 {
  z-index: 2;

  display: flex;
  height: 59px;
  padding: 13px 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-top: 1px solid #e9ebed;

  background-color: white;
}

.div-block-1546 {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #fff0f1;
  color: #d93f4c;
}

.div-block-1546.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.div-block-1546.cursor-pointer:hover {
  background-color: hsla(356, 56.31%, 92.37%, 1.00);
}

.div-block-1546.cursor-pointer.blue {
  background-color: #edf7ff;
  color: #337fbd;
}

.div-block-1546.cursor-pointer.green {
  background-color: #d1e8df;
  color: #228f67;
}