.welcome_message-copy {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px var(--space-4) var(--space-7);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);

  background-color: var(--white);
}

.title_text {
  display: flex;
  flex-direction: column;
  color: #68737d;
  font-size: 30px;
  line-height: 40px;
}

.hello_wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.gemini_hello {
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
}

.how_can_i {
  padding-left: 20px;
}

.wa-grid-wrap {
  max-width: 900px;
  grid-template-rows: auto;
}

@media screen and (min-width: 1280px) {
  .wa-grid-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.option_chat_card {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);

  transition: all 200ms ease;

  cursor: pointer;
}

.option_chat_card:hover {
  box-shadow: 3px 4px 5px 0 hsla(0, 0.00%, 0.00%, 0.08);
  transform: translate(0px, -4px);
}

.option_chat_card.hide {
  display: none;
}

#w-node-_0c7a6bfb-65bf-3da4-a253-3abf619a144d-619a1444 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_0c7a6bfb-65bf-3da4-a253-3abf619a145f-619a1444 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}