.welcome_message-copy {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 20px 40px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  background-color: white;
}

.title_text {
  display: flex;
  flex-direction: column;
  color: #68737d;
  font-size: 30px;
  line-height: 40px;
}

.hello_wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.gemini_hello {
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
}

.how_can_i {
  padding-left: 20px;
}

.grid-2 {
  max-width: 900px;
  grid-template-rows: auto;
}

@media screen and (min-width: 1280px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.option_chat_card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 10px;

  background-color: #f7f9fb;

  transition: all 200ms ease;

  cursor: pointer;
}

.option_chat_card:hover {
  box-shadow: 3px 4px 5px 0 hsla(0, 0.00%, 0.00%, 0.08);
  transform: translate(0px, -4px);
}

.option_chat_card.hide {
  display: none;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

#w-node-_0c7a6bfb-65bf-3da4-a253-3abf619a144d-619a1444 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_0c7a6bfb-65bf-3da4-a253-3abf619a1453-619a1444 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_0c7a6bfb-65bf-3da4-a253-3abf619a1459-619a1444 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_0c7a6bfb-65bf-3da4-a253-3abf619a145f-619a1444 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}