.usercard {
  position: relative;
  z-index: 1;

  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 10px 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}

.usercard:hover {
  background-color: #f8f9f9;
}

.slot_useravatr {
  position: relative;
  z-index: 2;

  display: flex;
  overflow: hidden;
  width: 40px;
  height: 40px;
  justify-content: space-between;

  border-radius: 100px;
}

.panel_card_text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey-600 {
  color: #68737d;
}

.is_active_blue_100 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-radius: 9px;

  background-color: #edf7ff;

  box-shadow: 0 0 0 1px hsla(206.66666666666666, 51.09%, 55.10%, 0.86);
}