.usercard_with_company {
  position: relative;

  display: grid;
  padding: 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 300ms ease;

  cursor: pointer;
}

.usercard_with_company:hover {
  background-color: #f8f9f9;
}

.user_avatar {
  position: relative;
  z-index: 2;

  display: flex;
  overflow: hidden;
  width: 50px;
  height: 50px;
  align-items: center;

  border-radius: 100px;
}

.user_details {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.text-grey_600 {
  color: var(--sand-11);
}

.hide {
  display: none;
}

.text-grey_600.hide {
  display: none;
}

.text-grey_600.width-80px {
  width: 80px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.user_lastjob {
  position: relative;
  z-index: 2;

  display: flex;
  padding-top: 10px;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;

  border-top: 1px solid #e9ebed;
}

.company_info {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.company_avatar {
  display: flex;
  overflow: hidden;
  width: 20px;
  height: 20px;
  align-items: center;

  border-radius: 4px;

  background-color: white;
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_cover.rounded {
  border-radius: 100px;
}

.is_active_blue_100 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-radius: 9px;

  background-color: #edf7ff;

  box-shadow: 0 0 0 1px hsla(206.66666666666666, 51.09%, 55.10%, 0.86);
}

#w-node-a005edcd-8b45-516f-a157-2a07853d5768-853d5768 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a005edcd-8b45-516f-a157-2a07853d5769-853d5768 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a005edcd-8b45-516f-a157-2a07853d576b-853d5768 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a005edcd-8b45-516f-a157-2a07853d5770-853d5768 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a005edcd-8b45-516f-a157-2a07853d5771-853d5768 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a005edcd-8b45-516f-a157-2a07853d5773-853d5768 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a005edcd-8b45-516f-a157-2a07853d5774-853d5768 {
}
#w-node-a005edcd-8b45-516f-a157-2a07853d577a-853d5768 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}