.iv_panel_card {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 10px 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}

.iv_panel_card:hover {
  background-color: #f8f9f9;
}

.panel_card_text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-underline {
  text-decoration: underline;
}

.text-sm.text-grey_600.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-grey_600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.text-blue-500 {
  color: #337fbd;
}

.text-sm.badge {
  color: #228f67;
}

.text-sm.done {
  color: #228f67;
}

.text-sm.in-progress {
  color: #337fbd;
}

.text-sm.progress {
  color: #68737d;
}

.text-sm.justnow-text {
  color: rgba(28, 28, 28, 0.4);
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-sm.text-underline.text-blue-500.view-req {
  position: absolute;
  left: auto;
  top: 10px;
  right: 16px;
  bottom: auto;

  cursor: pointer;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.slotavatar_group {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.avatar_group_30 {
  height: 30px;
}