.iv_panel_card {
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 10px 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}

.iv_panel_card:hover {
  background-color: #f8f9f9;
}

.panel_card_text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.text-sm {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);
}

.text-sm.color-grey-600 {
  color: var(--sand-11);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_600 {
  color: var(--sand-11);
}

.text-grey-600 {
  color: #68737d;
}

.slotavatar_group {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.avatar_group_30 {
  height: 30px;
}