.workflow_item {
  width: 100%;
  border: 1px solid var(--neutral-a6);
  border-radius: 10px;
  background-color: var(--white);
}

.workflow_item_top {
  display: flex;
  padding: var(--space-4);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-bottom: 1px solid var(--neutral-a6);
}

.wi_top_left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.flex_hr_10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex_hr_10.relative_2 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.flex_hr_10.disabled_text {
  color: var(--neutral-9);
}

.wi_icon {
  width: 20px;
  height: 20px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.wc_icon_button {
  display: flex;
  overflow: hidden;
  padding: 2px;

  border-radius: 4px;

  background-color: white;

  box-shadow: inset 0 0 0 0 hsla(0, 0.00%, 0.00%, 0.00);

  cursor: pointer;
}

.wc_icon_button:hover {
  box-shadow: 0 0 0 1px #e9ebed;
}

.workflow_item_body {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.email_template_edit {
  display: flex;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: 10px;

  background-color: var(--neutral-2);
}