.new_workflow_btn {
  position: relative;

  display: flex;
  padding: 6px 12px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px none #1f73b7;
  border-radius: 4px;

  background-color: #1f73b7;

  transition: all 200ms ease;

  color: white;

  cursor: pointer;
}

.new_workflow_btn:hover {
  background-color: hsla(206.8421052631579, 75.10%, 36.17%, 1.00);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  transition: opacity 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.8;
}

.embed_flex.fixedd {
  width: 23px;
}