.workflow_connector {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--neutral-6);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}