.workflow_listing-copy {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto auto;

  background-color: var(--neutral-2);
}

.slot_search_and-_filter {
  display: flex;
  padding-right: 20px;
  padding-bottom: var(--space-4);
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--white);
}

.workflow_body {
  display: flex;
  width: 100%;
}

.slot_workflow_card {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: auto;
  width: 100%;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  background-color: var(--neutral-2);

  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;

  height: calc(100vh - 91px);
}

.slot_workflow_card-copy {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.workflo_helper_wrapper {
  position: relative;
  z-index: 2;
}

.arrow_expand {
  position: absolute;
  left: -10px;
  top: 16px;
  right: auto;
  bottom: auto;
  z-index: 3;

  transition: all 200ms ease;

  color: var(--white);

  cursor: pointer;
}

.arrow_expand:hover {
  color: var(--neutral-2);
}

.embed_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.embed_flex.fixedd {
  width: 23px;
}

.embed_flex.is_on_left {
  margin-left: -25px;
}

.workflow_helper_animated_block {
  overflow: hidden;
  width: 400px;
  transition: all 300ms ease;
}

.workflow_helper {
  position: relative;
  z-index: 2;

  display: flex;
  overflow: auto;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-top-style: none;
  border-top-width: 0px;
  border-top-color: var(--neutral-6);
  border-right-style: none;
  border-right-width: 0px;
  border-right-color: var(--neutral-6);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom-color: var(--neutral-6);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--neutral-6);

  background-color: var(--white);

  height: calc(100vh - 91px);
}

.info_block {
  display: flex;
  width: 367px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.info_block.is_grey {
  padding: var(--space-3);
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  border-radius: var(--radius-4);
  background-color: var(--neutral-3);
}

.title_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--info-11);
}

.title_info.is_neutral {
  color: var(--neutral-12);
}

.title_info.is_neutral-copy {
  width: 350px;
  color: var(--neutral-12);
}

.helper_bullet {
  color: var(--neutral-11);
}

.fw_medium {
  font-weight: 500;
}