.workflow-card-outerwrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.workflow_checkbox {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.workflow_card_wrap {
  position: relative;
  width: 100%;
}

.workflow_card {
  display: flex;
  width: 100%;
  height: 85px;
  padding: var(--space-3) var(--space-4);
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border: 1px solid var(--neutral-a6);
  border-radius: 10px;

  background-color: var(--white);

  transition: all 200ms ease;

  cursor: pointer;
}

.workflow_card:hover {
  border-color: var(--neutral-a8);
}

.wc_top {
  display: flex;
  height: 31px;
  justify-content: space-between;
  align-items: center;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.width_100 {
  width: 100%;
}

.wc_icon_button_group {
  display: flex;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.wc_icon_button {
  display: flex;
  overflow: hidden;
  padding: 2px;

  border-radius: 4px;

  background-color: white;

  box-shadow: inset 0 0 0 0 hsla(0, 0.00%, 0.00%, 0.00);

  cursor: pointer;
}

.wc_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.wc_bottom_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.wc_trigger_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.active-workflow-card {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid #337fbd;
  border-radius: 10px;
}