.workflow_listing {
  overflow: auto;
  background-color: var(--neutral-2);
  height: calc(100vh - 48px);
}

.workflow_itesm {
  display: flex;
  overflow: auto;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}