@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  [data-theme='mint'] {
    --background: 165 100% 97%;
    --foreground: 171 100% 13.1%;
    --card: 165 75% 94.8%;
    --card-foreground: 171 100% 13.1%;
    --popover: 165 75% 94.8%;
    --popover-foreground: 171 100% 13.1%;
    --primary: 167 65% 66%;
    --primary-foreground: 167 100% 6.1%;
    --secondary: 165 50% 92.6%;
    --secondary-foreground: 167 65% 66%;
    --muted: 165 50% 92.6%;
    --muted-foreground: 167 40% 30%;
    --accent: 165 50% 92.6%;
    --accent-foreground: 167 65% 66%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 165 100% 97%;
    --border: 165 50% 89.2%;
    --input: 165 50% 89.2%;
    --ring: 167 65% 66%;
  }

  [data-theme='red'] {
    --background: 0 100% 98.8%;
    --foreground: 0 100% 12.2%;
    --card: 0 100% 96.9%;
    --card-foreground: 0 100% 12.2%;
    --popover: 0 100% 96.9%;
    --popover-foreground: 0 100% 12.2%;
    --primary: 0 100% 89%;
    --primary-foreground: 0 100% 6.7%;
    --secondary: 0 100% 96.1%;
    --secondary-foreground: 0 100% 89%;
    --muted: 0 100% 96.1%;
    --muted-foreground: 0 60% 30%;
    --accent: 0 100% 96.1%;
    --accent-foreground: 0 100% 89%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 100% 98%;
    --border: 0 100% 93.9%;
    --input: 0 100% 93.9%;
    --ring: 0 100% 89%;
  }

  [data-theme='purple'] {
    --background: 280 100% 99%;
    --foreground: 272 100% 14.1%;
    --card: 280 75% 97.2%;
    --card-foreground: 272 100% 14.1%;
    --popover: 280 75% 97.2%;
    --popover-foreground: 272 100% 14.1%;
    --primary: 272 100% 50%;
    --primary-foreground: 272 100% 96.9%;
    --secondary: 280 50% 95.7%;
    --secondary-foreground: 272 100% 50%;
    --muted: 280 50% 95.7%;
    --muted-foreground: 272 40% 30%;
    --accent: 280 50% 95.7%;
    --accent-foreground: 272 100% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 280 100% 99%;
    --border: 280 50% 93%;
    --input: 280 50% 93%;
    --ring: 272 100% 50%;
  }

  [data-theme='pink'] {
    --background: 322 100% 99.4%;
    --foreground: 323 100% 11.4%;
    --card: 322 100% 98.5%;
    --card-foreground: 323 100% 11.4%;
    --popover: 322 100% 98.5%;
    --popover-foreground: 323 100% 11.4%;
    --primary: 322 100% 60%;
    --primary-foreground: 322 100% 97.4%;
    --secondary: 322 100% 96.3%;
    --secondary-foreground: 322 100% 60%;
    --muted: 322 100% 96.3%;
    --muted-foreground: 323 60% 30%;
    --accent: 322 100% 96.3%;
    --accent-foreground: 322 100% 60%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 322 100% 99.4%;
    --border: 322 100% 94.8%;
    --input: 322 100% 94.8%;
    --ring: 322 100% 60%;
  }
}