:root {
    --gray100-3a86b552: hsla(180, 7.69%, 97.45%, 1.00);
    --grey200-9ba653f1: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
    --grey300-03a46dba: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
    --grey400-863ed4b5: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
    --grey500-0d508ad8: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
    --grey600-d5bebe21: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
    --grey700-7fbe857b: hsla(205.26315789473685, 11.52%, 32.35%, 1.00);
    --grey800-e42b2e06: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
    --blue100-d2a1a159: hsla(206.66666666666666, 100.00%, 96.47%, 1.00);
    --blue200-07311850: hsla(206.66666666666666, 58.06%, 87.84%, 1.00);
    --blue300-2a96c522: hsla(206.1818181818182, 50.46%, 78.63%, 1.00);
    --blue400-49d60774: hsla(206.66666666666666, 51.09%, 55.10%, 1.00);
    --blue500-72579298: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
    --blue600-aad8d97e: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
    --blue700-c1b26211: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
    --blue800-09c1dfbf: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
    --green100-8db28f70: hsla(158.18181818181827, 44.00%, 95.10%, 1.00);
    --green200-3c062f81: hsla(156.52173913043478, 33.33%, 86.47%, 1.00);
    --green300-027c1f43: hsla(156.36363636363632, 25.58%, 74.71%, 1.00);
    --green400-da388a85: hsla(158.24999999999997, 33.06%, 52.55%, 1.00);
    --green500-287ff474: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
    --green600-40a2ee5f: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
    --green700-a1b0a24f: hsla(157.8082191780822, 60.33%, 23.73%, 1.00);
    --green800-a83af583: hsla(157.5, 68.57%, 13.73%, 1.00);
    --yellow100-51d667b3: hsla(33.33333333333332, 100.00%, 96.47%, 1.00);
    --yellow200-baad9d26: hsla(31.666666666666682, 100.00%, 92.94%, 1.00);
    --yellow300-a4b464fd: hsla(32.093023255813954, 97.73%, 82.75%, 1.00);
    --yellow400-4dfe34f3: hsla(31.78571428571429, 100.00%, 67.06%, 1.00);
    --yellow500-c095f0f1: hsla(29.83783783783783, 92.04%, 60.59%, 1.00);
    --yellow600-1478b5f5: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
    --yellow700-b1438949: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
    --yellow800-b1e3bc9b: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
    --red100-c55ef5ca: hsla(356, 100.00%, 97.06%, 1.00);
    --red200-4fbf95ba: hsla(354.375, 61.54%, 89.80%, 1.00);
    --red300-4cd51769: hsla(355.3125, 76.19%, 83.53%, 1.00);
    --red400-dd53ad27: hsla(355.1470588235294, 70.83%, 62.35%, 1.00);
    --red500-2e806c7d: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
    --red600-953350ec: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
    --red700-d3747f47: hsla(354.8571428571429, 60.00%, 34.31%, 1.00);
    --red800-2e6a9098: hsla(355.1162790697674, 70.49%, 23.92%, 1.00);
    --kale100-7fa98464: hsla(180, 53.85%, 97.45%, 1.00);
    --kale200-273a01c6: hsla(180, 34.55%, 89.22%, 1.00);
    --kale300-8828b122: hsla(175.71428571428572, 26.92%, 79.61%, 1.00);
    --kale400-aeb7229d: hsla(180, 24.02%, 64.90%, 1.00);
    --kale500-ffd3d2f8: hsla(181.11111111111111, 27.84%, 38.04%, 1.00);
    --kale600-c60cbc05: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
    --kale700-f5e4c087: hsla(187.2413793103448, 90.63%, 12.55%, 1.00);
    --kale800-682c1482: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
    --white-80449ce7: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);
    --accessibleComponentsDarkGrey-c4d8099c: hsla(0, 0.00%, 60.78%, 1.00);
    --accessibleComponentsDodgerBlue-61ffd3d7: hsla(208.10526315789474, 83.33%, 44.71%, 1.00);
    --black-0fdbd865: hsla(0, 0.00%, 0.00%, 1.00);
    --borderGrey-ea561a79: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
    --iconHoverBg-a5dca8bc: hsla(0, 0.00%, 0.00%, 0.04);
    --textDarkGrey-65de823a: hsla(205.26315789473685, 11.52%, 32.35%, 1.00);
    --textLightGrey-914158a7: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
    --bgGrey100-ce47127d: hsla(180, 7.69%, 97.45%, 1.00);
    --skeletonGrey-4e9a134f: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
    --bgGrey200-4f66792c: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
    --gray-100: #f8f9f9;
    --grey-200: #e9ebed;
    --grey-300: #d8dcde;
    --grey-400: #c2c8cc;
    --grey-500: #87929d;
    --grey-600: #68737d;
    --grey-700: #49545c;
    --grey-800: #2f3941;
    --blue-100: #edf7ff;
    --blue-200: #cee2f2;
    --blue-300: hsla(206.1818181818182, 50.46%, 78.63%, 1.00);
    --blue-400: hsla(206.66666666666666, 51.09%, 55.10%, 1.00);
    --blue-500: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
    --blue-600: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
    --blue-700: #144a75;
    --blue-800: #0f3554;
    --green-100: #edf8f4;
    --green-200: hsla(156.52173913043478, 33.33%, 86.47%, 1.00)
;
    --green-300: #aecfc2;
    --green-400: #5eae91;
    --green-500: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
    --green-600: #038153;
    --green-700: #186146;
    --green-800: #0b3b29;
    --yellow-100: #fff7ed;
    --yellow-200: hsla(31.666666666666682, 100.00%, 92.94%, 1.00);
    --yellow-300: #fed6a8;
    --yellow-400: #ffb057;
    --yellow-500: hsla(29.83783783783783, 92.04%, 60.59%, 1.00);
    --yellow-600: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
    --yellow-700: #ad5918;
    --yellow-800: #703815;
    --red-100: #fff0f1;
    --red-200: #f5d5d8;
    --red-300: #f5b5ba;
    --red-400: #e35b66;
    --red-500: #d93f4c;
    --red-600: #cc3340;
    --red-700: #8c232c;
    --red-800: #681219;
    --kale-100: hsla(180, 53.85%, 97.45%, 1.00);
    --kale-200: hsla(180, 34.55%, 89.22%, 1.00);
    --kale-300: #bdd9d7;
    --kale-400: #90bbbb;
    --kale-500: #467b7c;
    --kale-600: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
    --kale-700: #03363d;
    --kale-800: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
    --white: white;
    --black: black;
    --border-grey: #d8dcde;
    --icon-hover-bg: rgba(0, 0, 0, 0.04);
    --text-dark-grey: #49545c;
    --text-light-grey: #87929d;
    --bg-grey-100: #f8f9f9;
    --skeleton-grey: #d8dcde;
    --bg-grey-200: #e9ebed;
    --gray-100-border: #f8f9f9
;
    --white-9747b35e: hsla(0, 0.00%, 100.00%, 1.00);
    --black-402b3f04: hsla(0, 0.00%, 0.00%, 1.00);
    --greyPrime-9ae09e17: #333;
    --yellowPrime-5734b54f: hsla(66.82634730538922, 100.00%, 67.25%, 1.00);
    --blue600-cb1b4518: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
    --blue700-4fdeafcf: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
    --red600-937b9595: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
    --red700-eef2bc62: hsla(354.8571428571429, 60.00%, 34.31%, 1.00);
    --kale600-0961d49d: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
    --kale700-f9fc674d: hsla(187.2413793103448, 90.63%, 12.55%, 1.00);
    --kale300-6bb63e75: hsla(175.71428571428572, 26.92%, 79.61%, 1.00);
    --kale800-a17a7b36: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
    --kale400-d4602035: hsla(180, 24.02%, 64.90%, 1.00);
    --grey800-e8c7a768: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
    --grey700-5753ca4f: hsla(205.26315789473685, 11.52%, 32.35%, 1.00);
    --grey600-440e5aa6: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
    --grey200-750b0c46: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
    --grey400-5470456b: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
    --grey-prime: #333;
    --yellow-prime: #ecff58;
    --grey-100: #f8f9f9
;
    --kale700-46084a49: hsla(187.2413793103448, 90.63%, 12.55%, 1.00);
    --yellow700-a43ce949: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
    --blue700-44d5e20c: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
    --green700-a3a55e45: hsla(157.8082191780822, 60.33%, 23.73%, 1.00);
    --grey100-ce28dc20: hsla(180, 7.69%, 97.45%, 1.00);
    --black-9b0fc3fc: hsla(0, 0.00%, 0.00%, 1.00);
    --red500-5e487426: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
    --grey700-2a684da2: hsla(205.26315789473685, 11.52%, 32.35%, 1.00);
    --blue100-331f343b: hsla(206.66666666666666, 100.00%, 96.47%, 1.00);
    --green100-002b4df1: hsla(158.18181818181827, 44.00%, 95.10%, 1.00);
    --red100-da60b1de: hsla(356, 100.00%, 97.06%, 1.00);
    --white-c31c6fe9: hsla(0, 0.00%, 100.00%, 1.00);
    --grey800-d4992224: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
    --blue800-6cd97850: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
    --green800-29596a70: hsla(157.5, 68.57%, 13.73%, 1.00);
    --red800-3e023ecd: hsla(355.1162790697674, 70.49%, 23.92%, 1.00);
    --red700-fc2a7aca: hsla(354.8571428571429, 60.00%, 34.31%, 1.00);
    --yellow100-b287ad6a: hsla(33.33333333333332, 100.00%, 96.47%, 1.00);
    --gray-700: #49545c;
    --gray-800: #2f3941;
    --gray-200: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
    --gray-600: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
    --primary--light: hsla(210, 33.33%, 97.65%, 1.00);
    --black-100: hsla(0, 0.00%, 10.98%, 1.00);
    --secondary--green: hsla(158.1818181818182, 54.10%, 76.08%, 1.00);
    --secondary--blue: hsla(201.53846153846155, 100.00%, 84.71%, 1.00);
    --secondary--cyan: hsla(205.2, 40.32%, 75.69%, 1.00);
    --gray-500: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
    --gray-400: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
    --gray-300: hsla(199.9999999999999, 8.33%, 85.88%, 1.00)
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.154px
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 600
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    line-height: 1.4;
    font-weight: 600
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600
}
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600
}
h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600
}
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600
}
p {
    margin-bottom: 0px
}
a {
    text-decoration: none
}
ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px
}
strong {
    font-weight: bold
}
em {
    font-style: italic
}
figure {
    margin-bottom: 10px
}