.toast-container {
  --radius: var(--space-1);
  --stack-gap: var(--space-4);
  --safe-area-gap: env(safe-area-inset-bottom);

  position: fixed;
  display: block;
  max-width: 300px;
  bottom: calc(var(--safe-area-gap, 0px) + 20px);
  right: 20px;
  z-index: 5000;
  transition: all 0.4s ease;

  & .toast {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    transition: all 0.4s ease;
    transform: translate3d(0, 86px, 0);
    opacity: 0;

    & .toast-inner {
      --toast-bg: none;
      --toast-fg: var(--sand-12);
      --toast-border-color: var(--sand-6);
      box-sizing: border-box;
      border-radius: var(--radius);
      border: 1px solid var(--toast-border-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      color: var(--toast-fg);
      background-color: var(--toast-bg);
      height: var(--height);
      transition: all 0.25s ease;
      /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3); */
      box-shadow: var(--shadow-5);

      &.default {
        --toast-fg: var(--sand-12);
        --toast-bg: var(--sand-1);
        box-shadow: var(--shadow-3);
      }

      &.success {
        --toast-bg: var(--jade-3);
        --toast-fg: var(--jade-11);
        --toast-border-color: var(--jade-6);
      }

      &.error {
        --toast-bg: var(--tomato-3);
        --toast-fg: var(--tomato-11);
        --toast-border-color: var(--tomatto-6);
      }

      &.warning {
        --toast-bg: var(--yellow-3);
        --toast-fg: var(--yellow-11);
        --toast-border-color: var(--yellow-6);
      }

      &.dark {
        --toast-bg: var(--sand-2);
        --toast-fg: var(--sand-12);
        --toast-border-color: var(--sand-6);

        & .toast-button {
          --button-fg: var(--sand-12);
          --button-bg: transparent;
          --button-border: transparent;
          --button-border-hover: transparent;
          --button-fg-hover: var(--sand-12);

          &.cancel-button {
            --cancel-button-bg: var(--sand-2);
            --cancel-button-fg: var(--sand-9);
            --cancel-button-border: var(--sand-6);

            &:hover {
              color: var(--sand12);
              border-color: var(--button-border);
            }
          }
        }
      }
    }

    & .toast-text {
      width: 100%;
      height: 100%;
      font-size: 14px;
      margin-top: -1px;
      margin-right: 24px;
      transition: all 0.3s ease-in;
    }

    & .toast-button {
      --button-fg: none;
      --button-bg: var(--sand-1);
      --button-border: var(--sand-1);
      --button-border-hover: var(--sand-1);
      --button-fg-hover: var(--sand-1);
      min-width: auto;
      height: 24px;
      line-height: 22px;
      padding: 0 10px;
      font-size: 14px;
      background-color: var(--button-bg);
      color: var(--button-fg);
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      vertical-align: middle;
      border-radius: var(--radius);
      outline: none;
      border: 1px solid var(--button-border);
      transition: all 0.2s ease;

      &.cancel-button {
        --cancel-button-bg: none;
        --cancel-button-fg: var(--sand-9);
        border: none;
        background-color: none;
        color: var(--cancel-button-fg);
        border-color: var(--cancel-button-border);
        background-color: var(--cancel-button-bg);

        &:hover {
          --cancel-button-fg: var(--sand-12);
          --cancel-button-border: transparent;
        }
      }
    }

    & .default .toast-button {
      --button-fg: var(--sand-12);
      --button-bg: var(--sand-1);
      --button-border: var(--sand-1);
      --button-border-hover: var(--sand-1);
      --button-fg-hover: var(--sand-1);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 1px);
      width: 100%;
      height: 1000px;
      background: transparent;
    }

    &.toast-1 {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    &:not(:last-child) {
      --i: calc(var(--index) - 1);
      transform: translate3d(0, calc(1px - (var(--stack-gap) * var(--i))), 0)
        scale(calc(1 - 0.05 * var(--i)));
      opacity: 1;

      & .toast-inner {
        height: var(--front-height);

        & .toast-text {
          opacity: 0;
        }
      }
    }

    &.toast-4 {
      opacity: 0;
    }
  }
}

/* if more than 1, then apply hover effect */
.toast-container:has(.toast-2):hover {
  bottom: calc(var(--safe-area-gap, 0px) + 30px);
}

.toast-container:hover .toast {
  transform: translate3d(
    0,
    calc(var(--hover-offset-y) - var(--stack-gap) * (var(--index) - 1)),
    0
  );

  & .toast-inner {
    height: var(--height);
  }

  & .toast-text {
    opacity: 1 !important;
  }
}

@media (max-width: 440px) {
  .toast-container {
    max-width: 90vw;
    right: 5vw;

    & .toast {
      width: 90vw;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
