body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.three-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[class*='one-line-clamp'] {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.two-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//scroll bar css and visibility condition
* {
  /*width*/
  &::-webkit-scrollbar {
    width: 6px;
    height: 3px;
  }

  /*track*/
  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0);
  }

  /*thumb*/
  &::-webkit-scrollbar-thumb {
    visibility: hidden;
    background: rgba(152, 152, 152, 0.7);
    border-radius: 8px;
  }

  &:active::-webkit-scrollbar-thumb,
  :focus::-webkit-scrollbar-thumb,
  :hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

//scroll bar css and visibility condition
