.div-block-1403 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1534 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}