.new-candidate-schedule-grid {
  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: 100% 454px;
  grid-template-rows: auto;
}

.candidate-schedule-left-wrap {
  position: relative;
  width: 100%;
}

.cd-schedule-header {
  display: flex;
  height: 52px;
  padding: 10px 20px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-bottom: 1px solid #e9ebed;
}

.new-schedule-cd-card-wrap {
  position: relative;

  overflow: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
  height: calc(100vh - 112px);
}

.div-block-1327 {
  position: absolute;
  left: auto;
  top: auto;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.div-block-1327.schedule-button-wrap {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-top: 1px solid #e9ebed;

  background-color: white;
}

.div-block-1377 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1376 {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 6px;

  background-color: #f7f9fb;
}

.div-block-1376.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.div-block-1376.cursor-pointer:hover {
  opacity: 0.8;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.candidate-schedule-right-wrap {
  display: flex;
  width: 454px;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-left: 1px solid #e9ebed;
}

#w-node-b4f8c833-3062-0810-c58b-254fa7da7af2-a7da7af1 {
}