.div-block-1281 {
  display: flex;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #337fbd;
  border-radius: 10px;

  background-color: #edf7ff;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  cursor: pointer;
}