.enable_block {
  position: relative;
  z-index: 1;

  display: flex;
  width: 74px;
  justify-content: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  color: #c2c8cc;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.disable_block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 100%;
  justify-content: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  background-color: white;

  color: #228f67;
}