.div-block-1273 {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1273.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.div-block-1273.cursor-pointer:hover {
  opacity: 0.8;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  cursor: pointer;
}

.text-blue-500 {
  color: #337fbd;
}

.text-blue-500.text-underline {
  text-decoration: underline;
}