.interviewplan {
  display: flex;
  overflow: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: calc(100vh - 60px);
}

.slot-interview-coordinator {
  width: 700px;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-gray-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-gray-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-gray-600.is_link {
  color: #337fbd;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.link {
  color: #337fbd;
  cursor: pointer;
}

.div-block-1311 {
  display: flex;
  width: 700px;
  min-height: 240px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.div-block-1312 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.text-grey-600 {
  color: #68737d;
}

.slotinterviewplancard {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
}

.buttons_wrap {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.width-700 {
  width: 700px;
}

.button_primary {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #1f73b7;

  transition: all 200ms ease;

  color: white;

  cursor: pointer;
}

.button_primary:hover {
  background-color: #144a75;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.greay_btn.width-auto {
  width: auto;
}

.button_primary.is_outline {
  border: 1px solid #1f73b7;
  background-color: white;
  color: #1f73b7;
}

.button_primary.is_outline.width-100 {
  width: 100%;
}

.button_primary.greay_btn-copy {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn-copy:hover {
  background-color: #d8dcde;
}

.button_primary.ispublishbutton {
  position: relative;
  z-index: 1;

  overflow: hidden;
  width: 110px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;

  background-color: transparent;
}

.button_primary.ispublishbutton-copy {
  position: relative;
  z-index: 1;

  overflow: hidden;
  width: 110px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;

  background-color: transparent;
}

.button_primary.greay_btn-copy-copy {
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn-copy-copy:hover {
  background-color: #d8dcde;
}

.button_primary.success {
  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.green-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #228f67;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.embed_flex.fixedd {
  width: 23px;
}