.interview_module {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;
}

.interview_module_topbar {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  background-color: #f8f9f9;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.im_action {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.embed_flex.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.embed_flex.cursor-pointer:hover {
  opacity: 0.8;
}

.interview_module_body {
  display: flex;
  padding: 16px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.interview_module_duration {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.im_member-blcok {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.intrerview_module_members {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-gray-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-gray-600.cursor-pointer:hover {
  opacity: 0.8;
}