.interviewerdetail {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.interviewerdetail-left {
  display: flex;
  width: 100%;
  padding: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.div-block-1693 {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.interviewer_info {
  display: flex;
  flex: 0 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.interviewr_avatar {
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interviewer_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-lg {
  font-size: 18px;
  line-height: 24px;
}

.fw-semibold.text-yellow-700 {
  color: #ad5918;
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.text-grey-500 {
  color: #87929d;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: #68737d;
}

.fw-semibold.name-text {
  color: #467b7c;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-gray-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-gray-600.cursor-pointer:hover {
  opacity: 0.8;
}

.text-gray-600.is_link {
  color: #337fbd;
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.div-block-1697 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.div-block-1696 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.div-block-1695 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1694 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-1705 {
  display: flex;
  margin-right: 30px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1706 {
  display: flex;
  width: 50%;
  padding: 6px 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border-radius: 6px;

  background-color: #f7f9fb;
}

.div-block-1706.no-width {
  width: auto;
}

.div-block-1707 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.text-sm-4 {
  font-size: 12px;
  line-height: 16px;
}

.text-blue-500 {
  color: #337fbd;
}

.text-grey-600 {
  color: #68737d;
}

.div-block-1698 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e9ebed;
}

.div-block-1699 {
  overflow: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: calc(100vh - 190px);
}