.div-block-1476 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-block-1480 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1600 {
  width: 12px;
  height: 20px;
}

.div-block-1600.loder {
  position: relative;
}

.div-block-1477 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1478 {
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.div-block-1478.loder {
  position: relative;
}

.div-block-1479 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1599 {
  width: 130px;
  height: 20px;
  border-radius: 4px;
}

.div-block-1599.desc {
  width: 100px;
}

.div-block-1599.loder {
  position: relative;
}

.div-block-1482 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.div-block-1482.loader {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.div-block-1481 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1481.loader {
  position: relative;
  width: 80px;
  height: 24px;
}

.div-block-1481.loder {
  position: relative;
  width: 60px;
  height: 20px;
}