.div-block-1400 {
  position: relative;
}

.div-block-1400.my-schedule {
  padding: 16px 16px 16px 0px;
}

.div-block-1394 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1394.gap-20 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-1394.gap-20.all-schedule {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
}

.div-block-1427 {
  position: sticky;
  top: 0px;
}

.div-block-1399 {
  position: relative;
}

.div-block-1393 {
  display: flex;
  width: 84px;
  height: 96px;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  background-color: #f7f9fb;
}

.div-block-1393.empty-schedule-date {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.div-block-1393.radius-10 {
  border-radius: 10px;
}

.div-block-1395 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.month-text {
  opacity: 0.3;
}

.text-20 {
  font-size: 20px;
  line-height: 28px;
}

.fw-semibold {
  font-weight: 600;
}

.text-blue-500 {
  color: #337fbd;
}

.text-blue-500.text-underline {
  text-decoration: underline;
}

.text-blue-500.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-blue-500.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500.text-capital {
  text-transform: uppercase;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.div-block-1405 {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}