.dropdownelement_flex {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: #e9ebed;

  box-shadow: -2px 4px 6px 0 hsla(0, 0.00%, 0.00%, 0.14);
}

.drop_item {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  background-color: white;

  transition: all 200ms ease;

  cursor: pointer;
}

.drop_item:hover {
  background-color: #f8f9f9;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.hide {
  display: none;
}

.embed_flex.custom_top {
  margin-top: 2px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}