.div-block-1282 {
  display: flex;
  width: 500px;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;
}

.div-block-1283 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-grey-600 {
  color: #68737d;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  cursor: pointer;
}

.div-block-1284 {
  display: flex;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1285 {
  position: relative;

  display: flex;
  width: 50%;
  padding: 12px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.div-block-1287 {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.text-grey_600 {
  color: #68737d;
}

.text-grey_600.hide {
  display: none;
}

.hide {
  display: none;
}

.div-block-1288 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 10px;

  background-color: #edf7ff;
}

.div-block-1289 {
  padding-top: 10px;
}