.schedule_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.schedule_dateblcok {
  display: flex;
  width: 80px;
  height: 96px;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 3px;
  grid-row-gap: 3px;

  border-radius: 10px 0px 0px 10px;

  background-color: #f7f9fb;
}

.schedule_dateblcok.height-90 {
  height: 90px;
}

.schedule_dateblcok.height-90.center {
  justify-content: center;
  align-items: center;
}

.schedule_dateblcok.height-90.center.width-85 {
  width: 85px;
}

.schedule_dateblcok.height-90.center.width-85.not-schedule {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.schedule_dateblcok.height-90.center.width-85.not-schedule.active {
  z-index: 3;
}

.schedule_dateblcok.height-90.center.width-85.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #edf7ff;
}

.data_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.schedule_month {
  color: #68737d;
  font-size: 14px;
}

.schedule_month.opacity-40 {
  opacity: 0.4;
}

.scheduledate {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}

.day {
  font-size: 14px;
  line-height: 20px;
}

.text-blue-500 {
  color: #337fbd;
}

.schedule_details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.div-block-1415 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.text-red-600 {
  color: #cc3340;
}

.fw-semibold.text-purple {
  color: #a81897;
}

.fw-semibold.text-green {
  color: #228f67;
}

.fw-semibold.text-yellow {
  color: #eac05b;
}

.fw-semibold.text-orange {
  color: #ed942d;
}

.fw-semibold.text-red {
  color: #d93f4c;
}

.fw-semibold.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.div-block-1416 {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.meeting_type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.meeting_type_logo {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}