.text-tab-menu-wrap {
  position: relative;
  padding: 6px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.fw-semibold {
  font-weight: 600;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.relative_2.two-line-clamp.capitalize {
  text-transform: capitalize;
}

.fw-semibold.capitalize {
  text-transform: capitalize;
}

.active-tab-menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 10px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}