.div-block-1434 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 20px 1fr 130px 110px 160px 190px;
  grid-template-rows: auto;
  border-bottom: 1px solid #e9ebed;
}

.div-block-1434.height-40 {
  position: sticky;
  top: 0px;
  z-index: 3;

  height: 40px;
  padding-left: 10px;
  align-content: center;
  grid-template-columns: 20px 1fr 130px 110px 160px 190px;

  background-color: white;
}

.div-block-1434.height-40.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 130px 110px 160px;
}

.div-block-1434.height-53 {
  position: relative;
  height: 53px;
  align-content: center;
}

.div-block-1434.height-53.job-cand {
  padding-left: 1%;
  grid-template-columns: 20px 1fr 130px 110px 160px;
  cursor: pointer;
}

.div-block-1434.height-53.pointer {
  padding-left: 10px;
  cursor: pointer;
}

.div-block-1536 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.div-block-1435 {
  position: relative;
  z-index: 1;

  display: flex;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
}

.div-block-1435.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1435.overview-wrap {
  justify-content: space-between;
}

.div-block-1435.hide {
  display: none;
}

.hide {
  display: none;
}

.div-block-1435.space-between {
  justify-content: space-between;
}

.div-block-1626 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}

.text-block-31 {
  color: #ff6224;
}

.div-block-1449 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: rgba(243, 244, 246, 0.5);
}

#w-node-_0e231740-1f41-abbd-f750-e11545d38298-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d6f-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d71-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d70-1d499d6e {
}
#w-node-_9125883b-4bc5-805a-822c-4bac0484cce7-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d74-1d499d6e {
}
#w-node-f9fb816c-f256-bc7d-a704-0fc71d499d7e-1d499d6e {
}