.div-block-1346 {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1346.mt-10 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.div-block-1349 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.div-block-1347 {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.div-block-1347.stroke {
  border: 1px solid #d8dcde;
}

.div-block-1348 {
  width: 1px;
  height: 100%;
  background-color: #d8dcde;
}

.div-block-1350 {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1366 {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-sm.color-grey-600 {
  color: #68737d;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: #68737d;
}

.text-sm.text-grey_600.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-grey_600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500 {
  color: #337fbd;
}

.text-sm.badge {
  color: #228f67;
}

.text-sm.done {
  color: #228f67;
}

.text-sm.in-progress {
  color: #337fbd;
}

.text-sm.progress {
  color: #68737d;
}

.text-sm.justnow-text {
  color: rgba(28, 28, 28, 0.4);
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.cursor-pointer.mr-20 {
  margin-right: 20px;
  transition-property: none;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.icons.task-hover {
  position: absolute;
  left: 50px;
  top: -10px;
  right: auto;
  bottom: auto;
}