.div-block-1434 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 3% 34% 12% 8% 13% 15% 15%;
  grid-template-rows: auto;
  border-bottom: 1px solid #e9ebed;
}

.div-block-1434.height-40 {
  position: sticky;
  top: 0px;
  z-index: 3;

  height: 40px;
  align-content: center;
  grid-template-columns: 3% 34% 12% 8% 13% 15% 15%;

  background-color: white;
}

.div-block-1434.height-40.job-cand {
  padding-left: 1%;
  grid-template-columns: 3% 59% 15% 8% 15%;
}

.div-block-1434.height-53 {
  position: relative;
  height: 53px;
  align-content: center;
}

.div-block-1434.height-53.job-cand {
  padding-left: 1%;
  grid-template-columns: 3% 59% 15% 8% 15%;
  cursor: pointer;
}

.div-block-1434.height-53.pointer {
  cursor: pointer;
}

.div-block-1535 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrap-task {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.div-block-1435 {
  position: relative;
  z-index: 1;

  display: flex;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
}

.div-block-1435.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1435.overview-wrap {
  justify-content: space-between;
}

.div-block-1625 {
  position: relative;
  z-index: 1;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #f8f9f9;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-sm.color-grey-600 {
  color: #68737d;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.text-capitalize {
  text-transform: uppercase;
}

.text-grey_400 {
  color: #c2c8cc;
}

.text-grey_600 {
  color: #68737d;
}

.text-sm.text-grey_600.text-underline.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-grey_600.text-underline.cursor-pointer:hover {
  opacity: 0.8;
}

.text-blue-500 {
  color: #337fbd;
}

.text-sm.badge {
  color: #228f67;
}

.text-sm.done {
  color: #228f67;
}

.text-sm.in-progress {
  color: #337fbd;
}

.text-sm.progress {
  color: #68737d;
}

.text-sm.justnow-text {
  color: rgba(28, 28, 28, 0.4);
}

.text-sm.text-underline {
  text-decoration: underline;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.text-underline.text-grey-600.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.text-sm.text-underline.text-grey-600.cursor-pointer:hover {
  opacity: 0.8;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.div-block-1449 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: rgba(243, 244, 246, 0.5);
}

#w-node-_64cd7013-b477-21b7-5d99-36b360482539-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf0e-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf10-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf0f-f9aebf0d {
}
#w-node-_11278828-2b21-6637-8526-f1ac7659ccbf-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf13-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf1d-f9aebf0d {
}
#w-node-_577b6da5-5053-c3a6-5b02-37d3f9aebf20-f9aebf0d {
}
#w-node-_5835e3c5-e90c-dac6-4a0a-13a054034032-f9aebf0d {
}