.cs-sidebar-website-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cs-sidebar-website-info {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cs-sidebar-website-input {
  display: flex;
  flex-direction: column;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
}

.cs-buttons-wrapper {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}