.cv-list {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}

@media screen and (min-width: 1440px) {
  .cv-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.div-block-1278 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cv-list-row {
  position: relative;
  display: flex;
  padding-right: 10px;
  padding-left: 2px;
  align-items: stretch;
}

.cv-list-row.top {
  position: sticky;
  top: 0px;
  z-index: 9;
  flex: 0 0 auto;
  background-color: #f8f9f9;
}

.cv-list-row.item {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  transition: all 300ms ease;
  cursor: pointer;
}

.cv-list-row.item:hover {
  background-color: var(--gray-100\<deleted\|variable-ce28dc20\>);
}

.cv-list-row.top-can {
  z-index: 1;
}

.cv-list-row.top-can:hover {
  z-index: 8;
}

.cv-list-column-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  padding: var(--space-2) var(--space-4);
  align-self: stretch;
}

.cv-list-column-wrapper.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--neutral-3);
}

.cv-list-column-wrapper.header.width-auto {
  width: auto;
  align-self: center;
}

.cv-list-column-wrapper.header.width-auto.no_border {
  border-bottom-style: none;
}

.gap-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy {
  border-bottom-style: none;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12.z-index-6 {
  z-index: 6;
}

.cv-list-column-wrapper.header.progress {
  width: 500px;
  flex: 0 0 auto;
}

.cv-list-column-wrapper.width-auto {
  width: auto;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12.z-index-6 {
  z-index: 6;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12.z-index-6-copy {
  z-index: 6;
  padding-right: 0px;
  padding-left: var(--space-2);
  flex: 0 0 auto;
}

.cv-list-column-wrapper.width-auto.gap-6 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.z-10 {
  z-index: 10;
}

.cv-list-column-wrapper.name {
  width: 380px;
  min-width: 380px;
  flex: 0 0 auto;
}

.cv-list-column-wrapper.items-v-center {
  display: flex;
  align-items: center;
}

.cv-list-column-wrapper.items-v-center.z_index {
  z-index: 100;
}

.cv-list-column-wrapper.items-v-center.z_index.progress {
  width: 500px;
  max-width: 500px;
  flex: 0 0 auto;
}

.cv-list-column-wrapper.items-v-center.progress {
  max-width: 420px;
  overflow-x: auto;
  overflow-y: visible;
}

.cv-list-column-wrapper.chackbox_column {
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 0 0 auto;
  background-color: var(--neutral-3);
}

.cv-list-column {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  overflow-wrap: break-word;
}

.cv-list-column.name {
  width: 240px;
  min-width: 240px;
  margin-left: 0px;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.name {
    width: 320px;
    min-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .cv-list-column.name {
    width: 280px;
    min-width: 280px;
  }
}

.cv-list-column.name.top-can {
  overflow: visible;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.overflow-visible {
  overflow: visible;
}

.cv-list-column.name.overflow-visible.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.name.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.assessment {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.assessment.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.job {
  width: 280px;
  min-width: 280px;
}

.cv-list-column.job.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.experience {
  width: 140px;
  min-width: 140px;
}

.cv-list-column.date {
  width: 240px;
  min-width: 240px;
  margin-right: 0px;
  text-align: right;
}

.cv-list-column.date.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.location {
  width: 230px;
  min-width: 230px;
}

.cv-list-column.location.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.resume {
  width: 180px;
  min-width: 180px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.resume.overflow-visible:hover {
  overflow: visible;
}

.cv-list-column.resume.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.analysis {
  overflow: visible;
  width: 100%;
  min-width: 360px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cv-list-column.overview {
  z-index: -1;
  width: 100%;
  min-width: 360px;
  align-items: flex-start;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.overview {
    flex: 1;
  }
}

.cv-list-column.screening {
  width: 220px;
  min-width: 220px;
}

.cv-list-column.screening.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.disqualified {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.disqualified.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-checkbox {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.cli-check-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;

  width: 100%;
  height: 100%;
}

.cv-list-checkbox-ghost {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cv-list-checkbox-ghost.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.cv-list-row-main {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-right: 10px;
  padding-left: 2px;
  justify-content: flex-start;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.cv-list-row-main.pointer {
  cursor: pointer;
}

.resume-match-stats {
  position: relative;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.resume-match-stat-details {
  position: absolute;
  top: 0px;
  z-index: 20;

  display: none;
  width: 252px;
  padding-top: 16px;
}

.rms-details-block {
  display: flex;
  padding: 1.6em;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border-radius: 8px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 1px 1px 10px 0 hsla(0, 0.00%, 0.00%, 0.10);
}

.rms-detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.rms-tag {
  display: flex;
  padding: 4px 16px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}

.rms-tag.top {
  border-color: hsla(307.0833333333333, 75.00%, 37.65%, 0.20);
  background-color: hsla(307.0833333333333, 75.00%, 37.65%, 0.20);
}

.rms-tag.good {
  border-color: hsla(156.52173913043478, 33.33%, 86.47%, 1.00);
  background-color: hsla(156.52173913043478, 33.33%, 86.47%, 0.50);
}

.rms-tag.average {
  border-color: hsla(47.08860759493671, 90.80%, 17.06%, 0.10);
  background-color: hsla(42.29508196721312, 100.00%, 88.04%, 1.00);
}

.rms-tag.below {
  border-color: hsla(32.093023255813954, 97.73%, 82.75%, 0.50);
  background-color: hsla(31.666666666666682, 100.00%, 92.94%, 1.00);
}

.rms-tag.not-match {
  border-color: hsla(354.375, 61.54%, 89.80%, 1.00);
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.rms-tag.not-found {
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  background-color: hsla(180, 7.69%, 97.45%, 1.00);
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.div-block-1277 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (min-width: 1440px) {
  .div-block-1277 {
    width: 100%;
    padding-right: 0px;
  }
}

.cv-list-body {
  padding-bottom: 16px;
  flex: 0 0 auto;
}

@media screen and (min-width: 1440px) {
  .cv-list-body {
    flex: 0 0 auto;
  }
}