.div-block-1143 {
  display: grid;
  height: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: auto;

  border-bottom: 1px solid rgba(233, 235, 237, 0.5);
}

.div-block-1143.dec-width {
  grid-template-columns: 25% 12% 12% 25% 26%;
}

.div-block-1144 {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div-block-1144.center {
  justify-content: center;
  align-items: center;
}

.div-block-1145 {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.div-block-1145.width-24 {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}

.div-block-1223 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.div-block-1255 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.div-block-1258 {
  position: relative;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.div-block-1257 {
  position: absolute;
  left: auto;
  top: auto;
  right: -15px;
  bottom: -41px;

  display: flex;
  width: 204px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 6px;

  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.div-block-1257.not-connected {
  left: -21px;
  top: auto;
  right: auto;
  bottom: -41px;

  display: none;
  width: 230px;
}

.div-block-1257.connected {
  left: -21px;
  top: auto;
  right: auto;
  bottom: -41px;
  display: none;
}

.tooltippos {
  position: absolute;
  left: 0%;
  top: -7px;
  right: auto;
  bottom: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltippos.not-conneceted {
  left: 21px;
}

.tooltippos.connected {
  left: 21px;
}

.div-block-1259 {
  position: relative;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.slot-interview-module {
  display: flex;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#w-node-_23fa5a49-b85f-659d-e893-4735fbc243b5-fbc243b4 {
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243b6-fbc243b4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243b9-fbc243b4 {
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243bc-fbc243b4 {
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243bf-fbc243b4 {
}