.all-interviewers-header-wrap {
  display: grid;
  height: 52px;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: auto;

  border-top: 1px solid var(--neutral-6);
  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--neutral-2);
}

.all-interviewers-header-wrap.decrease-grid {
  grid-template-columns: 25% 12% 12% 25% 26%;
}

.all-interviewers-header-wrap.decrease-grid.pb-1 {
  height: 52px;
}

.all-interviewer-header-item {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: flex-start;
  align-items: center;
}

.all-interviewer-header-item.center {
  justify-content: center;
  align-items: center;
}

.all-interviewer-header-item.gap-5 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.all-interviewers-body {
  overflow: auto;
  height: calc(100vh - 112px);
}

#w-node-_51c09859-0c9a-df83-83a4-a6e076826a5d-76826a5b {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_51c09859-0c9a-df83-83a4-a6e076826a60-76826a5b {
}