.all-interview-filter {
  display: flex;
  overflow: auto;
  width: 150px;
  max-height: 400px;
  flex-direction: column;

  background-color: var(--white);
}

.jobs-wrap {
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  cursor: pointer;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.all-interview-filter-copy {
  display: flex;
  padding: 0px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;
}