.all-interviewers-card-wrap {
  display: grid;
  height: 80px;
  grid-auto-columns: 1fr;
  grid-template-columns: 25% 12% 12% 25% 26%;
  grid-template-rows: auto;

  border-bottom: 1px solid var(--neutral-6);
}

.all-interviewers-card-wrap.dec-width {
  grid-template-columns: 25% 12% 12% 25% 26%;
}

.all-interviewers-card-item {
  display: flex;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.all-interviewers-card-item.center {
  justify-content: center;
  align-items: center;
}

.interviewers-profile-wrap {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  border-radius: var(--radius-full);
}

.interviewers-profile-wrap.width-24 {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}

.interviewers-detail-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.interviewer-name-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.text-first-cap {
  text-transform: capitalize;
}

.interviewer-calender-wrap {
  position: relative;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.interviewer-calender-connected {
  position: absolute;
  left: -21px;
  top: auto;
  right: auto;
  bottom: -41px;

  display: flex;
  width: 204px;
  padding: var(--space-2) var(--space-4);
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-3);

  background-color: var(--white);
}

.interviewer-calender-connected.not-connected {
  left: -21px;
  top: auto;
  right: auto;
  bottom: -41px;

  display: none;
  width: 230px;
}

.interviewer-calender-connected.connected {
  left: -21px;
  top: auto;
  right: auto;
  bottom: -41px;
  display: none;
}

.tooltippos {
  position: absolute;
  left: 0%;
  top: -7px;
  right: auto;
  bottom: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltippos.not-conneceted {
  left: 21px;
}

.tooltippos.connected {
  left: 21px;
}

.interviewers-not-connect-wrap {
  position: relative;
}

.slot-interview-module {
  display: flex;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#w-node-_23fa5a49-b85f-659d-e893-4735fbc243b5-fbc243b4 {
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243b6-fbc243b4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243b9-fbc243b4 {
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243bc-fbc243b4 {
}
#w-node-_23fa5a49-b85f-659d-e893-4735fbc243bf-fbc243b4 {
}