.candidate-list {
  position: sticky;
  top: 0px;
  z-index: 10;
  width: max-content;
  min-width: calc(100vw - 73px);
}

.embed_css {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

.candidate-list-wrapper {
  z-index: 3;

  display: flex;
  grid-auto-columns: 1fr;
  grid-template-columns: 50px 280px 250px 200px 220px 200px 280px 230px 240px;
  grid-template-rows: auto;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--neutral-6);

  width: max-content;
  min-width: calc(100vw - 73px);
}

.candidate-list-wrapper.no-sticky {
  position: static;
}

.candidate-list-wrapper.no-sticky.relative-1 {
  position: relative;
  top: auto;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.candidate-list-wrapper.no-sticky.relative-1.no-bg {
  background-color: transparent;
}

.candidate-list-wrapper.no-sticky.relative-1.no-bg.pointer {
  grid-template-columns: 50px 280px 250px 200px 220px 200px 280px 230px 240px;
  cursor: pointer;
}

.cv-list-column-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  padding: var(--space-2) var(--space-4);
  align-self: stretch;
  flex: 1;
}

.cv-list-column-wrapper.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--neutral-3);
}

.cv-list-column-wrapper.header.width-auto {
  width: auto;
  align-self: center;
}

.cv-list-column-wrapper.header.width-auto.no_border {
  border-bottom-style: none;
}

.gap-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy {
  border-bottom-style: none;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12.z-index-6 {
  z-index: 6;
}

.cv-list-column-wrapper.width-auto {
  width: auto;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12.z-index-6 {
  z-index: 6;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12.z-index-6-copy {
  z-index: 6;
  padding-right: 0px;
  padding-left: var(--space-2);
  flex: 0 0 auto;
}

.cv-list-column-wrapper.width-auto.gap-6 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.z-10 {
  z-index: 10;
}

.cv-list-column-wrapper.name {
  width: 380px;
  min-width: 380px;
  flex: 0 0 auto;
}

.cv-list-column-wrapper.items-v-center {
  display: flex;
  align-items: center;
}

.cv-list-column-wrapper.items-v-center.z_index {
  z-index: 100;
}

.cv-list-column-wrapper.chackbox_column {
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 0 0 auto;
  background-color: var(--neutral-3);
}

.div-block-1311 {
  width: 14px;
  height: 16px;
  flex: 0 0 auto;
}

.cv-list-column {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  overflow-wrap: break-word;
}

.cv-list-column.name {
  width: 240px;
  min-width: 240px;
  margin-left: 0px;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.name {
    width: 320px;
    min-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .cv-list-column.name {
    width: 280px;
    min-width: 280px;
  }
}

.cv-list-column.name.top-can {
  overflow: visible;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.overflow-visible {
  overflow: visible;
}

.cv-list-column.name.overflow-visible.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.name.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.assessment {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.assessment.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.job {
  width: 280px;
  min-width: 280px;
}

.cv-list-column.job.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.experience {
  width: 140px;
  min-width: 140px;
}

.cv-list-column.date {
  width: 240px;
  min-width: 240px;
  margin-right: 0px;
  text-align: right;
}

.cv-list-column.date.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.location {
  width: 230px;
  min-width: 230px;
}

.cv-list-column.location.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.resume {
  width: 180px;
  min-width: 180px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.resume.overflow-visible:hover {
  overflow: visible;
}

.cv-list-column.resume.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.analysis {
  overflow: visible;
  width: 100%;
  min-width: 360px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cv-list-column.overview {
  z-index: -1;
  width: 100%;
  min-width: 360px;
  align-items: flex-start;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.overview {
    flex: 1;
  }
}

.cv-list-column.screening {
  width: 220px;
  min-width: 220px;
}

.cv-list-column.screening.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.disqualified {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.disqualified.width-100 {
  width: 100%;
  min-width: 100%;
}

.checkbox {
  position: relative;
  cursor: pointer;
}

.default_state {
  display: flex;
}

.active_chechbox {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
}