.app-detail-stages-wrap {
  padding: var(--space-4);
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-4);
  background-color: var(--neutral-2);
}

.app-detail-card-header-drop {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.app-detail-wrap-left-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.div-block-1739 {
  display: none;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-1);

  background-color: var(--white);

  cursor: pointer;
}

.appdetails-drop-card-wrap {
  display: flex;
  margin-top: var(--radius-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}