.tr_panel_dashboard {
  display: flex;
}

.button_primary {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: var(--accent-9);

  transition: all 200ms ease-in-out;

  color: var(--white);

  cursor: pointer;
}

.button_primary:hover {
  background-color: var(--accent-10);
}

.button_primary.is_disabled {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #c2c8cc;
  cursor: auto;
}

.button_primary.is_enabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.is_enabled.main-green {
  position: static;
  background-color: #228f67;
}

.button_primary.is_enabled.main-green:hover {
  background-color: hsla(157.9816513761468, 65.44%, 30.22%, 1.00);
}

.button_primary.is_loading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #e9ebed;

  color: #c2c8cc;

  cursor: progress;
}

.button_primary.is_grey {
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.is_grey:hover {
  background-color: hsla(210.00000000000023, 18.58%, 85.26%, 1.00);
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.embed_flex.is_absolute {
  position: absolute;
}