.assesment_create_popup {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--radius-4);
}

.sidebar_contents {
  position: relative;
}

.sidebar_top {
  position: sticky;
  top: 0px;

  display: flex;
  padding: var(--space-4);
  justify-content: space-between;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-bottom: 1px solid var(--neutral-6);
}

.sidebar_close {
  display: flex;
  align-items: center;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.sidebar_body {
  position: relative;
  z-index: 1;

  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-6);
  grid-row-gap: var(--space-6);
}

.ps_row {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ps_row.is_left_fles {
  align-items: flex-start;
}

.ps_input_slot {
  position: relative;
  z-index: 1;
}

.ps_input_slot._3-1grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.ps_input_slot.is_flex {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.ps_input_slot.option_flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.sidebar_button_wrap {
  height: 76px;
  padding: var(--space-4);
}