.assesment_create_popup {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.sidebar_contents {
  position: relative;
}

.sidebar_top {
  position: sticky;
  top: 0px;

  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-bottom: 1px solid #e9ebed;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.sidebar_close {
  display: flex;
  align-items: center;
}

.embed_flex {
  display: flex;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.sidebar_body {
  position: relative;
  z-index: 1;

  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.ps_row {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.ps_row.is_left_fles {
  align-items: flex-start;
}

.ps_input_slot {
  position: relative;
  z-index: 1;
}

.ps_input_slot._3-1grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.ps_input_slot.is_flex {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.ps_input_slot.option_flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.sidebar_button_wrap {
  height: 76px;
  padding: 20px;
}