.assesment_duration {
  position: relative;

  display: flex;
  padding: 0px 8px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.assesment_duration.is_skeleton {
  width: 113.375px;
  height: 20px;
  border-radius: 4px;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.embed_flex.is_absolute {
  position: absolute;
}