.template_card {
  position: relative;
  z-index: 1;

  display: flex;
  height: 270px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}

.template_card:hover {
  box-shadow: 0 2px 12px -1px hsla(0, 0.00%, 0.00%, 0.11);
}

.template_card.is_skeleton {
  z-index: 4;
  cursor: progress;
}

.template_card.is_skeleton:hover {
  box-shadow: none;
}

.card_top_content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.card_top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.assesment_type_icon {
  position: relative;

  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.template_status_block {
  position: relative;
  width: 72px;
  height: 28px;
  border-radius: 100px;
}

.card_text_wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.embed_css {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

.card_bottom_bar {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.is_active_bg_blue {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-radius: 10px;

  background-color: #edf7ff;

  box-shadow: 0 0 0 2px #adcce4;
}

#w-node-d0a92917-6550-8e4b-545d-b401d8294966-d8294966 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}