.assessment-submitted-wrap {
  display: flex;
  overflow: auto;
  height: 100vh;
  padding-top: 55px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #f7f9fb;
}

.div-block-1001 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.text-xxl {
  font-size: 26px;
  line-height: 1.23;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .text-xxl {
    font-size: 22px;
  }
}

.text-xxl.fw-semibold {
  color: #49545c;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

@media screen and (max-width: 479px) {
  .text-grey-600.mob {
    font-size: 12px;
  }
}

.div-block-1000 {
  width: 655px;
  padding-top: 40px;
}

.div-block-1002 {
  padding-bottom: 30px;
}

.powered-footer-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.powered-footer-wrap.mt-30 {
  margin-top: 30px;
}

.mt-30 {
  margin-top: 30px;
}