.asstant-logo-wrap {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  color: var(--neutral-11);

  cursor: pointer;
}

.active-assistant {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-4);

  color: var(--accent-11);
}