.attendee {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.attendee_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle_flexx {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot_toggle {
  display: flex;
  width: auto;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
}

.slot_toggle.is_fixed_wisth {
  width: 30.000001907348633px;
  height: 0px;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.slot_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.toggle_flexx-copy {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.attendee_right {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.slot_input_field-copy {
  width: 100%;
  min-height: 40px;
}

.dummy_inputfield {
  display: flex;
  width: 100%;
  height: 40px;
  padding-right: 12px;
  padding-left: 12px;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 4px;

  background-color: white;

  color: hsla(208.57142857142856, 0.00%, 72.24%, 1.00);
}

.dummy_inputfield.is_small {
  width: auto;
  height: 26px;
}