.ae-wrapper {
  display: flex;
  width: 994px;
  height: 410px;
  margin-right: var(--space-4);
  margin-left: var(--space-4);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--neutral-2);
}