.available-req-wrap {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100vh;
  min-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 40px 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  background-color: var(--neutral-2);
}

.available-req-header {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot_lopgo {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.embed_flex {
  display: flex;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.title-withicon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--neutral-12);
}

.slot_body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.copyright_block {
  display: flex;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

@media screen and (max-width: 767px) {
  .copyright_block {
    padding-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .copyright_block {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.copyright_block.no-height {
  height: auto;
}

.div-block-1715 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-grey-600 {
  color: #68737d;
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-kale-800 {
  color: var(--kale-800\<deleted\|variable-f2fd7071-1c51-e4c0-2aa9-ed4d60cbbee9\>);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.embed_flex-3 {
  display: flex;
  align-items: center;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

@media screen and (max-width: 479px) {
  .text-grey-600.mob {
    font-size: 12px;
  }
}