.available-req-wrap {
  display: flex;
  overflow: auto;
  height: 100vh;
  padding-top: 60px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.available-req-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.copyright_block {
  display: flex;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

@media screen and (max-width: 767px) {
  .copyright_block {
    padding-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .copyright_block {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.copyright_block.no-height {
  height: auto;
}

.div-block-1715 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-kale-800 {
  color: var(--kale-800\<deleted\|variable-f2fd7071-1c51-e4c0-2aa9-ed4d60cbbee9\>);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

.embed_flex-3 {
  display: flex;
  align-items: center;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

@media screen and (max-width: 479px) {
  .text-grey-600.mob {
    font-size: 12px;
  }
}

.max-width-700 {
  max-width: 700px;
}

.text-align-center {
  text-align: center;
}