.dark-save {
  position: relative;

  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.active_bookmark {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.embed_flex {
  display: flex;
}

.embed_flex.rotate_180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.with_bg {
  position: relative;
  z-index: 2;
}

.embed_flex.with_bg.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.non_active_bookmark {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}