.breadcrum_element {
  position: relative;
  z-index: 1;

  display: flex;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  text-transform: capitalize;
}

.arrow_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-11);
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.is_active_link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  background-color: white;

  transition: all 200ms ease-in-out;

  color: var(--accent-10);

  cursor: pointer;
}

.is_active_link:hover {
  color: var(--accent-11);
}