.div-block-1046 {
  position: relative;

  display: flex;
  height: 700px;
  padding: 20px 30px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;
}

.div-block-1047 {
  position: relative;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.tab_search_wrap {
  display: flex;
  height: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.switch_tab {
  display: flex;
  overflow: hidden;
  border: 1px solid #e9ebed;
  border-radius: 10px;
  cursor: pointer;
}

.tab_pill {
  position: relative;

  display: flex;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: center;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-color-white {
  color: white;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.is_active_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-radius: 10px;

  background-color: #f8f9f9;
}

.is_active_bg.no_radius {
  border-radius: 0px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.icons.lottie {
  width: 16px;
  height: 16px;
}

.div-block-1049 {
  display: grid;
  overflow: auto;
  padding-bottom: 67px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.div-block-1050 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  height: 67px;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  box-shadow: 0 0 8px 0 rgba(4, 68, 77, 0.15);
}

.div-block-1051 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-1052 {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #1f73b7;
  color: white;
}