.schedul-type {
  position: relative;

  display: flex;
  padding: var(--space-1) var(--space-2);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border: 1px solid var(--neutral-6);
  border-radius: var(--space-1);

  background-color: var(--neutral-4);

  transition: all 250ms ease;

  cursor: pointer;
}

.schedul-type:hover {
  background-color: var(--neutral-5);
  opacity: 0.8;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.relative-1.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-indicator {
  position: absolute;
  left: auto;
  top: -5px;
  right: -5px;
  bottom: auto;
  z-index: 3;

  width: 10px;
  height: 10px;

  border-radius: 100px;

  background-color: hsla(29.83783783783783, 92.04%, 60.59%, 1.00);
}

.active-filter-btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 10px;

  background-color: #f8f9f9;
}