.date-pick-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.div-block-1718 {
  display: flex;
  overflow: auto;
  max-width: 900px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}