.jp-nav-wrapper {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-top: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);

  background-color: #f8f9f9;

  box-shadow: 0 -3px 30px 4px hsla(0, 0.00%, 0.00%, 0.06);
}

.jp-nav-block {
  display: flex;
  align-items: center;
}

.jp-nav-block.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.jb-nav-icon {
  display: flex;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 3px;

  background-color: var(--white\<deleted\|variable-c31c6fe9\>);

  transition: all 250ms ease;

  cursor: pointer;
}

.jb-nav-icon:hover {
  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.jb-nav-page-count {
  display: flex;
  height: 20px;
  min-height: 20px;
  padding-right: 6px;
  padding-left: 6px;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 3px;

  background-color: var(--white\<deleted\|variable-c31c6fe9\>);
}

.div-block-406 {
  display: flex;
  max-width: 38px;
  justify-content: center;
  text-align: center;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-block.ml-6 {
  margin-left: 6px;
}

.text-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}