.cand-land-wrap {
  display: flex;
  overflow: auto;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;

  background-color: #f7f9fb;
}

.cand-land-inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-966 {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 16px;

  background-color: white;
}

.text-xxl {
  font-size: 26px;
  line-height: 1.23;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .text-xxl {
    font-size: 22px;
  }
}

.text-xxl.fw-semibold {
  color: #49545c;
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-grey-600 {
  color: #68737d;
}

.cand-ins-wrap {
  display: flex;
  width: 654px;
  margin-top: 40px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.est-wrap {
  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border-radius: 10px;

  background-color: white;
}

.est-wrap.gap-18 {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.timer_flex {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

@media screen and (max-width: 479px) {
  .text-grey-600.mob {
    font-size: 12px;
  }
}

.max-width-700 {
  max-width: 700px;
}

.list {
  display: flex;
  margin-top: 14px;
  padding-left: 20px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.assessment_flex {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-959 {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.div-block-965 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.powered-footer-wrap {
  display: flex;
  margin-top: 70px;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.powered-footer-wrap.mt-30 {
  margin-top: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.powered-footer-wrap.mt-0 {
  margin-top: 0px;
}