.candidate-selection-popup {
  overflow: hidden;
  width: 100%;
  max-width: 510px;
  min-width: 440px;

  border-radius: 20px;

  background-color: white;
}

.cansel-popup-header {
  display: flex;
  padding: 16px 20px 12px 28px;
  justify-content: space-between;
  border-bottom: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.cansel-popup-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.cansel-popup-body {
  display: flex;
  padding: 22px 28px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.delete_warning {
  display: flex;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: #fff7ed;

  color: #703815;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.cansel-popup-check {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cansel-pop-checkbox-block {
  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;
}

.cansel-checkbox-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cansel-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}