.cb-candidate-list-item {
  position: relative;

  overflow: hidden;
  padding: 18px;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  transition: all 250ms ease;

  cursor: pointer;
}

.cb-candidate-list-item:hover {
  background-color: hsla(180, 0.00%, 98.00%, 0.70);
}

.cb-cli-main {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cb-candidate-item-name-block {
  display: flex;
  min-height: 26px;
  align-items: center;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-block.ml-6 {
  margin-left: 6px;
}

.text-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.cb-candidate-status {
  display: inline-block;
  margin-left: 12px;
  padding: 2px 12px 3px;

  border-radius: 100px;

  background-color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.cb-cli-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  overflow: hidden;

  background-color: #f8f9f9;
}