.date-picker-wrap {
  position: relative;
  display: inline-block;
}

.dp-inactive-wrap {
  display: flex;
  width: 85px;
  height: 85px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  cursor: pointer;
}

.dp-inactive-wrap.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-color: var(--accent-6);

  background-color: var(--accent-3);

  color: var(--accent-11);
}

.text-30 {
  font-size: 30px;
  line-height: 20px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-grey-600 {
  color: #68737d;
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-kale-800 {
  color: var(--kale-800\<deleted\|variable-f2fd7071-1c51-e4c0-2aa9-ed4d60cbbee9\>);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.dp-disable-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  border-radius: 10px;

  background-color: white;

  opacity: 0.6;
}

.dp-minus-wrap {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;

  display: flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-full);

  background-color: var(--white);

  pointer-events: none;

  cursor: auto;
}