.div-block-1687 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 220px 200px 1fr 50px;
  grid-template-rows: auto;

  background-color: white;
}

.div-block-1686 {
  display: flex;
  padding: var(--space-2) 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1686.gap-10 {
  flex-direction: row;
  flex-wrap: wrap;
}

.gap-10 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1686.center {
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.icons.lottie {
  width: 16px;
  height: 16px;
}

#w-node-c4667897-cb8f-9265-5bac-ed224495c8ec-4495c8eb {
}
#w-node-c4667897-cb8f-9265-5bac-ed224495c8ef-4495c8eb {
}
#w-node-c4667897-cb8f-9265-5bac-ed224495c8f2-4495c8eb {
}
#w-node-_2a712dec-2b37-0650-8a17-d67183a3446b-4495c8eb {
}