.dol-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 220px 200px 1fr 50px;
  grid-template-rows: auto;
  background-color: var(--white);
}

.dol-item-wrap {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.dol-item-wrap.gap-10 {
  flex-direction: row;
  flex-wrap: wrap;
}

.dol-item-wrap.center {
  padding: 0px;
  justify-content: center;
  align-items: center;
}

#w-node-c4667897-cb8f-9265-5bac-ed224495c8ec-4495c8eb {
}
#w-node-c4667897-cb8f-9265-5bac-ed224495c8ef-4495c8eb {
}
#w-node-c4667897-cb8f-9265-5bac-ed224495c8f2-4495c8eb {
}
#w-node-_2a712dec-2b37-0650-8a17-d67183a3446b-4495c8eb {
}