.close-job-popup {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .close-job-popup {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 20;
  }
}

.close-job-popup-block {
  position: relative;

  display: flex;
  width: 450px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: 10px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);
}

.clj-popup-close-btn {
  position: absolute;
  left: auto;
  top: 20px;
  right: 20px;
  bottom: auto;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.div-block-332 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.div-block-330 {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}

.div-block-331 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black.inline-block.text-red-500 {
  color: var(--red500-5e487426);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.fw-semibold {
  font-weight: 600;
}

.link-block-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  text-decoration: none;
}

.button-wrapper {
  position: relative;
  padding: 3px;
  border-radius: 4px;
  transition: all 300ms ease;
}