.no-interview-plan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.no-interview-plan-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}