.all-interview-filter {
  display: flex;
  overflow: auto;
  width: 150px;
  max-height: 400px;
  flex-direction: column;

  background-color: var(--white);
}

.all-interview-filter-copy {
  display: flex;
  padding: 0px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;
}