.assessment-type-wrap {
  overflow: hidden;
  padding: 0px;
  flex-direction: column;

  border: 1px solid #e9ebed;
  border-radius: var(--radius-4);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.assessment-type-wrap.no-border {
  border-style: none;
}

.assessment-type-sub-wrap {
  flex-direction: column;
}

.div-block-924 {
  display: flex;
  overflow: auto;
  max-height: 350px;
  padding: var(--space-1);
  flex-direction: column;

  background-color: var(--white);
}

.filter_dropdiown {
  display: flex;
  margin-right: var(--space-1);
  margin-left: var(--space-1);
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;

  border-top: 1px solid var(--neutral-6);
}

.link_with_text {
  display: flex;
  padding: var(--space-2) var(--space-3);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);

  cursor: pointer;
}

.link_with_text:hover {
  background-color: var(--error-3);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}