.global_banner {
  display: flex;
  padding: var(--space-3);
  flex-direction: column;
  flex-wrap: nowrap;

  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-2);
}

.global_banner.info_short {
  width: 100%;
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.info_main_block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 40px auto max-content;
  grid-template-rows: auto;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

#w-node-_7528323e-dd12-40f2-3430-0c8b5407f75e-5407f75e {
}
#w-node-fdb627b6-1c1c-ac4d-8cb2-7a5a1de88be1-5407f75e {
}