.radix-button {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  cursor: pointer;

  user-select: none;
}

.disabled_state {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  background-color: var(--neutral-3);

  box-shadow: 0 0 0 0.5px var(--neutral-3);

  color: var(--neutral-8);

  cursor: not-allowed;
}

.loading_state {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  background-color: var(--neutral-3);

  box-shadow: 0 0 0 0.5px var(--neutral-3);

  color: var(--neutral-8);

  cursor: progress;
}

.loader_place_holder {
  width: 16px;
  height: 16px;
}