.insight-tag-block {
  position: relative;
  z-index: 5;

  display: flex;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: var(--radius-2);

  background-color: var(--neutral-3);

  cursor: default;
}