.interviewer-rd-card {
  display: flex;
  padding: var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-radius: var(--radius-4);

  transition: background-color 200ms ease;

  cursor: pointer;
}

.interviewer-rd-card:hover {
  background-color: var(--neutral-2);
}

.interviewer-rd-left-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.interview-rd-text-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.slot-arrow-hover-in {
  display: none;
}