.schedule_settings {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
}

.setting_wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.setting_wrap.p-b-40 {
  padding-bottom: var(--space-8);
}

.setting_title {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.load_grid {
  width: 100%;
  max-width: 370px;
  align-content: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: max-content 1fr;
}

.slot_hr_input {
  display: flex;
  height: 36px;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

#w-node-_55b24612-1348-951b-c98a-0357678cca02-678cc9f8 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_55b24612-1348-951b-c98a-0357678cca05-678cc9f8 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}