.inteview_modepill {
  position: relative;
  z-index: 1;

  display: flex;
  height: var(--space-6);
  padding: var(--space-2) 12px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 4px;

  background-color: white;

  box-shadow: inset 0 0 0 1px #d8dcde;

  color: var(--neutral-10);

  cursor: pointer;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.inteview_modepill-_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 4px;

  background-color: var(--accent-3);

  box-shadow: 0 0 0 1px var(--accent-6);

  color: var(--accent-11);
}

#w-node-_6f6df3da-a8fc-99a8-dd87-b3c44699f689-4699f684 {
}