.div-block-1081 {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.div-block-1280 {
  display: flex;
  padding: var(--space-2) 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebed;
}

.div-block-1077 {
  display: flex;
  padding-right: 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.all-wrap-navi {
  position: relative;
}

.div-block-1076 {
  padding: 6px 16px;
  border: 1px solid var(--neutral-5);
  border-radius: 6px;
  color: var(--neutral-10);
  cursor: pointer;
}

.div-block-1076.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-style: none;

  background-color: var(--accent-3);

  color: var(--accent-11);
}

.div-block-1079 {
  display: flex;
  overflow: auto;
  height: 100%;
  padding: 16px 0px 0px 16px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}