.integration-wrapp {
  overflow: auto;
  padding-right: 0px;
  background-color: var(--neutral-2);
  height: calc(100vh - 60px);
}

.intagrations-block {
  display: flex;
  padding: var(--space-5);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.intagrations-block.border-none {
  border-bottom-style: none;
}

.integration_title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.intagrations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}