.schedule_settings {
  display: flex;
  max-width: 700px;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);

  background-color: var(--white);
}

.setting_wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.setting_wrap.p-b-40 {
  padding-bottom: var(--space-8);
}

.setting_title {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.load_grid {
  width: 100%;
  max-width: 370px;
  align-content: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: max-content;
}

.interv-load {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.interviewload-lable {
  min-width: 100px;
}

.slot_hr_input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

#w-node-_55b24612-1348-951b-c98a-0357678cca02-678cc9f8 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}