.interview_mode {
  display: flex;
  padding: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  background-color: var(--white);
}

.input_and_label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.slot_interview_mode {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.slot_avatarselectionpill {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.slot_input_field {
  min-height: 40px;
}

.dummy_inputfield {
  display: flex;
  width: 100%;
  height: 40px;
  padding-right: 12px;
  padding-left: 12px;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 4px;

  background-color: white;

  color: hsla(208.57142857142856, 0.00%, 72.24%, 1.00);
}

.dummy_inputfield.is_small {
  width: auto;
  height: 26px;
}

.selection_criteria_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.input_block_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.training_members {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}