.div-block-1064 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.slot_filters {
  display: flex;
  width: 100%;
  height: var(--space-7);
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-top: 1px none #e9ebed;
}

.header-body-sublink {
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 39.8% 15% 25% 20%;
  grid-template-rows: auto;

  border-top: 1px solid var(--neutral-5);
  border-bottom: 1px solid var(--neutral-5);

  background-color: #f8f9f9;
}

.header-body-sublink.grid-2fr {
  height: var(--space-7);
  grid-template-columns: 1fr 1fr;
  border-top-color: var(--neutral-6);
  border-bottom-color: var(--neutral-6);
}

.header-col {
  padding: var(--space-2) var(--space-4);
  background-color: var(--neutral-3);
}

.header-col.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot_intervoew_module_card {
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: calc(100vh - 124px);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

#w-node-b5f4b2a5-2799-e778-c903-c1a46487a198-7ad50c41 {
}