.ims-wrappers {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.tab_switch_wrappper {
  display: flex;
  height: 48px;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--white);
}

.membership_pill_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.all-wrap-navi {
  position: relative;
}

.memberside-pill {
  display: flex;
  height: 30px;
  padding: var(--space-1) var(--space-3);
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-5);
  border-radius: var(--radius-3);

  color: var(--neutral-10);

  cursor: pointer;
}

.memberside-pill.active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-style: solid;
  border-color: var(--accent-8);

  background-color: var(--accent-3);

  color: var(--accent-11);
}

.schedule_count {
  display: flex;
  height: 20px;
  min-width: 20px;
  padding-right: 4px;
  padding-left: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-1);

  background-color: var(--neutral-3);

  color: #82827c;
}

.schedule_count.active-tage {
  border-radius: 3px;
  background-color: #f76b15;
  color: white;
}

.interview_screen_card {
  display: flex;
  overflow: auto;
  height: 100%;
  max-width: 900px;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}