.cv-tab-links-wrapper {
  display: flex;
  overflow: auto;
  padding: 6px;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  border-bottom: 1px solid var(--gray-200\<deleted\|variable-3840583c-89f0-f2aa-8e30-4c0dcd4dc1fb\>);
}

@media screen and (max-width: 767px) {
  .cv-tab-links-wrapper {
    width: 100%;
    font-size: 2vw;
  }
}

.cv-tab-link-block {
  position: relative;

  display: flex;
  min-width: 160px;
  padding: 14px 13px;
  align-items: center;
  flex: 1;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 10px;

  background-color: var(--primary--light\<deleted\|variable-d5f738ae-15a7-cce1-b324-b88b85b84568\>);

  transition: all 300ms ease;

  cursor: pointer;
}

.cv-tab-link-block:hover {
  background-color: var(--gray-100\<deleted\|variable-ce28dc20\>);
}

@media screen and (max-width: 767px) {
  .cv-tab-link-block {
    min-width: auto;
    padding: 0.75em 1em;
    flex: 1;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
  }
}

.cv-tab-link-block-inner {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 767px) {
  .cv-tab-link-block-inner {
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    font-size: 1em;
    line-height: 1.4;
  }
}

.flex-h {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.flex-h.gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.flex-h.align-center {
  align-items: center;
}

.flex-h.gap-10 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.cv-tab-candidate-count {
  padding-right: 10px;
  padding-left: 10px;

  border-radius: 100px;

  color: var(--white\<deleted\|variable-c31c6fe9\>);
  font-size: 12px;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .cv-tab-candidate-count {
    padding-right: 0.6em;
    padding-left: 0.6em;
  }
}

.cv-tab-candidate-count.grey {
  background-color: #e9ebed;
  color: #2f3941;
}

.cv-tab-link-selected {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-style: solid;
  border-width: 2px;
  border-color: hsla(208.23529411764707, 21.52%, 84.51%, 1.00);
  border-radius: 10px;

  background-color: hsla(205.71428571428586, 17.07%, 91.96%, 1.00);
}