.job-details-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
}

.candidates-view-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-height: 100vh;
  height: calc(100vh - 48px);
}

@media screen and (max-width: 991px) {
  .candidates-view-wrapper {
    position: relative;
  }
}

.candidate_list_and_filter {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.jdet-tabs {
  position: relative;

  display: flex;
  height: 38px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px none hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

@media screen and (max-width: 767px) {
  .jdet-tabs {
    display: flex;
    width: 100%;
  }
}

.div-block-1713 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.candidates-view-main {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cv-tab-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.jdet-actions-bar {
  display: flex;
  height: 48px;
  padding-right: var(--space-2);
  padding-left: var(--space-4);
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid #e9ebed;
}

@media screen and (max-width: 767px) {
  .jdet-actions-bar {
    display: none;
  }
}

.jdet-table {
  position: relative;
  border-top: 1px solid var(--neutral-6);
}

@media screen and (max-width: 991px) {
  .jdet-table {
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .jdet-table {
    margin-top: 10px;
  }
}

.slot_banner {
  position: absolute;
  left: auto;
  top: 12px;
  right: 12px;
  bottom: auto;
}