.job-details-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.job-details-header {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

.job-details-header-block {
  display: flex;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .job-details-header-block {
    flex-direction: column;
    align-items: stretch;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 479px) {
  .job-details-header-block {
    flex-direction: column;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.jdet-main {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

@media screen and (max-width: 479px) {
  .jdet-main {
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.slot_breadcrum {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.max-width-320 {
  max-width: 320px;
}

.fetching-pill {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 10px;

  background-color: hsla(180, 53.85%, 97.45%, 1.00);
}

.div-block-410 {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-grey-600 {
  color: #68737d;
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-kale-800 {
  color: var(--kale-800\<deleted\|variable-f2fd7071-1c51-e4c0-2aa9-ed4d60cbbee9\>);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.jdet-main-action-menu {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

@media screen and (max-width: 991px) {
  .jdet-main-action-menu {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .jdet-main-action-menu {
    font-size: 3vw;
  }
}

.candidates-view-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-height: 100vh;
  height: calc(100vh - 48px);
}

@media screen and (max-width: 991px) {
  .candidates-view-wrapper {
    position: relative;
  }
}

.candidate_list_and_filter {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
}

.jdet-tabs {
  position: relative;

  display: flex;
  height: 38px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px none hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

@media screen and (max-width: 767px) {
  .jdet-tabs {
    display: flex;
    width: 100%;
  }
}

.div-block-1713 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.show_filter_button {
  padding-right: 20px;
}

.candidates-view-main {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cv-tab-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.jdet-actions-bar {
  display: flex;
  height: 48px;
  padding-right: var(--space-2);
  padding-left: var(--space-4);
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid #e9ebed;
}

@media screen and (max-width: 767px) {
  .jdet-actions-bar {
    display: none;
  }
}

.jdet-table {
  position: relative;
  border-top: 1px solid var(--neutral-6);
}

@media screen and (max-width: 991px) {
  .jdet-table {
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .jdet-table {
    margin-top: 10px;
  }
}

.slot_banner {
  position: absolute;
  left: auto;
  top: 12px;
  right: 12px;
  bottom: auto;
}