.cv-tab-filter-wrapper {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
}

.cv-tab-filter-left {
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cv-tab-filter-left.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.cv-rec-tabs {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 5px;

  background-color: #f8f9f9;
}

.cv-rec-tab-link {
  position: relative;

  display: flex;
  padding: 3px 6px;
  align-items: center;

  border-radius: 6px;

  transition: all 250ms ease;

  cursor: pointer;
}

.cv-rec-tab-link:hover {
  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.cv-rec-tab-link-inner {
  position: relative;
  z-index: 9;

  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.cv-rec-tab-link-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 4px;

  background-color: var(--white\<deleted\|variable-c31c6fe9\>);

  box-shadow: 0 4px 8px 0 hsla(206.66666666666666, 16.07%, 21.96%, 0.15);
}

.cv-tab-filter-right {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}