.div-block-1481 {
  width: 700px;
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.div-block-1228 {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.div-block-1231 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1229 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
}