.keyword_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: 10px;
}

.header_desc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.slot_suggestion_pill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}