.sl-ats-wrapper {
  display: flex;
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.sl-ats-padding {
  padding: 32px 32px 36px;
  border-radius: 20px;
  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.div-block-388 {
  display: flex;
  margin-bottom: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-column-gap: 40px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 767px) {
  .div-block-388 {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .div-block-388 {
    grid-template-columns: 1fr;
  }
}

.div-block-425 {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.div-block-414 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-389 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}