.div-block-1678 {
  display: flex;
  width: 900px;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-6);
  grid-row-gap: var(--space-6);
}

.div-block-1501 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.accent-link {
  display: flex;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  color: var(--accent-11);
}

.accent-link:hover {
  color: var(--accent-12);
}

.div-block-1502 {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}