.multidaycard {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  padding: 0px var(--space-3);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 1px;
  grid-row-gap: 1px;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

@media screen and (max-width: 767px) {
  .multidaycard {
    width: 100%;
  }
}

.multiday_card_details {
  display: flex;
  width: 100%;
  padding: var(--space-3) 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  background-color: var(--white);
}

.card_title_wrap {
  display: flex;
  justify-content: space-between;
}

.day_details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.day_row {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.total_duration {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.time_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.slot_session_info {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  padding-top: var(--space-2);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

@media screen and (max-width: 479px) {
  .slot_session_info {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.slot-comp-2 {
  display: flex;
  width: 100%;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 3px;

  background-color: #ffefd6;
}

.component-icon {
  display: flex;
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: var(--radius-full);
  background-color: var(--neutral-5);
}

.selcted_time_date {
  display: flex;
  width: 100%;
  padding: var(--space-3) 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  background-color: var(--white);
}

.slected_title_count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.selected_date_and_time_slot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}