.page_layout {
  width: 100%;
  height: 100vh;
}

.pagelayout_topbar {
  position: relative;

  display: flex;
  height: var(--space-8);
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}

.top_left {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.back_button {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.topbar_left {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.topbar_right {
  position: relative;
  z-index: 1;
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.autosave_widget {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.divider-x {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 1px;

  background-color: var(--neutral-6);

  pointer-events: none;
}

.slot-body-global {
  overflow: auto;
  height: calc(100vh - 48px);
}