.team_pill {
  display: flex;
  overflow: hidden;
  padding: var(--space-2);
  align-items: center;
  grid-column-gap: var(--radius-2);
  grid-row-gap: var(--radius-2);

  border-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.member_photo {
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: var(--radius-2);
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.remove_member {
  border-radius: var(--radius-1);
  background-color: var(--neutral-a3);
  transition: all 200ms ease;
  color: #68737d;
  cursor: pointer;
}

.remove_member:hover {
  color: hsla(208.57142857142856, 6.64%, 18.76%, 1.00);
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.embed_flex.is_absolute {
  position: absolute;
}