.preview-email-wrap {
  overflow: hidden;
  width: 800px;
  border-radius: var(--radius-4);
  background-color: var(--neutral-2);
}

.pe-top-wrap {
  display: flex;
  padding: var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--white);
}

.pe-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.pe-top-icon-wrap {
  color: var(--amber-9);
}

.pe-body-wrap {
  overflow: auto;
  height: 800px;
}