.sl-main-wrapper {
  position: relative;

  display: flex;
  max-width: 560px;
  padding: var(--space-5);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.sl-login-block {
  display: flex;
  padding-top: var(--space-3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sl-login-main-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.sl-login-header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  text-align: center;
}

.sl-login-header-block.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-login-form {
  display: flex;
  width: 100%;
  margin-top: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.div-block-385 {
  display: none;
  margin-bottom: 0px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.sl-link {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  text-decoration: none;
  cursor: pointer;
}

.sl-link:hover {
  color: hsla(206.95652173913044, 79.34%, 58.05%, 1.00);
}