.sl-main-wrapper {
  position: relative;

  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--sand-2);
}

.sl-login-block {
  display: flex;
  width: 100%;
  max-width: 420px;
  flex-direction: column;
}

.sl-login-main-wrapper {
  display: flex;
  padding: var(--space-6);
  flex-direction: column;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.sl-logo-block.margin-b-50 {
  margin-top: 18px;
  margin-bottom: 50px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.sl-login-header-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
}

.sl-login-header-block.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-login-form {
  display: flex;
  flex-direction: column;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.sl-buttons-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);

  background-color: var(--accent-9);

  transition: opacity 300ms ease;

  text-align: center;

  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .sl-button {
    align-items: center;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

.sl-button:hover {
  background-color: var(--accent-10);
}

.sl-button.basic {
  background-color: hsla(206.8421052631579, 0.00%, 100.00%, 1.00);
  color: var(--neutral-11);
}

.sl-button.basic:hover {
  background-color: var(--neutral-3);
}

.sl-button.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  background-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);

  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);

  cursor: auto;
}

.text-color-white {
  color: white;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.div-block-385 {
  display: none;
  margin-bottom: 0px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.sl-link {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  text-decoration: none;
  cursor: pointer;
}

.sl-link:hover {
  color: hsla(206.95652173913044, 79.34%, 58.05%, 1.00);
}