.question_card {
  display: flex;
  height: auto;
  max-height: 140px;
  padding: 16px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.question_card.is_recommended {
  position: relative;
  border: 1px dashed #d8dcde;
  border-radius: 10px;
  background-color: white;
  transition: all 300ms ease;
}

@media screen and (min-width: 1440px) {
  .question_card.is_recommended {
    border-radius: 12px;
  }
}

.question_card.is_recommended:hover {
  border-color: #337fbd;
  background-color: hsla(206.66666666666666, 100.00%, 96.47%, 0.50);
}

.question_card.is_recommended:active {
  border-style: solid;
  background-color: #edf7ff;
}

.question_card.is_added {
  position: relative;
  z-index: 1;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  transition: all 200ms ease-in-out;

  cursor: pointer;
}

.question_card.is_added:hover {
  background-color: #f8f9f9;
}

.question_card.is_loader {
  position: relative;
  z-index: 1;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 200ms ease-in-out;

  cursor: progress;
}

.question_card.is_loader-copy {
  position: relative;
  z-index: 1;

  border: 1px dashed #e9ebed;
  border-radius: 10px;

  background-color: white;

  transition: all 200ms ease-in-out;

  cursor: progress;
}

.question_card_top {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.question_card_top.nax_width_70 {
  height: 20px;
  justify-content: space-between;
}

@media screen and (min-width: 1920px) {
  .question_card_top.nax_width_70 {
    height: 20px;
  }
}

.question_card_top.nax_width_70-copy {
  height: 20px;
  justify-content: flex-start;
}

@media screen and (min-width: 1920px) {
  .question_card_top.nax_width_70-copy {
    height: 20px;
  }
}

.question_info {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.question_typeicon {
  position: relative;

  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.add_btn.fixed_width {
  position: relative;
  overflow: hidden;
  width: 40.4765625px;
  height: 16px;
  border-radius: 4px;
}

.question_card_bottom {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.question_card_bottom.skeleton_flex {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.embed_css {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

.is_active_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-radius: 10px;

  background-color: #f8f9f9;
}

.is_active_bg.no_radius {
  border-radius: 0px;
}

.is_selected_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-radius: 10px;

  background-color: #edf7ff;

  box-shadow: 0 0 0 1.5px #337fbd;
}

.isdropping {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  border: 2px solid #f8f9f9;
  border-radius: 10px;

  background-color: #f8f9f9;

  box-shadow: 0 0 0 2px #f8f9f9;
}

.isdropping.noboder {
  border-style: none;
  border-width: 0px;
  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.is_reordering {
  position: absolute;
  left: -20px;
}

#w-node-e2985fb3-f246-ffe1-660e-a1bd999d6cda-999d6cda {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (min-width: 1440px) {
  #w-node-e2985fb3-f246-ffe1-660e-a1bd999d6cda-999d6cda {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}