.sl-company-details-wrapper {
  width: 100%;
  max-width: 500px;
}

.sl-company-details-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.sl-company-padding {
  padding: 18px 30px 30px;
  border-radius: 20px;
  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.sl-login-header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  text-align: center;
}

.sl-login-header-block.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-company-input-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-386 {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}