.sl-company-details-wrapper {
  width: 100%;
  max-width: 500px;
}

.sl-company-details-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.sl-company-padding {
  padding: 18px 30px 30px;
  border-radius: 20px;
  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.sl-company-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-company-title-block {
  display: flex;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.sl-company-image-block {
  display: flex;
  overflow: hidden;
  width: 80px;
  height: 80px;
  min-height: 80px;
  min-width: 80px;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 0.5px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 10px;

  object-fit: contain;
}

.sl-com-title-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.change-company-logo {
  display: flex;
  justify-content: flex-start;
}