.sl-company-details-wrapper {
  width: 100%;
  max-width: 500px;
}

.sl-company-details-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.sl-company-padding {
  padding: 18px 30px 30px;
  border-radius: 20px;
  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.sl-login-header-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
}

.sl-login-header-block.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-grey-600 {
  color: #68737d;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-lg.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-gray-600.relative_2 {
  position: relative;
  z-index: 2;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-xsm {
  font-size: 10px;
}

.sl-company-input-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--gray-500);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400);
}

.text-first-cap {
  text-transform: capitalize;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.fw-semibold.text-blue-600.text-dec-none {
  text-decoration: none;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-color-white {
  color: white;
}

.text-black-100 {
  color: var(--black-100);
}

.text-capitalize {
  text-transform: uppercase;
}

.fw-semibold.text_camel_case {
  text-transform: capitalize;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.sticky_2 {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.relative {
  position: relative;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.div-block-386 {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}