.sl-main-wrapper {
  position: relative;

  display: flex;
  max-width: 560px;
  padding: var(--space-5);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.sl-logo-block.margin-b-50 {
  margin-top: 18px;
  margin-bottom: 50px;
}

.sl-main-block {
  display: flex;
  width: 100%;
  margin-bottom: auto;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.sl-info-input-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sl-nav-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}