.req-dash-bottom-wrap {
  padding: var(--space-3) var(--space-4);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
  cursor: pointer;
}

.div-block-1737 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-block-1738 {
  display: flex;
  margin-top: var(--space-3);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}