.req-detail-right-sub-wrap {
  display: flex;
  width: 100%;
  padding: var(--space-3);
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: var(--radius-4);

  background-color: var(--neutral-2);
}

.req-detail-tight-list {
  display: flex;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot {
  width: 100%;
}

.slot {
  width: auto;
}

.asigned-to-wraper {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}