.resume-match-tag {
  display: flex;
  height: var(--space-5);
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: var(--radius-2);

  background-color: #f8f9f9;
}