.resume-match-tag {
  position: relative;

  display: flex;
  height: var(--space-5);
  min-width: 60px;
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.embed_flex.is_absolute {
  position: absolute;
}

.loading_score {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.apple_loader {
  width: 16px;
}