.scheduler-setting-wrap {
  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.wh-top-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.wh-top-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.wh-top-wrapper.keyword-head {
  width: 620px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

@media screen and (max-width: 479px) {
  .text-grey-600.mob {
    font-size: 12px;
  }
}

.div-block-1116 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
}

.div-block-1116.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.button_primary {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: var(--accent-9);

  transition: all 200ms ease-in-out;

  color: var(--white);

  cursor: pointer;
}

.button_primary:hover {
  background-color: var(--accent-10);
}

.button_primary.is_disabled {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #c2c8cc;
  cursor: auto;
}

.button_primary.is_enabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.is_enabled.main-green {
  position: static;
  background-color: #228f67;
}

.button_primary.is_enabled.main-green:hover {
  background-color: hsla(157.9816513761468, 65.44%, 30.22%, 1.00);
}

.button_primary.is_loading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #e9ebed;

  color: #c2c8cc;

  cursor: progress;
}

.button_primary.is_grey {
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.is_grey:hover {
  background-color: hsla(210.00000000000023, 18.58%, 85.26%, 1.00);
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.time-auto-input-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.time-auto-wrap {
  display: flex;
  margin-top: 16px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1083 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1082 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1086 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1084 {
  display: flex;
  align-items: center;
}

.width-125 {
  width: 125px;
}

.div-block-1085 {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1087 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-blue-500.ml-12 {
  margin-left: 8px;
}

.div-block-1088 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1091 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.div-block-1092 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.div-block-1090 {
  display: flex;
  margin-top: 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  cursor: pointer;
}