.div-block-1283 {
  display: flex;
  width: 220px;
  padding: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}