.scr-dropdown {
  position: relative;
  width: 160px;
  min-width: 160px;
  cursor: pointer;
}

.scr-dropdown-trigger {
  display: flex;
  height: 40px;
  padding: 4px 8px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: var(--white\<deleted\|variable-c31c6fe9\>);

  cursor: pointer;
}

.scr-dropdown-icon {
  width: 18px;
  height: 14px;
  min-height: 14px;
  min-width: 18px;
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black.inline-block.text-red-500 {
  color: var(--red500-5e487426);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.fw-semibold {
  font-weight: 600;
}

.scr-dropdown-arrow {
  display: flex;
  margin-left: auto;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.scr-dropdown-content {
  position: absolute;
  top: 47px;
  z-index: 10;

  display: block;
  overflow: hidden;
  width: 100%;
}

.scr-dropdown-content-block {
  padding-top: 6px;
  padding-bottom: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 6px;

  background-color: white;
}

.scr-dropdown-option {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  transition: all 250ms ease;

  cursor: pointer;
}

.scr-dropdown-option:hover {
  background-color: #f8f9f9;
}