.screening-landing-pop {
  display: flex;
  width: 505px;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;
}

.div-block-982 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.div-block-983 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}