.all-interview-wrap {
  position: relative;
  width: 100%;
}

.div-block-1476 {
  display: flex;
}

.div-block-1477 {
  width: 100%;
}

.all-interview-sub-head {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  justify-content: space-between;
}

.div-block-828 {
  display: flex;
  align-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.div-block-922 {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.div-block-830 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-830.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.screening-candidates {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.interview_table_wrap {
  position: relative;
  display: flex;
  overflow: auto;
}

.all-interview-table {
  position: relative;

  display: flex;
  width: 100%;
  min-width: 90vw;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 auto;
}

.screening-cand-header {
  position: sticky;
  top: 0px;
  z-index: 3;

  display: grid;
  width: 100%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 25% 25% 25% 25% 20% 20%;
  grid-template-rows: auto;

  border-top: 1px solid #e9ebed;
  border-bottom: 1px solid #e9ebed;

  background-color: #f8f9f9;
}

.allinterview_header_cell {
  display: flex;
  padding: var(--space-1) 20px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.allinterview_header_cell.hide {
  display: none;
}

.div-block-958 {
  margin-right: 4px;
}

.slot_candidaterow {
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
}

.job-page-nav-bar {
  position: sticky;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0px;
  z-index: 5;

  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.job-page-nav-bar.bg-color-add {
  background-color: #f8f9f9;
}

.div-block-1293 {
  z-index: 2;
  height: calc(100vh - 60px);
}

.slot_sidebar {
  overflow: auto;
  height: 100%;
  border-left: 1px solid #e9ebed;
}

.embed_css {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

#w-node-_9d0ac486-06df-480d-f5ca-d3b22bf6f41a-2bf6f3fb {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}