.screening-header-info {
  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  transition: all 300ms ease;
}

.wel_end_wrap {
  display: grid;
  align-items: flex-start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.icon_wrap {
  position: relative;
  z-index: 1;

  overflow: hidden;
  width: 100px;
  height: 100px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.embed_flex.is_absolute {
  position: absolute;
}

.end_icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.content_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text_update_div {
  position: relative;
  display: flex;
  padding: 0px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot {
  width: 100%;
}

.edit_close {
  z-index: 4;

  display: flex;
  height: 30px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.scr-header-edit-icon-block {
  display: flex;
  width: 30px;
  height: 30px;
  min-height: 23px;
  min-width: 23px;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  border-radius: 6px;

  background-color: #f8f9f9;

  transition: all 200ms ease;

  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);

  cursor: pointer;
}

.scr-header-edit-icon-block:hover {
  color: hsla(204.00000000000003, 0.00%, 51.33%, 1.00);
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.scr-close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

#w-node-debf81bd-b097-0a62-fabd-e064c2b8db88-cd1f0124 {
  align-self: start;
}