.screening-candi-card {
  position: relative;

  display: grid;
  width: 100%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 25% 25% 25% 25% 20% 20%;
  grid-template-rows: auto;

  border-bottom: 1px solid #e9ebed;

  transition: all 200ms ease-in-out;

  cursor: pointer;
}

.screening-candi-card:hover {
  background-color: #f8f9f9;
}

.candidate_cell {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--radius-4) var(--space-4) var(--space-2);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.candidate_cell.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.candidate_cell.space-between {
  justify-content: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.candidate_cell.z-index-none {
  z-index: auto;
}

.div-block-958 {
  margin-right: 4px;
}

.div-block-834 {
  flex: 0 0 auto;
  border-radius: 100px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.is_selected_bg-copy {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  background-color: #edf7ff;
}

#w-node-cc4b3520-5290-1872-9731-199567323cad-67323c8d {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}