.scr-question-option {
  position: relative;

  display: flex;
  width: 100%;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.scr-question-option-input {
  min-width: 180px;
  padding-right: 24px;
  flex: 1;
}

.scr-option-remove {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0px;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 250ms ease;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);

  cursor: pointer;
}

.scr-option-remove:hover {
  color: hsla(208.57142857142856, 0.00%, 0.00%, 1.00);
}

.div-block-422 {
  display: flex;
  margin-left: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}