.sb-scr-question-block {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.sb-scr-question-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid var(--gray-200\<deleted\|variable-3840583c-89f0-f2aa-8e30-4c0dcd4dc1fb\>);
  border-radius: 3px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.sb-scr-question-detail {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}