.scr-question-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.scr-question-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.scr-question-top-dropdown {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.scr-close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.scr-question-input-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.scr-question-input-block {
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.scr-description-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.scr-toggle-top {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.scr-quesion-options-wrapper {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.scr-question-options-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 12px;
}

.sqe-btn-wrap {
  display: flex;
  margin-top: var(--space-4);
}

.div-block-421 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scr-question-delete-btn {
  display: flex;
  padding: 2px 6px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  transition: all 250ms ease;

  color: #d93f4c;

  cursor: pointer;
}

.scr-question-delete-btn:hover {
  border-radius: 4px;
  background-color: var(--red-100\<deleted\|variable-da60b1de\>);
}

.scr-question-top-block {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.scr-req-checkbox {
  position: relative;

  display: flex;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  justify-content: center;
  align-items: center;
}

.scr-req-checkbox-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.div-block-418 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;
}