.scr-question-default {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.scr-question-header-block {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.scr-question-header-icon {
  display: flex;
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 4px;

  background-color: white;
}

.div-block-420 {
  display: flex;
  width: 16px;
  height: 14px;
  min-height: 14px;
  min-width: 16px;
  justify-content: center;
  align-items: center;
}

.mt-2 {
  margin-top: 2px;
}

.div-block-423 {
  display: flex;
  margin-left: auto;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.margin-left-auto {
  margin-left: auto;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.scr-question-edit-icon {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 2px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;

  background-color: #f8f9f9;

  transition: all 250ms ease;

  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);

  cursor: pointer;
}

.scr-question-edit-icon:hover {
  color: hsla(204.00000000000003, 3.40%, 59.97%, 1.00);
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.scr-description-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.scr-question-default-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.scr-qd-options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.scr-qh-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}