.select-action-bar {
  display: flex;
  width: 100%;
  padding: var(--space-2) 34px var(--space-2) 30px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

@media screen and (max-width: 991px) {
  .select-action-bar {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.select-action-left-block {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.accent-link-with-underline {
  display: flex;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  color: var(--accent-11);
  text-decoration: underline;
}

.accent-link-with-underline:hover {
  color: var(--accent-12);
}

.div-block-1696 {
  width: 1px;
  height: 26px;
  background-color: #d8dcde;
}

.div-block-1697 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.send-screening-btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 6px;

  background-color: #f8f9f9;
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-grey-600 {
  color: #68737d;
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-kale-800 {
  color: var(--kale-800\<deleted\|variable-f2fd7071-1c51-e4c0-2aa9-ed4d60cbbee9\>);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}