.avatar_selectionpill {
  display: flex;
  padding: 6px 10px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid #e9ebed;
  border-radius: 100px;

  background-color: #f7f9fb;

  cursor: default;
}

.avatar_block {
  position: relative;
  z-index: 1;
}

.slot_avatar {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.shadow_embed {
  position: absolute;
  left: auto;
  top: auto;
  right: -4px;
  bottom: -4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close_btn {
  cursor: pointer;
}

.embed_flex {
  display: flex;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}