.avatar_selectionpill {
  display: flex;
  padding: var(--space-1);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--neutral-2);

  cursor: default;
}

.avatar_block {
  position: relative;
  z-index: 1;
}

.slot_avatar {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: var(--radius-full);
}

.shadow_embed {
  position: absolute;
  left: auto;
  top: auto;
  right: -4px;
  bottom: -4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close_btn {
  cursor: pointer;
}