.question_block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.ps_row {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ps_row.is_left_fles {
  align-items: flex-start;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.ps_input_slot {
  position: relative;
  z-index: 1;
}

.ps_input_slot._3-1grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.ps_input_slot.is_flex {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.ps_input_slot.option_flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.toggle_flex {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.slot_toggle {
  display: flex;
  width: auto;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
}

.slot_toggle.is_fixed_wisth {
  width: 30.000001907348633px;
  height: 0px;
}

.input_relative {
  position: relative;
}

.input_absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;

  pointer-events: none;
}