.sidedrawer_session {
  display: flex;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  background-color: var(--white);

  min-height: calc(100vh - 93px);
}

.input_and_label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.slot_input_field {
  min-height: 40px;
}

.dummy_inputfield {
  display: flex;
  width: 100%;
  height: 40px;
  padding-right: 12px;
  padding-left: 12px;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 4px;

  background-color: white;

  color: hsla(208.57142857142856, 0.00%, 72.24%, 1.00);
}

.dummy_inputfield.is_small {
  width: auto;
  height: 26px;
}