.schedule_edit-add {
  width: 500px;
  height: 100vh;
  background-color: white;
}

.sidedrawer_topbar {
  display: flex;
  height: 45px;
  padding: var(--space-2) var(--space-4);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: white;
}

.side_close {
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  cursor: pointer;
}

.side_close:hover {
  background-color: #f7f9fb;
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.sidedrawer_body {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  height: calc(100vh - 93px);
}

.sidedrawer_bottom {
  display: grid;
  height: 48px;
  padding: var(--space-2) 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  border-top: 1px solid var(--neutral-6);

  background-color: white;
}