.div-block-1722 {
  position: relative;

  width: 237px;
  height: 412px;
  flex: 1;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.div-block-1723 {
  display: flex;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #f8f9f9;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.div-block-1724 {
  display: flex;
  overflow: auto;
  height: 372px;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}