.nav-sub-link-menu {
  position: relative;
  padding: 10px 16px;
  border-radius: 10px;
  transition: opacity 250ms ease;
  cursor: pointer;
}

.nav-sub-link-menu.sub-menu {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.bg-active-link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 10px;

  background-color: #f8f9f9;
}

.div-block-709 {
  position: relative;
  z-index: 1;

  display: flex;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-709.no-padding {
  position: relative;
  z-index: 1;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-sublink-text {
  position: relative;
  font-weight: 600;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.width-28 {
  width: 28px;
}

.icons.cursor-pointer.height-28 {
  height: 28px;
}

.icons.cursor-pointer.p-4 {
  padding: 4px;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.pause {
  display: none;
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.relative {
  position: relative;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-63 {
  margin-bottom: 63px;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mr--10 {
  margin-right: -8px;
}

.beta-wrap {
  position: relative;
  z-index: 5;

  display: flex;
  width: 44px;
  padding: 2px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #228f67;

  color: white;
}

.beta-wrap.hide {
  display: none;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.fw-semibold {
  font-weight: 600;
}

.color-grey-600 {
  color: #68737d;
}

.text-xsm.color-grey-600.inline-text {
  display: inline-block;
}

.inline-text {
  display: inline;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.div-block-710 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  background-color: hsla(0, 0.00%, 100.00%, 0.70);
}

.nav-sub-sub {
  display: flex;
  padding-right: 26px;
  padding-left: 26px;
  flex-direction: column;
  align-items: flex-start;
}