.timerangeinput {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.duration_block {
  display: flex;
  width: 300px;
  min-height: 36px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.time_input {
  width: 100%;
  align-self: stretch;
  border-radius: 10px;
  background-color: white;
}

.operations {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.operations.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.embed_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}