.toggle-button {
  display: flex;
  width: 30px;
  height: 15px;
  padding: 3px 3.75px;
  justify-content: flex-start;

  border-radius: 7.5px;

  background-color: var(--gray-500\<deleted\|variable-6a03db6f-fc4b-caa8-8e71-0b1e2d847ef1\>);

  cursor: pointer;
}

.toggle-button.active {
  justify-content: flex-end;
  background-color: var(--blue-600\<deleted\|variable-52e70a4f-6629-4974-4598-e3ba75f3461c\>);
}

.toggle-dot {
  width: 9px;
  height: 9px;
  min-height: 9px;
  min-width: 9px;

  border-radius: 50px;

  background-color: var(--white\<deleted\|variable-c31c6fe9\>);
}