.cv-list-row {
  position: relative;
  display: flex;
  padding-right: 10px;
  padding-left: 2px;
  align-items: stretch;
}

.cv-list-row.top {
  position: sticky;
  top: 0px;
  z-index: 9;
  flex: 0 0 auto;
  background-color: #f8f9f9;
}

.cv-list-row.item {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  transition: all 300ms ease;
  cursor: pointer;
}

.cv-list-row.item:hover {
  background-color: var(--gray-100\<deleted\|variable-ce28dc20\>);
}

.cv-list-row.top-can {
  z-index: 1;
}

.cv-list-row.top-can:hover {
  z-index: 8;
}

.top-can-highlight {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  background-color: #edf7ff;

  cursor: auto;
}

.cv-list-hover-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -2;

  display: none;
  width: 100%;
  height: 100%;

  background-color: var(--neutral-2);
}

.cv-list-column-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  padding: var(--space-2) var(--space-4);
  align-self: stretch;
  flex: 1;
}

.cv-list-column-wrapper.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--neutral-3);
}

.cv-list-column-wrapper.header.width-auto {
  width: auto;
  align-self: center;
}

.cv-list-column-wrapper.header.width-auto.no_border {
  border-bottom-style: none;
}

.gap-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy {
  border-bottom-style: none;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12.z-index-6 {
  z-index: 6;
}

.cv-list-column-wrapper.width-auto {
  width: auto;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12.z-index-6 {
  z-index: 6;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12.z-index-6-copy {
  z-index: 6;
  padding-right: 0px;
  padding-left: var(--space-2);
  flex: 0 0 auto;
}

.cv-list-column-wrapper.width-auto.gap-6 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.z-10 {
  z-index: 10;
}

.cv-list-column-wrapper.name {
  width: 380px;
  min-width: 380px;
  flex: 0 0 auto;
}

.cv-list-column-wrapper.items-v-center {
  display: flex;
  align-items: center;
}

.cv-list-column-wrapper.items-v-center.z_index {
  z-index: 100;
}

.cv-list-column-wrapper.chackbox_column {
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 0 0 auto;
  background-color: var(--neutral-3);
}

.div-block-1312 {
  width: 14px;
  height: 16px;
  flex: 0 0 auto;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.cv-list-column {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  overflow-wrap: break-word;
}

.cv-list-column.name {
  width: 240px;
  min-width: 240px;
  margin-left: 0px;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.name {
    width: 320px;
    min-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .cv-list-column.name {
    width: 280px;
    min-width: 280px;
  }
}

.cv-list-column.name.top-can {
  overflow: visible;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.overflow-visible {
  overflow: visible;
}

.cv-list-column.name.overflow-visible.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.name.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.assessment {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.assessment.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.job {
  width: 280px;
  min-width: 280px;
}

.cv-list-column.job.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.experience {
  width: 140px;
  min-width: 140px;
}

.cv-list-column.date {
  width: 240px;
  min-width: 240px;
  margin-right: 0px;
  text-align: right;
}

.cv-list-column.date.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.location {
  width: 230px;
  min-width: 230px;
}

.cv-list-column.location.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.resume {
  width: 180px;
  min-width: 180px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.resume.overflow-visible:hover {
  overflow: visible;
}

.cv-list-column.resume.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.analysis {
  overflow: visible;
  width: 100%;
  min-width: 360px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cv-list-column.overview {
  z-index: -1;
  width: 100%;
  min-width: 360px;
  align-items: flex-start;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.overview {
    flex: 1;
  }
}

.cv-list-column.screening {
  width: 220px;
  min-width: 220px;
}

.cv-list-column.screening.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.disqualified {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.disqualified.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-checkbox {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.cv-list-row-main {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-right: 10px;
  padding-left: 2px;
  justify-content: flex-start;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.cv-list-row-main.pointer {
  cursor: pointer;
}

.top-can-info {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.top-can-info.insights {
  flex-wrap: wrap;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.cv-list-profile-image {
  overflow: hidden;
  width: 18px;
  height: 18px;
  min-height: 18px;
  min-width: 18px;

  border-radius: 100px;

  object-fit: cover;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600\<deleted\|variable-fc9c3cf7-09bb-7364-ed8d-95d89e6d8422\>);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-gray-500 {
  color: var(--neutral-11);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400\<deleted\|variable-d09dda5a-1cff-8aa4-d166-1ff89c9f1684\>);
}

.text-first-cap {
  text-transform: capitalize;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.text-capitalize-word {
  text-transform: capitalize;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}