.div-block-1667 {
  display: flex;
  padding: 16px 20px 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-1668 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-1677 {
  display: flex;
  padding-top: 16px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-1677.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.div-block-1676 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.no-trans {
  transition-property: none;
}

.icons.cursor-pointer.no-transition {
  transition-property: none;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.icons.pointer {
  cursor: pointer;
}

.icons.closediv {
  position: absolute;
  left: auto;
  top: -7px;
  right: -7px;
  bottom: auto;

  cursor: pointer;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-blue-500.ml-12 {
  margin-left: 8px;
}