.schedule_settings {
  display: flex;
  max-width: 700px;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.wh-top-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.wh-top-wrapper.keyword-head {
  width: 620px;
}

.setting_wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.setting_wrap.p-b-40 {
  padding-bottom: var(--space-8);
}

.slot_timezoneinput.reverse-order {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
}

.setting_title {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.week_days {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
}