.div-block-1290 {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.div-block-1291 {
  position: sticky;
  top: 0px;
  z-index: 3;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 50px 250px 200px 200px 220px 200px 280px 230px 240px; 
  grid-template-rows: auto;

  background-color: #f8f9f9;
}

.div-block-1291.no-sticky {
  position: static;
}

.div-block-1291.no-sticky.relative-1 {
  position: relative;
  top: auto;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.div-block-1291.no-sticky.relative-1.no-bg {
  background-color: transparent;
}

.cv-list-column-wrapper {
  position: relative;
  bottom: -1px;
  z-index: 5;

  display: flex;
  width: 100%;
  padding: 16px 20px;
  align-self: stretch;
  flex: 1;
}

.cv-list-column-wrapper.header {
  background-color: #f8f9f9;
}

.cv-list-column-wrapper.header.width-auto {
  width: auto;
  align-self: center;
}

.cv-list-column-wrapper.header.width-auto.no_border {
  border-bottom-style: none;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy {
  border-bottom-style: none;
}

.cv-list-column-wrapper.header.width-auto.no_border-copy.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.header.analysis {
  flex: 1;
}

.cv-list-column-wrapper.header.resume:hover {
  z-index: 10;
}

.cv-list-column-wrapper.header.screening:hover {
  z-index: 10;
}

.cv-list-column-wrapper.header.overview {
  flex: 0 0 450px;
}

.cv-list-column-wrapper.width-auto {
  width: auto;
}

.cv-list-column-wrapper.width-auto.items-v-center.gap-12 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-wrapper.width-auto.gap-6 {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cv-list-column-wrapper.z-10 {
  z-index: 10;
}

.cv-list-column-wrapper.z-10.insights {
  flex: 0 0 480px;
}

.cv-list-column-wrapper.name {
  width: 380px;
  min-width: 380px;
  flex: 0 0 auto;
}

.cv-list-column-wrapper.items-v-center {
  display: flex;
  align-items: center;
}

.cv-list-column-wrapper.pv-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-block-1311 {
  width: 14px;
  height: 16px;
  flex: 0 0 auto;
}

.cv-list-column {
  position: relative;
  z-index: 5;

  display: flex;
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  overflow-wrap: break-word;
}

.cv-list-column.name {
  width: 240px;
  min-width: 240px;
  margin-left: 0px;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.name {
    width: 320px;
    min-width: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .cv-list-column.name {
    width: 280px;
    min-width: 280px;
  }
}

.cv-list-column.name.top-can {
  overflow: visible;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.overflow-visible {
  overflow: visible;
}

.cv-list-column.name.overflow-visible.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.name.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.assessment {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.assessment.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.job {
  width: 280px;
  min-width: 280px;
}

.cv-list-column.job.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.experience {
  width: 140px;
  min-width: 140px;
}

.cv-list-column.date {
  width: 240px;
  min-width: 240px;
  margin-right: 0px;
  text-align: right;
}

.cv-list-column.date.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.location {
  width: 230px;
  min-width: 230px;
}

.cv-list-column.location.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.resume {
  width: 180px;
  min-width: 180px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.resume.overflow-visible:hover {
  overflow: visible;
}

.cv-list-column.resume.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.analysis {
  overflow: visible;
  width: 100%;
  min-width: 360px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cv-list-column.overview {
  z-index: -1;
  width: 100%;
  min-width: 360px;
  align-items: flex-start;
}

@media screen and (min-width: 1920px) {
  .cv-list-column.overview {
    flex: 1;
  }
}

.cv-list-column.analysis2 {
  z-index: -1;
  min-width: 440px;
}

.cv-list-column.screening {
  width: 220px;
  min-width: 220px;
}

.cv-list-column.screening.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-column.disqualified {
  width: 220px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.disqualified.width-100 {
  width: 100%;
  min-width: 100%;
}

.cv-list-checkbox {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.cli-check-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
}

.cv-list-checkbox-ghost {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cv-list-checkbox-ghost.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}