.assessment_detail {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 25%;
  grid-template-rows: auto;
}

.slot_assesment_questions {
  display: grid;
  padding: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;
}

.slot_question_list {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.question_list_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question_count_dutation {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--gray-500);
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.fw-semibold.text-blue-600.text-dec-none {
  text-decoration: none;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-color-white {
  color: white;
}

.text-black-100 {
  color: var(--black-100);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-capitalize {
  text-transform: uppercase;
}

.fw-semibold.text_camel_case {
  text-transform: capitalize;
}

.button_text {
  display: flex;
  padding: 0px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 6px;

  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 0.00);

  transition: all 200ms ease-in-out;

  color: #337fbd;

  cursor: pointer;
}

.button_text:hover {
  color: #1f73b7;
}

.embed_flex {
  display: flex;
}

.embed_flex.rotate_180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.with_bg {
  position: relative;
  z-index: 2;
}

.embed_flex.with_bg.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.slot_question_cards {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.slot_recommended_questions {
  display: flex;
  padding: 20px 16px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-left: 1px solid #e9ebed;

  background-color: #f8f9f9;
}

#w-node-c57b9ec5-caab-87a6-2cc9-a31ddff8edae-dff8edad {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-c57b9ec5-caab-87a6-2cc9-a31ddff8edaf-dff8edad {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-c57b9ec5-caab-87a6-2cc9-a31ddff8edb0-dff8edad {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-c57b9ec5-caab-87a6-2cc9-a31ddff8edb1-dff8edad {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (min-width: 1440px) {
  #w-node-c57b9ec5-caab-87a6-2cc9-a31ddff8edae-dff8edad {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}