.div-block-1104 {
  display: flex;
  padding: 18px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;
}

.div-block-1108 {
  position: relative;
  z-index: 1;

  display: flex;
  width: 85px;
  height: 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-gray-600.relative_2 {
  position: relative;
  z-index: 2;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-xsm {
  font-size: 10px;
}

.text-20 {
  font-size: 20px;
  line-height: 28px;
}

.text-grey-600 {
  color: #68737d;
}

.div-block-1110 {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}