.aui-button {
  position: relative;

  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  line-height: 1.4;
  letter-spacing: -0.15px;

  cursor: pointer;
}

.aui-button.is-small {
  padding: 8px 12px;
  font-size: 12px;
  letter-spacing: 0px;
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.aui-button.signup-back {
  transition: all 250ms ease;
}

.aui-button.signup-back:hover {
  background-color: hsla(0, 0.00%, 93.33%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}