.schedul-type {
  position: relative;

  display: flex;
  padding: 10px 16px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border: 1px solid #adcce4;
  border-radius: 10px;

  background-color: #edf7ff;

  transition: all 250ms ease;

  cursor: pointer;
}

.schedul-type:hover {
  opacity: 0.8;
}

.dot-indicator {
  position: absolute;
  left: auto;
  top: -5px;
  right: -5px;
  bottom: auto;

  width: 10px;
  height: 10px;

  border-radius: 100px;

  background-color: hsla(29.83783783783783, 92.04%, 60.59%, 1.00);
}