.cb-body-header-block {
  display: flex;
  padding: 14px 20px 14px 18px;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cb-body-header-top {
  display: flex;
  justify-content: space-between;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600 {
  color: #68737d;
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--gray-500);
}

.fw-semibold.text-gray-500.max_width_custom {
  max-width: 414px;
  color: var(--gray-400);
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.fw-semibold.text-blue-600.text-dec-none {
  text-decoration: none;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-color-white {
  color: white;
}

.text-black-100 {
  color: var(--black-100);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-capitalize {
  text-transform: uppercase;
}

.fw-semibold.text_camel_case {
  text-transform: capitalize;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.sticky_2 {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.cb-bh-top-right {
  display: flex;
  align-items: center;
}

.cb-candidate-status {
  display: inline-block;
  margin-left: 12px;
  padding: 2px 12px 3px;

  border-radius: 100px;

  background-color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.cb-body-header-bottom {
  display: flex;
  justify-content: space-between;
}

.cb-bh-bottom-left {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cb-bh-contact-block {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block.clickable.padding-4 {
  padding: 4px;
}

.icon-block._10x10 {
  width: 10px;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
}

.icon-block._10x10.sort {
  position: relative;
  transition: all 250ms ease;
  cursor: pointer;
}

.icon-block._10x10.sort:hover {
  opacity: 0.8;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
}

.icon-block._30x30.rs-add {
  border-radius: 6px;
  background-color: hsla(0, 0.00%, 33.73%, 1.00);
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._16x16.rounded {
  border-radius: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.icon-block._40x40 {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
}

.icon-block._40x40.cs-add {
  border-radius: 12px;
  background-color: var(--gray-200);
}

.icon-block.height-12 {
  height: 12px;
}

.icon-block._50x50 {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}

.icon-block._50x50.contain.relative {
  position: relative;
  z-index: 5;
}

.relative {
  position: relative;
}

.icon-block.contain {
  object-fit: contain;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.svg-icon.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-gray-700 {
  color: var(--gray-700);
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}