.panel_top_input_bar {
  position: relative;
  z-index: 4;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-bottom: 1px solid #e9ebed;

  background-color: #f8f9f9;
}

.team_detail_topbar {
  position: relative;
  z-index: 1;

  display: flex;
  height: 68px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.team_detail_topbar.panel_availability_info {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.input_block {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-994 {
  position: relative;
}

.button_primary {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #1f73b7;

  transition: all 200ms ease-in-out;

  color: white;

  cursor: pointer;
}

.button_primary:hover {
  background-color: #144a75;
}

.button_primary.is_disabled {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #c2c8cc;
  cursor: auto;
}

.button_primary.is_enabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.is_enabled.main {
  position: static;
}

.button_primary.is_enabled.main-green {
  position: static;
  background-color: #228f67;
}

.button_primary.is_enabled.main-green:hover {
  background-color: hsla(157.9816513761468, 65.44%, 30.22%, 1.00);
}

.button_primary.is_loading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #e9ebed;

  color: #c2c8cc;

  cursor: progress;
}

.button_primary.confirm_availability {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #228f67;
}

.button_primary.confirm_availability:hover {
  background-color: #038153;
}

.button_primary.is_grey {
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.is_grey:hover {
  background-color: hsla(210.00000000000023, 18.58%, 85.26%, 1.00);
}

.button_primary.is_primarruy {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.disable-button-primary-reg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  padding: 8px 16px;

  border-radius: 6px;

  background-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);

  color: var(--gray-400);
}

.selected_slotbanner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 4;

  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: #edf7ff;
}

.close_icon {
  cursor: pointer;
}

.embed_flex {
  display: flex;
}

.embed_flex.rotate_180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.with_bg {
  position: relative;
  z-index: 2;
}

.embed_flex.with_bg.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.no_of_slots {
  display: flex;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600 {
  color: #68737d;
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--gray-500);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400);
}

.text-first-cap {
  text-transform: capitalize;
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.fw-semibold.text-blue-600.text-dec-none {
  text-decoration: none;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-color-white {
  color: white;
}

.text-black-100 {
  color: var(--black-100);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-capitalize {
  text-transform: uppercase;
}

.fw-semibold.text_camel_case {
  text-transform: capitalize;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.sticky_2 {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.relative {
  position: relative;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.fw-semibold.p-lr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.fw-semibold.text-width-100 {
  width: 100px;
}

.team_avatar {
  margin-right: 20px;
}

.selected_slotbanner_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: #edf7ff;
}

.availability_slots {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.commonslots_panel {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}