.csv-list-item {
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  align-items: center;
}

.csv-list-item-column {
  display: flex;
  height: 30px;
  padding: 4px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.csv-list-item-column.candidate {
  width: 140px;
  min-width: 140px;
}

.csv-list-item-column.job {
  width: 200px;
  min-width: 200px;
}

.csv-list-item-column.email {
  width: 200px;
  min-width: 200px;
}

.csv-list-item-column.phone {
  width: 120px;
  min-width: 120px;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block.clickable.padding-4 {
  padding: 4px;
}

.icon-block._10x10 {
  width: 10px;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
}

.icon-block._10x10.sort {
  position: relative;
  transition: all 250ms ease;
  cursor: pointer;
}

.icon-block._10x10.sort:hover {
  opacity: 0.8;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
}

.icon-block._30x30.rs-add {
  border-radius: 6px;
  background-color: hsla(0, 0.00%, 33.73%, 1.00);
}

.icon-block.screening {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 2px;
  background-color: var(--grey-200);
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._16x16.rounded {
  border-radius: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.icon-block._40x40 {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
}

.grey-200 {
  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.icon-block._40x40.cs-add {
  border-radius: 12px;
  background-color: var(--grey-200);
}

.icon-block._50x50 {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}

.icon-block._50x50.cs-add {
  border-radius: 12px;
  background-color: var(--grey-200);
}

.icon-block.height-12 {
  height: 12px;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}