.div-block-1308 {
  position: relative;
}

.div-block-1305 {
  position: relative;
  z-index: 1;

  padding: 8px 20px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  cursor: pointer;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.div-block-1309 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: 10px;

  background-color: #edf7ff;
}