.div-block-967 {
  display: flex;
  width: 400px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.div-block-968 {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;

  border: 1px solid #cee2f2;
  border-radius: 10px;
}

.div-block-969 {
  position: relative;

  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.div-block-970 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #cee2f2;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600 {
  color: #68737d;
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-sm.text-grey-600.grow {
  flex: 0 0 auto;
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-800 {
  color: var(--kale-800);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-black-100 {
  color: var(--black-100);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.relative {
  position: relative;
}

.text-sm.jenfjker {
  width: 136px;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm.copied {
  display: none;
}

.date_grid {
  display: grid;
  width: 100%;
  align-items: center;
  align-content: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto;
}

.div-block-972 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1015 {
  width: 100%;
}

.div-block-1016 {
  width: 100%;
}