.insight-tag-block {
  position: relative;
  z-index: 5;

  display: flex;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 6px;

  background-color: #fff7ed;

  cursor: default;
}

.text-grey-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}