.invitation-link-wrap {
  display: flex;
  overflow: auto;
  height: 100vh;
  padding-top: 60px;
  justify-content: center;
  align-items: flex-start;
}

.invitation-link-wrap.flex-none {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.div-block-1202 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.invitation-sublink-wrap {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 34px;
  grid-row-gap: 34px;
}

.div-block-1141 {
  display: flex;
  max-width: 550px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  text-align: center;
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.fw-medium {
  font-weight: 500;
}

.text-gray-200 {
  color: var(--gray-200);
}

@media screen and (max-width: 479px) {
  .text-xl.text-gray-200.mobile-regular {
    font-size: 14px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: #68737d;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.div-block-1207 {
  display: flex;
  width: 560px;
  padding: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;

  background-color: #f7f9fb;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-lg.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-align-center {
  text-align: center;
}

.div-block-1209 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-gray-600.relative_2 {
  position: relative;
  z-index: 2;
}

.text-xsm {
  font-size: 10px;
}

.div-block-1208 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1208.gap-10 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1211 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-20.gap-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.mt-20.gap-10 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1213 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1212 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.ml--6 {
  margin-left: -6px;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-blue-500.ml-12 {
  margin-left: 8px;
}

.div-block-1203 {
  display: flex;
  width: 380px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.div-block-1163 {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.div-block-1163.mt-90 {
  margin-top: 90px;
}

.powered-footer-wrap {
  display: flex;
  margin-top: 70px;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.powered-footer-wrap.mt-30 {
  margin-top: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.powered-footer-wrap.mt-0 {
  margin-top: 0px;
}