.rd-main-wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 991px) {
  .rd-main-wrapper {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .rd-main-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.job-details-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-200);
}

.job-details-header-block {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .job-details-header-block {
    flex-direction: column;
    align-items: stretch;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 479px) {
  .job-details-header-block {
    flex-direction: column;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.jdet-main {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

@media screen and (max-width: 479px) {
  .jdet-main {
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.link-block {
  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .link-block.bold-text-mobile {
    font-weight: 600;
  }
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .inline-block.ml-0-mobile {
    margin-left: 0px;
  }
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.div-block-283 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  object-fit: contain;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.jdet-header-title-block {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

@media screen and (max-width: 991px) {
  .jdet-header-title-block {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .jdet-header-title-block {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-grey-500 {
  color: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-yellow-500 {
  color: hsla(29.83783783783783, 92.04%, 60.59%, 1.00);
}

.text-kale-500 {
  color: hsla(181.11111111111111, 27.84%, 38.04%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-grey-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

@media screen and (max-width: 991px) {
  .text-blue-500.tablet-left-auto {
    margin-left: auto;
  }
}

@media screen and (max-width: 991px) {
  .tablet-left-auto {
    margin-left: auto;
  }
}

.jdet-edit-controls-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 767px) {
  .jdet-edit-controls-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 479px) {
  .jdet-edit-controls-wrapper {
    flex-wrap: wrap;
  }
}

.jdet-edit-controls-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media screen and (max-width: 479px) {
  .jdet-edit-controls-block {
    flex-direction: row-reverse;
  }
}

.select-action-btn {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 6px;

  transition: all 300ms ease;

  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  white-space: nowrap;

  cursor: pointer;
}

.select-action-btn:hover {
  background-color: hsla(180, 0.00%, 92.52%, 1.00);
}

.select-action-btn.blue-100:hover {
  background-color: hsla(206.66666666666666, 100.00%, 88.22%, 1.00);
}

.blue-100 {
  background-color: hsla(206.66666666666666, 100.00%, 96.47%, 1.00);
}

.select-action-btn.green-100:hover {
  background-color: #d1e8df;
}

.green-100 {
  background-color: hsla(158.18181818181827, 44.00%, 95.10%, 1.00);
}

.select-action-btn.red-100:hover {
  background-color: hsla(356, 100.00%, 93.33%, 1.00);
}

.red-100 {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.select-action-btn.grey-100:hover {
  background-color: hsla(180, 0.00%, 91.03%, 1.00);
}

.grey-100 {
  background-color: hsla(180, 7.69%, 97.45%, 1.00);
}

.select-action-btn.blue-500:hover {
  background-color: var(--blue700-44d5e20c);
}

.blue-500 {
  background-color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.select-action-btn.blue-500.hide {
  display: none;
}

.text-color-white {
  color: white;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.rd-jobs-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  grid-column-gap: 40px;
  grid-row-gap: 35px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);
}

@media screen and (min-width: 1920px) {
  .rd-jobs-wrapper {
    width: 100%;
  }
}

.cdd-job-list-tab {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 14px;
}

@media screen and (max-width: 767px) {
  .cdd-job-list-tab {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.div-block-333 {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .div-block-333 {
    flex-direction: column-reverse;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-333 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.rd-job-list-tab-menu {
  display: flex;
  align-items: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 991px) {
  .rd-job-list-tab-menu {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .rd-job-list-tab-menu {
    overflow: auto;
    padding-bottom: 10px;
  }
}

.cdd-tab-link {
  position: relative;

  display: flex;
  overflow: hidden;
  padding: 15px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border: 2px solid transparent;
  border-radius: 10px;

  background-color: rgba(245, 252, 252, 1);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);

  transition: all 300ms ease;

  cursor: pointer;
}

.cdd-tab-link.selected {
  background-color: var(--green100-002b4df1);
  color: var(--green800-29596a70);
}

.cdd-tab-link.selected:hover {
  background-color: #d1e8df;
}

.cdd-tab-link.selected:global(.w--current) {
  border-color: hsla(158.24999999999997, 33.06%, 52.55%, 1.00);
}

@media screen and (max-width: 767px) {
  .cdd-tab-link.selected {
    flex: 0 0 auto;
  }
}

.cdd-tab-link.rejected {
  background-color: var(--red100-da60b1de);
  color: var(--red800-3e023ecd);
}

.cdd-tab-link.rejected:hover {
  background-color: hsla(356, 95.73%, 93.06%, 1.00);
}

.cdd-tab-link.rejected:global(.w--current) {
  border-color: hsla(309.10344827586204, 70.05%, 40.59%, 1.00);
}

@media screen and (max-width: 767px) {
  .cdd-tab-link.rejected {
    flex: 0 0 auto;
  }
}

.cdd-tab-link.interviewing {
  background-color: var(--blue100-331f343b);
  color: var(--blue800-6cd97850);
}

.cdd-tab-link.interviewing:hover {
  background-color: hsla(206.66666666666666, 89.42%, 90.89%, 1.00);
}

.cdd-tab-link.interviewing:global(.w--current) {
  border-color: hsla(206.66666666666666, 51.09%, 55.10%, 1.00);
}

@media screen and (max-width: 767px) {
  .cdd-tab-link.interviewing {
    flex: 0 0 auto;
  }
}

.cdd-tab-link.all {
  border-color: transparent;
  background-color: var(--grey100-ce28dc20);
  color: var(--grey800-d4992224);
}

.cdd-tab-link.all:hover {
  background-color: hsla(180, 0.00%, 91.03%, 1.00);
}

.cdd-tab-link.all:global(.w--current) {
  border-color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

@media screen and (max-width: 767px) {
  .cdd-tab-link.all {
    flex: 0 0 auto;
  }
}

.cdd-tab-link-title {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cdd-tab-link-title.height-mesa {
  height: 40px;
}

.cdd-tab-link-icon-block {
  display: flex;
  padding: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 4px;
}

.grey-600 {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.blue-600 {
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.green-600 {
  background-color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.red-600 {
  background-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.cdd-tab-link-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.grey-700 {
  background-color: hsla(205.26315789473685, 11.52%, 32.35%, 1.00);
}

.blue-700 {
  background-color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}

.green-700 {
  background-color: hsla(157.8082191780822, 60.33%, 23.73%, 1.00);
}

.red-700 {
  background-color: hsla(354.8571428571429, 60.00%, 34.31%, 1.00);
}

.cdd-job-status-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.rd-job-list-tab-content {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cdd-tab-content-top {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-end;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

@media screen and (max-width: 991px) {
  .cdd-tab-content-top {
    align-items: flex-start;
  }
}

.div-block-284 {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 767px) {
  .div-block-284 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.add-candidates-dropdown {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

@media screen and (max-width: 991px) {
  .add-candidates-dropdown {
    z-index: 5;
  }
}

.ac-dropdown-trigger {
  display: flex;
  padding: 8px 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
  border-radius: 4px;

  cursor: pointer;
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.div-block-370 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.div-block-342 {
  position: relative;

  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .div-block-342 {
    z-index: 4;
  }
}

.candidate-list-item {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--white-c31c6fe9);

  transition: all 300ms ease;

  cursor: pointer;
}

.candidate-list-item:hover {
  background-color: hsla(180, 7.69%, 97.45%, 1.00);
}

.candidate-list-item.top-bar {
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: hsla(180, 7.69%, 97.45%, 1.00);
  cursor: default;
}

@media screen and (max-width: 991px) {
  .candidate-list-item.top-bar {
    z-index: 4;
    width: auto;
  }
}

.cli-column {
  padding: 10px;
  overflow-wrap: anywhere;
}

.cli-column.candidate-info {
  width: 400px;
  min-width: 400px;
  padding-left: 20px;
}

.cli-column.score {
  display: flex;
  width: 140px;
  min-width: 140px;
  justify-content: center;
  align-items: center;
}

.cli-column.status {
  display: flex;
  width: 250px;
  min-width: 250px;
  margin-left: auto;
  padding-right: 20px;
  align-items: center;
}

.cli-checkbox {
  position: relative;
  z-index: 2;

  display: flex;
  padding-left: 30px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 991px) {
  .cli-checkbox {
    padding-left: 20px;
  }
}

.cli-checkbox.padding-large {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cli-checkbox.top {
  padding-left: 20px;
}

.checkbox-wrappers-job {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 14px;
  height: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: var(--white);

  cursor: pointer;
}

.checkbox-border-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  cursor: pointer;
}

.cli-check-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
}

.list-main-info {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.list-main-info.top-bar {
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  .list-main-info.top-bar {
    width: auto;
    background-color: var(--grey-100);
  }
}

@media screen and (max-width: 479px) {
  .list-main-info.top-bar {
    margin-left: 10px;
  }
}

.list-top-bar-description-block {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  white-space: nowrap;
}

.list-top-bar-description-block.status-right {
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .text-grey-600.mobile-12 {
    font-size: 12px;
  }
}

.text-grey-600.no-wrap {
  white-space: nowrap;
}

.cdd-content-main {
  position: relative;

  display: flex;
  padding-bottom: 180px;
  flex-direction: column;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .cdd-content-main {
    padding-bottom: 40px;
  }
}

.job-details-selection-bar {
  position: sticky;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0px;
  z-index: 5;

  width: 100%;
}