.job-status-block {
  display: flex;
  padding: 14px 16px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 10px;

  background-color: var(--grey100-ce28dc20);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-grey-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-kale-600 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.job-status-info {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.job-status-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.text-kale-800 {
  color: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
}