.mcq {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.ps_row {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

@media screen and (min-width: 1440px) {

}

.ps_input_slot._3-1grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.ps_input_slot.is_flex {
  display: flex;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.ps_input_slot.isloard {
  position: relative;
  height: 40px;
  border-radius: 4px;
}

.ps_input_slot.isloard.textarea {
  height: 100px;
}

.ps_input_slot.options {
  position: relative;

  display: flex;
  height: 40px;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 4px;
}

.button_text {
  display: flex;
  padding: 0px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 6px;

  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 0.00);

  transition: all 200ms ease-in-out;

  color: #337fbd;

  cursor: pointer;
}

.button_text:hover {
  color: #1f73b7;
}

.embed_flex {
  display: flex;
}

.embed_flex.rotate_180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.with_bg {
  position: relative;
  z-index: 2;
}

.embed_flex.with_bg.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}