.rs-bottom-block {
  display: flex;
  padding-top: 8px;
  padding-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.div-block-374 {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-378 {
  position: relative;

  display: flex;
  align-items: center;
  flex: 1;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  transition: all 250ms ease;

  color: hsla(0, 0.00%, 62.00%, 1.00);

  cursor: pointer;
}

.div-block-378:hover {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.div-block-377 {
  overflow: hidden;
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;

  border-radius: 100px;

  object-fit: cover;
}

.div-block-380 {
  position: relative;
}

.rs-profile-logout-block {
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;

  border-radius: 100px;

  background-color: hsla(0, 0.00%, 100.00%, 0.08);

  color: #d93f4c;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-red-400 {
  color: hsla(355.1470588235294, 70.83%, 62.35%, 1.00);
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.svg-icon.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-gray-700 {
  color: var(--gray-700);
}

.rec-tooltip {
  position: absolute;
  left: 36px;
  bottom: 32px;
  z-index: 99;

  padding: 4px 16px;

  border-radius: 100px;

  background-color: hsla(0, 0.00%, 100.00%, 0.10);

  color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  font-size: 12px;
  line-height: 1.4;
}

.rec-tooltip.logout {
  left: auto;
  right: 0px;
  bottom: 36px;
}

.div-block-376 {
  display: flex;
  opacity: 0.8;
}

.rs-brand-block {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-xsm {
  font-size: 10px;
}

.text-grey-600 {
  color: #68737d;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block.clickable.padding-4 {
  padding: 4px;
}

.icon-block._10x10 {
  width: 10px;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
}

.icon-block._10x10.sort {
  position: relative;
  transition: all 250ms ease;
  cursor: pointer;
}

.icon-block._10x10.sort:hover {
  opacity: 0.8;
}

.icon-block._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
}

.icon-block._30x30.rs-add {
  border-radius: 6px;
  background-color: hsla(0, 0.00%, 33.73%, 1.00);
}

.icon-block._12x12 {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block._24x24 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
}

.icon-block._20x26 {
  width: 20px;
  height: 26px;
}

.icon-block._16x16 {
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.icon-block._16x16.rounded {
  border-radius: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.icon-block._40x40 {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
}

.icon-block._40x40.cs-add {
  border-radius: 12px;
  background-color: var(--gray-200);
}

.icon-block.height-12 {
  height: 12px;
}

.icon-block._50x50 {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
}

.icon-block._50x50.contain.relative {
  position: relative;
  z-index: 5;
}

.relative {
  position: relative;
}

.icon-block.contain {
  object-fit: contain;
}

.icon-block._8x8 {
  width: 8px;
  height: 8px;
  min-height: 8px;
  min-width: 8px;
}