.submit-assessment-pop {
  display: flex;
  width: 463px;
  padding: 24px;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 10px;
}

.div-block-990 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-grey-600 {
  color: #68737d;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-lg.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-align-center {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}