.div-block-1111 {
  position: relative;
}

.div-block-1109 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid #cee2f2;
  border-radius: 10px;

  background-color: #edf7ff;
}

#w-node-_40ea1610-d770-949a-49ed-f0ed1ad30fda-1ad30fda {
}