.scheduler_layout {
  height: 100vh;
}

.scheduler_topbar {
  display: flex;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e9ebed;
}

.top_left {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.back_button {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.embed_flex {
  display: flex;
}

.embed_flex.rotate_180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.with_bg {
  position: relative;
  z-index: 2;
}

.embed_flex.with_bg.rotate-180 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.embed_flex.relative_3 {
  position: relative;
  z-index: 3;
}

.embed_flex.is_cursor {
  cursor: pointer;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}

.text-gray-600.maxwidth-custom {
  max-width: 292px;
}

.text-gray-600.relative_2 {
  position: relative;
  z-index: 2;
}

.topbar_left {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.topbar_right {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}