.table_header_row {
  display: grid;
  height: 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;

  border-top: 1px solid #e9ebed;
  border-bottom-color: #e9ebed;
}

.table_header_firstcell {
  display: flex;
  width: 380px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;

  background-color: #f7f9fb;
}

.table_cells {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#w-node-bc584fcd-a2f9-f450-713b-11fd02b28eee-02b28eed {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_8d758e7c-21a2-5f42-c2a6-cb365f58cdc1-02b28eed {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}