.panel_member {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.panel_member_avatar {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: hsla(0, 0%, 87.33%, 1);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.9%, 1);
}

.text-lg.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-400 {
  color: var(--gray-400);
}
