.sl-goal-wrapper {
  display: flex;
  width: 100%;
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

.sl-goal-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  text-align: center;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-500 {
  color: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-grey-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.sl-collaboration-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-collaboration-form {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 1280px) {
  .sl-collaboration-form {
    flex-direction: column;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

.sl-button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;

  border-radius: 4px;

  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);

  transition: opacity 300ms ease;

  text-align: center;

  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .sl-button {
    align-items: center;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

.sl-button:hover {
  background-color: hsla(206.8421052631579, 68.54%, 47.47%, 1.00);
}

.sl-button.basic {
  background-color: hsla(206.8421052631579, 0.00%, 100.00%, 1.00);
}

.sl-button.basic:hover {
  background-color: hsla(206.8421052631579, 0.00%, 93.33%, 1.00);
}

.sl-button.simple {
  padding: 0px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: hsla(206.8421052631579, 0.00%, 100.00%, 1.00);
  color: var(--blue-600);
}

@media screen and (min-width: 1280px) {
  .sl-button.simple:hover {
    color: hsla(206.8421052631579, 77.86%, 51.81%, 1.00);
  }
}

.sl-button.simple:hover {
  color: hsla(206.8421052631579, 78.72%, 53.00%, 1.00);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icon-embed.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-green-700 {
  color: hsla(157.8082191780822, 60.33%, 23.73%, 1.00);
}

.text-red-700 {
  color: hsla(354.8571428571429, 60.00%, 34.31%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-blue-700 {
  color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}

.sl-goal-buttons-wrapper {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}