.sl-main-wrapper {
  position: relative;

  display: flex;
  overflow: auto;
  height: 100vh;
  min-height: 100vh;
  padding: 42px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sl-logo-block.margin-v {
  margin-top: 18px;
  margin-bottom: 80px;
}

.sl-logo-block.margin-v.mb-90 {
  margin-bottom: 90px;
}

.sl-logo-block.absolute {
  position: absolute;
  left: 50px;
  top: 32px;
  right: auto;
  bottom: auto;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.svg-icon.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.svg-icon.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-green-700 {
  color: hsla(157.8082191780822, 60.33%, 23.73%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-blue-700 {
  color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.sl-login-block {
  display: flex;
  width: 100%;
  max-width: 420px;
  margin-bottom: auto;
  flex-direction: column;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.sl-login-block.gap-80 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.sl-login-main-wrapper {
  display: flex;
  padding: 40px 32px 32px;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  border-radius: 20px;

  background-color: hsla(180, 7.69%, 97.45%, 0.50);
}

.text-xxl {
  font-size: 26px;
  line-height: 1.23;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .text-xxl {
    font-size: 22px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-grey-700 {
  color: hsla(205.26315789473685, 11.52%, 32.35%, 1.00);
}

.sl-login-form {
  display: flex;
  flex-direction: column;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.sl-auth-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.sl-auth-link-block {
  display: flex;
  padding: 20px 28px;
  align-items: center;
  grid-column-gap: 38px;
  grid-row-gap: 38px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(206.95652173913044, 57.50%, 47.06%, 0.00);
  border-radius: 6px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  box-shadow: 0 4px 10px 0 hsla(0, 0.00%, 0.00%, 0.08);

  transition: all 300ms ease;

  cursor: pointer;
}

.sl-auth-link-block:hover {
  border-color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  background-color: #edf7ff;
}

.sl-auth-link-block.just-logo {
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  padding: 0px;
  justify-content: center;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-grey-500 {
  color: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-grey-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-color-white {
  color: white;
}

.text-black-100 {
  color: var(--black-100);
}

.icon-20 {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
}

.sl-auth-divider-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.ic-hr-line {
  height: 1px;
  flex: 1;
  border-radius: 100px;
  background-color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}

.ic-hr-line.grey-200 {
  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.grey-200 {
  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.text-grey-500.hide {
  display: none;
}

.sl-button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;

  border-radius: 4px;

  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);

  transition: opacity 300ms ease;

  text-align: center;

  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .sl-button {
    align-items: center;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

.sl-button:hover {
  background-color: hsla(206.8421052631579, 68.54%, 47.47%, 1.00);
}

.sl-button.basic {
  background-color: hsla(206.8421052631579, 0.00%, 100.00%, 1.00);
}

.sl-button.basic:hover {
  background-color: hsla(206.8421052631579, 0.00%, 93.33%, 1.00);
}

.sl-button.simple {
  padding: 0px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: hsla(206.8421052631579, 0.00%, 100.00%, 1.00);
  color: var(--blue-600);
}

@media screen and (min-width: 1280px) {
  .sl-button.simple:hover {
    color: hsla(206.8421052631579, 77.86%, 51.81%, 1.00);
  }
}

.sl-button.simple:hover {
  color: hsla(206.8421052631579, 78.72%, 53.00%, 1.00);
}

.div-block-390 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.sl-inline-block {
  display: inline-block;
}

.sl-inline-block.sign-up-link {
  margin-left: 4px;
  transition: all 300ms ease;
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  text-decoration: underline;
  cursor: pointer;
}

.sl-inline-block.sign-up-link:hover {
  color: hsla(206.95652173913044, 72.89%, 55.73%, 1.00);
}

.div-block-385 {
  display: none;
  margin-bottom: 0px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.sl-link {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  text-decoration: none;
  cursor: pointer;
}

.sl-link:hover {
  color: hsla(206.95652173913044, 79.34%, 58.05%, 1.00);
}