.res-import-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.res-import-list-wrapper {
  overflow: auto;
  max-height: 400px;
  min-height: 400px;
  flex: 1;
}

.res-import-list {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.res-import-cta-wrapper {
  position: sticky;
  bottom: 0px;
  box-shadow: 0 -3px 18px 6px hsla(0, 0.00%, 0.00%, 0.07);
}

.res-import-cta-block {
  display: flex;
  padding: 16px 32px;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-gray-600.mobile-12 {
    font-size: 12px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

.text-gray-600.max-width-500 {
  max-width: 500px;
}

.fw-semibold {
  font-weight: 600;
}

.text-gray-600.margin_bottom_10 {
  margin-bottom: 10px;
}