.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-block.clickable.padding-4 {
  padding: 4px;
}

.icon-block.clickable.padding-4.relative {
  position: relative;
}

.icon-block.clickable.padding-4.relative.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icon-block._12px {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
}

.icon-block._12px.sort {
  position: relative;
  transition: all 250ms ease;
  cursor: pointer;
}

.icon-block._12px.sort:hover {
  opacity: 0.8;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icon-embed.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: var(--yellow-600);
}

.icon-embed.sort {
  position: relative;
  z-index: 5;
}