.scheduled-info-wrap {
  overflow: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  height: calc(100vh - 60px);
}

.schedule-info-sub-wrap {
  display: flex;
  width: 516px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.schedule-info-wrapps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600 {
  color: #68737d;
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-gray-500 {
  color: var(--gray-500);
}

.fw-semibold.text-gray-500.max_width_custom {
  position: relative;
  z-index: 3;
  max-width: 414px;
  color: var(--gray-400);
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.text-grey-400 {
  color: #c2c8cc;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-blue-600 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.fw-semibold.text-blue-600.text-dec-none {
  text-decoration: none;
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-green-500 {
  color: hsla(157.9816513761468, 61.58%, 34.71%, 1.00);
}

.text-fuschia-600 {
  color: hsla(307.0833333333333, 75.00%, 37.65%, 1.00);
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-color-white {
  color: white;
}

.text-black-100 {
  color: var(--black-100);
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-capitalize {
  text-transform: uppercase;
}

.fw-semibold.text_camel_case {
  text-transform: capitalize;
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.fw-semibold.sticky_2 {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.relative {
  position: relative;
}

.text-red-600 {
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.div-block-1119 {
  padding: 4px 16px;
  border-radius: 100px;
  background-color: #cee2f2;
  color: #0f3554;
}

.text-grey-600.relative-1 {
  position: relative;
  z-index: 1;
}

.div-block-1120 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.ml-4 {
  margin-left: 4px;
}

.icons.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.ml--6 {
  margin-left: -6px;
}

.text-underline {
  transition: all 250ms ease;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-blue-500.ml-12 {
  margin-left: 8px;
}

.text-no-wrap {
  white-space: nowrap;
}

.div-block-1121 {
  display: flex;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.full-date-wrap {
  overflow: hidden;
  border-radius: 10px;
  background-color: #f7f9fb;
}

.date-wrappers {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-sm.fw-semibold.text_camel {
  text-transform: capitalize;
}

.text-sm.text-grey-600.grow {
  flex: 0 0 auto;
}

.text-kale-800 {
  color: var(--kale-800);
}

.text-sm.text-blue-600 {
  display: flex;
}

.text-green-600 {
  color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);
}

.text-sm.jenfjker {
  width: 136px;
}

.text-20 {
  font-size: 20px;
  line-height: 28px;
}

.text-xsm {
  font-size: 10px;
}

.div-block-910 {
  display: flex;
  width: 150px;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: column;
  align-items: center;

  background-color: #228f67;

  color: white;
}

.div-block-910.upcoming {
  background-color: #337fbd;
}

.div-block-910.upcoming-inter {
  width: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f79a3e;
}

.div-block-1124 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div-block-1123 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-1122 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-1126 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.button_primary {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 6px;

  background-color: #1f73b7;

  transition: all 200ms ease-in-out;

  color: white;

  cursor: pointer;
}

.button_primary:hover {
  background-color: #144a75;
}

.button_primary.is_disabled {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #c2c8cc;
  cursor: auto;
}

.button_primary.is_enabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.is_enabled.main {
  position: static;
}

.button_primary.is_enabled.main-green {
  position: static;
  background-color: #228f67;
}

.button_primary.is_enabled.main-green:hover {
  background-color: hsla(157.9816513761468, 65.44%, 30.22%, 1.00);
}

.button_primary.is_loading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding-top: 8px;
  padding-bottom: 8px;

  background-color: #e9ebed;

  color: #c2c8cc;

  cursor: progress;
}

.button_primary.confirm_availability {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #228f67;
}

.button_primary.confirm_availability:hover {
  background-color: #038153;
}

.button_primary.is_grey {
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.is_grey:hover {
  background-color: hsla(210.00000000000023, 18.58%, 85.26%, 1.00);
}

.button_primary.is_primarruy {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button_primary.greay_btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e9ebed;
  color: #2f3941;
}

.button_primary.greay_btn:hover {
  background-color: #d8dcde;
}

.button_primary.danger {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d93f4c;
}

.button_primary.danger:hover {
  background-color: #cc3340;
}

.div-block-1125 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1127 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-1128 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.div-block-1131 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1130 {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: rgba(233, 235, 237, 0.5);
}

.div-block-1129 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.div-block-1132 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-1135 {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}