.screening-header-info {
  display: flex;
  padding: 10px 12px;
  flex-direction: column;

  border-radius: 6px;

  background-color: #f8f9f9;

  transition: all 300ms ease;
}

.screening-header-block {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.scr-header-info-icon-block {
  display: flex;
  width: 23px;
  height: 23px;
  min-height: 23px;
  min-width: 23px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icon-embed.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-green-700 {
  color: hsla(157.8082191780822, 60.33%, 23.73%, 1.00);
}

.text-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-blue-700 {
  color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}

.scr-header-text-block {
  max-width: 640px;
}

.scr-header-edit-icon-block {
  display: flex;
  width: 23px;
  height: 23px;
  min-height: 23px;
  min-width: 23px;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  transition: all 200ms ease;

  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);

  cursor: pointer;
}

.scr-header-edit-icon-block:hover {
  color: hsla(204.00000000000003, 0.00%, 51.33%, 1.00);
}

.screening-header-edit-block {
  display: flex;
  padding: 6px 4px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.sh-edit-header {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .text-grey-600.mobile-12 {
    font-size: 12px;
  }
}

.sh-edit-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}