.selected-popup {
  position: relative;

  display: flex;
  padding: 40px 32px 24px 28px;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  border-radius: 10px;

  background-color: var(--white-c31c6fe9);
}

.selected-popup-close-btn {
  position: absolute;
  left: auto;
  top: 24px;
  right: 16px;
  bottom: auto;

  transition: all 300ms ease;

  cursor: pointer;
}

.selected-popup-close-btn:hover {
  opacity: 0.75;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icon-embed.sort-filled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;

  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.icon-embed.sort {
  position: relative;
  z-index: 5;
}

.text-blue-500 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.grey-600 {
  background-color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-red-300 {
  color: hsla(355.3125, 76.19%, 83.53%, 1.00);
}

.selected-popup-main {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.selected-popup-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}