.cv-list-row {
  display: flex;
  padding-right: 10px;
  padding-left: 2px;
  align-items: center;
}

.cv-list-row.top {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #f8f9f9;
}

.cv-list-row.top.top-can {
  align-items: stretch;
}

.cv-list-row.item {
  position: relative;
  z-index: 1;
  transition: all 300ms ease;
  cursor: pointer;
}

.cv-list-row.item:hover {
  background-color: var(--grey-100);
}

.cv-list-row.item.stretch {
  align-items: stretch;
}

.top-can-row-block {
  position: relative;
  display: flex;
}

.top-can-row-block.border-r {
  width: 100%;
  border-right: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.grey-100 {
  background-color: hsla(180, 7.69%, 97.45%, 1.00);
}

.top-can-row-block.border-b {
  border-bottom: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

.cv-list-column {
  position: relative;
  z-index: 10;

  display: flex;
  overflow: hidden;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  overflow-wrap: break-word;
}

.cv-list-column.checkbox {
  z-index: 10;
  margin-right: 0px;
  padding-right: 24px;
  padding-left: 16px;
}

.cv-list-column.checkbox.top-can {
  padding-top: 18px;
  align-items: flex-start;
}

.cv-list-column.checkbox.ml-0 {
  margin-left: 0px;
}

.cv-list-column.name {
  width: 240px;
  min-width: 240px;
  margin-left: 0px;
}

.cv-list-column.name.top-can {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cv-list-column.title {
  display: none;
  width: 240px;
  min-width: 240px;
}

.cv-list-column.score {
  width: 220px;
  height: 36px;
  min-width: 220px;
  justify-content: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column.email {
  width: 250px;
  min-width: 250px;
}

.cv-list-column.phone {
  width: 160px;
  min-width: 160px;
}

.cv-list-column.date {
  width: 220px;
  min-width: 220px;
  margin-right: 0px;
  text-align: right;
}

.cv-list-column.overview {
  width: 340px;
  min-width: 340px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: flex-start;
}

.cv-list-column.overview.top {
  align-items: center;
}

.cv-list-checkbox {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.top-can-info {
  display: flex;
  max-height: 24px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-profile-image {
  overflow: hidden;
  width: 18px;
  height: 18px;
  min-height: 18px;
  min-width: 18px;

  border-radius: 100px;

  object-fit: cover;
}

.fw-semibold {
  font-weight: 600;
}

.text-yellow-800 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.text-grey-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-color-black {
  color: var(--black-9b0fc3fc);
}

.text-kale-600 {
  color: var(--kale-600);
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-yellow-700 {
  color: hsla(26.174496644295296, 75.63%, 38.63%, 1.00);
}

.text-grey-500 {
  color: hsla(210.00000000000006, 10.09%, 57.25%, 1.00);
}

.fw-semibold.z-index-5 {
  position: relative;
  z-index: 5;
}

.text-blue-800 {
  color: hsla(206.95652173913044, 69.70%, 19.41%, 1.00);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-yellow-600 {
  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-grey-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.top-can-highlight {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #edf7ff;

  cursor: auto;
}