.add-input-command {
  padding: 20px;
  border: 1px solid #e9ebed;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 69, 78, 0.15);
}

.input-wrap-command {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.slot-input-command {
  width: 100%;
  min-height: 40px;
}

.command-button-wrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.div-block-648 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-icon-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  transition: all 250ms ease;

  cursor: pointer;
}

.delete-icon-wrap:hover {
  opacity: 0.6;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.div-block-646 {
  display: flex;
  align-items: center;
  order: 1;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}