.add-job-cd-list-wrap {
  width: 346px;
  max-height: 242px;
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.add-job-list-subwrap {
  display: flex;
  overflow: scroll;
  max-height: 187px;
  padding: var(--space-4) var(--space-2);
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.add-job-bottom {
  display: flex;
  padding: var(--space-3);
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--neutral-6);
}

.add-job-bottom-left {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.add-job-bottom-right {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}