.available-roles-pop-wrappers {
  position: relative;
  width: 500px;
  padding: var(--space-4);
  border-radius: var(--radius-4);
  background-color: var(--white);
}

@media screen and (max-width: 767px) {
  .available-roles-pop-wrappers {
    width: auto;
  }
}

.add-roles-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slot-roles-wrappers {
  display: flex;
  margin-top: var(--space-4);
  flex-wrap: wrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.roles-btn-wrap {
  display: flex;
  margin-top: var(--space-4);
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}