.cb-assisstant-settings-wrapper {
  display: flex;
  max-width: 660px;
  padding-top: 20px;
  flex-direction: column;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

.cb-assisstant-settings-wrapper.pl-20 {
  padding-left: 20px;
}

.cb-as-main {
  display: flex;
  flex-direction: column;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cb-as-main-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 42px;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cb-as-main-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cb-as-main-block.hide {
  display: none;
}

.cb-as-main-top-content {
  display: flex;
  max-width: 520px;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.inline-text {
  display: inline;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.cb-as-main-bottons-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.cb-as-code-wrapper {
  display: flex;
  padding: 24px;
  align-items: flex-start;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 0.50);
  border-radius: 16px;

  background-color: hsla(180, 7.69%, 97.45%, 1.00);
}

.cb-as-code-block {
  flex: 1;
}

.cb-as-code-copy-btn {
  position: relative;
  top: -10px;
  right: -14px;

  display: flex;
  padding: 10px 16px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 6px;

  transition: all 250ms ease;

  cursor: pointer;
}

.cb-as-code-copy-btn:hover {
  background-color: #e9ebed;
}

.embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}