.lever-card-map {
  position: relative;

  display: flex;
  padding: var(--space-3);
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--white);

  transition: all 250ms ease;

  cursor: pointer;
}

.lever-card-map:hover {
  background-color: var(--neutral-3);
}

.checkbox-right-wrappers-text {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mt-2 {
  margin-top: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.overlay-blue-checked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: var(--radius-2);

  background-color: var(--accent-3);
}