.ats-settings-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.ats-setting-left-wrap {
  display: flex;
  max-width: 580px;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.ats-connect-wrap {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.ats-connect-left-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.ats-settings-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.freq-menu-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.more-menu-ats-setting {
  position: relative;
  display: none;
  cursor: pointer;
}

.more-edit-three-dot {
  position: absolute;
  left: auto;
  top: auto;
  right: 6px;
  bottom: -78px;

  display: none;
  width: 150px;
  padding: var(--space-2);
  flex-direction: column;
  flex-wrap: nowrap;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--white);
}

.more-edit-list-ats-setting {
  padding: var(--space-1);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.more-edit-list-ats-setting:hover {
  background-color: var(--neutral-3);
}

.more-edit-list-ats-disconect {
  padding: var(--space-1);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.more-edit-list-ats-disconect:hover {
  background-color: var(--error-4);
}

.ats-sync-item-wrap {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.asi-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.asi-header-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ats-sync-item-wrap-copy {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.ats-sync-item-top {
  padding: var(--space-4);
}

.ats-sync-item-check-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.ats-sync-item-check-label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ats-sync-item-bottom-wrap {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  background-color: var(--accent-2);
}

.ats-sync-item-wrappers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.ats-sync-list-item {
  color: var(--neutral-11);
}

.ats-sync-item-smaple {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}