.time_range_available {
  position: relative;

  display: flex;
  width: 180px;
  height: 40px;
  min-height: 40px;
  padding: var(--space-1) var(--space-4);
  justify-content: center;
  align-items: center;
  align-self: center;

  border-radius: var(--radius-4);

  transition: all 200ms ease;

  text-align: center;

  cursor: pointer;
}

.time_range_available:hover {
  background-color: #f8f9f9;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.default_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px dashed var(--neutral-6);
  border-radius: var(--radius-4);
}

.active_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: center;
  align-items: center;

  border: 1px solid var(--accent-6);
  border-radius: var(--radius-4);

  background-color: var(--accent-3);

  color: var(--accent-11);
}

.semi-active-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: var(--space-1) var(--space-4);
  justify-content: center;
  align-items: center;

  border: 1px dashed var(--accent-6);
  border-radius: var(--radius-4);

  background-color: var(--white);

  color: var(--accent-11);
}