.radix-button {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  cursor: pointer;

  user-select: none;
}

.align-items-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.disabled_state {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  background-color: #f1f0ef;

  box-shadow: 0 0 0 0.5px #f1f0ef;

  color: #bcbbb5;

  cursor: not-allowed;
}

.icon_placeholder {
  display: flex;
}

.loading_state {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  background-color: #f1f0ef;

  box-shadow: 0 0 0 0.5px #f1f0ef;

  color: #bcbbb5;

  cursor: progress;
}

.loader_place_holder {
  width: 16px;
  height: 16px;
}