.cv-list-row-2 {
  display: flex;
  padding-right: 10px;
  padding-left: 2px;
  align-items: center;
}

.cv-list-row-2.item {
  position: relative;
  z-index: 1;
  flex: auto;
  transition: all 300ms ease;
  cursor: pointer;
}

.cv-list-row-2.item:hover {
  background-color: #f8f9f9;
}

.cv-list-row-2.top {
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
}

.cv-list-row-2.top.bg-grey-100 {
  background-color: #f8f9f9;
}

.cv-list-row-2.top {
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: var(--neutral-2);
}

.cv-list-row-2.top.bg-grey-100 {
  background-color: #f8f9f9;
}

.cv-list-row-2.top.bg-grey-100.height-60 {
  height: 60px;
}

.cv-list-row-2.top.bg-grey-100.height-48 {
  height: 48px;
}

.cv-list-row-2.top.height-48 {
  height: 48px;
}

.cv-list-item-highlight {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  display: block;
  height: 100%;
  flex: 0 0 auto;

  background-color: var(--neutral-3);
}

.cv-list-column-2 {
  position: relative;

  display: flex;
  overflow: hidden;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  overflow-wrap: break-word;
}

.cv-list-column-2.checkbox {
  z-index: 10;
  margin-right: 0px;
  padding-right: 24px;
  padding-left: 16px;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-right: 10px;
}

.checkbox:global(.w--redirected-checked) {
  padding: 4px;
  border-style: none;
  background-color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  background-size: auto;
}

.checkbox:global(.w--redirected-focus) {
  box-shadow: none;
}

.cv-list-column-2.score {
  width: 220px;
  height: 36px;
  min-width: 220px;
  justify-content: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-2.date {
  width: 220px;
  min-width: 220px;
  margin-right: 0px;
  text-align: right;
}

.cv-list-column-2.date.bg-grey-100 {
  background-color: #f8f9f9;
}

.cv-list-column-2.email {
  width: 250px;
  min-width: 250px;
}

.cv-list-column-2.title {
  display: none;
  width: 240px;
  min-width: 240px;
}

.cv-list-column-2.name-cd-wrap {
  width: 170px;
  min-width: 170px;
  margin-left: 0px;
}

.cv-list-column-2.applied-job {
  width: 220px;
  height: 36px;
  min-width: 220px;
  justify-content: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cv-list-column-2.locations {
  width: 240px;
  min-width: 240px;
}

.cv-list-column-2.locations.bg-grey-100 {
  background-color: #f8f9f9;
}

.cv-list-column-2.phone-num {
  width: 220px;
  min-width: 220px;
  margin-right: 0px;
  text-align: left;
}

.cv-list-checkbox-2 {
  position: relative;
  z-index: 2;

  display: flex;
  overflow: hidden;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.cli-check-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
}

.cv-list-row-main {
  position: relative;
  z-index: 10;

  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 2px;
  justify-content: space-between;
  align-items: center;
}

.cdr-profile-image-wrap {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: var(--radius-2);
  object-fit: cover;
}