.candidates-database-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .candidates-database-wrapper {
    overflow: hidden;
  }
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.cdd-header-wrap {
  display: flex;
  padding: 19px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1;

  border-bottom: 1px solid var(--neutral-6);
}

@media screen and (max-width: 991px) {
  .cdd-header-wrap {
    flex-direction: column;
    align-items: stretch;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cdd-header-wrap {
    flex-direction: column;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.cdb-header-info-block {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

@media screen and (max-width: 479px) {
  .cdb-header-info-block {
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.arrow-back-cd {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 0.5px solid #e9ebed;
  border-radius: 3px;

  background-color: #f8f9f9;

  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

@media screen and (max-width: 991px) {
  .tablet-left-auto {
    margin-left: auto;
  }
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}

.cdb-header-button-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 991px) {
  .cdb-header-button-wrapper {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .cdb-header-button-wrapper {
    flex-wrap: wrap;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.cdb-header-button-wrapper.hide {
  display: none;
}

.select-action-btn {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 6px;

  transition: all 300ms ease;

  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  white-space: nowrap;

  cursor: pointer;
}

.select-action-btn:hover {
  background-color: hsla(180, 0.00%, 92.52%, 1.00);
}

.select-action-btn.outline {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.download-wrap {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -266%;
  z-index: 3;

  display: none;
  width: 340px;
  padding: 18px 20px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: 10px;

  background-color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 69, 78, 0.15);

  color: #2f3941;
}

.download-sub-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.cdb-main-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: 991px) {
  .cdb-main-wrapper {
    position: relative;
  }
}

.cdb-main-block {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.cdb-main-top {
  position: relative;
  top: -1px;

  display: flex;
  padding: 16px 30px 20px 22px;
  flex-direction: column;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

@media screen and (max-width: 767px) {
  .cdb-main-top {
    display: flex;
    width: 100%;
  }
}

.cdb-search-wrapper {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cdb-search-wrapper.hide {
  display: none;
}

.cdb-filters-wrapper {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.cdb-tabs-block {
  display: flex;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cdb-tab-link {
  position: relative;

  display: flex;
  overflow: hidden;
  padding: 8px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 100px;
}

.cdb-tab-link.pointer.color-grey-800 {
  color: #2f3941;
}

.position-relative {
  position: relative;
}

.position-relative.z-5 {
  z-index: 5;
}

.number-wrap {
  z-index: 3;

  display: flex;
  width: 23px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-radius: 100px;

  background-color: #68737d;
}

.number-wrap.bg-grey-200 {
  width: 22px;
  height: 22px;
  background-color: #e9ebed;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.cdb-tab-link-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: 8px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: #49545c;

  color: white;
}

.cdb-main-bottom {
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.cdb-main-content {
  position: relative;

  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cdb-cards-wrapper {
  display: flex;
  overflow: auto;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 22px;
  flex-direction: column;
  flex: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cdb-selection-bar {
  position: sticky;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0px;
  z-index: 5;

  width: 100%;
  height: 61.59375px;
}

.cdb-select-bar-block {
  display: flex;
  width: 100%;
  padding: 12px 32px;
  justify-content: space-between;
  align-items: center;

  background-color: #f8f9f9;

  box-shadow: 0 -2px 8px 0 hsla(187.3972602739726, 90.12%, 15.88%, 0.15);
}

@media screen and (max-width: 991px) {
  .cdb-select-bar-block {
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.cdb-select-left-block {
  display: flex;
  align-items: center;
}

.div-block-613 {
  display: flex;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.cdb-select-clear-btn {
  padding: 8px 12px;
  cursor: pointer;
}

.text-blue-600-2 {
  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.cdb-select-right-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 479px) {
  .cdb-select-right-block {
    overflow: auto;
    width: 100%;
    padding-bottom: 10px;
    justify-content: flex-start;
  }
}

.cdb-select-btn {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 4px;
}

.cdb-select-btn.clickable {
  background-color: white;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.cdb-select-dropdown {
  position: relative;
}

.cdb-sidebar {
  overflow: auto;
  height: 100%;
  flex: 0 0 auto;
  border-left: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
}

@media screen and (max-width: 991px) {
  .cdb-sidebar {
    position: absolute;
    right: 0px;
    z-index: 99;

    display: none;
    width: 70%;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}