.search-wrap-candidate {
  height: 100vh;
}

.job-header-empty {
  z-index: 2;
  height: 48px;
  padding: var(--space-4);
  border-bottom: 1px solid var(--neutral-6);
  background-color: var(--white);
}

.candidate-empty-landing-wrappers {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .candidate-empty-landing-wrappers {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.new-layout-sublink {
  display: flex;
  width: 216px;
  padding: var(--space-3);
  flex-direction: column;
  flex: 0 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-right: 1px solid var(--neutral-6);
}

.cd-right-wrap {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 48px);
}