.cvs-info-content-main {
  display: flex;
  overflow: auto;
  padding-bottom: var(--space-7);
  flex-direction: column;
  grid-column-gap: var(--space-6);
  grid-row-gap: var(--space-6);
}

.cd-slot-interview {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.cv-sidebar-info-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

.cv-sidebar-info-wrapper.width-600 {
  width: 600px;
}