.candidate_calender {
  display: grid;
  overflow: hidden;
  height: 600px;
  max-width: 900px;
  min-width: 700px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--white);
}

@media screen and (max-width: 479px) {
  .candidate_calender {
    height: 500px;
  }
}

.calender_top-copy {
  display: flex;
  height: 40px;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--neutral-3);
}

.month_and-_year {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

._20-20_icon_block {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.time_zome_drop {
  display: flex;
  padding: var(--space-1) var(--space-2);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-3);

  background-color: var(--white);

  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.calender_body {
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
}

.arrorw_block {
  width: 68px;
  height: 100%;
  padding-top: var(--space-2);
  padding-right: var(--space-4);
  padding-left: var(--space-4);
}

@media screen and (max-width: 479px) {
  .arrorw_block {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.arrow_embed {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-3);
  cursor: pointer;
}

.arrow_embed:hover {
  color: hsla(210, 5.86%, 92.92%, 1.00);
}

.day_columns {
  display: block;
  overflow: auto;
  max-height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}