.candiate-side-drawer-wrapper {
  overflow: hidden;
  width: 700px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--white);
}

.candiate-side-drawer-wrapper.justify-start {
  justify-content: flex-start;
}

.candiate-side-drawer-wrapper.justify-start.dialog {
  width: 424px;
  padding-bottom: 30px;
}

.slot_topbar {
  display: flex;
  height: 41px;
  padding: var(--space-2);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-bottom: 1px solid var(--neutral-6);
}

.slot_cd_basic_info {
  padding: var(--space-2);
}

.slot_newtab_pill {
  display: flex;
  height: 36px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--neutral-6);
}

.slot_tabcontents {
  overflow: auto;
  padding-top: var(--space-3);
  padding-right: var(--space-3);
  padding-bottom: var(--space-3);
  padding-left: var(--space-4);

  background-color: white;

  height: calc(100vh - 157px);
}

.candidate_details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.badges_and_overview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.candidate_badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.other_details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
}