.sidedrawer_controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.bookmark_block {
  position: relative;
  transition: all 200ms ease;
  color: var(--neutral-3);
  cursor: pointer;
}

.bookmark_block:hover {
  color: var(--neutral-4);
}

.bookmark_default {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.bookmark_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  align-items: center;
}

.left-right-arrows {
  position: relative;
}

.arrow_task {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 8px;

  transition: all 250ms ease;

  color: var(--neutral-3);

  cursor: pointer;
}

.arrow_task:hover {
  color: var(--neutral-4);
}

.arrow_task.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  color: #f9f9f8;

  cursor: not-allowed;
}

.arrow_task.disable:hover {
  opacity: 1;
}

.arrow-tooltips-drawer-2 {
  position: absolute;
  left: -70%;
  top: auto;
  right: 0%;
  bottom: -105%;

  display: flex;
  min-width: 60px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex: 1;

  border-radius: 4px;

  background-color: #2f3941;

  opacity: 1;

  color: white;
  font-size: 10px;
}

.arrow-tooltips-drawer-2.grey-600 {
  background-color: #68737d;
}

.arrow-tooltips-drawer-2.grey-600.task-next {
  left: -23%;
  bottom: -97%;
  z-index: 4;
  display: none;
}

.arrow-tooltips-drawer-2.grey-600.task {
  left: -64%;
  bottom: -97%;
  z-index: 4;
  display: none;
}

.embed_arrow {
  display: flex;
}

.cancel_arrowtask {
  position: relative;

  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: var(--radius-1);

  transition: all 200ms ease;

  color: var(--neutral-3);

  cursor: pointer;
}

.cancel_arrowtask:hover {
  color: var(--neutral-5);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}