.candidate_name {
  display: flex;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.name_and_avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.linkedin_icon {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: visible;
  height: 24px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: var(--radius-1);

  transition: all 200ms ease;

  cursor: pointer;
}