.candidate_page {
  position: relative;

  display: grid;
  overflow: auto;
  width: 100%;
  min-height: 100vh;
  padding-top: var(--space-9);
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content auto;
}

@media screen and (min-width: 1920px) {
  .candidate_page {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .candidate_page {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .candidate_page {
    padding-right: 16px;
    padding-left: 16px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.title_block {
  display: flex;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  text-align: center;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.ml--1 {
  margin-left: -9px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.ccp-btn-wrap {
  transition: all 200ms ease;
  color: var(--accent-11);
  cursor: pointer;
}

.ccp-btn-wrap:hover {
  color: var(--accent-12);
}

.candidate_calender_slot {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

@media screen and (max-width: 767px) {
  .candidate_calender_slot {
    max-width: none;
  }
}

.button_block {
  display: flex;
  padding-top: var(--space-4);
  justify-content: center;
  align-items: flex-end;
}

.copyright_block {
  display: flex;
  height: 100%;
  padding-top: var(--space-9);
  padding-bottom: var(--space-4);
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

@media screen and (max-width: 767px) {
  .copyright_block {
    padding-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .copyright_block {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mt-2 {
  margin-top: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}