.candidate-chat-wrappers {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--gray100-3a86b552);
}

.candidate-chat {
  overflow: hidden;
  width: 620px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 10px;

  background-color: var(--white-80449ce7);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.candidate-chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--grey800-e42b2e06);
}

.candidate-chat-left-header {
  display: flex;
  max-width: 323.140625px;
  padding: 10px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 8px;

  background-color: var(--grey700-7fbe857b);
}

.slot-company-logo-chat {
  width: 40px;
  height: 40px;
}

.div-block-447 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.div-block-448 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.inde-info-block {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.inde-status-block {
  padding: 4px 20px;

  border-radius: 100px;

  background-color: hsla(204.07185628742513, 69.87%, 53.14%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  text-align: center;
}

.chat-inbox-bubble {
  padding: 12px 14px;
}

.chat-inbox-wrappers {
  overflow: scroll;
  height: 65vh;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}