.candiate-side-drawer-wrapper {
  overflow: hidden;
  width: 700px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--white);
}

.candiate-side-drawer-wrapper.justify-start {
  justify-content: flex-start;
}

.candiate-side-drawer-wrapper.justify-start.dialog {
  width: 424px;
  padding-bottom: 30px;
}

.cv-sidebar-header-wrap {
  position: sticky;
  top: 0px;
  z-index: 6;

  display: flex;
  height: 60px;
  padding: 12px 12px 12px 16px;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border-style: none none solid;
  border-width: 1px;
  border-color: black black #e9ebed;

  background-color: #f8f9f9;
}

.cv-sidebar-header-wrap.dial {
  justify-content: space-between;
}

.cd-header-right-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.cvs-intro-profile-image {
  overflow: hidden;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;

  border-radius: var(--radius-4);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cd-header-left-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.cvs-header-nav-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.cvs-header-nav-icon {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 4px;
}

.cvs-header-nav-icon.clickable:hover {
  opacity: 0.6;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.cvs-header-nav-icon.clickable.bg-white {
  position: relative;
  background-color: white;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.arrow-tooltips-drawer {
  position: absolute;
  left: -70%;
  top: auto;
  right: 0%;
  bottom: -105%;

  display: none;
  min-width: 60px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  flex: 1;

  border-radius: var(--radius-2);

  background-color: var(--sky-12);

  color: var(--white);
  font-size: 10px;
}

.cvs-header-close-button {
  display: flex;
  width: 24px;
  height: 24px;
  padding: var(--space-1);
  justify-content: center;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.cv-sidebar-intro-wrapper-candi {
  display: flex;
  padding: 10px 16px 10px 20px;
  flex-direction: column;
  align-items: flex-start;
}

.cd-details-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.loc-wrap-detail {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  color: var(--grey-600\<deleted\|variable-d5bebe21\>);
}

.mt-10 {
  margin-top: 10px;
}

.cvs-intro-profile-candi {
  position: relative;

  display: flex;
  align-items: flex-start;
  align-self: stretch;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cvs-intro-profile-candi.mt-10.center {
  align-items: center;
}

.cvs-intro-profile-info {
  display: flex;
  flex-direction: column;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.div-block-629 {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.phone-icon-wraps {
  position: relative;

  display: flex;
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: #e9ebed;
}

.devlink-copy-text {
  position: absolute;
  left: -18px;
  top: auto;
  right: 0%;
  bottom: -23px;
  z-index: 3;

  display: none;
  width: 72px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #49545c;

  color: white;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.color-grey-600 {
  color: #68737d;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

.relative {
  position: relative;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.email-outreach-button {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(184, 0, 156, 0.2);
  border-radius: 4px;

  background-color: rgba(184, 0, 156, 0.05);

  transition: all 250ms ease;

  cursor: pointer;
}

.email-outreach-button:hover {
  opacity: 0.6;
}

.text-email-out {
  color: #b8009c;
  font-size: 12px;
}

.text-email-out.fetching {
  color: rgba(168, 24, 151, 0.4);
}

.email-outreach-fetching {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(168, 24, 151, 0.2);
  border-radius: 4px;

  background-color: rgba(168, 24, 151, 0.05);
}

.div-block-731 {
  width: 12px;
  height: 12px;
}

.cdb-card-header-right-candi {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0%;
  bottom: auto;
}

.cdb-star-block {
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.cvs-header-copy-add-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cvs-header-copy-candi {
  position: relative;

  width: 30px;
  height: 30px;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: white;

  transition: all 250ms ease;

  cursor: pointer;
}

.cvs-header-copy-candi:hover {
  opacity: 0.6;
}

.link-copy-tooltip {
  position: absolute;
  left: -10px;
  top: auto;
  right: 0%;
  bottom: -22px;

  display: none;
  width: 60px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: var(--grey-700\<deleted\|variable-7fbe857b\>);

  color: var(--white\<deleted\|variable-80449ce7\>);
}

.toss-copied {
  position: absolute;
  left: auto;
  top: auto;
  right: -63%;
  bottom: 0%;

  padding: 4px 10px;

  border-radius: 100px;

  background-color: #49545c;

  color: white;
}

.cdb-select-dropdown {
  position: relative;
}

.cvs-intro-overview-candi {
  display: flex;
  margin-top: 18px;
  padding: 14px 36px 17px 15px;
  flex-direction: column;
  grid-column-gap: 14px;
  grid-row-gap: 14px;

  border-radius: 10px;

  background-color: hsla(180, 53.85%, 97.45%, 1.00);
}

.cvs-intro-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.icon-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-kale-800-2 {
  color: hsla(186.38297872340425, 95.92%, 9.61%, 1.00);
}

.text-kale-600-2 {
  color: hsla(184.44444444444443, 54.00%, 19.61%, 1.00);
}

.div-block-642 {
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.slot-candidate-details {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.slot-candidate-details.cd-details {
  display: flex;
  margin-top: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.cd-added-job-list {
  margin-top: 0px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 14px 14px 18px 18px;

  border: 1px solid var(--grey-200\<deleted\|variable-9ba653f1\>);
  border-radius: 10px;
}

.div-block-605 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd-job-count-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.fw-semibold {
  font-weight: 600;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.job-icon-count-wrap {
  display: flex;
  padding: 2px 7px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: white;
}

.div-block-606 {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}