.candidateschedulecard {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;
}

@media screen and (max-width: 767px) {
  .candidateschedulecard {
    width: 100%;
  }
}

.day_row {
  position: relative;
  z-index: 5;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text-align-center {
  text-align: center;
}

.text-gray-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.text-blue-600.no-underline {
  text-decoration: none;
}

.text-no-wrap {
  white-space: nowrap;
  overflow-wrap: anywhere;
}

.mt-20 {
  margin-top: 20px;
}

.duration_row {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.duration_flex {
  display: flex;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.ml--1 {
  margin-left: -9px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.default_stage {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-start;
}

.default_stage.corner {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.selected_stage {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;

  display: flex;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-start;

  background-color: #f7f9fb;
}

.clickable_area_card {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  cursor: pointer;
}

.clickable_area_popup {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 6;

  display: flex;
  padding: 16px;
  justify-content: flex-end;
  align-items: flex-start;
}

.clickable_area_popup.hide {
  display: none;
}

.slot_selected {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 479px) {
  .slot_selected {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}