.sac-empty-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sac-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sac-empty-lottie {
  width: 100px;
  height: 100px;
}

.sac-empty-desc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  text-align: center;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.inline-text {
  display: inline;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}