.cd-table {
  display: flex;
  width: 100%;
  padding: 0px;
  flex-direction: column;
}

.div-block-680 {
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ebed;
}

.div-block-679 {
  display: flex;
  height: 60px;
  padding: 20px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.edit-query-btn {
  margin-left: 10px;
  color: var(--blue-500\<deleted\|variable-72579298\>);
  text-decoration: underline;
  cursor: pointer;
}

.div-block-681 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.list-header-view {
  display: flex;
  height: 60px;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-bottom: 1px solid #e9ebed;
}

.div-block-739 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  cursor: pointer;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-grey-600 {
  color: #68737d;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.text-color-white {
  color: white;
}

.div-block-740 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-741 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-742 {
  display: flex;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.cd-table-wrap-aglint {
  position: relative;
  display: flex;
  width: 100%;
}

.div-block-707 {
  display: flex;
  overflow: auto;
  width: 100%;
}

.div-block-705 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cd-table-aglint-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.div-block-682 {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 16px 20px;
  align-items: center;

  border-bottom: 1px solid var(--grey-200\<deleted\|variable-9ba653f1\>);

  background-color: #f8f9f9;
}

.cand-head-wrap {
  display: flex;
  width: 516px;
  align-items: center;
  flex: 0 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.experince-head-wrap {
  width: 100%;
}

.div-block-692 {
  display: flex;
  width: 100%;
  height: 53px;
  padding: 16px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  background-color: #edf7ff;
}

.div-block-693 {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e9ebed;
  border-radius: 4px;

  background-color: white;

  cursor: pointer;
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.div-block-694 {
  display: flex;
  margin-left: 10px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  cursor: pointer;
}

.div-block-694.cursor-pointer.hide {
  display: none;
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.save-list-wrap-cd {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border: 0.5px solid #adcce4;
  border-radius: 4px;

  background-color: #cee2f2;
}

.save-list-wrap-cd.pink-btn {
  border-color: rgba(168, 24, 151, 0.2);
  background-color: rgba(168, 24, 151, 0.1);
}

.save-list-wrap-cd.hide {
  display: none;
}

.text-block-30 {
  color: #a81897;
}

.div-block-691 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.side-slot-emial {
  padding-right: 0px;
  flex: 0 0 auto;
}