.filter-wrap {
  max-width: 995px;
  padding: 0px 20px 20px;
  border-radius: 10px;
  background-color: #f8f9f9;
}

.filter-wrap-header {
  position: sticky;
  top: 0px;
  z-index: 2;

  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;

  background-color: #f8f9f9;
}

.div-block-580 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.filter-wrap-right {
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}

.div-block-581 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.div-block-582 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.filter-outer-wrappers {
  display: flex;
  padding: 12px 18px;
  flex-direction: column;
  grid-column-gap: 7px;
  grid-row-gap: 7px;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;
}

.filter-outer-wrappers.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-outer-wrappers.hide {
  display: none;
}

.wrap-flex {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.div-block-583 {
  display: flex;
  margin-top: 8px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.job-pills-wrap {
  display: flex;
  padding: var(--space-1) var(--space-2);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);

  background-color: var(--sky-a3);

  cursor: pointer;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.inline-text {
  display: inline;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

#w-node-_0539feb3-3d50-9df5-11bd-a86c5314d11b-5314d111 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_0539feb3-3d50-9df5-11bd-a86c5314d136-5314d111 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}