.change_button {
  display: flex;
  width: 30px;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  background-color: white;

  color: #337fbd;

  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.ml--1 {
  margin-left: -9px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}