.close-job-modal-pop {
  position: relative;
  width: 460px;
  padding: var(--space-4);
  border-radius: var(--radius-4);
}

.close-data-wrap {
  display: flex;
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
  padding: var(--space-2);
  flex-direction: column;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}

.confirm-close-job-wrap {
  display: flex;
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
  flex-wrap: wrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.close-job-btn-modal {
  position: absolute;
  left: auto;
  top: 14px;
  right: 20px;
  bottom: auto;

  padding: var(--space-1);

  border-radius: var(--radius-full);

  transition: all 250ms ease;

  cursor: pointer;
}

.close-job-btn-modal:hover {
  background-color: #f8f9f9;
}

.buttn_flex {
  display: grid;
  padding-top: var(--space-3);
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.wide_button {
  position: relative;
  z-index: 1;
}

.disable-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}