.close-delete-wrap {
  width: 448px;
  padding: var(--space-4);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);
  background-color: var(--white);
}

.close-delete-list {
  display: flex;
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
  padding-left: var(--space-3);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--neutral-9);
  list-style-type: disc;
}

.delete-desc-wrap {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.close-job-btn-wrap {
  position: relative;
  display: flex;
  justify-content: flex-start;
}