.company-info-wrap {
  width: 900px;
  padding: var(--space-4) var(--space-4) var(--space-8);
  background-color: var(--white);
}

.slot-company-info-details {
  margin-bottom: 30px;
}

.cs-info-wrapper {
  display: flex;
  margin-top: var(--space-5);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.cs-info-wrapper.first {
  margin-top: 0px;
}

.cs-info-wrapper.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.slot-location-saved-wrappers {
  display: grid;
  width: 100%;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.cs-info-header {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.slot-department-pill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}