.company-setting-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .company-setting-layout {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.cs-layout-header {
  position: relative;

  display: flex;
  width: 100%;
  height: var(--space-8);
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--white);
}

.slot-saved {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.slot-saved.compna {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  justify-content: center;
}

.loading-saved {
  display: flex;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.slot-saving-lottie {
  width: 13px;
  height: 13px;
}

.cs-layout-body {
  display: flex;
  width: 100%;
  height: calc(100vh - 48px);
}

.new-layout-sublink {
  display: flex;
  width: 216px;
  padding: var(--space-3);
  flex-direction: column;
  flex: 0 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-right: 1px solid var(--neutral-6);
}

.cs-layout-right {
  overflow: auto;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  background-color: var(--white);

  height: calc(100vh - 48px);
}