.company-listing-wrappers {
  display: block;
}

.gradient-black--hero {
  background-image: linear-gradient(to bottom, #2f3941, black);
}

.company-listing-hero {
  display: flex;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 112px;
  padding-bottom: 78px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  color: var(--white\<deleted\|variable-80449ce7\>);
  text-align: center;
}

@media screen and (max-width: 991px) {
  .company-listing-hero {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .company-listing-hero {
    padding: 60px 20px;
    align-items: flex-start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: left;
  }
}

.company-profile-image-slot {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px none var(--grey200-9ba653f1);
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
  .company-profile-image-slot {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .company-profile-image-slot {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 479px) {
  .company-profile-image-slot {
    width: 80px;
    height: 80px;
  }
}

.text-xxxl {
  font-size: 36px;
  line-height: 1.22;
}

@media screen and (max-width: 991px) {
  .text-xxxl {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .text-xxxl {
    font-size: 26px;
  }
}

.fw-semibold {
  font-weight: 600;
}

.text-color-white {
  color: white;
}

@media screen and (max-width: 479px) {
  .text-xxxl.fw-semibold.text-color-white.mobile-lg {
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .text-xxxl.fw-semibold.res-text-xxxl {
    font-size: 20px;
  }
}

.company-info-wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 53px;
  grid-row-gap: 53px;
}

@media screen and (max-width: 767px) {
  .company-info-wrappers {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.div-block-425 {
  display: flex;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

@media screen and (max-width: 767px) {
  .text-lg.fw-semibold.responsive-text {
    font-size: 14px;
  }
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

@media screen and (max-width: 767px) {
  .text-lg.text-grey-700.responsive-text {
    font-size: 14px;
  }
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.company-list-link-wrappers {
  display: flex;
  margin-top: 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 767px) {
  .company-list-link-wrappers {
    margin-top: 0px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .company-list-link-wrappers {
    flex-direction: row;
    align-items: flex-start;
  }
}

.open-jobs-sticky-wrappers {
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .open-jobs-sticky-wrappers {
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container-1216 {
  max-width: 1216px;
  margin-right: auto;
  margin-left: auto;
}

.sticky-header-wrappers {
  position: sticky;
  top: 0px;
  z-index: 20;

  display: flex;
  padding-top: 42px;
  padding-bottom: 40px;
  justify-content: center;

  background-color: var(--gray100-3a86b552);
}

@media screen and (max-width: 767px) {
  .sticky-header-wrappers {
    display: none;
  }
}

.sticky-header-wrappers.hide {
  display: none;
}

.div-block-426 {
  display: flex;
}

.div-block-426.hide {
  display: none;
}

.header-menu-wrappers {
  display: flex;
  padding: 10px 20px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  border-radius: 10px;

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.header-menu-wrappers:global(.w--current) {
  background-color: var(--white-80449ce7);
  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.header-menu-wrappers.hide {
  display: none;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cl-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cl-block {
  position: relative;

  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  border: 1px solid #e9ebed;
  border-radius: 20px;

  background-color: var(--white-80449ce7);
}

@media screen and (max-width: 767px) {
  .cl-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 479px) {
  .cl-block {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.cl-block.hide {
  display: none;
}

.search-header-open-jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .search-header-open-jobs {
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.open-job-notification {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.text-grey-200 {
  color: var(--grey200-9ba653f1);
}

@media screen and (max-width: 479px) {
  .text-xl.text-grey-200.mobile-regular {
    font-size: 14px;
  }
}

.div-block-427 {
  display: flex;
  width: 28px;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: var(--blue500-72579298);

  color: var(--white-80449ce7);
}

.div-block-441 {
  display: flex;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

@media screen and (max-width: 479px) {
  .div-block-441 {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.gallery-wrappers {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.div-block-429 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .div-block-429 {
    grid-template-columns: 1fr;
  }
}

.aglint-powered-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.aglint-powered-footer.pt-100 {
  padding-top: 100px;
}

.div-block-432 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media screen and (max-width: 479px) {
  .div-block-432 {
    flex-direction: column;
  }
}

.div-block-933 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}