.cj-add-skill-btn {
  display: flex;
  height: 40px;
  padding: var(--space-2) var(--space-4);
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-2);

  color: var(--accent-11);
  text-decoration: none;
}

.add-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-icon.pointer {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}