.new-create-job {
  position: relative;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.new-create-job-header {
  position: relative;
  z-index: 4;

  display: flex;
  height: 60px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e9ebed;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.create-job-header-left {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
}

.div-block-715 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.inline-text {
  display: inline;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.div-block-481 {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.div-block-716 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.create-job-header-right {
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div-block-720 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div-block-721 {
  position: relative;
  z-index: 2;
}

.jud-right-text {
  position: relative;

  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  color: var(--sky-11);
}

.cursor-pointer.discard-job {
  display: flex;
  align-items: center;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}

.div-block-480 {
  position: relative;
  z-index: 2;
}

.ml-12 {
  margin-left: 8px;
}

.div-block-708 {
  position: relative;
  display: flex;
}

.div-block-503 {
  z-index: 4;

  display: flex;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 20px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.div-block-503.hide {
  display: none;
}

.create-new-job-menu-wrappers {
  z-index: 4;

  display: flex;
  padding: 6px;
  justify-content: flex-start;
  align-items: center;

  border-radius: 10px;

  background-color: #f8f9f9;
}

@media screen and (max-width: 767px) {
  .create-new-job-menu-wrappers {
    overflow: auto;
    width: 100%;
    max-width: none;
    border-radius: 0px;
  }
}

.create-job-menu-wrap {
  position: relative;
  padding: 6px 16px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .create-job-menu-wrap {
    flex: 0 0 auto;
  }
}

.create-job-menu-wrap.assessment {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.white-active-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;

  border-radius: 10px;

  background-color: var(--white\<deleted\|variable-80449ce7\>);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.disclaimer-icons {
  position: absolute;
  left: auto;
  top: -3px;
  right: -3px;
  bottom: auto;
  z-index: 5;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beta-wrap {
  position: relative;
  z-index: 5;

  display: flex;
  width: 44px;
  padding: 2px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #228f67;

  color: white;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

.new-layout-sublink {
  display: flex;
  width: 216px;
  padding: var(--space-3);
  flex-direction: column;
  flex: 0 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-right: 1px solid var(--neutral-6);
}

.height-scroll {
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}

.height-scroll.width-100 {
  width: 100%;
}

.height-scroll.width-100.scroll-hidden {
  overflow: hidden;
}

.slot-create-job-new-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.assessment-side-panel {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 367px;
  padding: 20px;
  flex-direction: column;
  flex: 0 0 auto;

  border-left: 1px solid #e9ebed;

  background-color: white;
}

.proceed-to-wrap {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 3;

  padding: 20px;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.proceed-to-btn {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #337fbd;
  border-radius: 10px;

  background-color: #337fbd;

  color: var(--white\<deleted\|variable-80449ce7\>);
}

.proceed-to-btn.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-color: #e9ebed;

  background-color: #f8f9f9;
}

.proceed-to-btn.disable.hide {
  display: none;
}

.proceed-to-btn.cursor-pointer {
  color: white;
}

.div-warning {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}