.day_column {
  background-color: var(--white);
}

.day_title {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

@media screen and (max-width: 479px) {
  .day_title {
    height: 48px;
  }
}

.slotavailabletmerage {
  display: flex;
  overflow: auto;
  height: 464px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.embed_css {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

#w-node-_2213d094-701d-dc61-2c7d-d4175817e7cc-5817e7cc {
}