.form-block-5 {
  position: absolute;
  left: 10px;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 2;

  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-block-5.remove-abs {
  position: static;
}

.div-block-276 {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.checkbox-field-2 {
  display: flex;
  margin-bottom: 0px;
  padding-left: 10px;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.inline-text {
  display: inline;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.text-field-4 {
  width: 50px;
  height: 28px;
  margin-bottom: 0px;
  padding: 1px 6px;
  border-radius: 4px;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}