.toggle-dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
}

.toggle-dropdown-toggle {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  transition: all 300ms ease;

  cursor: pointer;
}

.toggle-dropdown-toggle:hover {
  background-color: var(--gray100-3a86b552);
}

.toggle-dropdown-toggle.screening {
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.toggle-dropdown-toggle.company {
  align-items: flex-start;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.toggle-btn-block {
  align-items: center;
}

.toggle-dropdown-content-wrapper {
  overflow: hidden;
}

.toggle-dropdown-content-block {
  display: flex;
  padding: 5px 16px 12px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.tog-dropdown-list-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.tog-dropdown-list-wrapper.screening {
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.slot-custom-skill-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.generate-question {
  display: flex;
  width: 100%;
  padding: 9px 15px;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;

  background-color: var(--kale100-7fa98464);
}

.div-questio {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border: 1px solid var(--kale800-682c1482);
  border-radius: 4px;

  color: var(--kale800-682c1482);
}