.close-delete-wrap {
  width: 448px;
  padding: var(--space-4);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);
  background-color: var(--white);
}

.delete-desc-wrap {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.close-job-btn-wrap {
  position: relative;
  display: flex;
  justify-content: flex-start;
}