.avatar-default-wrap {
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.div-block-561 {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #e9ebed;
  border-radius: 100px;
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold {
  font-weight: 600;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}