.cvs-info-block-2 {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

@media screen and (max-width: 767px) {
  .cvs-info-block-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.ps-analysis-text {
  padding-left: 14px;
}

.ps-analysis-text.inline-block {
  display: inline-block;
  padding-left: 0px;
}

.ps-score-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.cvs-score-overview-block {
  display: flex;
  margin-top: var(--space-6);
  margin-left: var(--space-6);
  align-items: center;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);
}

.cvs-score-overview-block.no-margin {
  margin-top: 0px;
  margin-left: 0px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.cvs-score-count-block {
  display: flex;
  width: 90px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: #fff7ed;

  color: hsla(33.014354066985646, 85.31%, 51.96%, 1.00);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.ps-score-intro-wrapper {
  display: flex;
  max-width: 340px;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 10px;

  background-color: #f8f9f9;
}

.ps-score-details-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}