.sidebar-wrapper {
  width: 100%;
  max-width: 520px;
  padding: 28px 24px;
  background-color: var(--white-80449ce7);
}

.sidebar-wrapper.overview {
  display: flex;
  max-width: none;
}

.sidebar-wrapper.rd-company {
  max-width: 790px;
}

.sidebar-wrapper.rd-company.max-width-300 {
  max-width: 300px;
}

.sidebar-wrapper.rd-company {
  max-width: none;
  padding: 0px;
}

.sidebar-wrapper.detailed {
  display: flex;
  max-width: none;
  padding-top: 18px;
  opacity: 1;
}

.sidebar-block {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.div-block-296 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.close-profile-info-cand {
  padding: 4px;
  border-radius: 100px;
  transition: all 250ms ease;
  cursor: pointer;
}

.close-profile-info-cand:hover {
  background-color: var(--gray100-3a86b552);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.job-sidebar-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
  padding-top: 20px;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.div-block-383 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.candidate-profile-infor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.slot-job-details-profile-image {
  width: 78px;
  height: 78px;
  border-radius: 4px;
  object-fit: cover;
}

.frame-1020 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cdd-profile-contact-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.vectors-wrapper-46 {
  display: flex;
  width: 11.999947547912598px;
  height: 11.999947547912598px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.vectors-wrapper-43 {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.aui-button-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.aui-button-wrap:focus-visible {
  outline-color: #2f3941;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.aui-button-wrap.mt-16 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.aui-button {
  position: relative;

  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  color: var(--white);
  line-height: 1.4;
  letter-spacing: -0.15px;

  cursor: pointer;
}

.aui-button.is-button-bg-blue {
  background-color: #1f73b7;
}

.is-button-bg-blue {
  background-color: var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-blue:hover {
  background-color: var(--blue700-c1b26211);
}

.is-button-bg-blue:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small {
  padding: 8px 12px;
  letter-spacing: 0px;
}

.is-button-bg-kale-300 {
  background-color: var(--kale300-8828b122);
  transition: all 300ms ease;
  color: var(--kale800-682c1482);
}

.is-button-bg-kale-300:hover {
  background-color: var(--kale400-aeb7229d);
}

.is-button-bg-kale-300:focus-visible {
  outline-color: rgba(189, 217, 215, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-red-600 {
  background-color: var(--red600-953350ec);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-red-600:hover {
  background-color: var(--red700-d3747f47);
}

.is-button-bg-red-600:focus-visible {
  outline-color: rgba(204, 51, 64, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-outlined {
  border: 1px solid var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-outlined:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-outlined:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: var(--red600-953350ec);
  color: var(--red600-953350ec);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: var(--red100-c55ef5ca);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.is-button-text {
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-text:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-text:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-green-600 {
  background-color: var(--green600-40a2ee5f);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-green-600:hover {
  background-color: var(--green700-a1b0a24f);
}

.is-button-bg-green-600:focus-visible {
  outline-color: rgba(3, 129, 83, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-big {
  padding: 14px 20px;
}

.aui-button.accent-10 {
  background-color: var(--accent-10);
}

.aui-button.accent-10:hover {
  background-color: var(--accent-11);
}

.button-icon {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.is-button-disabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  background-color: var(--neutral-4);

  color: var(--neutral-9);
}

.is-button-disabled.is-outlined {
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
}

.candidate-detail-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.cdd-header-block {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-289 {
  display: flex;
  max-width: 420px;
  flex-wrap: wrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}