.sidebar-wrapper {
  width: 100%;
  max-width: 520px;
  padding: 28px 24px;
  background-color: var(--white-80449ce7);
}

.sidebar-wrapper.overview {
  display: flex;
  max-width: none;
}

.sidebar-wrapper.rd-company {
  max-width: 790px;
}

.sidebar-wrapper.rd-company.max-width-300 {
  max-width: 300px;
}

.sidebar-wrapper.rd-company {
  max-width: none;
  padding: 0px;
}

.sidebar-wrapper.detailed {
  display: flex;
  max-width: none;
  padding-top: 18px;
  opacity: 1;
}

.sidebar-block {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.detailed-view-header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-303 {
  display: flex;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.job-sidebar-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
  padding-top: 20px;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.lan-analysis-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cdd-transcript-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.div-block-108 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}