.cvs-score-detail-btn {
  display: flex;
  padding-top: var(--space-2);
  padding-right: var(--space-3);
  padding-bottom: var(--space-2);
  align-items: center;
  align-self: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  transition: all 200ms ease;

  color: var(--accent-11);

  cursor: pointer;
}

.cvs-score-detail-btn:hover {
  color: var(--accent-12);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}