.int-disconnect-popup-wrapper {
  width: 100%;
  max-width: 580px;
  padding: 26px 24px;
  flex-direction: column;

  border-radius: 10px;

  background-color: white;
}

.int-disconnect-popup-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.int-disconnect-header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.int-disconnect-main-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.int-disconnect-warning-block {
  display: flex;
  padding: 22px 16px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 10px;

  background-color: #fff7ed;
}

.text-yellow-800-3 {
  color: hsla(23.07692307692308, 68.42%, 26.08%, 1.00);
}

.int-disconnect-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-501 {
  display: flex;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.text-red-600 {
  color: var(--red600-953350ec);
}

.aui-button-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.aui-button-wrap:focus-visible {
  outline-color: #2f3941;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.aui-button-wrap.mt-16 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.aui-button {
  position: relative;

  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  color: var(--white);
  line-height: 1.4;
  letter-spacing: -0.15px;

  cursor: pointer;
}

.aui-button.is-button-bg-blue {
  background-color: #1f73b7;
}

.is-button-bg-blue {
  background-color: var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-blue:hover {
  background-color: var(--blue700-c1b26211);
}

.is-button-bg-blue:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small {
  padding: 8px 12px;
  letter-spacing: 0px;
}

.is-button-bg-kale-300 {
  background-color: var(--kale300-8828b122);
  transition: all 300ms ease;
  color: var(--kale800-682c1482);
}

.is-button-bg-kale-300:hover {
  background-color: var(--kale400-aeb7229d);
}

.is-button-bg-kale-300:focus-visible {
  outline-color: rgba(189, 217, 215, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-red-600 {
  background-color: var(--red600-953350ec);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-red-600:hover {
  background-color: var(--red700-d3747f47);
}

.is-button-bg-red-600:focus-visible {
  outline-color: rgba(204, 51, 64, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-outlined {
  border: 1px solid var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-outlined:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-outlined:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: var(--red600-953350ec);
  color: var(--red600-953350ec);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: var(--red100-c55ef5ca);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.is-button-text {
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-text:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-text:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-green-600 {
  background-color: var(--green600-40a2ee5f);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-green-600:hover {
  background-color: var(--green700-a1b0a24f);
}

.is-button-bg-green-600:focus-visible {
  outline-color: rgba(3, 129, 83, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-big {
  padding: 14px 20px;
}

.aui-button.accent-10 {
  background-color: var(--accent-10);
}

.aui-button.accent-10:hover {
  background-color: var(--accent-11);
}

.button-icon {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.int-disconnect-loader-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.int-disconnect-disconnect-lottie {
  width: 100px;
  height: 100px;
}

.text-grey-600-3 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-grey-600-3.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.text-grey-600-3.width-400 {
  max-width: 380px;
}