.edit-email-wrap {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.company-email-edit {
  width: 100%;
  height: 100%;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
}

.eemail-tip-wrap {
  display: flex;
  padding: var(--space-3) var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: rgba(181, 82, 226, 0.1);
}

.eemial-tip-left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.eemail-body-wrap {
  margin-top: var(--space-4);
  padding: var(--space-4);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
  background-color: var(--neutral-2);
}

.company-email-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.company-email-left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.edit-email-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.edit-email-preview-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  transition: all 200ms ease;

  color: var(--sky-11);

  cursor: pointer;
}

.edit-email-preview-btn:hover {
  color: var(--sky-12);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.slot-company-email-form {
  margin-top: var(--space-5);
}

.edit-email-btn-wrap {
  display: flex;
  margin-top: var(--space-5);
  justify-content: flex-end;
}

.slot-edit-email-bottom {
  margin-top: var(--space-5);
}