.relative {
  position: relative;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.email-outreach-button {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(184, 0, 156, 0.2);
  border-radius: 4px;

  background-color: rgba(184, 0, 156, 0.05);

  transition: all 250ms ease;

  cursor: pointer;
}

.email-outreach-button:hover {
  opacity: 0.6;
}

.text-email-out {
  color: #b8009c;
  font-size: 12px;
}

.text-email-out.fetching {
  color: rgba(168, 24, 151, 0.4);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.email-outreach-fetching {
  display: flex;
  padding: 3px 9px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(168, 24, 151, 0.2);
  border-radius: 4px;

  background-color: rgba(168, 24, 151, 0.05);
}

.div-block-731 {
  width: 12px;
  height: 12px;
}