.cdd-template-block {
  display: flex;
  overflow: hidden;
  max-height: 270px;
  max-width: 364px;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 10px;
}

.cdd-template-block.jobs-templ {
  width: 100%;
  max-width: none;
  align-self: flex-end;
}

@media screen and (min-width: 1920px) {
  .cdd-template-block.jobs-templ {
    max-width: none;
  }
}

.div-block-292 {
  display: flex;
  padding: 20px 22px 20px 16px;
  justify-content: space-between;
  align-items: center;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.rd-company-sidebar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  background-color: hsla(0, 0.00%, 0.00%, 0.50);
}

.rd-email-edit-wrapper {
  display: flex;
  overflow: auto;
  height: 100%;
  padding: 17px 20px;
  flex-direction: column;
  grid-column-gap: 36px;
  grid-row-gap: 36px;

  background-color: var(--white-80449ce7);
}

.div-block-307 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.rd-company-edit-btns {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.aui-button-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.aui-button-wrap:focus-visible {
  outline-color: #2f3941;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.aui-button-wrap.mt-16 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.aui-button {
  position: relative;

  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;

  border-radius: 4px;

  color: var(--white);
  line-height: 1.4;
  letter-spacing: -0.15px;

  cursor: pointer;
}

.aui-button.is-button-bg-blue {
  background-color: #1f73b7;
}

.is-button-bg-blue {
  background-color: var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-blue:hover {
  background-color: var(--blue700-c1b26211);
}

.is-button-bg-blue:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small {
  padding: 8px 12px;
  letter-spacing: 0px;
}

.is-button-bg-kale-300 {
  background-color: var(--kale300-8828b122);
  transition: all 300ms ease;
  color: var(--kale800-682c1482);
}

.is-button-bg-kale-300:hover {
  background-color: var(--kale400-aeb7229d);
}

.is-button-bg-kale-300:focus-visible {
  outline-color: rgba(189, 217, 215, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-red-600 {
  background-color: var(--red600-953350ec);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-red-600:hover {
  background-color: var(--red700-d3747f47);
}

.is-button-bg-red-600:focus-visible {
  outline-color: rgba(204, 51, 64, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-outlined {
  border: 1px solid var(--blue600-aad8d97e);
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-outlined:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-outlined:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: var(--red600-953350ec);
  color: var(--red600-953350ec);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: var(--red100-c55ef5ca);
}

.aui-button.is-small.is-button-outlined.danger {
  border-color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
  color: hsla(354.90196078431376, 60.00%, 50.00%, 1.00);
}

.aui-button.is-small.is-button-outlined.danger:hover {
  background-color: hsla(356, 100.00%, 97.06%, 1.00);
}

.is-button-text {
  transition: all 300ms ease;
  color: var(--blue600-aad8d97e);
}

.is-button-text:hover {
  border-color: var(--blue700-c1b26211);
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 0.08);
  color: var(--blue700-c1b26211);
}

.is-button-text:focus-visible {
  outline-color: rgba(31, 115, 183, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.is-button-bg-green-600 {
  background-color: var(--green600-40a2ee5f);
  transition: all 300ms ease;
  color: var(--white-80449ce7);
}

.is-button-bg-green-600:hover {
  background-color: var(--green700-a1b0a24f);
}

.is-button-bg-green-600:focus-visible {
  outline-color: rgba(3, 129, 83, 0.35);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.aui-button.is-big {
  padding: 14px 20px;
}

.aui-button.accent-10 {
  background-color: var(--accent-10);
}

.aui-button.accent-10:hover {
  background-color: var(--accent-11);
}

.button-icon {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  width: 16px;
  height: 16px;
}

.button-icon.is-large {
  display: flex;
  width: 16px;
  height: 16px;
}

.is-button-disabled {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  background-color: var(--neutral-4);

  color: var(--neutral-9);
}

.is-button-disabled.is-outlined {
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
}

.div-block-308 {
  display: flex;
  max-width: 790px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.sidebar-wrapper {
  width: 100%;
  max-width: 520px;
  padding: 28px 24px;
  background-color: var(--white-80449ce7);
}

.sidebar-wrapper.overview {
  display: flex;
  max-width: none;
}

.sidebar-wrapper.rd-company {
  max-width: 790px;
}

.sidebar-wrapper.rd-company.max-width-300 {
  max-width: 300px;
}

.sidebar-wrapper.rd-company {
  max-width: none;
  padding: 0px;
}

.sidebar-wrapper.detailed {
  display: flex;
  max-width: none;
  padding-top: 18px;
  opacity: 1;
}

.sidebar-block {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.rd-email-edit-block {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.cj-richtext-editor-wrapper {
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);
}

.cj-richtext-cotrols {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--grey300-03a46dba);
}

.cj-rt-paragraph {
  display: flex;
  padding: 6px 8px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;
}

.medium-default-11 {
  color: rgba(104, 115, 125, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
}

.chevron-down---16px-icon {
  display: flex;
  padding: 5px 2px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.vectors-wrapper-31 {
  display: flex;
  width: 11.00003719329834px;
  height: 5.00001859664917px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.cj-rt-controls-block {
  display: flex;
  margin-left: 2px;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  border-right: 1px solid var(--grey200-9ba653f1);
}

.cj-rt-control-icon {
  display: flex;
  padding: 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 300ms ease;

  cursor: pointer;
}

.cj-rt-control-icon:hover {
  background-color: var(--gray100-3a86b552);
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.vectors-wrapper-33 {
  display: flex;
  width: 14px;
  height: 13px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.vectors-wrapper-34 {
  display: flex;
  width: 13.769068717956543px;
  height: 13.850000381469727px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.vectors-wrapper-32 {
  display: flex;
  width: 14.25px;
  height: 13px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.cj-rt-input-block {
  padding: 12px 12px 14px;
}

.form-block-4 {
  margin-bottom: 0px;
}

.rd-email-content-input {
  min-height: 180px;
  margin-bottom: 12px;
  border: 1px none black;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border: 1px solid var(--grey300-03a46dba);
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 1);
}

.input.para {
  height: 60px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
}

.form-block-3 {
  margin-bottom: 0px;
  flex: 1;
}

.text-field-3 {
  margin-bottom: 0px;
  padding: 0px;
  border: 1px none black;
  background-color: transparent;
}

.toggle-dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
}

.toggle-dropdown-toggle {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  transition: all 300ms ease;

  cursor: pointer;
}

.toggle-dropdown-toggle:hover {
  background-color: var(--gray100-3a86b552);
}

.toggle-dropdown-toggle.screening {
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.toggle-dropdown-toggle.company {
  align-items: flex-start;
}

.toggle-btn-block {
  align-items: center;
}

.toggle-btn-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-block-310 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.email-note-block {
  display: flex;
  padding: 16px 16px 10px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  background-color: var(--yellow100-51d667b3);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.rd-email-edit-btn {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(31, 115, 183, 1);
  border-radius: 4px;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.label-8 {
  color: rgba(31, 115, 183, 1);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.00042765619582496583px;
}

.div-block-293 {
  padding-right: 20px;
  padding-left: 26px;
}