.etc-wrapper {
  position: relative;
}

.email-temp-card-wrap {
  display: flex;
  overflow: hidden;
  padding: var(--space-4);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  cursor: pointer;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1.pt-2 {
  padding-top: 2px;
}

.active-state-email {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}