.et_wrapper {
  overflow: hidden;
  height: calc(100vh - 48px);
}

.slot_newtabpill-copy {
  display: flex;
  height: 40px;
  flex-direction: row;
  flex-wrap: nowrap;

  border-bottom: 1px solid var(--neutral-6);

  background-color: white;
}

.email-template-wrap {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.email-template-left-wrap {
  width: 350px;
  padding-bottom: var(--space-4);
  flex: 0 0 auto;
}

.slot-email-temp-warning {
  margin-bottom: var(--space-4);
}

.slot_search_and_filter {
  display: flex;
  padding: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: auto;

  background-color: var(--white);
}

.email-start-wrap {
  display: flex;
  overflow: auto;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: calc(100vh - 110px);
}

.email-template-right-wrap {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 48px);
}

#w-node-_7a13e008-ea54-7273-6b2d-06ecde60cc59-adb6be91 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}