.experience_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot_company_logo {
  width: 48px;
  height: 48px;
}

.emebed_flex {
  display: flex;
  justify-content: flex-start;
}

.emebed_flex.question_count {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
}

.exp_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.role-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.current_badge {
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 6px;

  border-radius: 3px;

  background-color: rgba(0, 143, 245, 0.1);

  color: rgba(0, 109, 203, 0.95);
  text-decoration: none;
}

.exp_details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.embed_flex {
  display: flex;
  align-items: center;
}