.ats-wrappers-outer {
  border: 1px none var(--neutral-6);
  border-radius: var(--radius-4);
}

.ga-ats-wrap {
  display: flex;
  padding: var(--space-3) var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  border-bottom: 1px solid var(--neutral-6);
}

.ats-import-wrappers {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1.pt-2 {
  padding-top: 2px;
}

.slot-ats-cards-wrappers {
  display: flex;
  margin-top: var(--space-3);
  padding: var(--space-3) var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-3);

  background-color: var(--white);
}