.ats-wrappers-outer {
  border: 1px none var(--neutral-6);
  border-radius: var(--radius-4);
}

.ats-import-wrappers {
  position: relative;
  display: flex;
  margin-top: var(--space-5);
  justify-content: space-between;
  align-items: center;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.relative-1.pt-2 {
  padding-top: 2px;
}

.aui-button-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.aui-button-wrap:focus-visible {
  outline-color: #2f3941;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.aui-button-wrap.mt-16 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.relative {
  position: relative;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.ats-btn-disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.selected-div-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--neutral-2);
}

.ats-search-wrappers {
  display: flex;
  margin-top: var(--space-4);
  justify-content: space-between;
}

.ats-tab-wappers {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.ats-tab-menu {
  position: relative;

  padding: var(--space-1) var(--space-4);

  border: 1px solid var(--neutral-1);
  border-radius: var(--radius-2);

  transition: all 250ms ease;

  cursor: pointer;
}

.ats-tab-menu:hover {
  background-color: var(--neutral-3);
}

.ats-tab-menu-active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  border-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.slot-ats-cards-wrappers {
  display: flex;
  overflow: scroll;
  max-height: 430px;
  margin-top: var(--space-6);
  flex-direction: column;
}