.ic-import-body-wrapper {
  display: flex;
  width: 100%;
  padding: 60px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background-color: var(--neutral-2);

  outline-color: var(--neutral-6);
  outline-style: dashed;
  outline-width: 1px;
}

.ic-import-body-block {
  display: flex;
  max-width: 355px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ic-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;

  text-align: center;
}

.ic-text-content.gap-5 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.ic-divider-block {
  display: flex;
  width: 100%;
  max-width: 180px;
  margin-top: 16px;
  margin-bottom: 24px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  opacity: 0.3;
}

.ic-divider-block._2 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.ic-hr-line {
  height: 1px;
  flex: 1;
  background-color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}

.text-blue-700-2 {
  color: hsla(206.59793814432987, 70.80%, 26.86%, 1.00);
}