.cdd-popup-block {
  display: flex;
  width: 100%;
  max-width: 587px;
  padding: 30px 19px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 1);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.cdd-popup-upload-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cdd-popup-close-btn {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 24;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.vectors-wrapper-48 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.cdd-popup-upload-header {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.medium-default-15 {
  display: inline;

  color: rgba(104, 115, 125, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
}

.slot-download {
  display: inline-block;
  margin-left: 4px;
  justify-content: flex-end;
  align-items: center;
}

.cdd-file-upload-wrapper {
  display: flex;
  flex-direction: column;
}

.div-block-295 {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.cdd-import-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;

  background-color: var(--grey200-9ba653f1);

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.cdd-import-btn.active {
  display: flex;
  background-color: var(--blue600-aad8d97e);
  color: var(--white-80449ce7);
}

.cdd-import-btn.disabled {
  position: absolute;
}

.content-9 {
  display: flex;
  height: 40px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;

  border-radius: 4px;
}

.label-10 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.15399999916553497px;
}

.slot-reupload-btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
}