.import-candidates-popup-wrapper {
  position: relative;

  width: 100%;
  max-width: 750px;
  padding: var(--space-5);
  flex-direction: column;
  align-items: center;
  grid-column-gap: 18px;
  grid-row-gap: 18px;

  border-radius: var(--radius-5);

  background-color: var(--white);
}

.ic-popup-close-btn {
  position: absolute;
  left: auto;
  top: 24px;
  right: 24px;
  bottom: auto;
}

.import_candidate_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ic-tabs-links-wrapper {
  display: flex;
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-4);
}

.ic-tab-link-block {
  position: relative;

  padding: var(--space-1) var(--space-4);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);

  background-color: var(--white-a1);

  color: var(--neutral-10);
}

.ic-tab-link-block:global(.w--current) {
  border-color: var(--accent-6);
  background-color: var(--accent-3);
  color: var(--accent-11);
}

.tab_content {
  overflow: visible;
  width: 700px;
  margin-top: var(--space-4);
}