.input-text-wrap {
  position: relative;
  z-index: 2;

  height: 28px;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: var(--radius-3);

  background-color: var(--neutral-3);

  cursor: pointer;
}