.interview-start-wrapper {
  overflow: auto;
  height: 100vh;
  min-height: 100dvh;
  padding: 50px 20px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);

  font-style: normal;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.interview-welcome-header-wrappers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 26px;
  grid-row-gap: 26px;

  text-align: center;
}

.slot-company-logo-interview-welcome {
  overflow: hidden;
  max-width: 150px;
  border-radius: 10px;
}

.interview-start-header-left {
  display: block;
  max-width: 700px;
  margin-bottom: 12px;
  flex-direction: row;
}

.text-xxl {
  font-size: 26px;
  line-height: 1.23;
}

@media screen and (max-width: 767px) {
  .text-xxl {
    font-size: 22px;
  }
}

.text-xxl.fw-semibold {
  cursor: default;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-xxl.fw-semibold.text-grey-700.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xxl.fw-semibold.inline-at {
  display: inline;
}

.text-xxl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xxl.fw-semibold.mb-40 {
  margin-bottom: 40px;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.interview-start-sub-wrapper {
  display: grid;
  max-width: 947px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 16px;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .interview-start-sub-wrapper {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }
}

.welcome-video-wrap {
  position: relative;

  overflow: hidden;
  height: 310px;
  margin-bottom: 10px;
  padding-bottom: 0px;

  border-radius: 20px;
}

.slot-welcome-video {
  width: 100%;
  height: 100%;
}

.welcome-video-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.30);
}

.play-wrappers-wlcome {
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: hsla(0, 0.00%, 100.00%, 0.90);

  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.instruction-wrapper {
  margin-top: 20px;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.instruction {
  display: flex;
  margin-top: 14px;
  padding-left: 12px;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 10px;
}

.instruction.margin-left-10 {
  padding-left: 20px;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.list-nxt-text {
  display: block;
  margin-top: 6px;
}

.start-interview-wrappers {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 35px;
}

.div-block-471 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.terms-wrappers {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  grid-column-gap: 4px;
}

@media screen and (max-width: 479px) {
  .terms-wrappers {
    display: block;
  }
}

.terms-link {
  transition: all 250ms ease;

  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
  font-size: 14px;
  text-decoration: underline;
  text-transform: none;

  cursor: pointer;
}

.terms-link:hover {
  opacity: 0.8;
}

.start-tour-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.start-button {
  display: flex;
  margin-top: 0px;
  padding: 14px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: #228f67;

  transition: all 250ms ease;

  color: hsla(186.38297872340425, 0.00%, 100.00%, 1.00);

  cursor: pointer;
}

.start-button:hover {
  opacity: 0.8;
}

.div-block-525 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.profile-completion-indicator-wrap {
  position: relative;
  z-index: 3;

  display: flex;
  width: 24px;
  height: 24px;
  justify-content: flex-start;
  align-items: center;
}

.profile-indicator-incomplete-wrap {
  position: relative;

  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.indicator-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-completion-indicator {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #228f67;
}

.tour_comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.tour_popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: none;
  width: 100vw;
  height: 100vh;
}

.tour_popup_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: hsla(0, 0.00%, 0.00%, 0.80);
}

.tour_wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
}

.tour_wrapper.scaled_down {
  position: relative;
  z-index: 2;

  overflow: hidden;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;

  box-shadow: 0 0 5px 0 hsla(0, 0.00%, 0.00%, 0.12);

  transform: scale(0.9);
}

.tour_container {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tour_top_bar {
  position: relative;
  z-index: 2;

  display: flex;
  padding-top: 20px;
  padding-bottom: 14px;
  justify-content: space-between;
}

.emebed_flex {
  display: flex;
  justify-content: flex-start;
}

.emebed_flex.question_count {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
}

.tour_top_buttons {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tour_button {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
}

.tour_button.box_prec {
  padding-top: 6px;
  padding-bottom: 6px;

  border: 1px solid #e9ebed;
  border-radius: 6px;

  background-color: #f8f9f9;

  transition: all 200ms ease;

  color: #2f3941;

  cursor: pointer;
}

.tour_button.box_prec:hover {
  background-color: #e9ebed;
}

.tour_button.end_interview {
  border: 1px solid #e9ebed;
  border-radius: 100px;
  background-color: #f8f9f9;
  color: #2f3941;
}

.tour_button.box_button {
  padding-top: 6px;
  padding-bottom: 6px;

  border-radius: 6px;

  background-color: #1f73b7;

  transition: all 200ms ease;

  color: white;

  cursor: pointer;
}

.tour_button.box_button:hover {
  background-color: hsla(206.8421052631579, 76.47%, 34.66%, 1.00);
}

.tour_button.initial_trigger {
  display: none;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 100px;

  background-color: hsla(96, 41.07%, 24.88%, 1.00);

  color: white;
  font-size: 18px;
  line-height: 24px;

  cursor: pointer;
}

.tour_button.exit_tour {
  position: absolute;
  left: auto;
  top: auto;
  right: 0px;
  bottom: 20px;

  padding-right: 20px;
  padding-left: 20px;

  border-radius: 100px;

  background-color: #d93f4c;

  transition: all 300ms ease;

  color: white;
  font-size: 18px;
  line-height: 24px;

  cursor: pointer;
}

.tour_button.exit_tour:hover {
  background-color: hsla(354.93506493506493, 58.45%, 46.60%, 1.00);
}

.tour_button.transcript {
  border-radius: 100px;
}

.tour_button.exit_after {
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 100px;

  background-color: #337fbd;

  transition: all 200ms ease;

  color: white;
  font-size: 18px;
  line-height: 24px;

  cursor: pointer;
}

.tour_button.exit_after:hover {
  background-color: hsla(206.95652173913044, 59.57%, 39.58%, 1.00);
}

.tour_box_step_7 {
  position: absolute;
  left: auto;
  top: 20px;
  right: 62px;
  bottom: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour_indicator_right {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  transform: translate(-20px, 0px);
}

.tour_indicator_right.indicator_2 {
  transform: translate(20px, 0px) rotate(-180deg);
}

.tour_indicator_right.indi_4 {
  transform: translate(0px, -59px);
}

.tour_indicator_right.indi_7 {
  transform: rotate(-180deg) translate(0px, -34px);
}

.tour_indicator_right.indicator-3 {
  transform: translate(20px, 0px) rotate(-180deg);
}

.tour_description_box {
  position: relative;
  z-index: 2;

  display: flex;
  width: 345px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 10px;

  background-color: white;

  box-shadow: 0 0 9px 0 hsla(0, 0.00%, 0.00%, 0.07);

  font-size: 14px;
}

.tour_box_title {
  width: 100%;
  font-weight: 600;
}

.tour_box_description {
  width: 100%;
  color: #68737d;
}

.tour_box_bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tour_button_flex {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tour_box_step_8 {
  position: absolute;
  left: auto;
  top: 20px;
  right: 51px;
  bottom: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tour_grid_layout {
  position: relative;

  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: auto;
}

.tour_candidate_block {
  position: relative;

  display: block;
  height: 100%;
  max-height: 600px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
}

.tour_candidate_video {
  position: relative;
  overflow: hidden;
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  background-color: hsla(0, 23.00%, 67.97%, 1.00);
}

.tour_cover_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour_cover_image.emplyer_smapl {
  height: 40%;
}

.timer_embed {
  position: absolute;
  left: auto;
  top: 20px;
  right: 20px;
  bottom: auto;

  display: flex;
  align-items: center;
}

.tour_candidate_submissions {
  display: flex;
  height: 30%;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: column;
  justify-content: space-between;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: #25282a;

  color: white;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

.tour_buttons_block {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 10px;

  display: flex;
  justify-content: center;
}

.tour_buttons_wrap {
  display: flex;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 100px;
}

.button_edit {
  display: flex;
  align-items: center;
  border-radius: 100px;
  color: #337fbd;
}

.button_mic {
  display: flex;
  align-items: center;
  border-radius: 100px;
  color: #f79a3e;
}

.tour_submit_button {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 100px;

  background-color: #228f67;

  color: white;
  font-size: 14px;
  line-height: 20px;
}

.tour_employer_block {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  background-color: #f8f9f9;
}

.tour_question_text {
  padding: 20px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

.tour_box_step_1 {
  position: absolute;
  top: 0%;
  right: 365px;
  bottom: auto;
  display: flex;
}

.tour_box_step_2 {
  position: absolute;
  top: 155px;
  right: 238px;
  bottom: auto;
  display: flex;
}

.tour_box_step_3 {
  position: absolute;
  top: 428px;
  right: 161px;
  bottom: auto;
  display: flex;
}

.tour_box_step_4 {
  position: absolute;
  left: 209px;
  top: auto;
  right: auto;
  bottom: -7px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour_box_step_5 {
  position: absolute;
  left: 160px;
  top: auto;
  right: auto;
  bottom: -7px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .tour_box_step_5 {
    left: 160px;
  }
}

.tour_box_step_6 {
  position: absolute;
  left: 282px;
  top: auto;
  right: auto;
  bottom: -7px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour_bottom_bar {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: flex-end;
}

.tour_reset {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.50);
}

.tour_reset.scaled-in {
  display: none;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.tour_reset_div {
  display: flex;
  width: 500px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border-radius: 20px;

  background-color: white;
}

.tour_success_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tour_success-title {
  font-size: 22px;
  font-weight: 600;
}

.tour_succeess_desc {
  color: #68737d;
  text-align: center;
}

.tour_success_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tour_restart_button {
  cursor: pointer;
}

.disclaimer-ai-wrappers {
  display: flex;
  margin-top: 20px;
  padding: 4px 10px;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  border-radius: 4px;

  background-color: var(--gray-100\<deleted\|variable-3a86b552\>);
}

.disclaimer-ai-wrappers.hide {
  display: none;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.interview-estimate-company {
  margin-bottom: 10px;
  padding: 20px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 10px;
}

.estimated-time-wrappers {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.interview-about-company {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 10px;
}

.div-block-472 {
  display: flex;
  margin-bottom: 18px;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.link-iconss {
  transition: all 250ms ease;
  cursor: pointer;
}

.link-iconss:hover {
  opacity: 0.7;
}

.interview-imp-reminder {
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 247, 237, 0.5);
}

.reminder-header-wrappers {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
}

.reminder-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-support {
  transition: all 250ms ease;
  color: var(--black\<deleted\|variable-0fdbd865\>);
  text-decoration: underline;
  cursor: pointer;
}

.contact-support:hover {
  opacity: 0.8;
}

.interview-take-tour-wrappers {
  display: flex;
  margin-top: 17px;
  padding: 12px 12px 12px 8px;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  background-color: #edf7ff;
}

.question-wrappers-interview {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#w-node-_12a2d91a-7668-4d3c-6f7d-217c73bd52f9-c25f4a74 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_12a2d91a-7668-4d3c-6f7d-217c73bd5307-c25f4a74 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b76ed82f-7570-5436-bd0d-9af7c25f4ab5-c25f4a74 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}