.fetching-job-wrappers {
  display: flex;
  height: 590px;
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.logo-fetching-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot-integration-logo {
  width: 54px;
  min-height: 42px;
}

.if-desc-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mt-2 {
  margin-top: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}