.new-interview-right-wrappers {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100%;

  border-radius: 20px;

  background-color: #f8f9f9;
}

@media screen and (max-width: 991px) {
  .new-interview-right-wrappers {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .new-interview-right-wrappers {
    justify-content: center;
    align-items: flex-end;
  }
}

.div-block-497 {
  position: relative;
}

@media screen and (max-width: 767px) {
  .div-block-497 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }
}

.slot-interviewee-video {
  width: 100%;
  height: 264px;
  background-color: #e3e4ea;
}

@media screen and (max-width: 991px) {
  .slot-interviewee-video {
    width: 277px;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .slot-interviewee-video {
    width: auto;
  }
}

.overlay-interviewer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991px) {
  .overlay-interviewer {
    display: none;
  }
}

.div-block-496 {
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-wappers {
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: var(--white\<deleted\|variable-80449ce7\>);
}

.play-wappers.pause {
  display: flex;
}

@media screen and (max-width: 991px) {
  .play-wappers.play-mobile {
    width: 26px;
    height: 26px;
  }
}

.play-wappers.pause-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .play-wappers.pause-mobile {
    width: 26px;
    height: 26px;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.text-interviewer-wrappers {
  overflow: auto;
  width: 100%;
  padding: 25px;

  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.352px;
}

@media screen and (max-width: 991px) {
  .text-interviewer-wrappers {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.45px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.width-text {
  width: 100%;
}

.question-pill-wrapper {
  position: absolute;
  left: auto;
  top: 20px;
  right: 10px;
  bottom: auto;
  z-index: 2;

  display: flex;
  padding: 2px 10px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border-radius: 100px;

  background-color: var(--white\<deleted\|variable-80449ce7\>);
}

@media screen and (max-width: 991px) {
  .question-pill-wrapper {
    left: 108px;
    top: auto;
    right: auto;
    bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .question-pill-wrapper {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;

    margin-right: 6px;
    margin-bottom: 18px;
  }
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold {
  font-weight: 600;
}

.mobile-play-pause-wrappers {
  display: none;
}

@media screen and (max-width: 991px) {
  .mobile-play-pause-wrappers {
    position: absolute;
    left: 242px;
    top: auto;
    right: auto;
    bottom: 10px;

    display: block;
  }
}

@media screen and (max-width: 767px) {
  .mobile-play-pause-wrappers {
    position: relative;
    left: auto;
    bottom: auto;
    z-index: 2;
    margin-bottom: 18px;
  }
}