.new-interview-left {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 991px) {
  .new-interview-left {
    height: 548px;
  }
}

@media screen and (max-width: 767px) {
  .new-interview-left {
    height: 100%;
  }
}

.slot-interview-candidate-video {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .slot-interview-candidate-video {
    height: 548px;
  }
}

@media screen and (max-width: 767px) {
  .slot-interview-candidate-video {
    height: 100%;
  }
}

.new-interview-input {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #25282a;

  backdrop-filter: blur(10px);
}

@media screen and (max-width: 767px) {
  .new-interview-input {
    position: fixed;
    z-index: 4;

    width: 60%;
    height: 54px;
    margin-right: auto;
    margin-left: auto;
    grid-column-gap: 100px;
    grid-row-gap: 100px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

@media screen and (max-width: 479px) {
  .new-interview-input {
    width: 100%;
  }
}

.interview-btn-wrappers {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .interview-btn-wrappers {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .interview-btn-wrappers {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 2;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: #25282a;
  }
}

.interview-btn-new {
  position: relative;
  display: flex;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

.interview-edit-wrappers {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #337fbd;

  transition: all 250ms ease;

  cursor: pointer;
}

.interview-edit-wrappers:hover {
  background-color: #1f73b7;
}

@media screen and (max-width: 767px) {
  .interview-edit-wrappers {
    width: 34px;
    height: 34px;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.interview-edit-done-wrapper {
  display: none;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: white;

  transition: all 250ms ease;

  cursor: pointer;
}

.interview-edit-done-wrapper:hover {
  background-color: #f8f9f9;
}

@media screen and (max-width: 767px) {
  .interview-edit-done-wrapper {
    width: 34px;
    height: 34px;
  }
}

.mic-wrapper {
  position: relative;
}

.interview-mic-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #f79a3e;

  transition: all 250ms ease;

  cursor: pointer;
}

.interview-mic-wrapper:hover {
  background-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .interview-mic-wrapper {
    width: 34px;
    height: 34px;
  }
}

.interview-mic-speaking-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: #f79a3e;

  transition: all 250ms ease;

  cursor: pointer;
}

.interview-mic-speaking-wrapper:hover {
  background-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .interview-mic-speaking-wrapper {
    width: 34px;
    height: 34px;
  }
}

.disable-all-btn-interview {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  background-color: hsla(204.00000000000003, 6.33%, 15.49%, 0.40);
}

.submit-btn-wrapers-inter {
  position: relative;

  padding: 10px 20px;

  border-radius: 100px;

  background-color: #228f67;

  transition: all 250ms ease;

  color: white;
  font-weight: 600;

  cursor: pointer;
}

.submit-btn-wrapers-inter:hover {
  background-color: #038153;
}

@media screen and (max-width: 767px) {
  .submit-btn-wrapers-inter {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
}

.transcript-show-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .transcript-show-mobile {
    display: flex;
    width: 34px;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 100px;

    background-color: #323638;

    cursor: pointer;
  }
}

.interview-screen-start-wrap {
  display: flex;
  height: 220px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-block-615 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.text-start-inteview {
  color: rgba(255, 255, 255, 0.29);
  font-size: 22px;
  font-weight: 600;
}

.div-block-614 {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #228f67;
  transition: all 200ms ease;
  cursor: pointer;
}

.div-block-614:hover {
  background-color: #038153;
}

.text-color-white {
  color: white;
}

.fw-semibold {
  font-weight: 600;
}

.time-wrappers-interview-new {
  position: absolute;
  left: auto;
  top: 22px;
  right: 22px;
  bottom: auto;

  display: flex;
  padding: 2px 12px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 140px;

  background-color: white;
}

@media screen and (max-width: 767px) {
  .time-wrappers-interview-new {
    font-size: 12px;
    line-height: 16px;
  }
}

.time-dot-active {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: var(--green-500\<deleted\|variable-287ff474\>);
}

@media screen and (min-width: 1440px) {
  .time-dot-active {
    padding-right: 0px;
    padding-bottom: 0px;
  }
}