.interview-confirmed {
  display: flex;
  max-width: 752px;
  padding: 40px 66px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.text-xxl {
  font-size: 26px;
  line-height: 1.23;
}

@media screen and (max-width: 767px) {
  .text-xxl {
    font-size: 22px;
  }
}

.text-xxl.fw-semibold {
  cursor: default;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-xxl.fw-semibold.text-grey-700.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xxl.fw-semibold.inline-at {
  display: inline;
}

.text-xxl.fw-semibold.inline-start {
  display: inline;
  margin-left: 5px;
}

.text-xxl.fw-semibold.mb-40 {
  margin-bottom: 40px;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.text-xxl.fw-semibold {
  cursor: default;
}

.div-block-989 {
  width: 100%;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.div-block-897 {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  border-radius: 20px;
}

.div-block-898 {
  padding: 20px 32px;
  background-color: #e9ebed;
}

.div-block-898.green-bg {
  background-color: #228f67;
}

.div-block-899 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-color-white {
  color: white;
}

.text-40 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

.div-block-900 {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  background-color: #f8f9f9;
}

.div-block-900.green-bg-100 {
  background-color: #edf8f4;
}

.text-xl {
  font-size: 22px;
  line-height: 1.27;
}

@media screen and (max-width: 767px) {
  .text-xl {
    font-size: 18px;
  }
}

.text-grey-200 {
  color: var(--grey200-9ba653f1);
}

@media screen and (max-width: 479px) {
  .text-xl.text-grey-200.mobile-regular {
    font-size: 14px;
  }
}

.div-block-905 {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block-901 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-904 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-903 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}