.lever-step-1-wrappers {
  width: 706px;
  height: 710px;
  max-width: 706px;
  padding: var(--space-4);
  border-radius: var(--radius-4);
}

.lever-1-header-wraps {
  position: relative;
  display: flex;
  margin-bottom: var(--space-4);
  justify-content: space-between;
  align-items: center;
}

.lever-close-button {
  padding: var(--space-1);
  border-radius: var(--radius-2);
  transition: all 250ms ease;
  cursor: pointer;
}

.lever-close-button:hover {
  background-color: var(--neutral-3);
}

.im-slot-ats-job {
  height: 590px;
}