.jd-analysis-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-4);

  background-color: var(--white);
}

.jd-analysis-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jd-analysis-header-wrap.width-100 {
  width: 100%;
}

.jd-analysis-header-left {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.cd_title {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.badge {
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 6px;

  border-radius: 3px;

  background-color: var(--neutral-3);

  text-decoration: none;
}

.jd-analysis-body-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.jd-analysis-item-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot_for_badge {
  display: flex;
}

.text-12 {
  margin-top: 0px;
  margin-bottom: 0px;

  color: rgba(0, 113, 63, 0.87);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.03999999910593033px;
  text-decoration: none;
}

.jd-analysis-item {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}