.job-details-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.dash-main-wrapper {
  display: flex;
  overflow: hidden;
  flex: 1;
}

@media screen and (min-width: 1920px) {
  .dash-main-wrapper {
    flex: 1;
  }
}

.dash-chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dash-chat-box-header {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  padding: 10px 24px 10px 10px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid hsla(210.00000000000023, 10.00%, 92.16%, 1.00);

  background-color: #f8f9f9;
}

.dash-chat-logo-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.dash-chat-logo-block {
  display: flex;
  width: 36px;
  height: 36px;
  min-height: 36px;
  min-width: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: white;
}

.icon-block-8 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-block-8._30x30 {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
}

.icon-block-8._20x20 {
  width: 20px;
  height: 20px;
}

.icon-block-8._40x40 {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.svg-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.dash-chat-block {
  position: relative;

  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dash-chat-body {
  width: 100%;
  max-width: 750px;
  padding: 40px 40px 20px;
}

.dash-chat-start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dc-body-logo-header {
  display: flex;
  max-width: 320px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.dc-body-logo-block {
  padding: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(31.666666666666682, 100.00%, 92.94%, 1.00);
  border-radius: 5px;

  background-color: #fff7ed;
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.initial-prompts-wrapper {
  display: grid;
  margin-bottom: 21px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.text-blue-500-2 {
  color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.text-blue-500-2.text-underline.inline-block {
  display: inline;
}

.div-block-752 {
  overflow: scroll;
}

.dash-chat-input-wrapper {
  position: relative;
  z-index: 5;

  display: flex;
  width: 100%;
  max-width: 750px;
  padding: 10px 40px;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  background-color: white;
}

.dash-chat-input-block {
  display: flex;
  padding: 16px 22px;
  justify-content: space-between;
  align-items: flex-end;

  border-style: solid;
  border-width: 2px;
  border-color: hsla(210.00000000000023, 10.00%, 92.16%, 1.00);
  border-radius: 10px;
}

.dash-chat-input-block.hide {
  display: none;
}

.div-block-759 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  transition: all 250ms ease;
}

.div-block-759.hide {
  display: none;
}

.text-sm-6 {
  font-size: 12px;
  line-height: 16px;
}