.job-dashboard-empty-landing-wrappers {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .job-dashboard-empty-landing-wrappers {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .job-dashboard-empty-landing-wrappers {
    padding-bottom: 20px;
  }
}

.job-empty-header {
  z-index: 2;
  padding: var(--space-4);
  border-bottom: 1px solid var(--neutral-6);
  background-color: var(--white);
}

.job-empty-landing-wrappers {
  display: flex;
  width: 100%;
  padding-top: var(--space-7);
  padding-right: var(--space-7);
  padding-bottom: var(--space-7);
  padding-left: var(--space-7);
  flex-direction: column;

  background-color: var(--neutral-2);

  height: calc(100vh - 58px);
}

@media screen and (max-width: 991px) {
  .job-empty-landing-wrappers {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-vertical.center {
  justify-content: center;
  align-items: center;
}

.flex-vertical.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-vertical.gap-7 {
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);
}

.cj-option-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.cj-option-block-white {
  position: relative;

  display: flex;
  padding: var(--space-3) var(--font-size-6) var(--space-3) var(--space-4);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);

  transition: all 250ms ease;

  cursor: pointer;
}

.cj-option-block-white:hover {
  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

@media screen and (max-width: 479px) {
  .cj-option-block-white {
    max-width: none;
  }
}

.cj-option-icon-block {
  display: flex;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: var(--space-1);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--white);
}

.cj-option-icon-block.asby {
  padding: 0px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.cj-imports-wrapper {
  display: flex;
  max-width: 750px;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.cj-imports-options {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .cj-imports-options {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .cj-imports-options {
    grid-template-columns: 1fr;
  }
}

.cj-option-block {
  position: relative;

  display: flex;
  width: 100%;
  padding: var(--space-3) var(--space-4);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  border-radius: var(--radius-4);

  transition: all 250ms ease;

  cursor: pointer;
}

.cj-option-block:hover {
  border-style: none;
  border-color: var(--grey300-03a46dba);
  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

@media screen and (max-width: 479px) {
  .cj-option-block {
    max-width: none;
  }
}

.cj-option-block.grey {
  border: 1px solid var(--neutral-6);
  background-color: var(--white);
}

.cj-option-block.asley {
  border: 1px solid var(--neutral-6);
  background-color: var(--white);
}

.cj-option-block.neutral-2 {
  border: 1px solid var(--neutral-6);
  background-color: var(--white);
}

.cj-option-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.click-fake-div {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
}

.div-block-551 {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-grey-600 {
  color: #68737d;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.text-color-white {
  color: white;
}