.frame-1008 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.frame-1097 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.frame-980 {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.medium-bold-8 {
  color: rgba(135, 146, 157, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
}

.frame-1098 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.frame-711 {
  display: flex;
  width: 54px;
  height: 54px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(233, 235, 237, 1);
  border-radius: 4px;
}

.large-bold-2 {
  color: rgba(47, 57, 65, 1);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.44999998807907104px;
}

.frame-1099 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cdd-job-details {
  display: grid;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-items: start;
  align-items: start;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.div-block-289 {
  display: flex;
  max-width: 420px;
  flex-wrap: wrap;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cdd-job-description {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
}

.medium-default-14 {
  color: rgba(47, 57, 65, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
}

#w-node-_84a7f1f7-b550-6dd8-1f6a-32731509bbc5-1509bbc5 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_76d12a1e-e555-a8a6-a35d-3ee6f84ce5e9-1509bbc5 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-db249763-781a-6218-8c75-3a3603cb9748-1509bbc5 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-ea27432d-f2a2-d2ef-d58b-60db2c678db1-1509bbc5 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-c836bac1-9f2e-0017-965e-f122bfb356bd-1509bbc5 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-c3b06121-2f71-1173-daad-299a188e179e-1509bbc5 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}