.cdd-tab-content-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cdd-tab-content-top {
  display: flex;
  flex-direction: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.div-block-285 {
  display: flex;
  min-height: 62px;
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;

  background-color: var(--gray100-3a86b552);
}

.text-lg {
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (max-width: 991px) {
  .text-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-lg {
    font-size: 16px;
  }
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.fw-semibold {
  font-weight: 600;
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-lg.fw-semibold.inline-block {
  display: inline;
}

.inline-block {
  display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

.inline-text {
  display: inline;
}

.text-lg.fw-semibold.inline-text.ml-6 {
  margin-left: 6px;
}

.color-grey-600 {
  color: #68737d;
}

.text-green-600 {
  color: var(--green600-40a2ee5f);
}

@media screen and (max-width: 767px) {
  .text-lg.fw-semibold.responsive-text {
    font-size: 14px;
  }
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.text-lg.text-grey-700.letter-spacing-small {
  letter-spacing: -0.45px;
}

@media screen and (max-width: 767px) {
  .text-lg.text-grey-700.responsive-text {
    font-size: 14px;
  }
}

.text-lg.text-gray-400 {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.div-block-287 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.div-block-286 {
  display: flex;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  padding: 2px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  background-color: var(--green500-287ff474);

  color: var(--white-80449ce7);
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-white {
  color: var(--white-80449ce7);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.text-color-white {
  color: white;
}

.cdd-content-main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#w-node-e7cca4a0-1b1d-4648-e312-a527b4fb6bdd-b4fb6bd2 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}