.candidate-job-modal {
  position: relative;
  padding: var(--space-4);
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.jdm-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slot-input-job-description {
  width: 520px;
  height: 260px;
  margin-top: var(--space-5);
}

.search-wrap-job {
  display: flex;
  margin-top: var(--space-5);
  justify-content: flex-end;
}

.div-block-992 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}