.warnig-point-wrap-job {
  display: inline-block;
  padding: var(--space-2) var(--space-4);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border: 1px solid var(--accent-6);
  border-radius: var(--radius-4);

  background-color: var(--accent-2);
}