.warnig-point-wrap-job {
  display: inline-block;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border: 1px solid #ffeedb;
  border-radius: 10px;

  background-color: #fff7ed;
}