.no-jobs-to-show {
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-job-wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  color: var(--neutral-9);
}