.job-pills-wrap {
  display: flex;
  padding: var(--space-1) var(--space-2);
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);

  background-color: var(--neutral-3);

  cursor: pointer;
}

.jp-close-wrap {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-1);

  background-color: var(--neutral-6);
}