.job-dashboard-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .job-dashboard-layout {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.job-dashboard-header {
  z-index: 99;

  display: flex;
  width: 100%;
  height: 48px;
  padding: var(--space-3) var(--space-4);
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
}

@media screen and (max-width: 991px) {
  .job-dashboard-header {
    z-index: 6;
    background-color: var(--white-80449ce7);
  }
}

@media screen and (max-width: 479px) {
  .job-dashboard-header {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

.job-dashboard-header.bottom_border {
  height: 40px;
  border-bottom: 1px solid var(--neutral-6);
}

.job-dashboard-header.bottom_border-copy {
  height: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);
}

.rd-jobs-header-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .rd-jobs-header-wrapper {
    width: 100%;
    flex: 0 auto;
  }
}

.slot-input-search-job {
  height: 36px;
}

@media screen and (max-width: 479px) {
  .slot-input-search-job {
    width: 100%;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .mobile-hide {
    display: none;
  }
}

.all-job-list {
  display: flex;
  overflow: auto;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  background-color: var(--neutral-2);

  height: calc(100vh - 88px);
}

@media screen and (min-width: 1280px) {
  .all-job-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .all-job-list {
    display: grid;
    padding-right: 20px;
    padding-left: 20px;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .all-job-list {
    grid-template-columns: 1fr;
  }
}