.rd-job-list-item {
  display: grid;
  padding: var(--space-4);
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  border: 1px solid var(--neutral-3);
  border-radius: var(--radius-4);

  background-color: var(--white);

  transition: all 200ms ease;

  text-decoration: none;

  cursor: pointer;
}

.rd-job-list-item:hover {
  border-color: var(--neutral-6);
}

@media screen and (max-width: 991px) {
  .rd-job-list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    grid-template-columns: 1fr;

    border-radius: 10px;

    background-color: var(--gray100-3a86b552);
  }
}

.rd-job-info-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.rd-company-info-block {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.job-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.tittle-company-location {
  display: flex;
  height: 18px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.company-location {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mt-2 {
  margin-top: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.warning-job-wrap {
  position: relative;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.job-desc-warn-wrap {
  position: absolute;
  left: -74px;
  top: -30px;
  bottom: auto;

  display: none;
  width: 158px;
  padding: var(--space-1) var(--space-2);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  background-color: var(--neutral-11);

  color: var(--white);
}

.rd-status-badge {
  display: flex;
  padding: var(--space-1) var(--space-3) var(--space-1) var(--space-2);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border: 1px none var(--success-3);
  border-radius: var(--space-1);

  background-color: var(--success-3);

  color: var(--success-11);
  text-transform: capitalize;
}

.applicants-number-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

@media screen and (max-width: 991px) {
  .applicants-number-wrapper {
    display: none;
  }
}

.job_card_pipeline {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: var(--radius-2);
}

.pipline_item {
  position: relative;
  z-index: 2;

  display: flex;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  background-color: var(--neutral-3);
}

.connector {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-3);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.embed_flex.ml--1 {
  margin-left: -9px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

#w-node-_386f3b7b-e9ac-d3e4-5660-9b25755cbcef-e4f6dd07 {
}