.side-nav-bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.navlink {
  position: relative;

  display: flex;
  width: var(--space-7);
  height: var(--space-7);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--radius-3);
  border-top-right-radius: var(--radius-3);
  border-bottom-left-radius: var(--radius-3);
  border-bottom-right-radius: var(--radius-3);

  color: var(--neutral-11);

  cursor: pointer;

  user-select: none;
}

.navlink:hover {
  color: var(--neutral-12);
}

.navlink_tooltip {
  position: absolute;
  left: 46px;
  top: auto;
  right: auto;
  bottom: 6px;
  z-index: 110;

  display: none;
  height: var(--space-5);
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  border: 1px solid var(--neutral-3);
  border-radius: 6px;

  background-color: var(--neutral-2);

  color: var(--neutral-11);
  font-size: 12px;
}

.no_wrap {
  word-break: keep-all;
}

.user_profile {
  display: flex;
  overflow: hidden;
  width: var(--space-6);
  height: var(--space-6);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  cursor: pointer;
  object-fit: cover;
}