.nav_sublinks-drop {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  width: 100%;
  flex-direction: column;

  border-left: 1px solid hsla(0, 0.00%, 100.00%, 0.20);
}

.nav_sublink-drop {
  position: relative;

  display: flex;
  height: var(--space-6);
  padding-right: var(--space-3);
  padding-left: var(--space-3);
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  transition: all 300ms ease;

  white-space: nowrap;
  word-break: normal;

  cursor: pointer;
}

.nav_sublink-drop:hover {
  opacity: 1;
}

.nav_link_content {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  color: var(--neutral-11);
}

.job-link-tag {
  display: flex;
  height: 20px;
  min-width: 20px;
  padding-right: var(--space-1);
  padding-left: var(--space-1);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  color: var(--neutral-10);
}

.job-link-tag.active-tage {
  border-radius: var(--radius-1);
  background-color: var(--accent-9);
  color: var(--white);
}

.aui_nav_sublink_active-drop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  width: 100%;
  padding-right: var(--space-3);
  padding-left: var(--space-3);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 6px;

  background-color: var(--accent-3);

  opacity: 1;

  color: var(--accent-10);
}