.navlink {
  position: relative;

  display: flex;
  width: var(--space-7);
  height: var(--space-7);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--radius-3);
  border-top-right-radius: var(--radius-3);
  border-bottom-left-radius: var(--radius-3);
  border-bottom-right-radius: var(--radius-3);

  color: var(--neutral-11);

  cursor: pointer;

  user-select: none;
}

.navlink:hover {
  color: var(--neutral-12);
}

.navlink_current {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: var(--accent-4);

  color: var(--accent-11);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.navlink_icon {
  position: relative;
  z-index: 1;
  color: var(--neutral-11);
}

.navlink_tooltip {
  position: absolute;
  left: 46px;
  top: auto;
  right: auto;
  bottom: 6px;
  z-index: 360;

  display: none;
  height: var(--space-5);
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  border: 1px solid var(--neutral-3);
  border-radius: 6px;

  background-color: var(--neutral-2);

  color: var(--neutral-11);
  font-size: 12px;
}

.no_wrap {
  word-break: keep-all;
}