.new-interview-starting-wrapper {
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--white\<deleted\|variable-80449ce7\>);
}

@media screen and (max-width: 991px) {
  .new-interview-starting-wrapper {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .new-interview-starting-wrapper {
    height: 100vh;
  }
}

.interview-container-wrappers {
  position: relative;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.new-interview-start-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .new-interview-start-header {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .new-interview-start-header {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 479px) {
  .new-interview-start-header {
    padding-bottom: 30px;
  }
}

.new-interview-header-left {
  max-width: 140px;
}

.new-interview-header-right {
  display: flex;
  align-items: center;
  grid-column-gap: 27px;
  grid-row-gap: 27px;
}

.button-blue-link-icon {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  transition: all 250ms ease;

  color: var(--blue-600\<deleted\|variable-aad8d97e\>);

  cursor: pointer;
}

.button-blue-link-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.new-end-interview-btn {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border: 1px solid #e9ebed;
  border-radius: 100px;

  background-color: #f8f9f9;

  transition: all 250ms ease;

  cursor: pointer;
}

.new-end-interview-btn:hover {
  background-color: #d93f4c;
  color: white;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.fw-semibold.new-greenhouse {
  color: #14413d;
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.height-calc-interview {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-interview-start-grid {
  display: grid;
  width: 100%;
  height: 600px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 0.55fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 1280px) {
  .new-interview-start-grid {
    height: 660px;
  }
}

@media screen and (max-width: 991px) {
  .new-interview-start-grid {
    height: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .new-interview-start-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .new-interview-start-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.slot-new-interview-left {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .slot-new-interview-left {
    height: 548px;
  }
}

@media screen and (max-width: 767px) {
  .slot-new-interview-left {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .slot-new-interview-left {
    height: 224px;
  }
}

.slot-new-interview-right {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .slot-new-interview-right {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .slot-new-interview-right {
    height: 240px;
  }
}

@media screen and (max-width: 479px) {
  .slot-new-interview-right {
    height: 153px;
  }
}

.new-interview-footer {
  display: flex;
  margin-top: 13px;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .new-interview-footer {
    margin-top: 100px;
  }
}

.new-interview-left-footer {
  display: flex;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.text-xsm {
  font-size: 10px;
  line-height: 12px;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.text-green-700 {
  color: var(--green700-a1b0a24f);
}

.text-xsm.l-9px {
  line-height: 9px;
}

@media screen and (min-width: 1280px) {
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e30-d8f86e21 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e46-d8f86e21 {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}
@media screen and (max-width: 991px) {
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e46-d8f86e21 {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e30-d8f86e21 {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e46-d8f86e21 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
  }
}
@media screen and (max-width: 479px) {
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e30-d8f86e21 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  }
  #w-node-_385b081c-3541-f9a8-5d87-1d87d8f86e46-d8f86e21 {
    grid-column-start: 1;
  }
}