.new-job-select-wrap {
  display: flex;
  margin-bottom: var(--space-6);
  padding-bottom: var(--space-5);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-7);
  grid-row-gap: var(--space-7);
}

.cj-option-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.cj-option-card-wrap {
  position: relative;

  display: flex;
  width: 340px;
  height: 150px;
  padding: var(--space-3) var(--space-4);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);

  border-radius: var(--radius-4);

  background-color: var(--accent-2);

  transition: all 250ms ease;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .cj-option-card-wrap {
    max-width: none;
  }
}

.cj-badge-wrap {
  position: absolute;
  left: auto;
  top: 6px;
  right: 12px;
  bottom: auto;

  display: flex;
  padding: var(--space-1) var(--space-2);
  justify-content: flex-end;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-2);

  background-color: var(--accent-4);
}

.cj-option-icon-block {
  display: flex;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: var(--space-1);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--white);
}

.cj-option-icon-block.asby {
  padding: 0px;
}

.vectors-wrapper-29 {
  display: flex;
  width: 23.75px;
  height: 23.75px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.cj-option-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.cj-imports-wrapper {
  display: flex;
  max-width: 750px;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.cj-imports-options-drawer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}