.jd-wrap {
  width: 780px;
  margin-top: var(--space-4);
  margin-bottom: var(--space-6);
  padding-bottom: var(--space-9);
  flex-direction: column;
}

.cj-input-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.cj-richtext-editor-wrapper {
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);
}