.job-sidebar-main-block {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
  flex-direction: column;
}

.job-sidebar-main-block.cj-step-5 {
  display: flex;
  padding-top: 20px;
}

.job-sidebar-main-block.success {
  display: flex;
}

.job-sidebar-main-block.screening {
  display: flex;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.enable-assessment-wrap {
  display: flex;
  max-width: 624px;
  flex-direction: column;
  align-items: flex-start;

  border: 1px none var(--neutral-6);
  border-radius: var(--radius-4);
}

.enable-header {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-600 {
  color: #68737d;
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.fw-semibold.relative_2 {
  position: relative;
  z-index: 2;
}

.relative_2 {
  position: relative;
  z-index: 2;
}

.cj-main-wrapper {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 843px;
  flex-direction: column;
  flex: 1;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.email-template-left-head {
  display: flex;
  margin-bottom: var(--space-5);
  flex-direction: column;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.email-template-left-head.remove-bottom {
  margin-bottom: 10px;
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.div-block-743 {
  margin-top: 10px;
}

._wf-screening-block {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
}

._wf-top-wrapper {
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

._wf-header-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.toggle-btn-block {
  align-items: center;
}

.workflow-description-list {
  padding-left: 20px;
  color: var(--grey-600\<deleted\|variable-d5bebe21\>);
}

._wf-radio-form-wrapper {
  display: flex;
  padding: 0px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

._wf-radio-form-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-278 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 13px;
  grid-row-gap: 13px;
}

.div-block-278.hide {
  display: none;
}

.toggle-dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;
}

.toggle-dropdown-toggle {
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  transition: all 300ms ease;

  cursor: pointer;
}

.toggle-dropdown-toggle:hover {
  background-color: var(--gray100-3a86b552);
}

.toggle-dropdown-toggle.screening {
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.toggle-dropdown-toggle.company {
  align-items: flex-start;
}

.div-block-277 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.div-block-280 {
  display: flex;
  align-items: center;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.toggle-dropdown-description {
  max-width: 380px;
  color: var(--grey600-d5bebe21);
}

.toggle-dropdown-content-wrapper {
  overflow: hidden;
}

.pd-100 {
  padding-bottom: 100px;
}