.div-block-430 {
  position: relative;

  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.text-regular {
  font-size: 16px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.job-post-tag {
  position: absolute;
  left: auto;
  top: 9px;
  right: 9px;
  bottom: auto;
}

#w-node-_7647a0d8-4712-5784-4dd2-2bfcd85a668e-d85a668e {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}