.open-jobs-list-card {
  position: relative;
  padding: 16px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .open-jobs-list-card {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .open-jobs-list-card {
    padding: 0px;
  }
}

.open-job-info-list {
  display: flex;
  margin-top: 12px;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media screen and (max-width: 767px) {
  .open-job-info-list {
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.div-block-428 {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.apply-button-icon {
  position: absolute;
  left: auto;
  top: auto;
  right: 27px;
  bottom: 34px;

  display: none;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  cursor: pointer;
}

.apply-button-icon:hover {
  opacity: 0.9;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-blue-600.ml-8 {
  margin-left: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}