.page-404 {
  padding-top: var(--space-7);
  padding-right: var(--space-7);
  padding-bottom: var(--space-7);
  padding-left: var(--space-7);

  background-color: var(--neutral-2);

  height: calc(100vh - 48px);
}

@media screen and (max-width: 767px) {
  .page-404 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.page-404-wrapper {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--space-9);
}

@media screen and (max-width: 767px) {
  .page-404-wrapper {
    padding-top: 150px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .page-404-wrapper {
    padding-top: 120px;
  }
}

.page-404-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .page-404-grid {
    grid-column-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .page-404-grid {
    grid-template-columns: 1fr;
  }
}

#w-node-_8f2cfa19-00d6-d9eb-a7b1-f3f7cdbabd27-cdbabd24 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_8f2cfa19-00d6-d9eb-a7b1-f3f7cdbabd28-cdbabd24 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_8f2cfa19-00d6-d9eb-a7b1-f3f7cdbabd29-cdbabd24 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}