.password-update-wrap {
  display: flex;
  max-width: 466px;
  padding: var(--space-7);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: var(--radius-4);

  background-color: var(--white);
}

.success-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  color: var(--success-11);
}