.candidate-mail-wrap {
  position: relative;

  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .candidate-mail-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.powered-aglint-wrap {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-white {
  color: var(--white-80449ce7);
}

.color-grey-600 {
  color: #68737d;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.text-color-white {
  color: white;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.next-wrap-cand {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 20px;

  display: flex;
  width: 100%;
  justify-content: center;
}

.next-wrap-cand.hide {
  display: none;
}

.next-sub-wrap-cand {
  display: flex;
  width: 778px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.prev-btn-cand {
  position: relative;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: #f8f9f9;
}

.prev-sub-active {
  display: flex;
  align-items: center;
}

.prev-sub-notactive {
  position: absolute;
  left: 8px;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  align-items: center;

  color: #c2c8cc;
}

.preview-ph {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.preview-ps {
  display: flex;
  padding: 4px 16px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 212, 161, 0.5);
  border-radius: 10px;

  background-color: #ffeedb;
}