.cj-suggested-roles-block {
  display: flex;
  padding: var(--space-1) var(--space-2);
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border-radius: var(--radius-2);

  background-color: var(--neutral-a3);

  color: var(--neutral-a11);
}

.role-close-wrap {
  cursor: pointer;
}

.role-close-wrap:hover {
  background-color: var(--error-4);
  color: var(--error-11);
}