.save-list-input-wrap {
  display: flex;
  width: 100%;
  height: 52px;
  padding: var(--space-4);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid #e9ebed;
  border-radius: 10px;

  cursor: pointer;
}

.save-list-input-wrap.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.save-list-input-wrap.width-auto {
  width: 100%;
  height: 62px;
}

.save-list-input-wrap.width-auto.inline-edit {
  background-color: #f8f9f9;
}

.save-list-input-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.save-list-input-left.width-auto {
  width: auto;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.save-list-icon-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot-save-list-input {
  width: 100%;
}

.save-list-input-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}