.saved-list-menu {
  display: flex;
  overflow: hidden;
  max-width: 420px;
  min-width: 380px;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid #e9ebed;
  border-radius: 10px;

  background-color: white;
}

.slm-item-wrap {
  overflow: scroll;
  width: 100%;
  max-height: 195px;
  padding: var(--space-3);
}

.save-list-slot-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.save-list-input-wrap {
  display: flex;
  width: 100%;
  height: 52px;
  padding: var(--space-4);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid #e9ebed;
  border-radius: 10px;

  cursor: pointer;
}

.save-list-input-wrap.plr-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.save-list-input-wrap.width-auto {
  width: 100%;
  height: 62px;
}

.save-list-input-wrap.width-auto.inline-edit {
  background-color: #f8f9f9;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.div-block-736 {
  display: flex;
  width: 100%;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #e9ebed;

  background-color: #f7f9fb;
}

.relative {
  position: relative;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.div-block-729 {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div-block-729.cursor-pointer.disable {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: #f7f9fb;

  transition-property: none;

  cursor: auto;
}

.div-block-729.cursor-pointer.disable:hover {
  opacity: 1;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}