.schedule_progress_pills {
  position: relative;

  display: flex;
  width: 60px;
  height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}

.is_starting-pill {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-top-left-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.is_ending-pill {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  border-radius: 0px var(--radius-2) var(--radius-2) 0px;

  background-color: var(--neutral-3);
}

.slot_dynamic_icon {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover_block {
  position: absolute;
  left: 0px;
  top: 32px;
  z-index: 4;

  display: none;
  padding: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: max-content;
  grid-template-rows: auto auto;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.hoverblock_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.module_name_type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.embed_flex {
  display: flex;
  align-items: center;
}

.hover_arroe {
  position: absolute;
  left: 22px;
  top: -9px;
}

#w-node-bb8fd7ba-a4dd-8286-a474-1c0ccf63c35c-b6db95ec {
}