.schedule_progress_pills {
  position: relative;

  display: flex;
  width: 60px;
  height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}

.is_starting-pill {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  border-top-left-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);

  background-color: var(--neutral-3);
}

.is_ending-pill {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  border-radius: 0px var(--radius-2) var(--radius-2) 0px;

  background-color: var(--neutral-3);
}

.slot_dynamic_icon {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}