.scheduler_dash_list {
  position: relative;

  display: flex;
  overflow: hidden;
  padding: var(--space-2) var(--space-3);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);
}

.scheduler_dash_list:hover {
  background-color: var(--neutral-2);
}

.scheduler_dash_active {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  padding: var(--space-2) var(--space-3);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  background-color: var(--accent-3);

  color: var(--accent-11);
}