.skill-wrap-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicate-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.indicator-box {
  width: 20px;
  height: 20px;
  border-radius: var(--radius-2);
  background-color: var(--neutral-3);
}

.indicator-box.must-have {
  background-color: var(--sky-3);
}

.skill-score-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}