.score-setting-wrapper {
  padding: var(--space-4);
  background-color: var(--white);
}

.score-setting-header {
  display: flex;
  max-width: 670px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.score-setting-banner {
  max-width: 670px;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

.score-setting-indicator {
  display: flex;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.indicate-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.indicator-box {
  width: 20px;
  height: 20px;
  border-radius: var(--radius-2);
  background-color: var(--neutral-3);
}

.indicator-box.must-have {
  background-color: var(--sky-3);
}

.score-outer-wrap {
  width: 100%;
  margin-top: var(--space-4);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
}

.left-score-wrap {
  display: flex;
  width: 670px;
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}