.score-edit-card {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-2);
  background-color: white;
}

.edit-desc-wrap {
  overflow: scroll;
  max-height: 88px;
  padding: 15px 15px 20px;
  border-radius: 4px;
  background-color: #f8f9f9;
}

.sce-btn-wrap {
  display: flex;
  margin-top: var(--space-2);
  justify-content: space-between;
  align-items: center;
}

.sce-right-btn-wrap {
  display: flex;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.delete-button {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
  cursor: pointer;
}

.sce-left-btn-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}