.cj-share-block {
  display: flex;
  padding: 14px 15px 24px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 10px;
}

.cj-share-header-block {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cj-share-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.relative {
  position: relative;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cj-share-via-main {
  display: flex;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cj-share-copy-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.cj-share-copy-block {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.cj-copy-link-block {
  display: flex;
  padding: 8px 12px;
  align-items: center;

  border-radius: 8px;

  background-color: var(--gray100-3a86b552);

  overflow-wrap: anywhere;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.cj-copy-icon {
  cursor: pointer;
}

.cj-copy-icon:hover {
  opacity: 0.8;
}

.cj-share-posted-block {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-xxsm {
  font-size: 8px;
  line-height: 1.4;
}

.cj-share-via {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.cj-share-via-header {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.cj-share-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cj-share-via-options {
  display: flex;
  flex-direction: row;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.share-via-option-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.share-via-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;

  cursor: pointer;
}

.share-via-option-icon-block {
  display: flex;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: var(--white-80449ce7);

  box-shadow: 0 4px 8px 0 hsla(0, 0.00%, 0.00%, 0.15);
}

.cdd-import-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.content-6 {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;

  background-color: rgba(51, 127, 189, 1);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.label-7 {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.00042765619582496583px;
}

.content-7 {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(31, 115, 183, 1);
  border-radius: 4px;
}

.label-8 {
  color: rgba(31, 115, 183, 1);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.00042765619582496583px;
}