.div-block-562 {
  position: relative;
  padding-top: 20px;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
}

.new-screening-wrappers {
  max-width: 654px;
  padding-bottom: 60px;
}

.relative {
  position: relative;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.instruction-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-semibold.one-line-clamp.mx-width-662 {
  max-width: 612px;
}

.fw-semibold.text-grey-600 {
  color: #68737d;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.color-grey-600 {
  color: #68737d;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.fw-semibold.color-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.fw-semibold.text-kale-800 {
  color: #012b30;
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-700 {
  color: var(--grey700-7fbe857b);
}

.color-black {
  color: var(--black-0fdbd865);
}

.fw-semibold.pink-800 {
  color: hsla(307.3170731707317, 87.23%, 18.43%, 1.00);
}

.fw-semibold.text-green-800 {
  color: #0b3b29;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-yellow-700 {
  color: var(--yellow700-b1438949);
}

.fw-semibold.text-yellow-700.mt-8 {
  margin-top: 8px;
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.fw-semibold.relative {
  z-index: 2;
}

.fw-semibold.relative.zindex-6 {
  z-index: 6;
}

.color-white {
  color: var(--white-80449ce7);
}

.text-color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-yellow-500 {
  color: var(--yellow500-c095f0f1);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.fw-semibold.text-lg.text-yellow-600.mobile-14 {
  color: #ed8f1c;
  -webkit-text-stroke-color: #ed8f1c;
}

@media screen and (max-width: 767px) {
  .fw-semibold.text-lg.text-yellow-600.mobile-14 {
    font-size: 14px;
  }
}

.text-color-white {
  color: white;
}

.fw-semibold.first-text-capital {
  text-transform: capitalize;
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.color-grey-600.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.color-grey-600.mt-12 {
  margin-top: 12px;
}

.color-grey-600.mt-6 {
  margin-top: 6px;
}

.div-block-764 {
  margin-top: 12px;
}

.div-block-569 {
  margin-top: 25px;
}

.slot-brief-intro {
  overflow: hidden;
  margin-top: 14px;
  margin-bottom: 20px;
  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.accessment-toggle-wrap {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.accessment-toggle-wrap.mt-28 {
  margin-top: 28px;
}

.slot-toggle-screening {
  width: 50px;
}

.upload-wrap-edit {
  margin-top: 23px;
}

.div-block-560 {
  display: flex;
  margin-bottom: 22px;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.upload-radio-btn-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.upload-radio-btn-circle {
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #d8dcde;
  border-radius: 100px;

  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.icons.hide {
  display: none;
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.icons.pointer {
  cursor: pointer;
}

.slot-drag-drop-video {
  display: flex;
  width: 100%;
  min-height: 233.78125px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fake-div-trigger {
  position: absolute;
  left: 0%;
  top: -33%;
  right: auto;
  bottom: auto;

  width: 0px;
  height: 0px;
}