.sac-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.sac-left-wrap {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.search-left-wrap-candidate {
  display: flex;
  padding: var(--space-4);
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-5);
  grid-row-gap: var(--space-5);
}

.sac-left-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.db-req-icon-wrap {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border-radius: var(--radius-3);

  background-color: var(--accent-9);
}

.relative {
  position: relative;
}

.relative.ai-comm {
  overflow: hidden;
  border-radius: 4px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}

.db-req-text-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.candidate-all-icon-wrap {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-3);

  background-color: var(--sky-a12);
}

.search-candidate-wrap {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.input-search-candidate {
  width: 100%;
}

.search-job-desc-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.search-job-desc {
  display: flex;
  width: 580px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.search-job-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.sac-empty-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sac-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sac-empty-lottie {
  width: 100px;
  height: 100px;
}

.sac-empty-desc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  text-align: center;
}

.cd-saved-list {
  padding: var(--space-4);
  border-top: 1px solid var(--neutral-6);
}

.cd-save-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-link-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  color: var(--accent-11);
}

.save-list-item-wrap {
  display: flex;
  margin-top: var(--space-4);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.save-list-input {
  display: flex;
  width: 100%;
  height: 62px;
  padding: var(--space-4);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--neutral-2);

  cursor: pointer;
}

.save-list-input-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.save-list-input-left.width-auto {
  width: auto;
}

.slot-save-list-input {
  width: 100%;
}

.save-list-input-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.save-list-slot-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.empty-saved-list {
  display: flex;
  width: 600px;
  height: 186px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--neutral-3);
}

.empty-save-list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.sac-right-wrap {
  overflow: auto;
  width: 416px;
  height: 100%;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  flex: 0 0 auto;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-left: 1px solid var(--neutral-6);
}

.history-wrap-candidate {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot-candidate-history-card {
  display: flex;
  margin-top: var(--space-4);
  flex-direction: column;
}