.selected_date {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .selected_date {
    grid-template-columns: max-content;
  }
}

.date_block {
  display: flex;
  width: 85px;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: 10px;

  background-color: white;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-white {
  color: white;
}

.text-sm.fw-semibold.text-white.text-first-capitialize {
  text-transform: capitalize;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.color-white {
  color: var(--white-80449ce7);
}

.color-grey-600 {
  color: #68737d;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-capitalize {
  text-transform: uppercase;
}

.text-sm.text-first-capital {
  text-transform: capitalize;
}

.text-color-white {
  color: white;
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.text_date {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.sessionandtime_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

#w-node-ba87f1ee-4c77-6f18-8d77-cf169d93bb05-9d93bafd {
}