.select_button {
  display: flex;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 10px;

  background-color: #edf7ff;

  color: #337fbd;

  cursor: pointer;
}

.embed_flex {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  color: var(--grey800-e42b2e06);
  text-decoration: none;
}

.embed_flex.rotate {
  transform: rotate(180deg);
}

.embed_flex.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.embed_flex.ml--1 {
  margin-left: -9px;
}

.relative_2 {
  position: relative;
  z-index: 2;
}