.selected_date {
  display: grid;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .selected_date {
    grid-template-columns: max-content;
  }
}

.date_block {
  display: flex;
  width: 85px;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: var(--radius-4);

  background-color: var(--white);
}

.sessionandtime_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

#w-node-ba87f1ee-4c77-6f18-8d77-cf169d93bb05-9d93bafd {
}