.ske_text_small {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 16px;
  border-radius: var(--radius-1);
}

.ske_text_small.width_100 {
  width: 100px;
}

.ske_text_small.width_90 {
  width: 90%;
}

.ske_text_small.width_80 {
  width: 80%;
}

.ske_text_small.width_20 {
  width: 40%;
}

.skeleton-loader_purple {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.embed_css {
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

.skeleton-loader {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}