.generate-skill-wrap-header {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.color-white {
  color: var(--white-80449ce7);
}

.color-grey-600 {
  color: #68737d;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.text-color-white {
  color: white;
}

.generate-btn-wrap {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}