.cj-suggested-skill-block {
  display: flex;
  padding: var(--space-1) var(--space-3);
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);

  background-color: var(--sky-a3);

  cursor: pointer;
}

.cj-suggested-skill-block.success-3 {
  background-color: var(--success-3);
}

.icon-embed {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.icon-embed.absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}