.dropdown-list-item-2 {
  position: relative;

  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: stretch;

  border-radius: 6px;

  background-color: hsla(180, 7.69%, 97.45%, 1.00);

  transition: all 300ms ease;
}

.color-black-2 {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.tog-dropdown-block-2 {
  position: static;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 6px;
}

.tog-dropdown-block-2.animated-visibility {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: center;
}

.tog-dropdown-edit-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.icon-24-2 {
  width: 24px;
  height: 24px;
  min-height: 24px;
  min-width: 24px;
  padding: 2px;

  border-radius: 4px;

  background-color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);
}

.shadow-medium {
  box-shadow: 0 4px 8px 0 hsla(0, 0.00%, 0.00%, 0.15);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  transition: all 250ms ease;

  object-fit: contain;
}

.icon:hover {
  opacity: 0.8;
}

.slot-input-form {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: none;
}

.correct-wrappers {
  position: absolute;
  left: auto;
  top: auto;
  right: 9px;
  bottom: 9px;
  z-index: 3;

  display: none;
  align-items: center;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

.correct-div-wrappers {
  display: flex;
  width: 24px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 4px;

  background-color: var(--white-80449ce7);

  box-shadow: 0 4px 8px 0 rgba(4, 68, 77, 0.15);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.icons.cursor-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.cursor-pointer:hover {
  opacity: 0.8;
}