.cj-suggested-skill-block {
  display: flex;
  padding: var(--space-1) var(--space-3);
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-radius: var(--radius-2);

  background-color: var(--sky-a3);

  cursor: pointer;
}

.cj-suggested-skill-block.success-3 {
  background-color: var(--success-3);
}

.vectors-wrapper-37 {
  display: flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}