.cj-suggested-skill-block {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 6px;
  grid-row-gap: 6px;

  border-radius: 4px;

  background-color: rgba(237, 247, 255, 1);

  cursor: pointer;
}

.cj-suggested-skill-block.green-100 {
  background-color: var(--green100-8db28f70);
}

.green-100 {
  background-color: var(--green100-8db28f70);
}

.frame-1091 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.vectors-wrapper-37 {
  display: flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}