.task-detail-wrap {
  display: flex;
  padding: var(--space-2);
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.task-detail-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.td-header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.div-block-979 {
  width: 24px;
  height: 24px;
  border-radius: var(--radius-full);
}