.div-block-976 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid #e9ebed;
  border-radius: 10px;
}

.div-block-977 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div-block-978 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.div-block-979 {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.max-width-500 {
  max-width: 500px;
}

.text-grey-600.one-line-clamp.ml-32 {
  margin-left: 32px;
}

.text-grey-600.width-90 {
  width: 90%;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-600 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-600 {
    max-width: none;
  }
}

.max-width-600 {
  max-width: 600px;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600.mt-5 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.text-grey-600.mt-17 {
  margin-top: 17px;
}

.inline-text {
  display: inline;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.text-sm-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-grey-600.mt-9 {
  margin-top: 9px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.text-grey-600.text-grow {
  white-space: nowrap;
}

.text-grow {
  flex: 0 0 auto;
}

.text-sm-default {
  font-size: 12px;
  line-height: 1.3333333333333333;
  letter-spacing: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.text-grey-600.mt-4 {
  margin-top: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.text-grey-600.mt-8 {
  margin-top: 8px;
}

@media screen and (max-width: 479px) {
  .text-grey-600.mob {
    font-size: 12px;
  }
}

.text-grey-600.max-width-650 {
  max-width: 650px;
}

@media screen and (max-width: 991px) {
  .text-grey-600.max-width-650 {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .text-grey-600.max-width-650 {
    max-width: none;
  }
}