.upload-resume-card {
  display: flex;
  padding: var(--space-2);
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
}

.upload-resume-left {
  display: flex;
}

.upload-resume-left-text {
  display: flex;
  margin-left: var(--space-3);
  align-items: center;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}