.upload-resume-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.upload-resume-body {
  display: flex;
  overflow: scroll;
  height: 337px;
  flex-direction: column;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.resume-upload-bottom {
  display: flex;
  padding-top: var(--space-4);
  justify-content: space-between;
  align-items: center;
}

.upload-resume-bottom-right {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}