.edit-profile-wrap {
  display: flex;
  width: 470px;
  padding: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);

  border-radius: var(--radius-4);
}

.edit-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  transition: opacity 200ms ease;
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.7;
}

.icons.cursor-pointer.three-dot {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.icons.curser-hover-pointer {
  transition: all 250ms ease;
  cursor: pointer;
}

.icons.curser-hover-pointer:hover {
  opacity: 0.8;
}

.icons.rotate-180 {
  transform: rotate(180deg);
}

.icons.avatar-play {
  border-radius: 4px;
}

.icons.db-star-icons {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
}

.icons.ml-5 {
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

.icons.ml-20 {
  margin-left: 20px;
}

.relative-1 {
  position: relative;
  z-index: 1;
}

.color-white {
  color: var(--white-80449ce7);
}

.icons.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.icons.mb-9 {
  margin-bottom: var(--space-9);
}

.mt-4 {
  margin-top: 4px;
}

.icons.mt-3 {
  margin-top: 3px;
}

.icons.mr--10 {
  margin-right: -8px;
}

.icons.mt-2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: var(--space-2);
}

.icons.bookmarked {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icons.start {
  justify-content: center;
  align-items: flex-start;
}

.profile-image-block {
  display: flex;
  align-items: center;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.slot-edit-image {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  border: 0.7px solid var(--neutral-6);
  border-radius: var(--radius-4);

  object-fit: cover;
}

.profile-change-text {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.profile-link-wrap {
  transition: all 200ms ease;
  color: var(--accent-11);
  cursor: pointer;
}

.profile-link-wrap:hover {
  color: var(--accent-12);
}

.text-sm {
  font-size: 12px;
  line-height: 1.4;
}

.fw-semibold {
  font-weight: 600;
}

.text-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-500 {
  color: var(--grey500-0d508ad8);
}

.text-green-500 {
  color: var(--green500-287ff474);
}

.text-kale-800 {
  color: var(--kale800-682c1482);
}

.color-black {
  color: var(--black-0fdbd865);
}

.text-yellow-600 {
  color: var(--yellow600-1478b5f5);
}

.text-blue-500 {
  color: var(--blue500-72579298);
}

.text-yellow-800 {
  color: var(--yellow800-b1e3bc9b);
}

.text-grey-500 {
  color: var(--grey500-0d508ad8);
}

.color-grey-600 {
  color: #68737d;
}

.text-green-800 {
  color: var(--green800-a83af583);
}

.text-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-kale-600 {
  color: var(--kale600-c60cbc05);
}

.clickable {
  transition: all 300ms ease;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.text-grey-400 {
  color: var(--grey400-863ed4b5);
}

.text-sm.text-grey-500.width-ticket-d {
  width: 49.91667175292969px;
}

.color-blue-600 {
  color: var(--blue600-aad8d97e);
}

.text-capitalize {
  text-transform: uppercase;
}

.text-color-white {
  color: white;
}

.text-blue-800 {
  color: var(--blue800-09c1dfbf);
}

.text-red-500 {
  color: var(--red500-2e806c7d);
}

.div-block-921 {
  margin-top: 10px;
}

.profile-inputs-wrapper {
  display: flex;
  margin-top: var(--space-4);
  flex-direction: column;
  grid-column-gap: var(--space-4);
  grid-row-gap: var(--space-4);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot-button-edit-profile {
  position: relative;
}

.button-cancel {
  display: flex;
  width: 50%;
  padding: var(--space-2) var(--space-4);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-2);

  background-color: var(--neutral-5);

  transition: opacity 200ms ease;

  cursor: pointer;
}

.button-cancel:hover {
  background-color: var(--neutral-6);
}

.button-cancel.accent {
  background-color: var(--accent-9);
  color: var(--white);
}

.button-cancel.accent:hover {
  background-color: var(--accent-10);
}