.change-email-wrap {
  width: 600px;
  padding: var(--space-4);
  flex-direction: column;

  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);

  background-color: var(--white);
}

.profile-header-wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slot-password-form {
  display: flex;
  margin-top: var(--space-2);
  flex-direction: column;
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal {
  display: flex;
}

.flex-horizontal.center {
  justify-content: flex-start;
  align-items: center;
}

.flex-horizontal.center.gap-3 {
  grid-column-gap: var(--space-3);
  grid-row-gap: var(--space-3);
}

.flex-horizontal.center.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.flex-horizontal.center.gap-1 {
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);
}

.flex-horizontal.top {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-horizontal.top.gap-2 {
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.mt-2 {
  margin-top: var(--space-2);
}

.flex-horizontal.gap-space-2 {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}