.userwithrole {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: auto;
}

.user_avatar {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-2);
}

.user_infoblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex-h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--space-2);
  grid-row-gap: var(--space-2);
}

.slot_iconbutton-copy {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

#w-node-_54b6da50-d8c3-1372-93b0-6aa2dcc3bff9-dcc3bff8 {
}
#w-node-_54b6da50-d8c3-1372-93b0-6aa2dcc3bffb-dcc3bff8 {
}
#w-node-b098ac28-f9fd-7fd5-aa9f-536e270f4bd7-dcc3bff8 {
}