.user-profile-layout {
  height: 100vh;
}

.user-profile-header {
  position: sticky;
  top: 0px;
  z-index: 99;

  display: flex;
  width: 100%;
  height: var(--space-8);
  padding: var(--space-2) var(--space-4);
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--neutral-6);

  background-color: var(--white);
}

@media screen and (max-width: 991px) {
  .user-profile-header {
    z-index: 6;
    background-color: var(--white-80449ce7);
  }
}

@media screen and (max-width: 479px) {
  .user-profile-header {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

.profile-new-layout {
  display: flex;
}

.new-layout-sublink {
  display: flex;
  width: 216px;
  padding: var(--space-3);
  flex-direction: column;
  flex: 0 0 auto;
  grid-column-gap: var(--space-1);
  grid-row-gap: var(--space-1);

  border-right: 1px solid var(--neutral-6);
}

.profile-inner-wrapper {
  overflow: auto;
  width: 100%;
  padding-top: var(--space-4);
  padding-right: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  background-color: var(--sand-2);

  height: calc(100vh - 48px);
}

.slot-profile-wrap {
  width: 600px;
}