.cd-view-more-wrap {
  position: relative;
  z-index: 5;

  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  order: 1;

  border-radius: 4px;

  background-color: var(--neutral-3);
}

.view-less-text {
  display: block;
}