.signup-block {
  width: 380px;
  padding: var(--space-5);
  border: 1px solid var(--neutral-6);
  border-radius: var(--radius-4);
  background-color: var(--white);
}

.back-btn-wrapper {
  display: flex;
  margin-left: -42px;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;

  transition: all 300ms ease;

  color: hsla(217.50000000000003, 15.24%, 58.82%, 1.00);

  cursor: pointer;
}

.back-btn-wrapper:hover {
  color: var(--grey700-7fbe857b);
}

@media screen and (max-width: 991px) {
  .back-btn-wrapper {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .back-btn-wrapper {
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .back-btn-wrapper {
    margin-left: 0px;
  }
}

.back-btn-wrapper.hide {
  display: none;
}

.hide {
  display: none;
  flex-direction: row;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.back-icon {
  width: 14px;
  height: 14px;
}

.embed-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-cta-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.auth-cta-block.tab-edit {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .auth-cta-block.tab-edit {
    align-items: center;
  }
}

.auth-header-block {
  display: flex;
  max-width: 470px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  text-align: center;
}

@media screen and (max-width: 991px) {
  .auth-header-block {
    max-width: 500px;
    align-items: center;
    text-align: center;
  }
}

.auth-header-block.create-job {
  align-items: center;
  text-align: center;
}

.auth-cta-form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 991px) {
  .auth-cta-form-block {
    max-width: 100%;
    flex: 0 auto;
  }
}

.auth-form-block {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.auth-form-block-connect {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.su-cta-btn {
  display: flex;
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border-radius: var(--space-2);

  background-color: var(--neutral-2);

  transition: all 300ms ease;

  cursor: pointer;
}

.su-cta-btn:hover {
  border-color: var(--blue500-72579298);
  background-color: var(--blue100-d2a1a159);
}

.su-cta-btn.hide {
  display: none;
}

.su-cta-btn.single {
  width: 100%;
  height: auto;
  padding: 10px 14px;
}

.su-cta-btn.single:hover {
  background-color: var(--neutral-4);
}

.su-cta-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.su-cta-btn-block.single {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.signup-divider {
  display: flex;
  margin-top: 36px;
  margin-bottom: 18px;
  align-items: center;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0.00%, 96.08%, 1.00);
}

.su-or {
  color: hsla(0, 0.00%, 72.94%, 1.00);
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

.div-block-260 {
  width: 100%;
  margin-bottom: var(--space-3);
}

.terms-sign-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .terms-sign-wrapper {
    flex-direction: column;
    align-items: flex-start;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.full-width {
  width: 100%;
}

.div-block-660 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.basic-link-style {
  color: #337fbd;
}

.text-underline {
  transition: all 250ms ease;
  color: var(--accent-11);
  text-decoration: underline;
  cursor: pointer;
}

.text-underline:hover {
  opacity: 0.7;
}

.text-blue-500 {
  color: var(--blue500-72579298);
}