/* .fc {
  border: none !important;
}

.fc .fc-timegrid-slot-label-cushion {
  font-size: 10px;
}

.fc .fc-day-today {
  background-color: var(--accent-2) !important;
} */

/* .fc .fc-timegrid-slot-minor {
  border: none !important;
} */
